<template>
  <div :style="this.$store.state.theme.presentTheme" class="ScanQRCode">
    <uv-icon
      @click="scanBtn"
      :class="titleNot ? 'TitleNot' : ''"
      name="scan"
      size="56rpx"
    ></uv-icon>
  </div>
</template>
<script>
import { weScanQRCode } from "@/utils/wechat";
import storage from "@/utils/storage.js";
import { scanCode } from "@/config/vmeitime-http/training.js";
import { getUrlQuery } from "@/utils/util.js";
export default {
  props: {
    titleNot: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {};
  },
  methods: {
    scanBtn() {
      const that = this;
      let storeId = storage.get("appId");
      weScanQRCode(
        {
          needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
          scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
        },
        { storeId: storeId }
      ).then((res) => {
        let query = getUrlQuery(res.resultStr);
        if (query.type === "salon") {
          if (
            this.$store.state.loginInfo.loginToken.access_token ||
            storage.get("loginInfo").loginToken.access_token
          ) {
            window.location.href = res.resultStr;
          } else {
            uni.$u.toast("请先登录");
            setTimeout(() => {
              uni.navigateTo({
                path: "/",
              });
            }, 1000);
          }
        } else {
          let resultStr = JSON.parse(res.resultStr);
          if (resultStr.type == "meet" && resultStr.id) {
            that.meetingScanCodeFn(resultStr);
          }
        }
      });
    },
    // 签到会议扫码校验
    meetingScanCodeFn(resultStr) {
      scanCode(resultStr.id).then((res) => {
        if (res?.code == 200) {
          uni.navigateTo({
            url:
              "/pages/trainingCenter/trainingWill/conferenceRegistration?id=" +
              resultStr.id,
          });
        } else {
          uni.$u.toast(res.msg);
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.ScanQRCode {
  position: absolute;
  top: calc(var(--status-bar-height) + 136rpx);
  right: 110rpx;
  font-size: 14rpx;
}

</style>