<template>
	<view :style="this.$store.state.theme.presentTheme" class="container" style="background-color: #f6f6f6">
		<commonTop :isBack='true' :show='true'>
			{{ productTypeIndex === 1 ? $t('home.accessories') : $t('home.PurchaseOrderPlacement') }}</commonTop>
		<uv-sticky :class="[this.$store.state.loginInfo.showNavTile!=='false'?'stickyBox':'stickyBoxtop0']"
			:offsetTop="60">
			<view class="searchBox">
				<uvSearch :clearabled="true" :showAction="false" height="30" :animation="false" v-model="keywords"
					actionText="搜索" @clear="clearFn" :placeholder="$t('goods.PleaseEnterKeyword')" searchIconSize="18"
					@search="search"></uvSearch>
			</view>
			<Vtabs v-model="currentTab" :tabs="leftData" field="storeName" :scroll="false" :lineScale="0.2"
				:bold="false" height="85rpx" lineHeight="4rpx" @change="changeTab" v-if="leftData.length > 0"
				:footPlaceholder="false">
			</Vtabs>
			<view class="tabBox">
				<Vtabs v-model="brandNameTab" :tabs="leftData[currentTab].brandList" field="brandName" fontSize="28rpx"
					height="53rpx" :scroll="true" :lineScale="0.2" :bold="false" :pills="true" pillsColor=""
					lineHeight="6rpx" :footPlaceholder="false" v-if="leftData.length" :zIndex="10" source="material"
					@change="tabschange">
				</Vtabs>
			</view>
		</uv-sticky>

		<mescroll-body v-if="leftData.length" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<ccDefineCateList :leftData="leftData" :rightData="rightData" @cateItemClick="cateItemClick"
				v-if="leftData.length"></ccDefineCateList>
		</mescroll-body>
		<view class="carBtn" @click="($refs.show.open('bottom')), (popupType = 1),(show=true)">
			<image class="icon_bag" src="../../static/images/goods/icon_bag@2x.png"></image>
			<view class="purchaseCartCountClass">{{ purchaseCartCountData }}</view>
		</view>

		<uv-popup ref="show" :closeable="true" :round="20" @change="closeShowPopup">
			<view class="popupBox1 shoppingCart" v-if="show">
				<h3 class="title">{{ $t("goods.purchaseCar") }}</h3>
				<shoppingCart  @updateNum="purchaseCartCountFn" :index="productTypeIndex"></shoppingCart>
			</view>
		</uv-popup>

		<vk-data-goods-sku-popup v-if="sku_visible" ref="skuPopup" v-model="sku_visible" border-radius="20"
			:localdata="goodsInfo" :mode="form.skuMode" :stockText="$t('goodsSku.stockText')"
			:buy-now-text="form.buyNowText" :min-buy-num="form.minBuyNum" :max-buy-num="form.maxBuyNum"
			:step-buy-num="form.stepBuyNum" :stepStrictly="form.stepStrictly" :hide-stock="form.hideStock"
			:sizeName="form.sizeName" :noStockText="form.noStockText" :goods-id="goodsDetail.id" :sizeIndex="sizeIndex"
			:user-to-type="userToType" :isHasSkuList="isHasSkuList" :default-select="form.defaultSelect"
			@buy-now="buyNow">
		</vk-data-goods-sku-popup>
	</view>
</template>

<script>
	import shoppingCart from "./shoppingCart";
	import storage from "@/utils/storage.js";
	import vkDataGoodsSkuPopup from "@/components/vk-data-goods-sku-popup/components/vk-data-goods-sku-popup/vk-data-goods-sku-popup.vue";
	import {
		formatSku
	} from "@/utils/formatSku";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import ccDefineCateList from "./components/cc-defineCateList/components/cc-defineCateList/cc-defineCateList.vue";
	import commonTop from '@/components/CommonTop'
	import Vtabs from '@/components/v-tabs/components/v-tabs/v-tabs.vue'
	import uvSearch from '../components/uv-search/components/uv-search/uv-search.vue'

	export default {
		mixins: [MescrollMixin],
		components: {
			shoppingCart,
			vkDataGoodsSkuPopup,
			commonTop,
			Vtabs,
			ccDefineCateList,
			uvSearch
		},
		data() {
			return {
				sizeIndex: null,
				isHasSkuList: null,
				popupType: 1, //1---购物车弹窗 2---金额明细弹窗
				show: false,
				brandNameTab: 0,
				items: ["美人计", "黑天鹅", "中康"],
				userInfo: storage.get("loginInfo"),
				leftData: [],
				brandId: '', //品牌id
				currentTab: 0,
				rightData: [],
				goodsInfo: {},
				userToType: "B", // B B端适配规格  C c端规格适配
				sku_visible: false, //sku展示标识
				goodsDetail: null, //商品详情
				shoppingCart: [], //购物车数据
				purchaseCartCountData: 0, //购物车数量
				form: {
					skuMode: 3,
					buyNowText: this.$t("register.Confirm"), //"立即购买",
					minBuyNum: 0,
					maxBuyNum: 10000,
					stepBuyNum: 1,
					stepStrictly: false,
					hideStock: false,
					noOrder: false, //禁止下单标识
					isHasSkuList: true, // 是否有规格
					sizeName: "", //b端最后一个规格名
					noStockText: this.$t("goodsSku.noStockText"), //该商品已抢完
					defaultSelect: {},
				},

				productTypeList: [{
						name: this.$t("goods.ordinaryOrder"),
						id: "1",
					},
					{
						name: this.$t("home.accessories"),
						id: "2",
					},
				],
				productTypeIndex: 0,
				platform: uni.getSystemInfoSync().platform,
				keywords: '',
			};
		},
		onLoad(options) {
			if (options?.productType == "Related") {
				this.productTypeIndex = 1;
			} else {
				this.productTypeIndex = 0;
			}
		},
		onShow() {
			this.purchaseCartCountFn();
		},

		mounted() {
			this.show = false;
			this.brandStoreListFn();

		},
		computed: {
			//总价格
			totalPrice() {
				let totalPrice = 0;
				if (this.shoppingCart.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.purchaseCartFrontDtos.forEach((gitem) => {
							if (gitem.selected && !gitem.cartStatus) {
								totalPrice = totalPrice * 1 + gitem.sku.sellingPrice * gitem.quantity;
							}
						});
					});
				}
				return totalPrice.toFixed(2);
			},
			//当前操作下选中的数量
			totalSelCount() {
				let buyCount = 0; // 购物全选
				if (this.shoppingCart.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.purchaseCartFrontDtos.forEach((gitem) => {
							// 去掉不可选的是否全选、全不选
							if (gitem.selected && !gitem.cartStatus) {
								buyCount = buyCount * 1 + gitem.quantity;
							}
						});
					});
				}
				return buyCount;
			},
		},

		methods: {
			
			// 关闭购物车
			closeShowPopup(e){
				console.log(e.show)
				console.log('哈哈'+e)
				this.show = e.show
			},
			// 下单模式切换
			sectionChange(e) {
				this.productTypeIndex = e;
				this.mescroll.resetUpScroll();
				this.purchaseCartCountFn();
			},
			// 金额明细弹窗
			amountBtn() {
				(this.$refs.show.open()), (this.popupType = 2);
			},

			// 获取店铺品牌二层结构
			brandStoreListFn() {
				this.$api.brandStoreList().then((res) => {
					if (res.code == 200 && res?.data) {
						this.leftData = res.data;
						this.leftData.forEach(x => {
							x.brandList.unshift({
								brandName: "全部",
								id: '',
								logo: ""
							})
						})
					}
				});
			},


			/*上拉加载的回调*/ // 获取品牌下列表
			upCallback(page) {
				// uni.showLoading({ mask: true})
				let pageNum = page.num - 1; // 页码, 默认从1开始
				let pageSize = page.size; // 页长, 默认每页10条
				let productType = this.productTypeIndex == 1 ? "Related" : "Normal";
				let param = {
					page: pageNum,
					size: pageSize,
					sellerId: this.leftData[this.currentTab].storeId,
					brandId: this.brandId,
					productType: productType,
					name: this.keywords
				};
				if (page.num == 1) this.rightData = []; //如果是第一页需手动置空列表
				this.$api.purchaseProductlist(param).then((res) => {
					if (res.code == 200 && res?.data) {
						let curPageData = res.data.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.data.totalPages; // 接口返回的总页数
						// if (page.num == 1) this.rightData = []; //如果是第一页需手动置空列表
						this.rightData = this.rightData.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
					// uni.hideLoading()
				});
			},

			// 店铺切换处理
			changeTab(index) {
				console.log("id:品牌切换处理 ", index);
				this.currentTab = index;
				this.brandNameTab = 0;
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 100,
				});
				this.mescroll.resetUpScroll();
				// this.purchaseProductlistFn(this.leftData[index].id);
			},

			// 品牌切换处理
			tabschange(index) {
				this.brandNameTab = index;
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 100,
				});
				this.mescroll.resetUpScroll();
			},


			// 清空搜索
			clearFn(e) {
				console.log("e:清空搜索 ", e);
				this.keywords = e || '';
				this.mescroll.resetUpScroll();
			},

			// 搜索
			search(e) {
				this.keywords = e;
				this.mescroll.resetUpScroll();
			},

			// 购物车小红点
			purchaseCartCountFn() {
				let param = {
					productType: this.productTypeIndex == 1 ? "Related" : "Normal",
				};
				this.$api.purchaseCartCount(param).then((res) => {
					this.purchaseCartCountData = res.data;
				});
			},

			// 规格选择弹窗
			cateItemClick(id) {
				console.log("item:规格选择弹窗 ", id);
				this.getProductData(id);
			},

			// 重选规格
			selectSpecs(shopDetail, storeIndex, goodsIndex) {
				console.log(
					"shopDetail, storeIndex, goodsIndex: ",
					shopDetail,
					storeIndex,
					goodsIndex
				);
			},

			// 加入购物车
			buyNow(skuData) {
				console.log("skuData: ", skuData.AllselectNumber);
				let purchaseCartFrontDtos = [];
				Object.values(skuData.AllselectNumber).forEach((res) => {
					purchaseCartFrontDtos.push({
						cartType: "purchase",
						sku: {
							skuId: res._id,
						},
						quantity: res.selectNum,
					});
				});
				console.log("purchaseCartFrontDtos: ", purchaseCartFrontDtos);
				this.sku_visible = false;
				this.purchaseCartFn(purchaseCartFrontDtos);
			},

			// 加入购物车接口
			purchaseCartFn(purchaseCartFrontDtos) {
				let that = this
				let param = {
					purchaseCartFrontDtos: purchaseCartFrontDtos,
				};
				that.$api.purchaseCart(param).then((res) => {
					if (res.code == 200) {
						uni.showToast({
							icon: 'none',
							title: that.$t("goods.operateSuccessfully"),
							duration: 2000
						})
						that.purchaseCartCountFn();
					} else {

						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 2000
						})
					}
				});
			},



			// 获取商品详情
			getProductData(id) {
				this.$api.productData(id).then((res) => {
					if (res.code == 200 && res?.data) {
						this.goodsDetail = res.data;
						// this.imagesList = [this.goodsDetail.mainPicture];
						if (this.userToType == "B") {
							let lengths = this.goodsDetail.specList.length - 1;
							this.form.sizeName = this.goodsDetail.specList[lengths].title;
						}

						this.formateGoodsInfo(this.goodsDetail);
					}
				});
			},
			// 格式化规格弹窗数据
			formateGoodsInfo(res) {
				const that = this;
				this.isHasSkuList = res.specList.length > 0 ? true : false;
				console.log('是否有规格' + this.isHasSkuList)
				this.goodsInfo = formatSku(that, res);
				this.sku_visible = true;
				console.log(" this.goodsInfo: ", this.goodsInfo);
			},

			// 获取购物车列表
			purchaseCartListFn() {
				this.$api.purchaseCartList(this.userInfo.id).then((res) => {
					if (res) {
						this.shoppingCart = res.data;
					}
				});
			},
		},
	};
</script>

<style lang="scss" scoped>
	.container {
		// height: 98vh;
		// background: #f6f6f6;
	}

	.searchBox {
		// height: 100rpx;
		padding: 15rpx 20rpx 0rpx 20rpx;
		overflow: hidden;
		background-color: #fff;
		display: flex;
	}

	::v-deep scroll-view {
		z-index: 9 !important;
	}

	.cate-right-list {
		margin: 20rpx !important;
		padding: 20rpx !important;
		background-color: #fff;
		border-radius: 15rpx;
	}

	.tabBox {
		background-color: #fff;
		// padding: 10rpx 10rpx 20rpx 10rpx;
		display: flex;
		align-items: center;
		// position: relative;
		width: 100%;
		overflow: hidden;

		// z-index: 100;
		.downIcon {
			width: 80rpx;
			padding-left: 20rpx;
		}

		::v-deep {
			.v-tabs__container {
				// padding: 30rpx 10rpx 20rpx 10rpx !important ;
				// margin-top: -5rpx;
				padding: 6rpx 0 20rpx 40rpx !important;
				border-bottom: 2rpx solid #f6f6f6;
			}

			.active {
				color: $theme-color !important;
				background-color: #fff0f0 !important;
				border-radius: 26rpx;
				font-weight: bold;
				// font-size: 24rpx !important;
			}

			.active .v-tabs__container-item {
				background-color: transparent;
				// height: 70% !important;
			}

			.v-tabs__container-item {
				background-color: transparent;
				height: 80% !important;
			}
		}
	}

	// .tabBox {
	::v-deep {

		.uv-subsection {
			padding: 0px !important;
		}

		.cate-right {
			z-index: inherit !important;
		}

		.u-tabs__wrapper__nav {
			display: flex;
			justify-content: space-around;
			flex: 1;
		}

		.active {
			color: $theme-color !important;
		}

		.v-tabs__container-line.animation {
			background-color: $theme-color !important;
		}

		uni-scroll-view {
			z-index: 99 !important;
		}

		.uv-subsection__bar {
			background-color: $theme-color !important;
			// margin: 0 20rpx;
			// width: 0 !important;
		}

		.uv-subsection--button {
			// margin-bottom: 10rpx solid #f8f8f8;
			// padding: 5rpx 0;
			border: 1rpx solid $theme-color;
			// padding-bottom:0 10rpx;
			padding: 0;
			// margin: 0 20rpx;
		}

		.uv-subsection--button__bar {
			border-radius: 0;
		}
	}

	// }
	.footBox {
		height: 100rpx;
		// background-color: #fff;
		position: fixed;
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	//  border-top: 1rpx solid #ccc;
	.carBtn {
		width: 100rpx;
		height: 100rpx;
		border-radius: 100px;
		position: fixed;
		bottom: 50rpx;
		left: 25rpx;
		// background-color: $theme-color;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		background: #111111;

		.icon_bag {
			width: 50rpx;
			height: 50rpx;
		}

		.purchaseCartCountClass {
			display: block;
			right: -5rpx;
			top: 0;
			position: absolute;
			color: #ffffff;
			background: $theme-color;
			// border: 2rpx solid #ffffff;
			font-size: 12px;
			// padding: 10rpx;
			border-radius: 50%;
			// width: 24rpx;
			// height: 24rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 10rpx;
			border: 2rpx solid #fff;
		}
	}

	.allTotal {
		font-size: 26rpx;
		color: #999999;
		margin-left: 120rpx;

		.RM {
			font-size: 24rpx;
			color: $theme-color;
		}

		.price {
			font-size: 32rpx;
			color: $theme-color;
		}

		.amount {
			display: flex;
			align-items: center;
			color: $theme-color;
		}
	}

	.accountBtn {
		background-color: $theme-color;
		color: #fff;
		padding: 15rpx 48rpx;
		border-radius: 12rpx;
		margin-right: 20rpx;
	}

	.popupBox1 {
		overflow: hidden;

		// z-index: 1000;
		// position: relative;
		::v-deep {
			.uicon-close {
				font-size: 22px !important;
			}
		}

		.title {
			width: 100%;
			text-align: center;
			font-size: 36rpx;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 500;
			color: #222222;
			height: 100rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.shoppingCart {
			height: 80vh;
			overflow: auto;
			// position: relative;
		}
	}

	.stickyBox {
		top: 42px !important;
	}
</style>