<template>
	<div :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('trainingCenter.Event Details') }}</commonTop>
		<view class="detailsBox" v-if="trainingDetails">
			<view class="banner">
				<view v-show="!playShow" class="coverImg" :style="{
            background: `url(${trainingDetails.coverPicUrl}) no-repeat center center/100% 100%`,
          }">
					<image v-if="trainingDetails.videoUrl" class="icon_play"
						src="@/static/images/index/icon_play@2x.png" @click="playFn"></image>
				</view>

				<video v-show="playShow" id="myVideo" :src="trainingDetails.videoUrl"
					:poster="trainingDetails.coverPicUrl" controls></video>
			</view>
			<view class="main">
				<view class="name">
					{{ trainingDetails.name }}
				</view>
				<view class="content">
					<p>
						<text class="title">报名开始时间：</text><text class="info">{{ trainingDetails.startTime }}</text>
					</p>
					<p>
						<text class="title">报名结束时间：</text><text class="info">{{ trainingDetails.endTime }}</text>
					</p>
					<p>
						<text class="title">签到时间：</text><text class="info">{{ trainingDetails.signTime }}</text>
					</p>
					<p @click="toMap">
						<text class="title">签到地点：</text><text class="info" style="color: rgba(0, 9, 249, 1)">{{
              trainingDetails.signAddress
            }}</text>
						<uv-icon name="arrow-right"></uv-icon>
					</p>
					<p>
						<text class="title">详细地址：</text><text class="info">{{ trainingDetails.address }}</text>
					</p>
					<p>
						<text class="title">报名价格：</text><text class="info">参与人{{ moneyMark
              }}{{ trainingDetails.customerChargeAmount }}/人，携带人{{
               moneyMark
              }}{{ trainingDetails.carryChargeAmount }}</text>
					</p>
					<p>
						<text class="title">报名人数：</text><text class="info"> 已报名人数</text><text
							class="num">{{ trainingDetails.applicationNumber }}</text><text class="info">
							/{{ trainingDetails.participantNumber }}人</text>
					</p>
					<view>
						<view class="title">可参会人员等级：</view>
						<view class="info">
							<view v-for="a in trainingDetails.involvedPlatforms" :key="a.storeId">
								·{{ a.storeName }}：
								<text v-for="(b, index) in a.involvedBrandLevels" :key="b.levelId">{{ b.levelName
                  }}<text v-if="index !== a.involvedBrandLevels.length - 1">、</text></text>
							</view>
						</view>
					</view>
				</view>
			</view>
			<view class="conferee" v-if="personData && personData.userId">
				<view class="title">参会人员列表</view>
				<view class="row rowTitle">
					<text style="flex: 2">姓名</text>
					<text style="flex: 3">手机号</text>
					<text style="flex: 1">性别</text>
					<text style="flex: 2">房间</text>
					<text style="flex: 2">支付金额</text>
				</view>
				<view class="row" v-for="item in personData.checkRooms" :key="item.id">
					<text style="flex: 2">{{ item.name }}</text>
					<text style="flex: 3">{{ item.phone }}</text>
					<text style="flex: 1">{{ item.sex==1?'男':'女' }}</text>
					<text style="flex: 2">{{ item.roomNo }}</text>
					<text style="flex: 2">{{ moneyMark }}
						<template v-if="item.isCarry">
							{{ trainingDetails.customerChargeAmount }}
						</template>
						<template v-else>
							{{ trainingDetails.carryChargeAmount }}</template></text>
				</view>
			</view>
			<view class="details">
				<p>—— 活动详情 ——</p>
				<div class="detailBox ql-editor">
					<uv-parse :content="trainingDetails.meetDescribe"></uv-parse>
				</div>
			</view>
			<view class="btnBox">
				<view class="applyBtn" :class="
            trainingDetails.status == 1 || trainingDetails.status == 2
              ? ''
              : 'GreyOut'
          " @click="applyOperate">
					{{ statusFn(trainingDetails.status) }}
				</view>
			</view>
		</view>
		<uv-popup :show="applyShow" :round="30" :closeable="true" @close="applyShow = false" @open="applyShow = true">
			<view class="applyBox" v-if="trainingDetails">
				<view class="title"> 我要报名 </view>
				<view class="trainingExpense"> 培训费可用余额：{{ moneyMark }}{{TrainingExpense}} </view>
				<view class="personal">
					<view class="participantsTitle">
						<view class="info">
							<text class="name">参会人1</text>
							<text class="cost">（费用：{{ moneyMark
                }}{{ trainingDetails.customerChargeAmount }}）</text>
						</view>
					</view>
					<!-- <view class="personalInfo">
            <p>
              <text class="title">姓名:</text
              ><text class="info">{{ userInfo.name }}</text>
            </p>
            <p><text class="title">性别:</text><text class="info">女</text></p>
            <p>
              <text class="title">手机号:</text
              ><text class="info">{{ userInfo.phone }}</text>
            </p>
          </view> -->
					<uv-form class="participantItem" labelPosition="left" labelWidth="110px">
						<uv-form-item :required="true" label="姓名" borderBottom>
							<view>{{ userInfo.name }}</view>
						</uv-form-item>
						<uv-form-item :required="true" label="性别" borderBottom>
							<uv-radio-group placement="column" v-model="sex">
								<uv-radio :activeColor="
                    $store.state.theme.presentTheme['--theme-color']
                  " v-for="(item, indexs) in sexRadiolist" :key="indexs" :label="item.label" :name="item.name">
								</uv-radio>
							</uv-radio-group>
						</uv-form-item>
						<uv-form-item :required="true" label="手机号码" borderBottom>
							<view>{{ userInfo.phone }}</view>
						</uv-form-item>
					</uv-form>
				</view>

				<view class="participant" v-for="(item, index) in participantList" :key="index">
					<view class="participantsTitle">
						<view class="info">
							<text class="name">参会人{{ index + 2 }}</text>
							<text class="cost">（费用：{{ moneyMark
                }}{{ trainingDetails.carryChargeAmount }}）</text>
						</view>

						<view class="delete" @click="deleteTraining(index)">
							<uv-icon name="minus-circle"></uv-icon>
							<text class="deleteName">删除</text>
						</view>
					</view>
					<uv-form class="participantItem" labelPosition="left" labelWidth="110px">
						<uv-form-item :required="true" label="姓名" borderBottom>
							<uv-input placeholder="请输入姓名" v-model="item.name" border="none"></uv-input>
						</uv-form-item>
						<uv-form-item :required="true" label="性别" borderBottom>
							<uv-radio-group placement="column" v-model="item.sex">
								<uv-radio :activeColor="
                    $store.state.theme.presentTheme['--theme-color']
                  " v-for="(item, indexs) in sexRadiolist" :key="indexs" :label="item.label" :name="item.name">
								</uv-radio>
							</uv-radio-group>
						</uv-form-item>
						<uv-form-item :required="true" label="手机号码" borderBottom>
							<uv-input placeholder="请输入手机号码" v-model="item.phone" border="none" type="number"></uv-input>
						</uv-form-item>
					</uv-form>
				</view>

				<view class="appendRecord" @click="addTraining" v-if="trainingDetails.isCarry">
					<uv-icon name="plus" size="32rpx"
						:color="$store.state.theme.presentTheme['--theme-color']"></uv-icon>
					<text>添加参会人员</text>
				</view>

				<view class="footPaly">
					<view class="goPlay" @click="goPlay">确认信息 </view>
				</view>
			</view>
		</uv-popup>
	</div>
</template>
<script>
	import {
		meetDetails,
		person,
		involve,
		involveCancel,
		paymentDetails
	} from "@/config/vmeitime-http/training.js"
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				moneyMark: this.$store.getters.moneyMark,
				id: null,
				trainingDetails: null,
				personData: null,
				applyShow: false,
				playShow: false,
				userInfo: storage.get("loginInfo"),
				sexRadiolist: [{
						label: "男",
						name: 1,
					},
					{
						label: "女",
						name: 2,
					},
				],
				participantList: [
					// {
					//   name: "",
					//   sex: "",
					//   phone: "",
					// },
				],
				sex: null,
				TrainingExpense: 0,
			};
		},
		onLoad(options) {
			if (options.id) {
				this.id = options.id;
				this.meetDetailsFn();
				this.personFn();
			}

		},
		onShow() {
			this.paymentDetailsFn()
		},
		methods: {
			// 获取详情接口
			meetDetailsFn() {
				meetDetails(this.id).then((res) => {
					console.log("res: ", res);
					if (res.code == 200) {
						this.trainingDetails = res.data;
					}
				});
			},
			// 获取参与人
			personFn() {
				person(this.id).then((res) => {
					if (res.code == 200) {
						this.personData = res.data;
					}
				});
			},
			// 操作处理
			applyOperate() {
				if (this.trainingDetails.status == 1) {
					this.applyShow = true;
				} else if (this.trainingDetails.status == 2) {
					let that = this;
					uni.showModal({
						title: "提示",
						content: "是否确认取消报名？",
						confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
						success: function(res) {
							if (res.confirm) {
								console.log("用户点击确定");
								that.involveCancelFn();
							} else if (res.cancel) {
								console.log("用户点击取消");
							}
						},
					});
				} else {
					// this.applyShow = true;
					return;
				}
			},
			// 取消报名
			involveCancelFn() {
				let param = {
					meetId: this.id,
				};
				involveCancel(param).then((res) => {
					if (res?.code == 200) {
						uni.$u.toast("取消成功");
						uni.redirectTo({
							url: "/pagesA/trainingCenter/trainingWill/list",
						});
					} else {
						uni.$u.toast(res.msg || "网络异常，请稍后再试");
					}
				});
			},
			// 确认信息操作
			goPlay() {
				if (!this.sex || !this.judgeFn()) {
					
					uni.showToast({
							icon: 'none',
							title: '请将参会人的信息填写完整',
							duration: 2000
						})
					return;
				}
				let param = {
					meetId: this.id,
					sex: this.sex,
					checkRooms: this.participantList,
				};
				console.log("param: ", param);
				involve(param).then((res) => {
					if (res?.code == 200) {
						uni.redirectTo({
							url: "/pagesA/trainingCenter/trainingWill/successPage",
						});
					} else {
			
						uni.showToast({
							icon: 'none',
							title: res.msg || "网络异常，请稍后再试",
							duration: 2000
						})
					}
				});
			},
			// 批量校验
			judgeFn() {
				const isTrue = this.participantList.every((x) => {
					console.log("x: ", x);
					const exp = x.name !== "" && x.sex !== "" && x.phone !== "";
					return exp;
				});
				console.log("isTrue: ", isTrue);
				return isTrue;
			},
			// 状态展示处理
			statusFn(status) {
				let info = "";
				switch (status) {
					case 0:
						info = "报名未开始";
						break;
					case 1:
						info = "我要报名";
						break;
					case 2:
						info = "取消报名";
						break;
					case 3:
						info = "报名已结束";
						break;
					case 4:
						info = "活动已结束";
						break;
					case 5:
						info = " 报名人数已满";
						break;
					case 6:
						info = " 已取消报名";
						break;
				}

				return info;
			},
			// 视频播放操作
			playFn() {
				this.playShow = true;
				setTimeout(() => {
					const videoContext = uni.createVideoContext("myVideo");
					videoContext.play();
				}, 0);
			},
			// 新增参会人
			addTraining() {
				this.participantList.push({
					name: "",
					sex: "",
					phone: "",
					isCarry: false,
				});
			},
			// 删除一项会议记录
			deleteTraining(index) {
				this.participantList.splice(index, 1);
			},
			// 查看地图
			toMap() {
				if (!this.trainingDetails.location) {
					return;
				}
				let location = this.trainingDetails.location.split(",");
				console.log('location: ', location);
				uni.openLocation({
					latitude: Number(location[1]),
					longitude: Number(location[0]),
					scale: 12,
					complete: function(res) {
						console.log(res)
					}
				})

				// openLocation({
				// 	latitude: location[1], // 纬度，浮点数，范围为90 ~ -90
				// 	longitude: location[0],
				// 	name: this.trainingDetails.signAddress, //"天涯区衍宏·现代城",
				// }, {
				// 	storeId: this.$store.getters.appId,
				// });
			},
			// 获取培训费余额
			paymentDetailsFn() {
				let param = {
					accountType: 'TrainingExpense',
					page: 0,
					size: 10,
				};
				paymentDetails(param).then(res => {
					if (res.code == 200 && res?.data) {
						this.TrainingExpense = res.data.amount
					}
				})
			}
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background-color: #f6f6f6;
	}

	.icon_play {
		width: 88rpx;
		height: 88rpx;
	}

	.banner {
		width: 100%;
		height: 422rpx;
		position: relative;

		.coverImg {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		#myVideo {
			width: 100%;
			height: 100%;
		}
	}

	.main {
		padding: 24rpx;
		background-color: #fff;

		.name {
			font-size: 32rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			color: #2e2e2e;
			line-height: 44rpx;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.content {
			// background: #f5f5f5;
			border-radius: 4rpx;
			// padding: 10rpx 20rpx;
			font-size: 26rpx;
			font-family: PingFangSC, PingFang SC;
			line-height: 50rpx;
			margin-top: 16rpx;

			p {
				display: flex;
				align-items: center;
			}

			.title {
				color: rgba(34, 34, 34, 1);
				font-weight: 500;
				// font-weight: bold;
			}

			.info {
				color: rgba(88, 88, 88, 1);
			}

			.num {
				font-size: 30rpx;
				color: $theme-color;
				font-weight: bold;
				margin-left: 4rpx;
			}
		}
	}

	.conferee {
		background-color: #fff;
		margin-top: 20rpx;
		padding: 24rpx;
		color: #222222;

		.title {
			font-size: 32rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			color: #2e2e2e;
			line-height: 44rpx;
			text-align: center;
			padding-bottom: 30rpx;
		}

		.rowTitle {
			background: #f6f6f6;

			font-size: 26rpx !important;
		}

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20rpx;
			font-size: 22rpx;

			text {
				text-align: center;
			}
		}
	}

	.details {
		margin-top: 24rpx;
		margin-bottom: 120rpx;
		background-color: #fff;
		padding: 24rpx;

		p {
			text-align: center;
			height: 44px;
			line-height: 44px;
			color: #666666;
			font-size: 12px;
			font-weight: 500;
		}

		img {
			width: 100%;
			display: block;
		}
	}

	.btnBox {
		width: 100%;
		height: 98rpx;
		background: #ffffff;
		position: fixed;
		bottom: 0;
		overflow: hidden;

		.applyBtn {
			width: 96%;
			height: 78rpx;
			background: $theme-color;
			border-radius: 12rpx;
			margin: 10rpx auto;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.applyBox {
		padding: 20rpx 0rpx 180rpx 0rpx;
		background: #f6f6f6;
		border-radius: 20rpx;
		overflow: auto;
		max-height: 80vh;

		.title {
			text-align: center;
			font-size: 32rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: bold;
			color: #2e2e2e;
			line-height: 44rpx;
			margin-bottom: 40rpx;
		}

		.trainingExpense {
			height: 80rpx;
			background: #faeded;
			border-radius: 12rpx;
			font-size: 28rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: 500;
			color: #b41701;
			line-height: 40rpx;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			text-indent: 1em;
			margin: 0 20rpx;
		}

		.personalInfo {
			background-color: #fff;
			display: flex;
			align-items: center;
			padding: 24rpx;
			flex-wrap: wrap;

			p {
				width: 50%;
				line-height: 60rpx;
			}

			.info {
				margin-left: 10rpx;
			}
		}

		.participantItem {
			position: relative;
			background-color: #fff;
		}

		.appendRecord {
			width: 314rpx;
			height: 88rpx;
			border-radius: 12rpx;
			border: 2rpx solid $theme-color;
			margin: 32rpx auto;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 28rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: normal;
			color: $theme-color;
		}

		.footPaly {
			position: fixed;
			bottom: 0;
			width: 100%;

			.goPlay {
				background-color: $theme-color;
				width: 96%;
				margin: 20rpx auto;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 88rpx;
				border-radius: 12rpx;
			}
		}
	}

	.participantsTitle {
		font-size: 32rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: bold;
		color: #222222;
		line-height: 44rpx;
		padding: 24rpx 0;

		display: flex;
		justify-content: space-between;

		.info {
			text-indent: 1em;
		}

		.cost {
			color: $theme-color;
		}

		.delete {
			display: flex;
			align-items: center;
			padding-right: 24rpx;

			.deleteName {
				margin-left: 10rpx;
				height: 40rpx;
				font-size: 28rpx;
				font-family: PingFangSC, PingFang SC;
				font-weight: 400;
				color: #9b9b9b;
			}
		}
	}

	.GreyOut {
		background: #d2d2d2 !important;
	}

	::v-deep {
		.u-form-item__body__left {
			margin-left: 34rpx;
		}

		.u-radio-group--column {
			flex-direction: row;
			flex-wrap: wrap;
		}

		.u-radio__icon-wrap {
			width: 34rpx !important;
			height: 34rpx !important;
			// background: $theme-color !important;
		}

		.u-radio__text {
			font-size: 24rpx !important;
			font-family: MicrosoftYaHei;
			color: #686868;
			line-height: 32rpx !important;
		}

		.uicon-checkbox-mark {
			font-size: 24rpx !important;
		}

		.u-radio {
			width: 200rpx !important;
			padding: 10rpx;
		}
	}
</style>