<template>
	<div :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('trainingCenter.trainingWill') }}</commonTop>
		<uv-sticky offset-top="-2">
			<Vtabs :fixed="false"  v-model="currentTab" :tabs="tabs" field="name" :scroll="false" :lineScale="0.1"
				:bold="false" height="100rpx" lineHeight="6rpx" @change="changeTab" v-if="tabs.length">
			</Vtabs>
		</uv-sticky>
		<mescroll-body @init="mescrollInit" @down="downCallback" @up="upCallback">
			<view class="trainingWillList">
				<view class="balance">
					<view class="yuan"></view>
					<view class="info">培训费余额：{{ moneyMark }}{{TrainingExpense}}</view>
				</view>
				<view class="item" v-for="(item, index) in trainingWillList" :key="index" @click="goTo(item.id)">
					<view class="itemTitle">{{ item.name }}</view>
					<view class="content">
						<p>
							<text class="title">签到地点：</text><text class="info">{{ item.signAddress }}</text>
						</p>
						<p>
							<text class="title">签到时间：</text><text class="info">{{ item.signTime }}</text>
						</p>
						<p>
							<text class="title">报名开始时间：</text><text class="info">{{ item.startTime }}</text>
						</p>
						<p>
							<text class="title">报名截止时间：</text><text class="info">{{ item.endTime }}</text>
						</p>
						<p>
							<text class="title">报名人数：</text><text class="num">{{ item.applicationNumber }}</text><text
								class="info"> /{{ item.participantNumber }}人</text>
						</p>
					</view>
					<view class="footOperate">
						<view class="leftPrice">
							{{ moneyMark }} {{ item.customerChargeAmount }}元/人
						</view>
						<view class="rightBtn" :class="
                item.status == 1 || (currentTab == 1 && item.status == 2)
                  ? ''
                  : 'GreyOut'
              ">
							{{ statusFn(item.status) }}
						</view>
					</view>
				</view>
			</view>
		</mescroll-body>
	</div>
</template>
<script>
	import {
		meetList,
		myTrain,
		paymentDetails
	} from "@/config/vmeitime-http/training.js"
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from '@/components/CommonTop'
	import Vtabs from '@/components/v-tabs/components/v-tabs/v-tabs.vue'
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			Vtabs
		},
		data() {
			return {
				currentTab: 0,
				tabs: [{
						name: "培训会报名",
					},
					{
						name: "我报名的培训会",
					},
				],
				trainingWillList: [],
				TrainingExpense: 0,
				moneyMark: this.$store.getters.moneyMark
			};
		},
		onLoad(options) {
			if (options.currentTab) {
				this.currentTab = parseInt(options.currentTab)
			}
		},
		onShow() {
			this.paymentDetailsFn()
		},
		methods: {
			//切换处理
			changeTab(index) {
				console.log("切换处理 ", index);
				this.currentTab = index
				this.mescroll.resetUpScroll();
			},
			/*上拉加载的回调*/
			upCallback(page) {
				let API = this.currentTab == 1 ? myTrain : meetList;
				let pageNum = page.num - 1; // 页码, 默认从1开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
				};
				console.log("param: ", param);
				if (page.num == 1) this.trainingWillList = []; //如果是第一页需手动置空列表
				API(param)
					.then((res) => {
						console.log("res: ", res);
						if (res.code == 200) {
							if (this.currentTab == 1) {
								this.trainingWillList = res.data
								if (res.data) {
									this.mescroll.endByPage(1, 1);
								} else {
									this.mescroll.endByPage(0, 0);
								}

							} else {
								let curPageData = res.data.content;
								let curPageLen = curPageData.length; // 接口返回的当前页数据长度
								let totalPage = res.data.totalPages; // 接口返回的总页数
								if (page.num == 1) this.trainingWillList = []; //如果是第一页需手动置空列表
								this.trainingWillList = this.trainingWillList.concat(curPageData); //追加新数据

								// 请求成功,隐藏加载状态
								//方法一(推荐): 后台接口有返回列表的总页数 totalPage
								this.mescroll.endByPage(curPageLen, totalPage);
							}
						} else {
							this.mescroll.endErr();
						}
					})
					.catch((err) => {
						console.log("err: =======.", err);
						this.mescroll.endErr();
					});
			},
			// 跳转详情
			goTo(id) {
				uni.navigateTo({
					url: "/pagesA/trainingCenter/trainingWill/details?id=" + id,
				});
			},
			// 状态展示处理
			statusFn(status) {
				let info = "";
				switch (status) {
					case 0:
						info = "报名未开始";
						break;
					case 1:
						info = "我要报名";
						break;
					case 2:
						info = this.currentTab == 1 ? "取消报名" : "已报名";
						break;
					case 3:
						info = "报名已结束";
						break;
					case 4:
						info = "活动已结束";
						break;
					case 5:
						info = " 报名人数已满";
						break;
					case 6:
						info = " 已取消报名";
						break;
				}

				return info;
			},
			// 获取培训费余额
			paymentDetailsFn() {
				let param = {
					accountType: 'TrainingExpense',
					page: 0,
					size: 10,
				};
				paymentDetails(param).then(res => {
					if (res.code == 200 && res?.data) {
						this.TrainingExpense = res.data.amount
					}
				})
			}
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background-color: #f6f6f6;
	}

	.trainingWillList {
		margin: 24rpx;

		.balance {
			display: flex;
			align-items: center;
			font-size: 36rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			color: #2e2e2e;
			line-height: 50rpx;

			.yuan {
				width: 28rpx;
				height: 28rpx;
				background: $theme-color;
				border-radius: 100%;
				margin-right: 12rpx;
			}
		}

		.item {
			margin-top: 24rpx;
			padding: 16rpx 24rpx;
			background-color: #fff;

			.itemTitle {
				font-size: 32rpx;
				font-family: PingFangSC, PingFang SC;
				font-weight: bold;
				color: #222222;
				line-height: 44rpx;
			}

			.content {
				background: #f5f5f5;
				border-radius: 4rpx;
				padding: 10rpx 20rpx;
				font-size: 26rpx;
				font-family: PingFangSC, PingFang SC;
				line-height: 60rpx;
				margin-top: 16rpx;

				.title {
					color: rgba(34, 34, 34, 1);
					font-weight: bold;
				}

				.info {
					color: rgba(88, 88, 88, 1);
				}

				.num {
					font-size: 30rpx;
					color: $theme-color;
				}
			}
		}

		.footOperate {
			display: flex;
			justify-content: space-between;
			margin: 24rpx 0rpx 14rpx 0;

			.leftPrice {
				font-size: 40rpx;
				font-family: PingFangSCSemibold, PingFangSCSemibold;
				font-weight: normal;
				color: $theme-color;
				line-height: 56rpx;
			}

			.rightBtn {
				// width: 163rpx;
				height: 62rpx;
				background: $theme-color;
				border-radius: 12rpx;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 6rpx 10rpx;
			}

			.GreyOut {
				background: #d2d2d2;
			}
		}
	}

	::v-deep {
		.u-tabs__wrapper__nav {
			display: flex;
			justify-content: space-around;
			flex: 1;
		}

		.active {
			color: $theme-color !important;
		}

		.v-tabs__container-line.animation {
			background-color: $theme-color !important;
		}
	}
</style>