<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},

		mounted() {
			this.$store.dispatch('setXTenant')
		},
		created() {
			
		},
		methods: {
		}
	}
</script>

<style>
	/*每个页面公共css */
	
	.uv-popup .uv-popup__content {
		overflow: initial !important;
	}
	
	.uv-form-item__body__left__content__label {
		  font-size: 24rpx !important;
	}
</style>