<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('modifyPhone.Modifyphone') }}</commonTop>
		<p class="title">
			{{
				modifyType == 1
				? $t("modifyPhone.VerifyOld")
				: $t("modifyPhone.VerifyNew")
			}}
		</p>
		<form :report-submit="true" @submit="formLoginPassword">
			<view class="formBox">
				<uv-input border="bottom" v-model="mobile" type="number" maxlength="11"
					:placeholder="$t('register.PleaseEnterPhone')" :clearable="true">
					<template slot="prefix">
						<view class="areaCodeBox" @click="openup">
							<view class="code">{{ phoneRegion }}</view>
							<uv-icon :size="20" name="arrow-down-fill"></uv-icon>
						</view>
					</template>
				</uv-input>
				<uv-input border="bottom" v-model="verificationCode" :placeholder="$t('login.enterConfirmationCode')"
					:clearable="true">
					<template slot="suffix">
						<view class="verificationCodeBox">
							<view @click="btnSend" :disabled="disabled" :hairline="false" class="codeBtn">{{
								disabled ? btnText : $t("login.getVerificationCode")
							}}</view>
						</view>
					</template>
				</uv-input>
			</view>
			<view class="footBtn">
				<uv-button class="loginBtn" color="$theme-color" form-type="submit"
					:text="$t('register.Confirm')"></uv-button>
			</view>
		</form>
		<!-- 区号选择弹窗 -->
		<uv-popup ref="popup" mode="bottom" background-color="#fff">
			<div class="picker-title">
				<div class="picker-cancel" @click="cancelEvent">
					{{ $t("register.Cancel") }}
				</div>
				<div class="picker-confrim" @click="confrimEvent">
					{{ $t("register.Confirm") }}
				</div>
			</div>
			<picker-view :value="areaCode" @change="bindChange" class="picker-view">
				<picker-view-column>
					<view class="item" v-for="(item, index) in countryList" :key="index">{{ item.text }}</view>
				</picker-view-column>
			</picker-view>
		</uv-popup>
	</view>
</template>
<script>
import form from "@/components/tui-validation/tui-validation.js";
import storage from "@/utils/storage.js";
import commonTop from '@/components/CommonTop'
import {
	smsRegion,
	smsCaptcha,
	changePhone,
	oldPhoneCheck,
} from '../../config/vmeitime-http/index.js'

export default {
	components: {
		commonTop
	},
	data() {
		return {
			modifyType: 1, //1.核实旧手机  2.验证绑定新手机
			mobile: "",
			verificationCode: "",
			oldData: {},

			areaCode: [0],
			phoneRegion: "",
			RegionIndex: 0,
			countryList: [],

			btnText: "",
			disabled: false,
			userInfo: storage.get("loginInfo"),
			countdown: null,
		};
	},
	mounted() {

		console.log("this.userInfo", this.userInfo);
		if (this.modifyType == 1) {
			this.phoneRegion = "+" + this.userInfo.phoneRegion;
			this.mobile = this.userInfo.phone;
		} else {
			this.smsRegionFn();
		}
	},
	methods: {
		formLoginPassword(e) {
			let mobile = e.detail.value.mobile || this.mobile;
			let verificationCode =
				e.detail.value.verificationCode || this.verificationCode;
			let rules = [{
				name: "mobile",
				rule: ["required", "maxLength:11"],
				msg: [
					this.$t("register.PleaseEnterPhone"),
					this.$t("register.PleaseEnterPhoneCorrect"),
				],
			},
			{
				name: "verificationCode",
				rule: ["required"],
				msg: [this.$t("login.enterConfirmationCode")],
			},
			];
			let formData = {
				mobile: mobile,
				verificationCode: verificationCode,
			};
			//进行表单检查
			let checkRes = form.validation(formData, rules);
			if (checkRes) {
				uni.showToast({
					icon: 'none',
					title: checkRes,
					duration: 2000
				})
				return;
			}
			this.modifyType == 1 ?
				this.oldPhoneCheckFn(formData) :
				this.changePhoneFn(formData);
		},
		// 验证旧手机号是否验证码匹配
		oldPhoneCheckFn(formData) {
			let param = {
				captchaCode: this.verificationCode,
			};
			oldPhoneCheck(param).then((res) => {
				if (res.value) {
					uni.showToast({
						icon: 'none',
						title: '验证成功，请绑定新手机号',
						duration: 2000
					})
					clearInterval(this.countdown);
					this.oldData = {
						...formData,
						phoneRegion: this.phoneRegion,
					};
					this.modifyType = 2;
					this.mobile = "";
					this.verificationCode = "";
					this.btnText = "";
					this.disabled = false;
				}
			});
		},
		// 修改绑定手机号
		changePhoneFn(formData) {
			let param = {
				region: this.phoneRegion,
				phone: formData.mobile,
				captchaCode: this.verificationCode,
				oldPhone: this.oldData.mobile,
				oldRegion: this.oldData.phoneRegion,
			};
			changePhone(param).then((res) => {

				uni.showToast({
						icon: 'none',
						title: this.$t("goods.operateSuccessfully"),
						duration: 2000
					})
				setTimeout(() => {
					uni.reLaunch({
						url: "/pagesB/user/index",
					});
				}, 200);
			});
		},
		//获取验证码
		btnSend: function () {
			let rules = [{
				name: "mobile",
				// rule: ["required", "isMobile"],
				// msg: [this.$t("register.PleaseEnterPhone"),this.$t("register.PleaseEnterPhoneCorrect")],
				rule: ["required", "maxLength:11"],
				msg: [
					this.$t("register.PleaseEnterPhone"),
					this.$t("register.PleaseEnterPhoneCorrect"),
				],
			},];
			//进行表单检查
			let formData = {
				mobile: this.mobile,
			};
			let checkRes = form.validation(formData, rules);
			if (!checkRes) {
				this.getSmsCaptcha();
			} else {
				uni.showToast({
					icon: 'none',
					title: checkRes,
					duration: 2000
				})
			}
		},
		doLoop(seconds) {
			seconds = seconds ? seconds : 60;
			this.btnText = seconds + "s";
			//   this.code = code;
			this.countdown = setInterval(() => {
				if (seconds > 0) {
					this.btnText = seconds + "s";
					--seconds;
				} else {
					//   this.btnText = this.$t("login.getVerificationCode");
					this.disabled = false;
					clearInterval(this.countdown);
				}
			}, 1000);
		},
		// 获取验证码
		getSmsCaptcha() {
			uni.showLoading({
				mask: true
			});
			let param = {
				type: 3, //-- 场景 0 登录，1 注册，2 重置密码 3 修改或绑定手机号
				phoneRegion: this.phoneRegion,
				phone: this.mobile,
			};
			smsCaptcha(param).then((res) => {
				if (res !== undefined) {
					uni.hideLoading();
					setTimeout(() => {
						this.disabled = true;
						this.doLoop(60);
					}, 500);
				}
			});
		},
		//  获取区号
		smsRegionFn() {
			smsRegion().then((res) => {
				console.log("res: ", res);
				if (res) {
					// 区号数据初始化
					let newCountryList = res.map((res, index) => {
						return {
							text: `${res.regionName} ${res.phoneRegion}`,
							value: res.phoneRegion,
						};
					});
					this.countryList = newCountryList;
					this.phoneRegion = this.countryList[this.RegionIndex].value;
				}
			});
		},
		// 区号弹窗
		openup() {
			this.$refs.popup.open();
		},
		// 区号选择回调
		bindChange(e) {
			console.log("bindChange", e);
			this.RegionIndex = e.detail.value[0];
			console.log("this.RegionIndex: ", this.RegionIndex);
		},
		// 区号关闭
		cancelEvent() {
			this.$refs.popup.close();
		},
		// 区号选择
		confrimEvent() {
			console.log(this.countryList[this.RegionIndex].value);
			this.phoneRegion = this.countryList[this.RegionIndex].value;
			this.areaCode = [this.RegionIndex];
			this.$refs.popup.close();
		},
	},
};
</script>
<style lang="scss" scoped>
page {
	background-color: #f6f6f6;
}

.title {
	font-size: 26rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #2e2e2e;
	line-height: 36rpx;
	padding: 24rpx 32rpx;
}

.formBox {
	padding: 40rpx;
	background-color: #fff;

	.areaCodeBox {
		display: flex;
		font-size: 30rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #d2d2d2;

		.code {
			margin-right: 6rpx;
		}
	}

	.verificationCodeBox {
		border-left: 2rpx solid #d8d8d8;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10rpx 20rpx;
		// margin-left: 20rpx;
		position: relative;
		left: 30rpx;

		.codeBtn {
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #B41701;
			;
			border: 0;
			//   display: inline-block;
			height: 45rpx;
			line-height: 45rpx;
			padding: 0;
			//   margin-right: -10rpx;
		}
	}
}

.footBtn {
	padding: 40rpx 60rpx 60rpx 60rpx;

	.loginBtn {

		background-color: #B41701;
		border-radius: 12rpx;
		color: #fff;
	}
}

picker-view {
	width: 100%;
	height: 500rpx;
	margin-top: 20rpx;
}

.picker-view .item {
	// line-height: 100rpx;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.picker-title {
	height: 100rpx;
	line-height: 100rpx;
	display: flex;
	justify-content: space-between;
	padding: 0 20rpx;
	box-sizing: border-box;

	.picker-cancel {
		color: #666;
		padding: 0 20rpx;
	}

	.picker-confrim {
		color: $theme-color;
		padding: 0 20rpx;
	}
}

::v-deep {
	.uv-button--active:before {
		opacity: 0;
	}

	.uni-input-placeholder {
		font-size: 24rpx;
	}
}
</style>