<template>
	<view :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('goods.goodsDetail') }}</commonTop>
		<div class="previewDetail" v-if="goodsDetail">
			<template v-if="imagesList.length > 0">
				<uv-swiper :list="imagesList" @change="(e) => (currentNum = e.current)" :autoplay="true"
					indicatorStyle="right: 20px" class="swipeImg" height="350">
					<view slot="indicator" class="indicator-num">
						<text class="indicator-num__text">{{ currentNum + 1 }}/{{ imagesList.length }}</text>
					</view>
				</uv-swiper>
			</template>
			<!-- 价格、名称... -->
			<div class="goodsInformation">
				<!-- 价格判断 -->
				<div class="goods-price">
					<text class="now-price" style="font-size: 12px">{{
            $store.getters.moneyMark
          }}</text>
					<span :class="goodsDetail.enjoyVipLevel ? 'now-price vipMt' : 'now-price'">
						{{ currency(goodsDetail.retailPrice) }}
					</span>

					<!-- <span
            v-if="goodsDetail.retailPrice && goodsDetail.retailPrice !== '0.00'"
            class="origin-price"
            >{{$store.getters.moneyMark}}{{ currency(goodsDetail.retailPrice) }}</span
          > -->
				</div>
			</div>

			<!-- 商品信息 -->
			<div class="goods-info">
				<div class="title-wrap ellipsis-2">
					<span>{{ goodsDetail.name }}</span>
				</div>
				<div class="info-wrap">
					{{ goodsDetail.spuSellPoint || '' }}
				</div>
			</div>

			<!-- row信息列表 -->
			<div class="cellBox">
				<template v-if="goodsDetail.specList && goodsDetail.specList.length > 0&&!goodsDetail.unsaleable">
					<!-- 有规格 -->
					<div class="choosed-specs" @click="showSku">
						<div>
						<span>{{ $t("goods.specification") }}</span>
						<span class="text-specs ellipsis">
							<template> {{ $t("goods.pleaseSelect") }} </template>
						</span>
						</div>
						<uv-icon class="fr" name="arrow-right"></uv-icon>
					</div>
				</template>

				<!-- 销量 -->
				<div class="choosed-specs" v-if="salesInfo">
					<span>{{ $t("goods.SalesVolume") }}</span>
					<span class="text-specs ellipsis">
						{{ salesInfo }}
					</span>
					<!-- <uv-icon class="fr" name="arrow-right"></uv-icon> -->
				</div>
			</div>
			<!-- <div class="tagBox">
        <div class="sales">{{ $t("goods.SalesVolume") }}: {{ salesInfo }}</div>
      </div> -->

			<!-- 商品详情 -->
			<div class="img-detail">
				<p>—— {{ $t("goods.goodsDetail") }} ——</p>
				<div class="detailBox ql-editor">
					<uv-parse :content="detail"></uv-parse>
				</div>
			</div>
		</div>
		<!-- 商品找不到 -->
		<view class="no-data" v-if="!goodsDetail">
			<view class="no-data-com">
				<image class="ndc-img"
					src="https://livefile-1300828364.cos.ap-shanghai.myqcloud.com/miniphoto/nosearch.png"></image>
				<!-- <view class="ndc-tip">商品不见啦</view>
        <view class="ndc-subtip">未找到相关商品</view> -->
			</view>
		</view>
		<view class="footBox">
			<view class="iconBtn">
				<view class="iconItem" @click="goTo('/pages/home/index')">
					<uv-icon size="25" name="home"></uv-icon>
					<text>{{$t("pages.home")}}</text>
				</view>
				<view class="iconItem" @click="goTo('/pagesA/cMall/shoppingCart/index')">
					<uv-icon size="25" name="shopping-cart"></uv-icon>
					<text>{{$t("goods.shoppingCart")}}</text>
				</view>
			</view>
			<view class="operateBtn">
				<template v-if="goodsDetail&&goodsDetail.unsaleable">
					<div class="notSale">
						{{$t("cMall.goods.notSale")}}
					</div>
				</template>
				<template v-else>
					<uv-button class="btnItem shoppingCart"  :plain="true" :hairline="true" color="#B41701"
						customStyle="color:#B41701;width:200rpx;" @click="showSku('shoppingCart')">
						{{ $t("cMall.goods.addCart") }}
					</uv-button>
					<uv-button customStyle="width:200rpx;marginRight:40rpx" class="btnItem buy" color="#B41701" @click="showSku('buy')">{{
          $t("cMall.goods.buy")
        }}</uv-button>
				</template>

			</view>
		</view>

		<vk-data-goods-sku-popup ref="skuPopup" v-model="sku_visible" border-radius="20" :localdata="goodsInfo"
			:mode="form.skuMode" :stockText="$t('goodsSku.stockText')" :buy-now-text="form.buyNowText"
			:add-cart-text="form.addCartText" :min-buy-num="form.minBuyNum" :max-buy-num="form.maxBuyNum"
			:step-buy-num="form.stepBuyNum" :stepStrictly="form.stepStrictly" :show-close="form.showClose"
			:mask-close-able="form.maskCloseAble" :hide-stock="form.hideStock" :theme="form.theme"
			:default-select="form.defaultSelect" :sizeName="form.sizeName" :noOrder="form.noOrder"
			:noStockText="form.noStockText" :goods-id="id" :user-to-type="userToType" :isHasSkuList="form.isHasSkuList"
			@open="openSkuPopup" @close="closeSkuPopup" @add-cart="addCart" @buy-now="buyNow"></vk-data-goods-sku-popup>
	</view>
</template>

<script>
	import {
		accAdd,
		accDiv,
		currency,
		decodeFn
	} from "@/utils/util.js";
	import vkDataGoodsSkuPopup from "@/components/vk-data-goods-sku-popup/components/vk-data-goods-sku-popup/vk-data-goods-sku-popup.vue";
	import commonTop from '@/components/CommonTop'
	import {
		Base64
	} from "js-base64";
	import {
		formatSku
	} from "@/utils/formatSku";
	import storage from "@/utils/storage.js";

	export default {
		components: {
			vkDataGoodsSkuPopup,
			commonTop
		},
		data() {
			return {
				accAdd,
				accDiv,
				currency,
				id: null,
				goodsDetail: null,
				goodsInfo: null,
				imagesList: [],
				currentNum: 0,
				userToType: "C", // B--- B端适配规格  C--- c端规格适配
				sku_visible: false,
				form: {
					skuMode: 3,
					buyNowText: this.$t("cMall.goods.buy"), //"立即购买",
					addCartText: this.$t("register.Confirm"),
					minBuyNum: 0,
					maxBuyNum: 10000,
					stepBuyNum: 1,
					stepStrictly: false,
					hideStock: false,
					theme: "default", // 主题
					isHasSkuList: true, // 是否有规格
					sizeName: "", //b端最后一个规格名
					noOrder: false, //禁止下单标识
					noStockText: this.$t("goodsSku.noStockText"), //该商品已抢完
					defaultSelect: {
						// sku:["高贵黑","L","1001"], // C端回显
						// num:5,
						// sku:["优雅粉","","1001"], // b端回显   尺寸在第几项，第几项传空
						// num: [1,2, 3, 5, 0, 9], // b端数量回显，  尺寸有几个子项就有几个，在初始化goodsInfO里面进行处理初始化
					},
				},
				detail: null,
				purchaseCartFrontDtos: null,
			};
		},
		onLoad(options) {
			if (options.id) {
				this.getProductData(options.id);
				this.id = options.id;
			} else {
				uni.navigateBack({
					delta: 1
				});
			}
		},
		computed: {
			// 销量
			salesInfo() {
				let numAll = this.goodsDetail.salesVolume;
				let strInfo = "";
				if (numAll >= 100000 && numAll < 1000000) {
					let str = numAll.toString().substring(0, 1);
					strInfo = str + "0万+";
				} else if (numAll > 1000000) {
					strInfo = "100万+";
				} else {
					strInfo = numAll;
				}
				return strInfo;
			},
		},

		methods: {
			// 获取商品详情
			getProductData(id) {
				this.$api.productData(id).then((res) => {
					if (res?.code == 200) {
						this.goodsDetail = res.data;
						this.imagesList = this.goodsDetail?.pictures ?
							this.goodsDetail.pictures.split(",") : [this.goodsDetail.mainPicture];
						if (this.userToType == "B") {
							let lengths = this.goodsDetail.specList.length - 1;
							this.form.sizeName = this.goodsDetail.specList[lengths].title;
						}

						if (this.goodsDetail.detail) {
							this.detail = Base64.decode(this.goodsDetail.detail);
						}

						this.formateGoodsInfo(this.goodsDetail);
					}
				});
			},
			formateGoodsInfo(res) {
				const that = this;
				this.form.isHasSkuList = res.specList.length > 0 ? true : false;
				this.goodsInfo = formatSku(that, res);
				console.log(" this.goodsInfo: ", this.goodsInfo);
			},
			// sku组件 开始-----------------------------------------------------------
			openSkuPopup() {
				console.log("监听 - 打开sku组件");
				// that.$refs.skuPopup.selectSku({
				// 	sku:["白色","256G","公开版"],
				// 	num:5
				// });
			},
			closeSkuPopup() {
				console.log("监听 - 关闭sku组件");
			},
			showSku(type) {
				this.sku_visible = true;
				if (type == "buy") {
					this.form.skuMode = 3;
				}
				if (type == "shoppingCart") {
					this.form.skuMode = 2;
				}
			},
			// 加入购物车回调
			addCart(skuData) {
				console.log("skuData:加入购物车回调 ", skuData);
				let saleCartFrontDtos = [{
					cartType: "sale",
					sku: {
						skuId: skuData._id,
					},
					quantity: skuData.buy_num,
				}, ];
				this.sku_visible = false;
				this.saleCartFrontDtosFn(saleCartFrontDtos);
			},
			// 立即购买
			buyNow(skuData) {
				console.log("skuData:立即购买 ", skuData);
				console.log("结算====>", this.confirmArr);
				let confirmOrder = {
					fromCart: false,
					lines: [{
						skuId: skuData._id,
						quantity: skuData.buy_num,
					}],
					addressId: null,
				};
				console.log('confirmOrder: ', confirmOrder);

				storage.set("confirmOrder", confirmOrder);
				this.sku_visible = false;
				uni.navigateTo({
					url: "/pagesA/cMall/order/confirmOrder"
				});
			},

			// 加入购物车接口
			saleCartFrontDtosFn(saleCartFrontDtos) {
				let param = {
					saleCartFrontDtos: saleCartFrontDtos,
				};
				this.$api.purchaseCart(param).then((res) => {
					if (res.code == 200) {
						uni.showToast({
							icon: 'none',
							title: this.$t("goods.operateSuccessfully"),
							duration: 2000
						})
					}else {
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 2000
						})
					}
				});
			},
			goTo(url) {
				uni.navigateTo({
					url: url
				})
			}
		},
	};
</script>

<style lang="scss" scoped>
	page {
		background: #f8f8f8;
	}

	.previewDetail {
		text-align: left;
		background: #f8f8f8;
		padding-bottom: 32px;
	}

	.swipeImg {
		height: 750rpx;
	}

	.indicator-num {
		padding: 2px 0;
		background-color: rgba(0, 0, 0, 0.35);
		border-radius: 100px;
		width: 35px;
		display: flex;
		justify-content: center;

		&__text {
			color: #ffffff;
			font-size: 12px;
		}
	}

	.no-pic {
		width: 100%;
	}

	.goodsInformation {
		position: relative;
	}

	.goods-price {
		text-align: left;
		padding: 12px 0 0px 12px;
		background: #fff;

		.now-price {
			color: $theme-color;
			font-size: 20px;
			font-weight: bold;
			display: inline-block;
			margin-top: 12px;
		}

		.vipMt {
			margin-top: 0px;
		}

		.origin-price {
			font-size: 14px;
			font-family: PingFang SC;
			font-weight: bold;
			line-height: 22px;
			color: #666666;
			margin-left: 8px;
			text-decoration: line-through;
		}
	}

	.goods-info {
		padding: 6px 18px 10px 12px;
		// display: flex;
		padding-bottom: 14px;
		background: #fff;
		position: relative;

		.title-wrap {
			max-height: 52px;
			font-size: 16px;
			font-family: PingFang SC;
			font-weight: bold;
			line-height: 24px;
			color: #2e2e2e;
			text-align: left;

			img {
				margin-right: 10px;
			}

			img,
			span {
				vertical-align: middle;
			}
		}

		.info-wrap {
			font-size: 13px;
			font-family: PingFang SC;
			font-weight: 400;
			line-height: 23px;
			color: #999999;
			// letter-spacing: 50px;
		}
	}

	.tagBox {
		align-items: center;
		padding: 0px 18px 0px 12px;
		background-color: #fff;

		.sales {
			color: #2e2e2e;
			padding-top: 12px;
		}

		.tagClass {
			background: #fff0f0;
			opacity: 1;
			border-radius: 2px;
			font-size: 14px;
			color: $theme-color;
			margin-right: 6px;
			margin-top: 16px;
			padding: 2px 4px;
		}
	}

	.img-detail {
		margin-bottom: 120rpx;

		p {
			text-align: center;
			height: 44px;
			line-height: 44px;
			color: #666666;
			font-size: 12px;
			font-weight: 500;
		}

		img {
			width: 100%;
			display: block;
		}
	}

	.cellBox {
		background-color: #fff;
	}

	.choosed-specs {
		padding: 0 12px;
		background: #fff;
		height: 44px;
		line-height: 44px;
		color: #2e2e2e;
		font-size: 14px;
		margin-top: 12px;
		position: relative;
		display: flex;
		justify-content: space-between;

		span:nth-child(1) {
			color: #999999;
			margin-right: 20px;
			font-weight: 400;
		}

		span {
			vertical-align: middle;
		}

		.text-specs {
			display: inline-block;
			// max-width: calc(100% - 68px);
			font-size: 13px;
			font-weight: 400;
			color: #2e2e2e !important;
		}

		.fr {
			position: absolute;
			right: 12px;
			top: 17px;
			height: 20rpx;
			width: 12rpx;
		}
	}

	.no-data {
		width: 100%;
		min-height: 100vh;
		background: #fff;

		.no-data-com {
			text-align: center;
			padding-top: 200rpx;

			.ndc-img {
				width: 262rpx;
				height: 200rpx;
				vertical-align: top;
			}

			.ndc-tip {
				margin-top: 20rpx;
				font-size: 28rpx;
				color: #666666;
				line-height: 40rpx;
			}

			.ndc-subtip {
				margin-top: 4rpx;
				font-size: 24rpx;
				color: #cccccc;
				line-height: 34rpx;
			}
		}
	}

	.footBox {
		position: fixed;
		bottom: 0rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background-color: #fff;
		// height: 130rpx;
		// padding: 0 24rpx 0 40rpx;
		padding: 15rpx 0;

		.iconBtn {
			display: flex;
			margin-left: 30rpx;
			font-size: 22rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #666666;
			min-width: 140rpx;
			justify-content: space-between;
		}

		.iconItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			// font-size: 20rpx;
			text {
				text-align: center;
				height: 50rpx;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}

		.operateBtn {
			display: flex;
			// flex: 1;
			font-size: 24rpx;
			height: 80rpx;
			justify-content: flex-end;
			width: 540rpx;

			.notSale {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 34rpx;
				background-color: #D2D2D2;
				color: #fff;
				flex: 1;
				border-radius: 12rpx;
				margin-right: 24rpx;
			}
			/deep/ .uv-button-wrapper {
				margin-right: 24rpx;
				width: 400rpx;
			}

			.btnItem {
				width: 44%;
				color: #fff;
				height: 80rpx;
				line-height: 80rpx;
				border-radius: 12rpx;
				
			}

			.shoppingCart {
				margin-right: 24rpx;
			}

			.buy {
				background-color: $theme-color;
				margin-right: 24rpx;
			}
		}
	}

	.footBtn {
		background-color: $theme-color;
		border: node;
		width: 30%;
		height: 70rpx;
		border-radius: 14rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
	}
</style>