<template>
	<div class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ title }}</commonTop>
		<template v-if="materialType == 'materialCenter'">
			<view class="tabBox" v-if="tabsList.length">
				<vTabs class="tabsBox" v-model="currentTab" :tabs="tabsList" field="name" fontSize="28rpx"
					height="53rpx" :scroll="true" :lineScale="0.2" :bold="false" :pills="true" pillsColor=""
					lineHeight="6rpx" :footPlaceholder="false" :zIndex="10" source="material" @change="tabschange">
				</vTabs>
			</view>
			<view style="height: 88rpx"></view>
		</template>
		<mescroll-body @init="mescrollInit" @down="downCallback" @up="upCallback">
			<materialBox v-if="materiaData.length" class="materialBox" :materialType="materialType"
				:materiaData="materiaData"></materialBox>
		</mescroll-body>

		<uv-popup ref="filterShow" mode="top" zIndex="6" @close="$refs.filterShow.close()"
			@open="$refs.filterShow.open()" :safeAreaInsetTop='true' :safeAreaInsetBottom='false'>
			<view class="filterBox">
				<view class="xian"></view>
				<view class="filterGroup">
					<!-- <view class="filtername">客户等级</view> -->
					<view class="filterItem">
						<view v-for="(item, index) in filterData.items" class="subitem"
							:class="selectID == item.id ? 'subitemActive' : ''" :key="item.id + index"
							@click="filterSelect(item.id)">{{ item.name }}</view>
					</view>
				</view>
				<view class="footBtn">
					<view class="footBtnItem reset" @click="resetFn">{{$t("material.reset")}}</view>
					<!-- <view class="footBtnItem affirm" @click="affirmFn">查看</view> -->
				</view>
			</view>
		</uv-popup>

		<!-- <button @click="downloadImages(0)">下载图片</button> -->
	</div>
</template>

<script>
	import materialBox from "./components/materialBox";
	import commonTop from '@/components/CommonTop'
	import {
		materialProduct,
		publicityMaterial,
		materialCategory,
	} from "@/config/vmeitime-http/good.js";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import vTabs from '@/components/v-tabs/components/v-tabs/v-tabs'

	export default {
		components: {
			materialBox,
			commonTop,
			vTabs
		},
		mixins: [MescrollMixin],
		data() {
			return {
				currentTab: 0,
				filterShow: false,
				tabsList: [],
				materiaData: [],
				materialType: "materialCenter",
				filterData: [],
				selectID: "",
				title: this.$t('pages.material')
			};
		},
		onLoad(options) {
			if (options.materialType) {
				this.materialType = options.materialType;

			}
			if (options.goodslId) {
				this.materialProductFn(options.goodslId);
				this.title = this.$t('material.CommodityMaterial')
			}
			this.materialCategoryFn();
		},
		mounted() {},
		methods: {
			// 素材中心素材分类列表
			materialCategoryFn() {
				let param = {
					"level.equals": 1,
				};
				materialCategory({
					params: param
				}).then((res) => {
					if (res.code == 200 && res?.data?.content.length) {
						this.tabsList = res.data.content;
						this.tabsList.unshift({
							name: this.$t("material.SeeAll"),
							id: "",
							code: "",
							items: [],
						});

					} else {
						this.tabsList = []
					}
					console.log(" this.tabsList: ", this.tabsList);
				});
			},
			// 获取d单商品素材
			materialProductFn(id) {
				let param = {
					"productId.equals": id,
				};
				materialProduct({
					params: param
				}).then((res) => {
					if (res.code == 200) {
						this.materiaData = res.data.content.map((x) => x.post);
					}
				});
			},

			// tabs切换
			tabschange(index, item) {
				console.log("e: ", index, item);
				this.materiaData = [];
				if (item.items.length) {
					this.filterShow = !this.filterShow
					if(item.id == this.filterData.id) {
						console.log(this.filterShow + '哈哈')
						this.filterShow ? this.$refs.filterShow.open(): this.$refs.filterShow.close()
					}else {
						this.$refs.filterShow.open()
					}
					this.filterData = item;
				} else {
					this.$refs.filterShow.close();
					this.selectID = item.id;
					this.mescroll.resetUpScroll();
				}
			},
			// 弹窗筛选项
			filterSelect(id) {
				this.selectID = id;
				this.affirmFn();
			},

			// 查看
			affirmFn() {
				this.materiaData = [];
				this.$refs.filterShow.close()
				this.mescroll.resetUpScroll();
			},

			//重置
			resetFn() {
				this.currentTab = 0;
				this.$refs.filterShow.close()
				this.filterData = [];
				this.selectID = "";
				this.materiaData = [];
				this.mescroll.resetUpScroll();
			},

			/*上拉加载的回调*/
			upCallback(page) {
				let pageNum = page.num - 1; // 页码, 默认从1开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					// key: "1",
					page: pageNum,
					size: pageSize,
					"categoryId.equals": this.selectID,
				};
				publicityMaterial({
					params: param
				}).then((res) => {
					if (res.code == 200 && res?.data?.content) {
						let curPageData = res.data.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.data.totalPages; // 接口返回的总页数
						if (page.num == 1) this.materiaData = []; //如果是第一页需手动置空列表
						this.materiaData = this.materiaData.concat(curPageData); //追加新数据

						// 请求成功,隐藏加载状态
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.materiaData = [];
						this.mescroll.endErr();
					}
				});
			},

			downloadFile(url, index, infoIndex) {
				let that = this;
				// let newIndex=index
				uni.downloadFile({
					url: url, //仅为示例，并非真实的资源
					success: (res) => {
						console.log(res);
						if (res.statusCode === 200) {
							var oA = document.createElement("a");
							oA.download = ""; // 设置下载的文件名，默认是'下载'
							oA.href = res.tempFilePath; //临时路径再保存到本地
							document.body.appendChild(oA);
							oA.click();
							oA.remove(); // 下载之后把创建的元素删除
							console.log("下载成功", index);
							// that.$u.toast("下载成功", index);
							// this.downloadImages(index + 1);
						}
					},
					fail: (err) => {
						console.log("下载失败", err, index + 1);
					},
					complete: (info) => {
						console.log("info: ", info);
						let msg = "下载失败";
						if (info.errMsg == "downloadFile:ok") {
							msg = `下载成功`;
						}
						// ++infoIndex
						uni.showModal({
							title: "是否下载第" + infoIndex + "张",
							success: function(res) {
								that.downloadImages(index + 1, infoIndex);
							},
						});
					},
				});
			},
			downloadImages(index, infoIndex) {
				console.log("index: ", index);
				let that = this;
				let imageLength = this.imageUrls.length;
				this.imageIndex = index;
				infoIndex = index;

				// let infoIndex=index+1
				if (imageLength == this.imageIndex) {
					return;
				}

				if (index == 0) {
					++infoIndex;
					uni.showModal({
						title: "是否下载第" + infoIndex + "张",
						success: function(res) {
							that.downloadImages(index + 1, infoIndex);
						},
					});
				} else {
					++infoIndex;
					this.downloadFile(this.imageUrls[index], index, infoIndex);
				}

				// this.imageUrls.forEach((imageUrl, index) => {
				//   // this.downloadImage(imageUrl, `image${index + 1}.jpg`);
				//   this.downloadFile(imageUrl, index);
				// });
			},
			downloadImage(imageUrl, fileName) {
				const xhr = new XMLHttpRequest();
				xhr.open("GET", imageUrl, true);
				xhr.responseType = "blob";

				xhr.onload = () => {
					if (xhr.status === 200) {
						const blob = xhr.response;
						const url = URL.createObjectURL(blob);

						const link = document.createElement("a");
						link.href = url;
						link.download = fileName;
						link.style.display = "none";

						document.body.appendChild(link);
						link.click();

						document.body.removeChild(link);
						URL.revokeObjectURL(url);
					}
				};

				xhr.send();
			},
		},
	};
</script>
<style scoped lang="scss">
	page {
		background-color: #f6f6f6;
	}

	.tabBox {
		background-color: #fff;
		padding: 20rpx 20rpx 30rpx 20rpx;
		// display: flex;
		align-items: center;
		position: fixed;
		width: 100%;
		overflow: hidden;
		 z-index: 100;

		.downIcon {
			width: 80rpx;
			padding-left: 20rpx;
		}
	}

	.materialBox {
		// padding: 32rpx 24rpx;
		// background-color: #fff;
	}

	.filterBox {
		.xian {
			// border-top: 2rpx solid #f2f3f5;
			height: 2rpx;
			background: #f2f3f5;
			margin-top: 5px;
		}
		.filterGroup {
			margin-bottom: 20rpx;
			padding: 20rpx 24rpx 0 24rpx;
		}

		.filtername {
			font-size: 24rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #626262;
			line-height: 34rpx;
		}

		.filterItem {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.subitem {
				width: 342rpx;
				height: 68rpx;
				background: #f6f6f6;
				border-radius: 12rpx;
				margin-top: 20rpx;
				font-size: 24rpx;
				font-family: PingFangSC, PingFang SC;
				font-weight: 400;
				color: #585858;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.subitemActive {
				background: rgba(180, 23, 1, 0.11);
			}
		}

		.footBtn {
			display: flex;

			.footBtnItem {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 90rpx;
				border-top: 2rpx solid #f2f3f5;
			}

			.affirm {
				background-color: #B41701;
				color: #fff;
			}
		}
	}

	::v-deep {
		.uv-popup {
			top:  calc(var(--status-bar-height) + 100rpx) !important;
		}
		.v-tabs__container-item {
			// width: 152rpx;
			// height: 52rpx;
			background-color: #f6f6f6;
			border-radius: 26rpx;
			margin-right: 40rpx;
		}

		.active {
			color: #B41701 !important;
			background-color: #fff0f0 !important;
			border-radius: 26rpx;
			font-weight: bold;
		}

		.active .v-tabs__container-item {
			background-color: transparent;
		}

		.u-slide-down-enter-active {
			top: 176rpx !important;
		}

		.u-fade-enter-active {
			top: 176rpx !important;
			z-index: 10 !important;
		}
	}
</style>