<template>
  <div class="platformModal" :style="this.$store.state.theme.presentTheme">
    <u-modal
      :show="platformModalShow"
      :title="title"
      :confirmText="$t('register.Confirm') + '' + $t('user.Switcher')"
      :cancelText="$t('register.Cancel')"
      showCancelButton
      :confirmColor="$store.state.theme.presentTheme['--theme-color']"
      @confirm="confirm"
      @cancel="cancel"
    >
      <view class="slot-content">
        <p class="info">{{ $t("user.SwitchShopInfo") }}</p>
        <view class="platformList">
          <view
            class="platformItem"
            v-for="item in platformList"
            :key="item.storeId"
            :class="item.storeId == storelevelData.storeId ? 'active' : ''"
            @click="switcherFn(item)"
          >
            <p>{{ item.storeName }}</p>
            <p class="levelName">{{ item.levelName }}</p>
          </view>
        </view>
      </view>
    </u-modal>
  </div>
</template>
<script>
import storage from "@/utils/storage.js";

export default {
  props: {
    platformModalShow: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      title: this.$t("user.SwitchShop"),
      platformList: storage.get("loginInfo").storelevelList,
      storelevelData: storage.get("storelevelData"),
    };
  },
  mounted(){
    
  },
  methods: {
    // 切换
    switcherFn(item){
       this.storelevelData=item
    },
    // 取消弹窗
    cancel() {
      this.$emit("platformModalFn", "cancel", false);
    },
    //确认弹窗
    confirm() {
      this.$emit("platformModalFn", "confirm", this.storelevelData);
    },
  },
};
</script>
<style lang="scss" scoped>
.info {
  font-size: 24rpx;
  text-align: center;
}
.platformList {
  margin-top: 20rpx;
  .platformItem {
    width: 100%;
    border: 2rpx solid #f8f8f8;
    padding: 20rpx 10rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20rpx;
    margin-bottom: 20rpx;
  }
  .active {
    border: 2rpx solid $theme-color;
  }
  .levelName {
    // width: 88rpx;
    // height: 36rpx;
    background: linear-gradient(191deg, #1a171c 0%, #53525a 100%);
    border-radius: 30rpx;
    font-size: 26rpx;
    font-family: Alibaba-PuHuiTi-H, Alibaba-PuHuiTi;
    font-weight: 600;
    padding: 0rpx 14rpx;
    color: #ffe1be;
    margin-left: 8rpx;
    // line-height: 40rpx;
  }
}
</style>