<template>
  <view
    class="floating-frame-container"
    :style="{bottom: config.bottom * 2 + 'rpx',right: config.right * 2 + 'rpx'}"
    @click="NavPush(config.link, config.type)"
    v-if="showFloating && showFloating[config.platform + '_' + config.identity]"
  >
    <uv-image
      :width="config.width * 2 + 'rpx'"
      :height="config.height * 2 + 'rpx'"
      mode="widthFix"
      :lazy-load="true"
      :src="config.img + '?imageView2/2/w/1080'"
    ></uv-image>
  </view>
</template>
<script>
// import {
//   listenLoginStateChange,
// } from "@/common/utils/util";
// import { Toast, Dialog } from "vant";
// import { checkCustomerTag } from "@/api/user";
import storage from "@/utils/storage.js";

export default {
  components: {},
  props: ["config"],
  data() {
    return {
      imageLoaded: false,
      showFloating: null,
    };
  },
  created() {
    let config = this.config;
    console.log("config--->", this.config);
  },
  mounted() {
    //监听登录状态改变事件
    // listenLoginStateChange(() => {
    //   this.initFloat();
    // });
    this.initFloat();
  },
  watch: {},
  methods: {
    // pxToRem,
    async initFloat() {
      let userInfo = storage.get("loginInfo");
      let userGroup = false;
      if (this.config.identity == "userGroup") {
        //指定用户组
        const data = await checkCustomerTag(this.config.groupId);
        if (data == true) {
          userGroup = true;
        }
      }
      let showFloating = {
        app_userGroup: userGroup ? true : false, //app端 指定用户组是否可见
        all_userGroup: userGroup ? true : false, //所有平台，指定用户组是否可见
        all_all: true, //所有平台 所有用户可见
        all_login: userInfo ? true : false, //所有平台 登录用户可见
        all_nologin: userInfo ? false : true, //所有平台 非登录用户可见
        app_all: true, //app端 所有用户可见
        app_login: userInfo ? true : false, //app端，登录用户可见 userInfo存在true，否则为false
        app_nologin: userInfo ? false : true, //app端，非登录用户可见，userInfo 不存在为true，否则为false
      };
      this.showFloating = showFloating;
    },
    NavPush(url, type) {
      this.$emit("onNavPush", url, type);
    },
    imageLoad(e) {
      this.imageLoaded = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.floating-frame-container {
  position: fixed;
  bottom: 96rpx;
  right: 0;
  width: 128rpx;
  z-index: 100;
}
</style>
