<template>
  <view class="cube-container show-page-animation">
    <view
      :class="['vertical-con', styleItem.id]"
      v-if="styleItem.type === 'vertical'"
    >
      <view class="top">
        <view
          class="img"
          v-for="(item, index) in styleItem.position.top"
          :key="index"
          @click="NavPush(item.imgItem.link, item.imgItem.type)"
          :style="{'width': (item.width*2) +'rpx', 'height': (item.height*2) + 'rpx'}"
        >
          <uv-image
            width="100%"
            class="i"
            :src="`${item.imgItem.imgUrl}?imageView2/2/w/1080`"
          />
        </view>
      </view>
      <view class="bottom">
        <view
          class="img"
          v-for="(item, index) in styleItem.position.bottom"
          :key="index"
          @click="NavPush(item.imgItem.link, item.imgItem.type)"
          :style="{'width': (item.width*2) +'rpx', 'height': (item.height*2) + 'rpx'}"
        >
          <uv-image
            width="100%"
            class="i"
            :src="`${item.imgItem.imgUrl}?imageView2/2/w/1080`"
          />
        </view>
      </view>
    </view>
    <view
      :class="['horizontal-con', styleItem.id]"
      v-if="styleItem.type === 'horizontal'"
    >
      <view class="left">
        <view
          class="img"
          v-for="(item, index) in styleItem.position.left"
          :key="index"
          @click="NavPush(item.imgItem.link, item.imgItem.type)"
          :style="{'width': (item.width*2) +'rpx', 'height': (item.height*2) + 'rpx'}"
        >
          <uv-image
            width="100%"
            class="i"
            :src="`${item.imgItem.imgUrl}?imageView2/2/w/1080`"
          />
        </view>
      </view>
      <view class="right">
        <view
          class="img"
          v-for="(item, index) in styleItem.position.right"
          :key="index"
          @click="NavPush(item.imgItem.link, item.imgItem.type)"
          :style="{'width': (item.width*2) +'rpx', 'height': (item.height*2) + 'rpx'}"
        >
          <uv-image
            width="100%"
            class="i"
            :src="`${item.imgItem.imgUrl}?imageView2/2/w/1080`"
          />
        </view>
      </view>
    </view>
    <view
    :class="['column-con', styleItem.id]"
      v-if="styleItem.type === 'column'"
    >
      <view
        class="img"
        v-for="(item, index) in styleItem.position.top"
        :key="index"
        @click="NavPush(item.imgItem.link, item.imgItem.type)"
        :style="{'width': (item.width*2) +'rpx', 'height': (item.height*2) + 'rpx'}"
      >
        <uv-image
          width="100%"
          class="i"
          :src="`${item.imgItem.imgUrl}?imageView2/2/w/1080`"
        />
      </view>
    </view>
  </view>
</template>
<script>
export default {
  components: {},
  props: ["config"],
  data() {
    return {};
  },
  created() {
    this.init();
  },
  watch: {},
  methods: {
    NavPush(link, type) {
      this.$emit("onNavPush", link, type);
    },
    init() {
      let config = this.config,
        styleItem = config.styleList.filter((v) => v.id == config.selected);
      if (styleItem && styleItem[0]) {
        styleItem = styleItem[0];
        if (styleItem.type == "vertical") {
          styleItem.position.top = styleItem.position.top.map((v, i) => {
            return {
              ...v,
              imgItem: config.imgList[i] || "",
            };
          });
          styleItem.position.bottom = styleItem.position.bottom.map((v, i) => {
            return {
              ...v,
              imgItem: config.imgList[styleItem.position.top.length + i] || "",
            };
          });
        } else if (styleItem.type == "horizontal") {
          styleItem.position.left = styleItem.position.left.map((v, i) => {
            return {
              ...v,
              imgItem: config.imgList[i] || "",
            };
          });
          styleItem.position.right = styleItem.position.right.map((v, i) => {
            return {
              ...v,
              imgItem: config.imgList[styleItem.position.left.length + i] || "",
            };
          });
        } else if (styleItem.type == "column") {
          styleItem.position.top = styleItem.position.top.map((v, i) => {
            return {
              ...v,
              imgItem: config.imgList[i] || "",
            };
          });
        }

        this.styleItem = styleItem;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.cube-container {
  width: 710rpx;
  margin: 0 auto;
  margin-top: 16rpx;
  .img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16rpx;
    .i {
      width: 100%;
    }
  }
}
.vertical-con {
  .bottom {
    margin-top: 16rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.horizontal-con {
  display: flex;
  justify-content: space-between;

  &.horizontal-1-2 {
    .left {
      .img {
        margin-top: 0 !important;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .img:nth-last-child(1) {
        margin-top: 0px;
      }
    }
  }
  .left {
    // display: flex;
    // align-items: center;
    // justify-content:space-between;

    .img:nth-last-child(1) {
      margin-top: 16rpx;
    }
  }
  .right {
    .img:nth-last-child(1) {
      margin-top: 16rpx;
    }
  }
}

.column-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
