<template>
  <view :class="['list-nav-container', 'show-page-animation', pageConfig.style]">
    <uv-sticky :offset-top="headerHeight - 2">
      <view :class="['scroll-view-container']" :style="{ 'background-color': pageConfig.bgColor || '' }">
        <view class="gap-bg" :style="{ 'background-color': fixed ? pageConfig.bgColor : '' }"></view>
        <view class="scroll-view" ref="scroll_view" @scroll="onScroll">
          <view class="list clearfix" :style="{ 'width': listConWidth + 'px' }">
            <view :class="['item', currentTab == index ? 'active' : '']" v-for="(item, index) in config.nav" :key="index"
              :ref="'item_' + index" @click="changeTab(index)">
              <p class="text">{{ item.title }}</p>
            </view>
          </view>
        </view>
      </view>
    </uv-sticky>
    <mescroll-body @init="mescrollInit" @down="downCallback" @up="upCallback" :down="{ use: false }">
      <view class="product-list clearfix">
        <view class="block" v-if="listStyle.selected == 'card'">
          <view class="left" v-if="leftList.length">
            <view class="item" v-for="(item, index) in leftList" :key="index">
              <goods-card class="card" :data="item"></goods-card>
            </view>
          </view>
          <view class="right" v-if="rightList.length">
            <view class="item" v-for="(item, index) in rightList" :key="index">
              <goods-card class="card" :data="item"></goods-card>
            </view>
          </view>
        </view>
        <view class="block" v-else>
          <view class="item" v-for="(item, index) in list" :key="index">
            <goods-card class="card" :type="listStyle.selected" :data="item"></goods-card>
          </view>
        </view>
      </view>
    </mescroll-body>
  </view>
</template>
<script>
import goodsCard from "@/components/goods-card/goods-card.vue";
import { getUrlQuery } from "@/utils/util";
import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";

export default {
  mixins: [MescrollMixin],
  components: {
    "goods-card": goodsCard,
  },
  props: ["config", "scrollTop", "headerHeight", "pageConfig"],
  data() {
    return {
      holderImg: "", //require("@/assets/images/logo.png"),
      listConWidth: 10000,
      progress: 0,
      currentTab: 0,
      current: 0,
      list: [],
      // noMore: false,
      // noData: false,
      // loading: false,
      fixed: false,
      listStyle: "",
      noDataLabel: {
        en: "No relevant products",
        "zh-CN": "暂无相关商品",
        "zh-TW": "暫無相關商品",
      },
      language: "", //getAcceptLanguage()
      leftList: [],
      rightList: [],
    };
  },

  mounted() {
    this.init();
  },
  watch: {},
  methods: {
    NavPush(link, type) {
      this.$emit("onNavPush", link, type);
    },
    init() {
      console.log("headerHeight", this.headerHeight);
      this.listStyle = this.config.listStyle
        ? this.config.listStyle
        : { selected: "card" };
      let eleOffset = this.$refs["item_" + (this.config.nav.length - 1)];
      if (eleOffset && !eleOffset[0]) {
        eleOffset = eleOffset;
      } else {
        eleOffset = eleOffset ? eleOffset[0] : {};
      }
      this.listConWidth = eleOffset.offsetLeft + eleOffset.offsetWidth;
    },
    changeTab(index) {
      if (index != this.currentTab) {
        this.current = 0;
        this.currentTab = index;
        this.list = {};
        this.leftList = [];
        this.rightList = [];
        this.mescroll.resetUpScroll();
      }
    },
    /*上拉加载的回调*/
    async upCallback(page) {
      console.log("上拉加载的回调");
      let pageNum = page.num - 1; // 页码, 默认从1开始
      let pageSize = 100; //page.size; // 页长, 默认每页10条
      let param = {};
      if (this.config.nav[this.currentTab].data_type === "list") {
        param = {
          ids: this.config.nav[this.currentTab].goodsIds.join(","),
          restrictionType: "Product",
          exclude: false,
          page: pageNum,
          size: pageSize,
        };
      } else {
        let linkQuery = getUrlQuery(
          "?" + this.config.nav[this.currentTab].link
        );
        param = {
          page: pageNum,
          size: pageSize,
          ...linkQuery,
        };
      }

      let res = await this.$api.productSearch(param);
      if (res.data.content.length > 0) {
        let curPageData = res.data.content;
        let curPageLen = curPageData.length; // 接口返回的当前页数据长度
        let totalPage = res.data.totalPages; // 接口返回的总页数
        if (page.num == 1) this.list = []; //如果是第一页需手动置空列表
        this.list = this.list.concat(curPageData); //追加新数据
        this.leftList = this.list.filter((l, i) => i % 2 == 0);
        this.rightList = this.list.filter((R, i) => i % 2 !== 0);
        // 请求成功,隐藏加载状态
        //方法一(推荐): 后台接口有返回列表的总页数 totalPage
        this.mescroll.endByPage(curPageLen, totalPage);
      } else {
        this.mescroll.endErr();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
page {
  background-color: #f6f6f6;
}


 .list-nav-container {
  .list {
    .item {
      &.active {
        &::after {
          background: #fff;
        }

        .text {
          color: #fff;
        }
      }

      .text {
        color: #fff;
      }
    }

    :deep(.van-list__finished-text) {
      color: #fff !important;
    }

    :deep(.van-empty__description) {
      color: #fff !important;
    }

    :deep(.van-loading__spinner--circular) {
      color: #fff !important;
    }

    :deep(.van-van-loading__text) {
      color: #fff !important;
    }
  }

  .scroll-view-container {
    padding: 0 9px;
    position: sticky;
    // &.fixed{
    //   position:fixed;
    //   left:0;
    //   width: 100%;
    //   top:80px;
    //   z-index: 3;
    //   background: #f5f7fa;
    //   box-shadow: 4px 4px 10px rgba(0,0,0,0.02);
    //   .gap-bg{
    //     position:absolute;
    //     top:-2px;
    //     height: 4px;
    //     width: 374px;
    //     left:0;
    //   }
    // }
  }

  .scroll-view {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .holder-scroll {
    height: 76rpx;
    width: 100%;
  }

  .list {
    min-width: 750rpx;
    overflow: hidden;
    height: 76rpx;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 32rpx;
      float: left;
      height: 76rpx;
      padding-top: 16rpx;
      box-sizing: border-box;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      &.active {
        padding-top: 12rpx;

        &::after {
          content: "";
          width: 24rpx;
          height: 6rpx;
          background: $theme-color;
          border-radius: 4rpx;
        }

        .text {
          font-size: 32rpx;
          font-weight: bold;
          color: $theme-color;
          line-height: 50rpx;
        }
      }

      .text {
        font-size: 28rpx;
        color: #a3a3aa;
        line-height: 44rpx;
      }
    }
  }

  :deep(.van-list) {
    min-height: 100vh;
  }

  .product-list {
    padding: 0 18rpx;
    margin-top: 16rpx;
    // display: flex;
    // width: 100%;
    // height: auto;
    // box-sizing: border-box;
    // justify-content: space-between;

    .block {}

    .left {
      float: left;

      // flex: 1;
    }

    .right {
      float: right;
      flex: 1;
    }
  }
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
