<template>
  <view class="tab-nav-container show-page-animation">
    <view class="scroll-view" ref="scroll_view" @scroll="onScroll">
      <view class="list clearfix">
        <view
          class="item"
          v-for="(item, index) in config.nav"
          :key="index"
          @click="NavPush(item.link, item.type)"
        >
          <view class="img">
            <uv-image
              width="100%"
              mode="widthFix"
              :src="item.img ? item.img + '?imageView2/2/w/400' : holderImg"
             
            />
          </view>
          <p class="txt text-1" :style="{'color': config.set.font_color}">
            {{ item.title }}
          </p>
        </view>
      </view>
    </view>

    <!-- <view class="progress-con">
      <view class="progress">
        <p class="w" :style="`width:${progress}%`"></p>
      </view>
    </view> -->
    <view class="hidden-item" ref="hidden_item"></view>
  </view>
</template>
<script>
// import { jumpTo, NavPush, GoBack } from "@/common/utils/util";

export default {
  components: {},
  props: ["config"],
  data() {
    return {
      holderImg:'' ,// require("@/assets/images/logo.png"),
      listConWidth: 1000,
      progress: 0,
    };
  },

  mounted() {
    this.init();
  },
  watch: {},
  methods: {
    NavPush(link, type) {
      this.$emit("onNavPush", link, type);
    },
    init() {
      let eleOffset = this.$refs.hidden_item,
        scrollViewOffset = this.$refs.scroll_view,
        itemWidth = eleOffset.offsetWidth,
        itemRight = eleOffset.offsetHeight,
        screenWidth = window.screen.width;
      this._scrollViewWidth = scrollViewOffset.offsetWidth;
      this.listConWidth = this.config.nav.length * (itemWidth + itemRight) + 6;
      this.computeProgress();
    },
    onScroll(e) {
      this._scrollLeft = e.srcElement.scrollLeft;
      this.computeProgress();
    },
    computeProgress() {
      this.progress =
        (
          ((this._scrollLeft || 0) + this._scrollViewWidth) /
          this.listConWidth
        ).toFixed(2) * 100;
    },
  },
};
</script>

<style lang="scss" scoped>
.tab-nav-container {
  margin-top: 16rpx;
  .scroll-view {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .list {
    padding: 0px 20rpx;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    .item {
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40rpx;
      float: left;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      .img {
        // border-radius:50%;
        overflow: hidden;
        margin-bottom: 8rpx;
        width: 100rpx;
        height: 100rpx;
        :deep(.van-image) {
          display: flex;
          align-items: center;
          height: 100%;
          .van-image__img {
          }
        }
      }
      .txt {
        font-size: 24rpx;
        color: #797a80;
        line-height: 34rpx;
        max-width: 120rpx;
        margin-top: 4rpx;
      }
    }
  }
  .progress-con {
    display: flex;
    justify-content: center;
    margin-top: 16rpx;
    margin-bottom: 16rpx;
    .progress {
      width: 32rpx;
      height: 4rpx;
      border-radius: 2rpx;
      position: relative;
      background: #d0d0d6;
      .w {
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
        height: 4rpx;
        border-radius: 2rpx;
        background-color: $theme-color;
      }
    }
  }
  .hidden-item {
    width: 100rpx;
    height: 40rpx;
    position: fixed;
    left: -120vw;
    top: 0;
  }
}
</style>
