<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<view class="information">
			<view class="particulars">
				<uv-image :src="
            userInfo && userInfo.avatar
              ? userInfo.avatar
              : '/static/images/my/mine_def_touxiang_3x.png'
          " class="particulars-photo" height="120rpx" width="120rpx" shape="circle" mode="aspectFill"></uv-image>
				<view class="particulars-info">
					<view class="topInfo">
						<view class="name" v-if="$store.getters.xTenant">{{
              userInfo.nickname || userInfo.name
            }}</view>
						<view class="name" v-else>{{ userInfo.name }}</view>
						<!-- <view
              class="levelName"
              v-if="levelBusiness && levelBusiness.levelName"
              >{{ levelBusiness.levelName }}</view
            > -->
					</view>
					<view class="footInfo" @click="!!userInfo.isPop && (historicalPlatformShow = true)">
						<div class="mobile" v-if="userInfo.phone">
							<span><uv-icon class="phone" size="14" color="#2e2e2e"
									name="phone"></uv-icon></span>:{{ userInfo.phone }}
						</div>
						<view style="color: #b41701; display: flex; margin-left: 24rpx"
							v-if="userInfo.authorizationCode">
							<text>{{ $t("invite.AuthorizationID") }}:{{
                  userInfo.authorizationCode
                }}</text>
							<uv-icon color="#b41701" size="12" name="arrow-right"></uv-icon>
						</view>
						<uv-image src="/static/images/index/copy.png" height="28rpx" width="28rpx" mode="aspectFill"
							@click="copyBtn(userInfo.authorizationCode)"></uv-image>
					</view>
					<view class="leveBox">
						<view class="leveItem" v-for="(item, index) in userInfo.storelevelList" :key="index">
							<view v-if="item.isDistributor" class="levelName" :style="'background:' + item.logoColor">
								<uv-image :src="item.logoPath" height="24rpx" width="24rpx"
									style="margin-left: 2rpx"></uv-image>
								<text style="margin-left: 6rpx">{{ item.levelName }}</text>
							</view>
						</view>
					</view>
				</view>
			</view>
			<view class="balance" v-if="balance && userInfo.isDistributor">
				<view class="balance-item" v-for="balanceItem in balance" :key="balanceItem.accountType"
					@click="paymentGoTo(balanceItem.accountType)">
					<view class="topMoney">
						{{ currency(balanceItem.amount) }}
					</view>
					<view class="footInfo">
						{{ $t(`Payment.${balanceItem.accountType}`) }}
					</view>
				</view>
			</view>
		</view>
		<!-- <template v-if="isToday">
      <view
        class="remind"
        v-if="userInfo.isDistributor && !$store.getters.xTenant"
      >
        <uv-notice-bar
          fontSize="23"
          text="充值福利活动倒计时1天！再享砸金蛋，豪礼送不停！"
          @click="noticeGoto2"
        ></uv-notice-bar>
      </view>
    </template> -->
		<template>
			<view class="remind" v-if="NoticeBar.NoticeBarShow">
				<uv-notice-bar fontSize="23" :text="NoticeBar.text" :url="NoticeBar.url"
					:linkType="NoticeBar.type ? '' : 'navigateTo'" mode="link" @click="noticeGoto"></uv-notice-bar>
			</view>
		</template>
		<!-- <view class="remind" v-if="NoticeBar.NoticeBarShow">
      <uv-notice-bar
        fontSize="23"
        :text="NoticeBar.text"
        :url="NoticeBar.url"
        :linkType="NoticeBar.type ? '' : 'navigateTo'"
        mode="link"
        @click="noticeGoto"
      ></uv-notice-bar>
    </view> -->
		<view class="order" v-if="userInfo.isDistributor">
			<view class="orderItem" v-for="item in orderData" :key="item.id" @click="orderGoTo(item)">
				<view class="orderIcon">
					<uv-image :src="item.icon" class="particulars-photo" height="60rpx" width="60rpx"></uv-image>
				</view>
				<view class="orderInfo">{{ $t(item.info) }}</view>
				<view class="count" v-if="item.count">
					<uv-badge :bgColor="$store.state.theme.presentTheme['--theme-color']" max="99"
						:value="item.count"></uv-badge>
				</view>
			</view>
		</view>

		<!-- 广告位 -->
		<view class="swiper-wrapper" v-if="!$store.getters.xTenant && bannerData.length > 0">
			<uv-swiper :autoplay="true" indicator indicatorMode="line" circular radius="6" height="90" class="swipeImg"
				:list="bannerData" keyName="picture" @click="clickBanner"></uv-swiper>
		</view>

		<view class="commonFunction" v-if="userInfo.isDistributor">
			<view class="title">{{ $t("home.DealerFnctions") }}</view>
			<view class="functionList">
				<uv-grid :border="false" :col="4">
					<template v-for="(baseListItem, baseListIndex) in list">
						<uv-grid-item :key="baseListIndex" @click="clickTo(baseListItem)"
							v-if="baseListItem.signDisplayed">
							<template v-if="baseListItem.name">
								<uv-icon :customStyle="{ paddingTop: 20 + 'rpx' }" :name="baseListItem.name" :size="60"
									:color="$store.state.theme.presentTheme['--theme-color']"></uv-icon>
							</template>
							<template v-if="baseListItem.iconUrl">
								<uv-image :src="baseListItem.iconUrl" class="ommonItemIconUrl" height="60rpx"
									width="60rpx" shape="circle">
								</uv-image>
							</template>

							<text class="grid-text">{{ $t(baseListItem.title) }}</text>
						</uv-grid-item>
					</template>
				</uv-grid>
			</view>
		</view>

		<view class="commonFunction">
			<view class="title">{{ $t("home.CommonFunctions") }}</view>
			<view class="functionList">
				<uv-grid :border="false" :col="4">
					<template v-for="(ommonItem, ommonIndex) in commonList">
						<uv-grid-item :key="ommonIndex" @click="commonClickTo(ommonItem)"
							v-if="ommonItem.signDisplayed">
							<template v-if="ommonItem.name">
								<uv-icon :customStyle="{ paddingTop: 20 + 'rpx' }" :name="ommonItem.name" :size="60"
									:color="$store.state.theme.presentTheme['--theme-color']"></uv-icon>
							</template>
							<template v-if="ommonItem.iconUrl">
								<uv-image :src="ommonItem.iconUrl" class="ommonItemIconUrl" height="60rpx" width="60rpx"
									shape="circle">
								</uv-image>
							</template>
							<text class="grid-text">{{ $t(ommonItem.title) }}</text>
						</uv-grid-item>
					</template>
				</uv-grid>
			</view>
		</view>
		<ScanQRCode v-if="!$store.getters.xTenant" :titleNot="true"></ScanQRCode>
		<LangSwitch :titleNot="true" @switchLanguageChange="switchLanguageChange"></LangSwitch>
		<uv-popup :show="popupShow" mode="right" @close="close" :closeable="true" :closeOnClickOverlay="true">
			<view class="popupList">
				<uni-list class="listBox">
					<uni-list-item showArrow clickable @click="goTo('/pages/login/modifyPhone')" :title="'修改绑定手机'" />
				</uni-list>
				<u-button class="popupBtn" type="primary" :text="$t('home.logOut')" @click="logOut"></u-button>
			</view>
		</uv-popup>
		<uv-popup ref="popup" mode="bottom" background-color="#fff">
			<div class="picker-title">
				<div class="picker-cancel" @click="cancelEvent">
					{{ $t("register.Cancel") }}
				</div>
				<div class="picker-confrim" @click="confrimEvent">
					{{ $t("register.Confirm") }}
				</div>
			</div>
			<!-- <u-divider
        style="font-weight: bold"
        textSize="28rpx"
        v-if="storelevelData.storeName"
        :text="storelevelData.storeName"
      ></u-divider> -->

			<picker-view v-if="levelBusinessVisible" :indicator-style="indicatorStyle" :value="levelBusinessValue"
				@change="bindChange" class="picker-view">
				<picker-view-column>
					<view class="item" v-for="(item, index) in this.$store.getters.xTenant
              ? levelBusinessList
              : levelBusinessList.filter((x) => x.levelType !== 'Store')" :key="index">
						<text>{{ item.levelName }}</text>
					</view>
				</picker-view-column>
				<picker-view-column>
					<view class="item" v-for="(itemx, indexs) in brandByInviteList" :key="indexs">{{ itemx.storeName }}
					</view>
				</picker-view-column>
			</picker-view>
		</uv-popup>
		<bindingPhone v-if="showFlag" :showFlag="showFlag" @changShowFlag="changShowFlag"></bindingPhone>
		<!-- <platformModal
      v-if="platformModalShow"
      :platformModalShow="platformModalShow"
      @platformModalFn="platformModalFn"
    ></platformModal> -->
		<m-tabbar v-if="$store.getters.xTenant" fixed fill current="2" :tabbar="tabbar"></m-tabbar>
		<uv-modal width="582rpx" @confirm="historicalPlatformShow = false" class="historicalPlatformBox"
			:show="historicalPlatformShow" :title="historicalPlatformTitle">
			<view class="slot-content">
				<ul class="historicalPlatformUl">
					<li v-for="(item, index) in historicalPlatformList" :key="index"
						:class="index % 2 === 0 ? 'listStyle1' : 'listStyle2'">
						<span>{{ item.storeName }}</span>
						<span class="b">{{ item.code }}</span>
					</li>
				</ul>
			</view>
		</uv-modal>
		<!-- 马来联系客服弹窗 -->
		<uv-popup :show="malaysiaServiceShow" mode="center" :round="10" :closeable="true"
			@open="malaysiaServiceShow = true" @close="malaysiaServiceShow = false">
			<view class="malaysiaServiceBox">
				<br />
				<view class="info"> MERIRIGE INTERNATIONAL SDN. BHD. (1530776-K) </view>
				<br />
				<view class="info">
					{{ $t("user.Email") }}：<a href="mailto:cs@merrige.co">cs@merrige.co</a>
				</view>
				<br />
				<view class="info">{{ $t("user.Address") }}： Unit No 41-­2, The Boulevard Mid Valley
					City, Lingkaran Syed Putra Utara 59200 Kuala Lumpur
				</view>
				<br />
				<view class="info">
					{{ $t("user.Contact") }}：
					<a href="tel:+60 12-271 3149">+60 12-271 3149 </a>
				</view>
			</view>
			<br />
		</uv-popup>
		<!-- 强制免密模态框 -->
		<uv-modal :show="withholdingShow" title="签约免密代扣提示" content="为保证业务合规化开展，需要您签约连连免密代扣" confirmText="前往签约"
			:confirmColor="$store.state.theme.presentTheme['--theme-color']" @confirm="withholdingConfirm" @close="
        () => {
          withholdingShow = false;
        }
      " :closeOnClickOverlay="true"></uv-modal>
		<!-- 中康保证金转货款弹窗 -->
		<uv-popup :show="zhongkangUpgradeShow" class="zhongkangUpgradePopup" mode="center" :round="10" :closeable="true"
			:overlayOpacity="0.6" @open="zhongkangUpgradeShow = true" @close="zhongkangUpgradeShow = false">
			<view class="zhongkangUpgrade" @click="zhongkangUpgradeGo">
				<view class="info">
					<template v-if="zhongkangUpgradeData.type == 1">
						<p>邀请您成为</p>
						<p>
							中康 <span class="ide">{{ zhongkangUpgradeData.text }}</span>经销商
						</p>
					</template>
					<template v-if="zhongkangUpgradeData.type == 2">
						<p>恭喜您，可将中</p>
						<p>康维护金转为货款</p>
					</template>
				</view>
			</view>
		</uv-popup>
		<!-- 6s强制认证密码 -->
		<ForceOpen></ForceOpen>
	</view>
</template>
<script>
	import LangSwitch from "@/components/LangSwitch/LangSwitch";
	import ScanQRCode from "@/components/ScanQRCode/index";
	import ForceOpen from "@/components/forceOpen/index";

	import {
		applicationDetail,
		businessLevelAll,
		businessLevel,
		brandByInvite,
	} from "@/config/vmeitime-http/register.js";
	import {
		customerInfo,
		customerServiceUrl,
		applyAuth,
		additionalState,
		getCustomerAppliedTwoInfo,
		getBanner,
		getZkUpgradePopInfo,
		summaryByAccount,
		getSignAuthUrl,
		flowStatus
	} from "@/config/vmeitime-http/index.js";
	import {
		mapMutations
	} from "vuex";
	import storage from "@/utils/storage.js";
	import {
		purchaseOrderCount
	} from "@/config/vmeitime-http/order.js";
	import {
		currency
	} from "@/utils/util.js";
	import TabbarConfig from "@/config/tabbar.js";
	import bindingPhone from "@/components/bindingPhone";
	import platformModal from "@/components/platformModal";
	import dayjs from "dayjs";
	import uniCopy from "@/utils/uni-copy.js";
	import {
		i18n
	} from '@/main.js'

	export default {
		components: {
			LangSwitch,
			bindingPhone,
			platformModal,
			ScanQRCode,
			ForceOpen,
		},
		computed: {
			// ...mapGetters(['presentTheme'])
		},
		data() {
			return {
				bannerData: [],
				bannerlist: [],
				historicalPlatformShow: false,
				historicalPlatformTitle: "历史平台授权码",
				currency,
				tabbar: TabbarConfig(this),
				indicatorStyle: `height: 50px;`,
				RegionIndex: [0, 0],
				levelBusinessList: [],
				levelBusinessValue: [0],
				historicalPlatformList: storage.get("loginInfo")?.storelevelList || [],
				list: [
					//采购订货
					{
						iconUrl: require("@/static/images/index/PurchaseOrderPlacement.png"),
						title: "home.PurchaseOrderPlacement",
						id: "PurchaseOrderPlacement",
						toUrl: '/pagesA/goods/goodsClassify',
						signDisplayed: true,
					},
					//辅料下单
					{
						iconUrl: require("@/static/images/index/ingredients.png"),
						title: "home.accessories",
						id: "accessories",
						toUrl: `/pagesA/goods/goodsClassify?productType=Related`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//组合商品
					{
						iconUrl: require("@/static/images/index/combinedCommodity.png"),
						title: "goods.combinedCommodity",
						id: "combinedCommodity",
						toUrl: `pages/goods/combinedCommodity&title=${i18n.t('goods.combinedCommodity')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//邀请用户
					{
						iconUrl: require("@/static/images/index/inviteUsers.png"),
						title: "home.inviteUsers",
						id: "inviteUsers",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},

					//我的收益
					{
						iconUrl: require("@/static/images/index/myEarnings.png"),
						title: "myEarnings.title",
						id: "myEarnings",
						toUrl: this.$store.getters.xTenant ?
							"/pages/account/myEarnings" : "/pages/home/defaultPage?type=myEarnings",
						signDisplayed: true,
					},

					// 国内充值
					{
						iconUrl: require("@/static/images/index/recharge.png"),
						title: "recharge.title",
						id: "recharge",
						toUrl: "/pagesA/account/recharge",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//我的提现
					{
						iconUrl: require("@/static/images/index/Withdraw.png"),
						title: "Withdraw.title",
						id: "Withdraw",
						toUrl: "/pagesA/account/earningsManage/myWallet",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//马来西亚充值
					{
						iconUrl: require("@/static/images/index/recharge.png"),
						title: "recharge.title",
						id: "malaysiaRecharge",
						toUrl: "/pages/account/malaysiaRecharge",
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					// 我的仓库
					{
						iconUrl: require("@/static/images/index/myWarehouse.png"),
						title: "myWarehouse.title",
						id: "myWarehouse",
						toUrl: `pages/myWarehouse/index&title=${i18n.t('myWarehouse.title')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//我的团队
					{
						iconUrl: require("@/static/images/index/my-team-icon@2x.png"),
						title: "myTeam.title",
						id: "myTeam",
						toUrl: "/pages/my-team/list",
						signDisplayed:
							!this.$store.getters.xTenant &&
							storage.get("loginInfo")?.storelevelList.some((i) => i.levelId == 1) ?
							true : false,
					},
					// 直升权益
					{
						iconUrl: require("@/static/images/index/upgradeInterest.png"),
						title: "upgradeInterest.title",
						id: "upgradeInterest",
						toWebview: true,
						toUrl: `pages/activities/upgradeInterest/list&title=${i18n.t('upgradeInterest.title')}`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},

					//实体门店
					{
						iconUrl: require("@/static/images/index/physicalStore.png"),
						title: "store.physicalStore",
						id: "physicalStore",
						toUrl: "/pagesA/storeManagement/physicalStore",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},

					// 美二代绑定
					{
						iconUrl: require("@/static/images/index/sendOrder@2x.png"),
						title: "uSSecondGeneration.binding",
						id: "uSSecondGeneration",
						toWebview: true,
						toUrl: `pages/usgBind/meiErDaiList&title=${i18n.t('med.detal')}`,
						signDisplayed: storage.get("loginInfo")?.isAllBrand === true ? true : false,
					},
					//拜访评价
					{
						iconUrl: require("@/static/images/index/visitEvaluation.png"),
						title: "visitEvaluation.title",
						id: "visitEvaluation",
						toWebview: true,
						toUrl: `pages/visitEvaluation/shopTourHistory&title=${i18n.t('visitEvaluation.title')}`,
						signDisplayed:
							!this.$store.getters.xTenant &&
							storage.get("loginInfo")?.storelevelList.some((i) => i.levelId == 1) ?
							true : false,
					},
					//培训中心
					{
						iconUrl: require("@/static/images/index/trainingCenter.png"),
						title: "trainingCenter.title",
						id: "trainingCenter",
						toWebview: true,
						toUrl: `pages/trainingCenter/index&title=${i18n.t('trainingCenter.title')}`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//积分兑换
					{
						iconUrl: require("@/static/images/index/creditsExchange.png"),
						title: "creditsExchange.title",
						id: "creditsExchange",
						toUrl: "/pages/home/webView?type=excharge",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//邀请列表
					{
						iconUrl: require("@/static/images/index/myInvitation.png"),
						title: "invite.inviteList",
						id: "myInvitation",
						toWebview: true,
						toUrl: this.$store.getters.xTenant ?  `pages/invite/teamReward&title=${i18n.t('invite.inviteList')}` : `pages/invite/inviteList&title=${i18n.t('invite.inviteList')}`,
						signDisplayed: true,
					},

					//授权证书
					{
						iconUrl: require("@/static/images/index/certificateAuthorization.png"),
						title: "certificateAuthorization.title",
						id: "certificateAuthorization",
						toUrl: "/pages/home/defaultPage",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//物料下载
					{
						iconUrl: require("@/static/images/index/materialDownload.png"),
						title: "home.materialDownload",
						id: "materialDownload",
						toUrl: "/pagesA/account/materialDown",
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},

					// 划转金额
					// {
					//   iconUrl: require("@/static/images/index/AmountTransferred.png"),
					//   title: "amountTransferred.title",
					//   id: "amountTransferred",
					//   toUrl: "/pages/account/amountTransferred",
					//   signDisplayed: this.$store.getters.xTenant ? false : true,
					// },
					// 我要投诉
					{
						iconUrl: require("@/static/images/index/complaint.png"),
						title: "complaint.title",
						id: "complaint",
						toUrl: `pages/complaint/index&title=${i18n.t('complaint.index')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
					//素材中心
					{
						iconUrl: require("@/static/images/index/material.png"),
						title: "pages.material",
						id: "material",
						toUrl: '/pagesA/material/index',
						signDisplayed: true,
					},
					// 经销商须知
					{
						iconUrl: require("@/static/images/index/notice.png"),
						title: "document.notice",
						id: "notice",
						toUrl: `pages/document/notice&title=${i18n.t('document.notice')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},

				

					// 账号与安全
					{
						iconUrl: require("@/static/images/index/accountSecurity.png"),
						title: "accountSecurity.title",
						id: "accountSecurity",
						toWebview: true,
						toUrl: `pages/account/accountSecurity/index&title=${i18n.t('accountSecurity.title')}`,
						signDisplayed: this.$store.getters.xTenant ? false : true,
					},
				],
				commonList: [
					//邀请用户
					{
						iconUrl: require("@/static/images/index/inviteUsers.png"),
						title: "home.inviteUsers",
						id: "inviteUsers",
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					//升级申请
					{
						iconUrl: require("@/static/images/index/inviteUsersIcon.png"),
						title: "home.upgradeApplication",
						id: "upgradeApplication",
						signDisplayed: true,
					},
					//我的邀请人
					{
						iconUrl: require("@/static/images/index/Myinviter.png"),
						title: "invite.Myinviter",
						id: "Myinviter",
						toUrl: `pages/invite/myInvite&title=${i18n.t('invite.Myinviter')}`,
						toWebview: true,
						signDisplayed: true,
					},
					//隐私政策
					{
						iconUrl: require("@/static/images/index/policyIcon.png"),
						title: "home.PrivacyPolicy",
						id: "PrivacyPolicy",
						toUrl: `pages/document/policy&type=PrivacyPolicy&title=${i18n.t('home.PrivacyPolicy')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					//运输政策
					{
						iconUrl: require("@/static/images/index/ShippingPolicyIcon.png"),
						title: "home.ShippingPolicy",
						id: "ShippingPolicy",
						toUrl: `pages/document/policy&type=ShippingPolicy&title=${i18n.t('home.ShippingPolicy')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					//退货和退款政策
					{
						iconUrl: require("@/static/images/index/ReturnRefundPolicyIcon.png"),
						title: "home.ReturnRefundPolicy",
						id: "ReturnRefundPolicy",
						toUrl: `pages/document/policy&type=ReturnRefundPolicy&title=${i18n.t('home.ReturnRefundPolicy')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					//服务条款和条件
					{
						iconUrl: require("@/static/images/index/TermsAndConditionsIcon.png"),
						title: "home.TermsAndConditions",
						id: "TermsAndConditions",
						toUrl: `pages/document/policy&type=TermsAndConditions&title=${i18n.t('home.TermsAndConditions')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					//关于美人计
					{
						name: "info",
						title: "home.about",
						id: "about",
						toUrl: `pages/document/about&title=${i18n.t('home.about')}`,
						toWebview: true,
						signDisplayed: this.$store.getters.xTenant ? true : false,
					},
					//反馈建议
					{
						iconUrl: require("@/static/images/index/feedback.png"),
						title: "feedback.title",
						id: "feedback",
						toUrl: "/pages/home/defaultPage",
						signDisplayed: true,
					},
					//帮助中心
					{
						iconUrl: require("@/static/images/index/helpCenter.png"),
						title: "helpCenter.title",
						id: "helpCenter",
						toUrl: "/pages/home/defaultPage",
						signDisplayed: true,
					},
					//联系客服
					{
						iconUrl: require("@/static/images/index/service.png"),
						title: "service.title",
						id: "service",
						signDisplayed: true,
					},
					//设置
					{
						// name: "setting-fill",
						iconUrl: require("@/static/images/index/setting.png"),
						title: "user.setting",
						id: "setting",
						toUrl: "/pages/user/setting",
						signDisplayed: true,
					},
				],
				//订单数据
				orderData: [{
						icon: "/static/images/order/PendingReview.png",
						info: "order.PendingReview",
						id: "ToBePaid",
						count: 0,
					},
					{
						icon: "/static/images/order/FrontShipping.png",
						info: "order.FrontShipping",
						id: "FrontShipping",
						count: 0,
					},
					{
						icon: "/static/images/order/Shipped.png",
						info: "order.Shipped",
						id: "Shipped",
						count: 0,
					},
					{
						icon: "/static/images/order/Finished.png",
						info: "order.Finished",
						id: "Finished",
					},
					{
						icon: "/static/images/order/All.png",
						info: "order.All",
						id: "All",
					},
				],
				popupShow: false,
				userInfo: storage.get("loginInfo"),
				storelevelData: this.$store.getters.storelevelData,
				levelBusiness: "",
				levelBusinessVisible: true,
				balance: {},
				businessLevelAvailableList: [],

				showFlag: false,
				platformModalShow: false,
				brandByInviteList: [],

				customerInfoData: null,
				additionalStateData: null,

				NoticeBar: {
					NoticeBarShow: false,
					text: "",
					url: "",
					type: "",
				},
				flowRequest: "",
				urlH: process.env.NODE_ENV == "development" ? "/#" : "/H5/index.html#",
				isToday: false,
				malaysiaServiceShow: false,
				withholdingShow: false,
				zhongkangUpgradeShow: false,
				zhongkangUpgradeData: {
					type: 2,
					text: "6s",
					zkCashAmount: 2000,
				},
			};
		},
		onLoad(options) {
			this.$store.dispatch("getUserInfo").then(() => {
				this.userInfo = storage.get("loginInfo");
				console.log("this.userInfo", this.userInfo);
				if (this.userInfo?.phone) {
					this.showFlag = false;
					// this.customerInfoFn()
					// if (!this.$store.getters.xTenant) {
					//   // 国内系统强制去认证页面
					//   this.authentication();
					// }
				} else {
					//未绑定手机号强制弹窗绑定
					this.showFlag = true;
				}
				this.getBusinessLevel();
				// this.businessLevelAvailable();
				this.summaryByAccountFn();
				this.purchaseOrderCountFn();
				this.brandByInviteFn();
				this.customerAppliedTwoInfo();
				if (!this.$store.getters.xTenant) {
					this.additionalStateFn();
				}
				this.getBannerFn();
				// this.customerInfoFn();
			});
		},
		onShow() {
			this.userInfo = storage.get("loginInfo");

			// 设定需要判断的特定日期，格式为YYYY-MM-DD
			const specificDate = "2024-04-30";

			// 获取当前时间
			const now = dayjs();

			// 获取特定日期的实例
			const dateToCheck = dayjs(specificDate);

			// 判断当前时间是否为特定日期
			this.isToday = now.isSame(dateToCheck, "day");

			console.log(`当前时间是否在${specificDate}：`, this.isToday);
		},
		methods: {
			...mapMutations(["LOGIN_USERINFO", "STORE_LEVEDATA"]),

			// 点击banner
			clickBanner(index) {
				let data = this.bannerData[index];
				// 1 H5链接 3 商品详情 4 经销商文章
				if (data.linkType === 1 && data.linkUrl) {
					window.location.href = data.linkUrl;
					// let pageId = data.linkUrl.substr(data.linkUrl.indexOf("pageId=") + 7);
					// if (pageId) {
					//   uni.navigateTo({
					//     url: "/pages/home/h5Link?pageId=" + pageId,
					//   });
					// }
				} else if (data.linkType === 3 && data.linkUrl) {
					uni.navigateTo({
						url: "/pages/goods/goodsDetail?id=" + data.linkUrl,
					});
				} else if (data.linkType === 4 && data.linkUrl) {
					uni.navigateTo({
						url: "/pages/document/noticeParticulars?id=" + data.linkUrl,
					});
				}
			},

			//获取地址栏里（value）传递的参数
			GetRequest(path, value) {
				//url例子：www.bicycle.com?id="123456"&Name="bicycle"；
				var url = decodeURI(path.search); //?id="123456"&Name="bicycle";
				console.log(url);
				var object = {};
				if (url.indexOf("?") != -1) {
					//url中存在问号，也就说有参数。
					var str = url.substr(1); //得到?后面的字符串
					var strs = str.split("&"); //将得到的参数分隔成数组[id="123456",Name="bicycle"];
					for (var i = 0; i < strs.length; i++) {
						object[strs[i].split("=")[0]] = strs[i].split("=")[1];
					}
				}
				return object[value];
			},

			// 获取广告位
			getBannerFn() {
				getBanner().then((res) => {
					if (res.data && res.data.length > 0) {
						console.log(res.data);
						this.bannerData =
							res.data.length > 9 ? res.data.slice(0, 9) : res.data;
						this.bannerlist = res.data.map((item) => {
							return item.picture;
						});
					}
				});
			},
			// 获取状态
			customerAppliedTwoInfo() {
				this.$api.getCustomerAppliedTwoInfo().then((res) => {
					if (res.data) {
						if (res.data === 1) {
							uni.reLaunch({
								url: `/pages/webview/index?path=pages/usgBind/entryProcess&title=${i18n.t('entry.process')}`,
							})
						}
					}
				});
			},
			// 绑定手机号回调
			changShowFlag(data) {
				this.$store.dispatch("getUserInfo").then(() => {
					this.showFlag = false;
					this.userInfo = storage.get("loginInfo");
				});
			},
			// 国际化切换回调处理
			switchLanguageChange() {
				this.getBusinessLevel();
				this.tabbar = TabbarConfig(this);
			},
			// 获取等级列表
			getBusinessLevel() {
				businessLevelAll().then((res) => {
					if (res) {
						this.levelBusinessList = res;
						this.levelBusiness = res.find((x) => {
							if (this.storelevelData?.levelId) {
								return this.storelevelData?.levelId == x.levelId;
							} else {
								return "";
							}
						});
					}
				});
			},
			// 获取可申请得等级
			businessLevelAvailable() {
				businessLevel().then((res) => {
					if (res.code == 200) {
						this.businessLevelAvailableList = res.data;
					}
				});
			},
			// 发起邀请时可选品牌
			brandByInviteFn() {
				brandByInvite().then((res) => {
					if (res.code == 200) {
						this.brandByInviteList = res.data;
					}
				});
			},
			// 获取个人充值金额列表
			summaryByAccountFn() {
				summaryByAccount().then((res) => {
					if (res.code == 200 && res?.data) {
						this.balance = res.data;
					}
				});
			},
			// 获取各状态订单数量小红点
			purchaseOrderCountFn() {
				purchaseOrderCount().then((res) => {
					if (res && this.orderData.length > 0) {
						this.orderData[0].count = res?.toBeReviewCount;
						this.orderData[1].count = res?.toBeShipCount;
						this.orderData[2].count = res?.toBeReceiveCount;
					}
				});
			},
			// 经销商功能跳转
			clickTo(list) {
				if (list.toWebview) {
					uni.navigateTo({
						url: `/pages/webview/index?path=${list.toUrl}`
					})
				} else {
					console.log('123')
					switch (list.id) {
						case "inviteUsers":
							if (!this.userInfo?.customerId) {
								this.$u.toast("尚未成为会员,请扫他人邀请码注册");
								return;
							}
							if (this.levelBusinessList.length) {
								this.$refs.popup.open();
							} else {
								this.$u.toast(this.$t("main.RequestError"));
							}
							break;
						case "payContract":
							if (this.customerInfoData.silentOpened !== 2) {
								this.$u.toast("签约资料审核中");
							} else {
								uni.navigateTo({
									url: "/pages/home/payContract",
								});
							}
							return;
						case "recharge":
							this.customerInfoFn();
							return;
						default:
							if (list.toUrl) {
								console.log(list.toUrl)
								uni.navigateTo({
									url: list.toUrl
								});
							}
							break;
					}
				}
			},
			// 常用功能跳转
			commonClickTo(item) {
				if (item.toWebview) {
					uni.navigateTo({
						url: `/pages/webview/index?path=${item.toUrl}`
					})
				} else {
					switch (item.id) {
						case "upgradeApplication":
							this.getApplicationDetail();
							break;
						case "inviteUsers":
							if (!this.userInfo?.customerId) {
								this.$u.toast("尚未成为会员,请扫他人邀请码注册");
								return;
							}
							if (this.levelBusinessList.length) {
								this.$refs.popup.open();
							} else {
								this.$u.toast(this.$t("main.RequestError"));
							}
							break;
						case "service":
							if (this.$store.getters.xTenant) {
								this.malaysiaServiceShow = true;
							} else {
								this.customerServiceUrlFn();
							}
							break;
						default:
							if (item.toUrl) {
								uni.navigateTo({
									url: item.toUrl
								});
							}
					}
				}
			},
			// 根据申请人用户信息查询品牌授权详情
			getApplicationDetail() {
				applicationDetail().then((res) => {
					console.log("res: ", res);
					let url = "";
					if (res.code == 200 && res.data?.status) {
						if (res.data.existsOtherStoreApplication) {
							uni.showModal({
								title: this.$t("register.TemporarilyInoperable"),
								content: this.$t("register.TemporarilyInoperableInfo"),
								confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
								showCancel: false,
							});
							return;
						}
						console.log("res.status: ", res.data?.status);

						if (
							res.data.status == "Created" ||
							res.data.status == "AuditFail" ||
							res.data.status == "AuditSuccess" ||
							res.data.status == "Recharged"
						) {
							url = "/pages/register/register-result";
						}

						if (res.data.status == "Completed" || res.data.status == "Closed") {
							if (this.userInfo.isDistributor) {
								url = `pages/register/register?mode=again&title=${i18n.t('register.title')}`;
							} else {
								url = `pages/register/register&title=${i18n.t('register.title')}`
							}
						}
					} else {
						url = `pages/register/register&title=${i18n.t('register.title')}`
					}
					console.log(url);
					uni.navigateTo({
						url: `/pages/webview/index?path=${url}`
					});
				});
			},
			// 订单跳转
			orderGoTo(item) {
				console.log("item: ", item);
				uni.navigateTo({
					url: "/pages/order/orderList?id=" + item.id
				});
			},
			//货款跳转
			paymentGoTo(accountType) {
				console.log("accountType: ", accountType);
				uni.navigateTo({
					url: "/pages/account/paymentDetails?accountType=" + accountType,
				});
			},
			// 弹出层关闭回调
			close(e) {
				console.log("e: ", e);
				this.popupShow = false;
			},
			// 退出登录
			logOut() {
				this.$store.dispatch("logout").then(() => {
					this.$u.toast("ok", 2000, true);
					setTimeout(() => {
						uni.reLaunch({
							url: "/pages/login/login",
						});
					}, 200);
				});
			},
			// 选择回调
			bindChange(e) {
				console.log("bindChange", e);
				this.RegionIndex = e.detail.value;
			},
			cancelEvent() {
				this.$refs.popup.close();
			},
			confrimEvent(e) {
				// console.log(this.RegionIndex, "this.RegionIndex",this.levelBusinessList,this.brandByInviteList,this.levelBusinessList[this.RegionIndex[0]],this.brandByInviteList[this.RegionIndex[1]]);
				let levelBusinessNew = this.$store.getters.xTenant ?
					this.levelBusinessList :
					this.levelBusinessList.filter((x) => x.levelType !== "Store");
				let levelBusiness = levelBusinessNew[this.RegionIndex[0]];
				let brandByInviteData = this.brandByInviteList[this.RegionIndex[1] || 0];
				let levelBusinessData = {
					levelId: levelBusiness.levelId,
					brandId: brandByInviteData.id,
					storeId: brandByInviteData.storeId,
					levelName: levelBusiness.levelName,
					brandName: brandByInviteData.storeName,
				};
				console.log("levelBusinessData: ", levelBusinessData);
				let userinfo = {}
				if (storage.get("loginInfo")) {
					let userInfo = storage.get("loginInfo")
					userinfo.customerId = userInfo.customerId
					userinfo.name = userInfo.name
					userinfo.avatar = userInfo.avatar
				}
				this.$refs.popup.close();
				uni.navigateTo({
					url: `/pages/webview/index?path=pages/invite/index&levelBusinessData=${JSON.stringify(levelBusinessData)}&title=${i18n.t('invite.title')}&userInfo=${JSON.stringify(userinfo)}`
				})
			},
			// 跳转e签宝实名认证
			authentication(type) {
				flowStatus().then((res) => {
					if (res.code == 200) {
						if (res.data.status == 0 && type == 1) {
							this.$u.toast("无需实名认证");
						}

						if (res.data.status == 20) {
							//跳转签署合同页面
							uni.navigateTo({
								url: "/pages/document/dealerManagement?contractId=" +
									res.data?.contractId +
									"&flowId=" +
									res.data?.flowId,
							});
						}
						if (res.data.confirmed == false) {
							//跳转实名认证页面
							let flowRequest = JSON.stringify(res.data);
							this.flowRequest = flowRequest;
							uni.navigateTo({
								url: "/pages/home/authentication?flowRequest=" + flowRequest,
							});
						}
					}
				});
			},
			// 获取e签宝跳转地址
			getSignAuthUrlFn() {
				getSignAuthUrl().then((res) => {
					console.log("res: ", res);
					if (res) {
						window.location.href = res.authUrl;
					}
				});
			},
			//相关跳转
			goTo(url) {
				console.log("url:相关跳转 ", url);
				uni.navigateTo({
					url: url
				});
			},
			// 展示切换平台弹窗
			platformModalBtn() {
				if (storage.get("loginInfo")?.storelevelList.length <= 1) {
					this.$u.toast(this.$t("user.noOtherShopSwitched"));
					return;
				}
				this.platformModalShow = true;
			},
			// 平台切换回调
			platformModalFn(type, data) {
				console.log("type,data:平台切换回调 ", type, data);
				if (type == "confirm") {
					this.STORE_LEVEDATA(data);
					this.$store.dispatch("getUserInfo").then(() => {
						this.userInfo = storage.get("loginInfo");
						this.storelevelData = this.$store.getters.storelevelData;
						// if (!this.$store.getters.xTenant) {
						//   // 国内系统强制去认证页面
						//   this.authentication();
						// }
						this.getBusinessLevel();
						this.businessLevelAvailable();
						this.summaryByAccountFn();
						this.purchaseOrderCountFn();
					});
				}
				this.platformModalShow = false;
			},
			// 经销商信息数据
			customerInfoFn() {
				customerInfo().then((res) => {
					if (res.code == 200) {
						this.customerInfoData = res.data;

						if (this.customerInfoData.confirmed) {
							if (
								(this.customerInfoData.openAccountStatus == 4 &&
									this.customerInfoData.silentOpened !== 3) ||
								this.customerInfoData.silentOpened == 999
							) {
								uni.navigateTo({
									url: `/pagesA/account/recharge`
								})
							}
							else {
								if (this.customerInfoData.silentOpened == 2) {
								uni.navigateTo({
									url: `/pages/webview/index?path=pages/home/payContract?title=${i18n.t('payContract.title')}`
								})
								} else if (this.customerInfoData.silentOpened == 1) {
									uni.showModal({
										content: `开户信息正在审核中，个人签约审核时间1-5分钟，企业签约审核时间1个工作日。审核完成后点击进行绑定银行卡快捷支付设置。`,
										confirmColor: this.$store.state.theme.presentTheme[
											"--theme-color"],
										showCancel: false,
									});
									// this.$u.toast("");
								} else if (this.customerInfoData.silentOpened == 3) {
									this.$u.toast("开户信息填写不完整，正在前往修改");
									setTimeout(() => {
										uni.navigateTo({
											url: `/pages/webview/index?path=pages/home/authentication&type=edit&title=${i18n.t('pages.authentication')}`
										})
									}, 1000);
								} else {}
							}
						} else {
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/home/authentication&type=initialize&title=${i18n.t('pages.authentication')}`
							})
						}

						storage.set("customerInfoData", this.customerInfoData);
						return;

						if (res.data.confirmed == false) {
							//跳转实名认证页面
							let flowRequest = JSON.stringify(res.data);
							this.flowRequest = flowRequest;
							this.NoticeBar = {
								NoticeBarShow: true,
								text: "新系统线上充值签约需进行快捷支付资料填写，点击去填写",
								url: "/pages/home/authentication?flowRequest=" + flowRequest,
							};
						} else if (
							res.data.silentOpened == 2 &&
							res.data.openAccountStatus == 0
						) {
							this.NoticeBar = {
								NoticeBarShow: true,
								text: "线上支付签约基础资料审核完成, 点击立即设置银行卡快捷支付密码",
								url: "/pages/home/payContract",
							};
						} else if (res.data.openAccountStatus == 4) {
							this.isAuthFn();
						}
					}
				});
			},
			// 免密授权
			applyAuthFn() {
				let param = {
					customNo: this.userInfo.authorizationCode,
					channelNo: 1,
					returnUrl: "/pages/user/index?jump=page",
					userType: this.additionalStateData.type == "ORG" ? 2 : 1,
				};
				applyAuth(param).then((res) => {
					if (res?.code == 200) {
						if (!res.data.authFlag && res.data.gatewayUrl) {
							uni.redirectTo({
								url: res.data.gatewayUrl
							})
							
						}
					}
				});
			},
			// 获取连连相关状态
			additionalStateFn() {
				additionalState().then((res) => {
					if (res?.code == 200) {
						this.additionalStateData = res.data;
						if (res.data.openAccountStatus == 4) {
							if (!res.data.isFreeSecretPay) {
								this.withholdingShow = true;
								return;
								// this.isAuthFn()
								this.NoticeBar = {
									NoticeBarShow: true,
									text: "开户完成需要您完成免密授权，未完成将影响您奖金发放",
									// url: res.data.gatewayUrl,
									type: "applyAuth",
								};
							} else {
								this.getZkUpgradePopInfoFn();
							}
						}
					}
				});
			},
			// 是否免密
			// isAuthFn() {
			//   let param = {
			//     customNo: this.userInfo.authorizationCode,
			//     channelNo: 1,
			//     userType: this.additionalStateData.type == "ORG" ? 2 : 1,
			//   };
			//   isAuth(param).then((res) => {
			//     console.log("res: ", res);
			//     if (!res) {
			//       this.NoticeBar = {
			//         NoticeBarShow: true,
			//         text: "开户完成需要您完成免密授权，未完成将影响您奖金发放",
			//         // url: res.data.gatewayUrl,
			//         type: "applyAuth",
			//       };
			//     }
			//   });
			// },
			// 通知栏跳转
			noticeGoto() {
				// console.log("通知栏跳转");
				if (this.NoticeBar.type) {
					this.applyAuthFn();
				}
			},
			//
			noticeGoto2() {
				this.customerInfoFn();
			},
			// 强制免密跳转
			withholdingConfirm() {
				this.applyAuthFn();
			},
			// 获取客服链接
			customerServiceUrlFn() {
				customerServiceUrl().then((res) => {
					if (res.code == 200) {
						window.location.href = res.msg;
					} else {
						this.$u.toast(res.msg);
					}
				});
			},
			// banner跳转
			// bannerSkip(id = "36") {
			//   uni.navigateTo({
			//     url: "/pages/document/noticeParticulars?id=" + id,
			//   });
			// },
			//中康升级跳转
			zhongkangUpgradeGo() {
				this.zhongkangUpgradeShow = false;
				uni.navigateTo({
					url: "/pages/activities/zhongkangUpgrade/index",
				});
			},
			// 中康保证金转货款
			getZkUpgradePopInfoFn() {
				let param = {
					// userId: 150688,
				};
				getZkUpgradePopInfo(param).then((res) => {
					if (res.code == 200) {
						this.zhongkangUpgradeShow = true;
						this.zhongkangUpgradeData = res.data;
					}
				});
			},
			// 复制
			copyBtn(data) {
				console.log("data: ", data);
				uniCopy({
					content: data,
					success: (res) => {
						uni.showToast({
							title: this.$t("main.copySucc"),
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: this.$t("main.copyFail"),
							icon: "none",
							duration: 3000,
						});
					},
				});
			},
		},
	};
</script>
<style scoped lang="scss">
	page {
		background: #f6f6f6;
	}

	.container {
		padding-top: calc(var(--status-bar-height) + 30px);
		padding-bottom: 200rpx;
		position: relative;
	}

	.swiper-wrapper {
		padding: 20rpx 32rpx 0px;
		box-sizing: border-box;

		.swipeImg {
			height: 400rpx;
		}
	}

	.settingBox {
		position: absolute;
		top: 15rpx;
		right: 15rpx;
		z-index: 99;
	}

	.information {
		//   height: 460rpx;
		background: url(../../static/images/index/informationBg.png) no-repeat center/100% 100%;
		position: relative;
		overflow: hidden;

		.particulars {
			margin-top: 60rpx;
			display: flex;
			align-items: center;
			padding: 30rpx 28rpx 40rpx 28rpx;

			.particulars-info {
				display: flex;
				//   align-items: center;
				flex-direction: column;
				margin-left: 20rpx;
			}

			.topInfo {
				display: flex;
				align-items: center;
				font-size: 36rpx;
				font-family: PingFangSC-Bold, PingFang SC;
				font-weight: bold;
				color: #2e2e2e;
				line-height: 50rpx;

				.levelName {
					// width: 88rpx;
					// height: 36rpx;
					// background: linear-gradient(191deg, #1a171c 0%, #53525a 100%);
					border-radius: 30rpx;
					font-size: 26rpx;
					font-family: Alibaba-PuHuiTi-H, Alibaba-PuHuiTi;
					font-weight: 600;
					padding: 0rpx 14rpx;
					color: #ffe1be;
					margin-left: 8rpx;
					// line-height: 40rpx;
				}
			}

			.footInfo {
				display: flex;
				align-items: center;
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #2e2e2e;
				line-height: 34rpx;
				margin-top: 10rpx;

				.mobile {
					display: flex;

					.phone {
						padding-top: 4rpx;
						box-sizing: border-box;
					}
				}
			}

			.leveBox {
				display: flex;
				margin-top: 10rpx;
				flex-wrap: wrap;

				.leveItem {
					display: flex;
					align-items: center;
					font-family: PingFangSC-Bold, PingFang SC;
					font-weight: bold;
					color: #2e2e2e;
					margin-bottom: 10rpx;
				}

				.levelName {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					// background: linear-gradient(191deg, #1a171c 0%, #53525a 100%);
					border-radius: 30rpx;
					font-size: 22rpx;
					font-family: PingFangSC, PingFang SC;
					font-weight: 600;
					color: #ffffff;
					// padding: 0rpx 14rpx;
					padding-right: 28rpx;
					padding-top: 1rpx;
					padding-bottom: 2rpx;
					margin-left: 8rpx;
				}
			}
		}

		.balance {
			display: flex;
			// align-items: center;
			justify-content: space-between;
			padding: 0rpx 10rpx;
			flex-wrap: wrap;
		}

		.balance-item {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 24rpx 10rpx;

			.topMoney {
				font-size: 34rpx;
				font-family: PingFangSC-Bold, PingFang SC;
				font-weight: bold;
				color: #333233;
				margin-bottom: 6rpx;
			}

			.footInfo {
				font-size: 24rpx;
				// transform: scale(0.5);
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #585858;
				text-align: center;
				min-height: 50rpx;
				width: 120rpx;
			}
		}
	}

	.order {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 6rpx 24rpx;
		background-color: #fff;
		padding: 40rpx 32rpx;
		border-radius: 12rpx;

		.orderItem {
			display: flex;
			align-items: center;
			flex-direction: column;
			position: relative;

			.orderInfo {
				text-align: center;
				// min-height: 60rpx;
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #333233;
				width: 100rpx;
				min-height: 50rpx;
				display: flex;
				// align-content: center;
				justify-content: center;
				align-items: flex-start;
			}

			.count {
				position: absolute;
				// border-radius: 14rpx;
				// border: 2rpx solid $theme-color;
				font-size: 18rpx;
				font-family: PingFang-SC-Medium, PingFang-SC;
				font-weight: 500;
				color: $theme-color;
				right: 0;
				top: 0;
				// padding: 2rpx;
			}
		}
	}

	.bannerBox {
		margin: 20rpx 24rpx;
	}

	.commonFunction {
		margin: 20rpx 24rpx;
		background-color: #fff;
		padding: 20rpx 32rpx;
		border-radius: 12rpx;

		.title {
			font-size: 30rpx;
			font-family: PingFangSC-, PingFang SC;
			font-weight: normal;
			color: #222222;
			line-height: 42rpx;
		}

		.functionList {
			.grid-text {
				font-size: 22rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #333233;
				text-align: center;
				min-height: 60rpx;
				display: flex;
				align-items: center;
				//   width: 100rpx;
			}

			.ommonItemIconUrl {
				padding-top: 20rpx;
			}
		}
	}

	.popupList {
		margin-top: 100rpx;
		width: 300rpx;
		height: 800rpx;
		display: flex;
		padding: 0 0 0 2rpx;
		// justify-content: center;
		flex-direction: column;
		// align-items: center;

		.popupBtn {
			width: 80%;
			margin-top: 200rpx;
			background-color: $theme-color !important;
			border: 0 !important;
		}
	}

	picker-view {
		width: 100%;
		height: 500rpx;
		margin-top: 20rpx;
	}

	.picker-view .item {
		line-height: 100rpx;
		text-align: center;
	}

	.picker-title {
		height: 100rpx;
		line-height: 100rpx;
		display: flex;
		justify-content: space-between;
		padding: 0 20rpx;
		box-sizing: border-box;

		.picker-cancel {
			color: #666;
			padding: 0 20rpx;
		}

		.picker-confrim {
			color: $theme-color;
			padding: 0 20rpx;
		}
	}

	.platform {
		display: flex;
		position: absolute;
		top: 100rpx;
		z-index: 9;
		left: 30rpx;
		font-size: 24rpx;
		align-items: center;
		color: $theme-color;
		border: 2rpx solid $theme-color;
		border-radius: 30rpx;
		padding: 6rpx 20rpx;

		.title {
			margin-right: 10rpx;
			font-weight: bold;
		}

		.xian {
			height: 26rpx;
			width: 2rpx;
			background-color: $theme-color;
			margin-right: 10rpx;
			// border: 1rpx solid $theme-color;
		}

		.info {
			font-size: 22rpx;
		}
	}

	.remind {
		// margin: 6rpx 24rpx;
		font-size: 24rpx;

		::v-deep {
			.uicon-arrow-right {
				font-size: 24rpx !important;
			}
		}
	}

	::v-deep {
		.LangSwitchBox {
			color: rgb(96, 98, 102);
			border: 1px solid rgb(96, 98, 102);
		}

		.uicon-volume {
			font-size: 34rpx !important;
		}

		.uni-modal__bd {}

		.uni-modal {
			.uni-modal__bd {
				font-weight: bold !important;
				text-align: left !important;
			}
		}

		.uicon-close {
			font-size: 30rpx !important;
		}
	}

	li {
		list-style: none;
	}

	.historicalPlatformBox {
		padding: 0 !important;

		.slot-content {
			width: 100%;
		}

		.historicalPlatformUl {
			margin: 0;
			padding: 0;
			width: 582rpx;
			margin-left: -25px;

			li {
				display: flex;
				justify-content: center;
				height: 56rpx;
				line-height: 56rpx;
				font-size: 28rpx;
				color: #2e2e2e;
				// padding: 0 86rpx;

				span {
					width: 30%;
				}

				.b {
					margin-left: 15%;
				}
			}

			.listStyle1 {
				background: #f2f2f2;
			}

			.listStyle2 {
				background: #fff;
			}
		}
	}

	.malaysiaServiceBox {
		width: 600rpx;
		padding: 40rpx;
		font-size: 26rpx;
	}

	.zhongkangUpgradePopup {
		::v-deep {
			.uv-popup__content {
				background-color: transparent !important;
			}

			.uicon-close {
				color: #fff !important;
			}
		}

		.zhongkangUpgrade {
			background: url(https://yumei-platform.oss-cn-hangzhou.aliyuncs.com/public/common/zhongkangUpgrade/zhongkangUpgrade.png) no-repeat center/100% 100%;
			width: 573rpx;
			height: 572rpx;
			text-align: center;

			.info {
				margin-top: 50rpx;
				margin-left: -40rpx;
			}

			.ide {
				font-family: HuXiaoBo-NanShen;
				font-weight: 600;
				font-size: 51rpx;
				color: #2f2b31;
				line-height: 84rpx;
				background: linear-gradient(-90deg,
						#cc6b33 0%,
						#eda047 49.853515625%,
						#cc6b33 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			p {
				font-family: HuXiaoBo-NanShen;
				font-weight: 600;
				font-size: 50rpx;
				color: #2f2b31;
				// line-height: 84rpx;
			}
		}
	}
</style>