<template>
	<div class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('user.setting') }}</commonTop>
		<view class="userinfo">
			<uv-image :src="userInfo && userInfo.avatar
					? userInfo.avatar
					: '/static/images/my/mine_def_touxiang_3x.png'
				" class="particulars-photo" height="100rpx" width="100rpx" shape="circle"></uv-image>
			<view class="name">{{ userInfo.name }}</view>
		</view>

		<view class="rowList">
			<!-- 修改绑定手机 -->
			<view class="rowItem" v-if="userInfo.phone" @click="goTo('/pages/login/modifyPhone')">
				<text style="width: 60%;">{{ $t("modifyPhone.Modifyphone") }}</text>
				<text class="phone">{{ userInfo.phone }}</text>
				<uv-icon name="arrow-right"></uv-icon>
			</view>
			<!-- 地址管理 -->
			<view class="rowItem" @click="goToaddress()">
				<text>{{ $t("invite.address") }}</text>
				<uv-icon name="arrow-right"></uv-icon>
			</view>

			<!-- 切换马来和国内版本 -->
			<view class="rowItem">
				<text>切换马来</text>
				<uv-switch name="arrow-right" v-model="switchVersion" activeValue="mml" activeColor="#f56c6c"
					@change="switchVersionChange"></uv-switch>
			</view>
		</view>
		<view class="logOut">
			<view class="btn" @click="logOut"> {{ $t("home.logOut") }}</view>
		</view>
		
		<!-- <view class="rowList">
      <view class="rowItem">
        <text>隐私政策</text>
        <uv-icon name="arrow-right"></uv-icon>
      </view>
      <view class="rowItem">
        <text>地址管理</text>
        <uv-icon name="arrow-right"></uv-icon>
      </view>
    </view> -->
		<uv-toast ref="toast"></uv-toast>
	</div>
</template>
<script>
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import {
		i18n
	} from '@/main.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				userInfo: storage.get("loginInfo"),
				switchVersion: this.$store.getters.xTenant
			};
		},
		methods: {
			
			// 切换版本
			switchVersionChange(e) {
				this.$store.dispatch('setXTenant', e || '')
			},

			goToaddress() {
				uni.navigateTo({
					url: `/pages/webview/index?path=pages/address/address&title=${i18n.t('invite.address')}`,
				})
			},
			//相关跳转
			goTo(url) {
				console.log("url:相关跳转 ", url);
				uni.navigateTo({
					url: url
				});
			},
			// 退出登录
			logOut() {
				this.$store.dispatch("logout").then(() => {
					this.$refs.toast.show({
						message: '退出成功',
						duration: 2000
					})
					setTimeout(() => {
						uni.reLaunch({
							url: "/pages/login/login",
						});
					}, 200);
				});
			},
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background-color: #f6f6f6;
	}

	.userinfo {
		display: flex;
		align-items: center;
		padding: 20rpx 24rpx;
		background-color: #fff;
		margin-top: 20rpx;

		.name {
			font-size: 36rpx;
			font-family: PingFang-SC-Bold, PingFang-SC;
			font-weight: bold;
			color: #000000;
			margin-left: 20rpx;
		}
	}

	.rowList {
		background-color: #fff;
		margin-top: 20rpx;

		.rowItem {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 28rpx 32rpx;
			font-size: 28rpx;
			font-family: PingFang-SC-Regular, PingFang-SC;
			font-weight: 400;
			color: #2e2e2e;
			position: relative;

			.phone {
				position: absolute;
				right: 70rpx;
			}
		}

		.rowItem:not(:last-child) {
			border-bottom: 2rpx solid #f2f3f5;
		}
	}

	.logOut {
		width: 100%;
		margin-top: 300rpx;
		display: flex;
		align-items: center;
		justify-content: center;

		.btn {
			width: 630rpx;
			height: 88rpx;
			background: $theme-color;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 12rpx;
			font-size: 32rpx;
			font-family: PingFang-SC-Bold, PingFang-SC;
			font-weight: bold;
			color: #ffffff;
		}
	}
</style>