<template>
	<div class="carts" :style="this.$store.state.theme.presentTheme">

		<commonTop :show='true'>{{ $t('cMall.shoppingCart') }}</commonTop>
		<uv-sticky :offset-top="0">
			<view>
				<view class="cart-nav bg-white y-flex y-align-center y-justify-between">
					<view @click="allSelBtn" class="y-flex y-align-center">
						<view class="sel-btn">
							<u-icon v-if="allSelState && shoppingCart.length" name="checkmark-circle-fill"
								:color="$store.state.theme.presentTheme['--theme-color']" size="40rpx"></u-icon>
							<view v-else class="no-select"></view>
						</view>
						<span class="">{{ $t("goods.checkAll") }}</span>
					</view>
					<view class="w-130 y-flex y-justify-end" @click.stop="isEdit = !isEdit">
						<!-- <span>清空购物车</span> -->
						<span v-if="!isEdit">{{ $t("goods.edit") }}</span>
						<span v-else>{{ $t("register.Cancel") }}</span>
					</view>
				</view>
			</view>
		</uv-sticky>
		<view>
			<view class="store-list pad-12" v-if="shoppingCart.length != 0">
				<view class="bg-white store-single" v-for="(storeItem, storeIndex) in shoppingCart" :key="storeIndex">
					<view @click.stop="storeSelBtn(storeItem, storeIndex)" class="store-header y-flex y-align-center">
						<view class="sel-btn">
							<u-icon v-if="
                  (storeItem.selected && !isEdit) ||
                  (storeItem.isDelSelect && isEdit)
                " name="checkmark-circle-fill" :color="$store.state.theme.presentTheme['--theme-color']"
								size="40rpx"></u-icon>
							<view v-else class="no-select"></view>
						</view>
						<span class="">{{ storeItem.sellerFrontDto.sellerName }}</span>
						<u-icon name="arrow-right"></u-icon>
					</view>
					<view class="goods-list">
						<uni-swipe-action-item v-for="(goodsItem, goodsIndex) in storeItem.saleCartFrontDtos"
							:key="goodsIndex" @click.stop="goShopDetail(goodsItem.spuId, goodsItem)"
							:right-options="options" @click="deleteFn(goodsItem)">
							<view class="goods-item y-flex">
								<view @click.stop="goodsSelBtn(goodsItem, storeIndex, goodsIndex)"
									class="sel-height y-flex y-align-center">
									<view class="sel-btn">
										<u-icon v-if="
                        (goodsItem.selected &&
                          !isEdit &&
                          goodsItem.cartStatus) ||
                        (goodsItem.isDelSelect && isEdit)
                      " name="checkmark-circle-fill" :color="$store.state.theme.presentTheme['--theme-color']"
											size="40rpx"></u-icon>
										<image v-else-if="!goodsItem.cartStatus && !isEdit" class="no-select"
											src="https://livefile-1300828364.cos.ap-shanghai.myqcloud.com/miniphoto/new-common-applet/icon_check_disabled.png">
										</image>
										<view v-else class="no-select"></view>
									</view>
								</view>
								<view class="">
									<image :src="goodsItem.sku.picture" class="goods-imgs"></image>
									<!-- <u-image :src="goodsItem.productUrl" radius="10rpx" width="162rpx" height="162rpx"></u-image> -->
								</view>
								<!-- 商品状态为1时 -->
								<view v-if="goodsItem.cartStatus" class="y-flex y-flex-1 y-flex-column y-l-20">
									<view class="y-flex-1">
										<view class="goods-name bci-info-tit">
											{{ goodsItem.sku.productName }}
										</view>
										<view class="goods-attr y-flex">
											<view class="sic-specifi" @click.stop="
                          changeSpecs(goodsItem, storeIndex, goodsIndex)
                        " v-if="goodsItem.sku.skuInfo && goodsItem.cartStatus">
												<view class="sic-specifi-cont" v-if="
                            goodsItem.sku.specs.length != 0 &&
                            goodsItem.cartStatus
                          ">
													<view>{{ goodsItem.sku.skuInfo }}</view>
													<!-- <image
                            src="https://livefile-1300828364.cos.ap-shanghai.myqcloud.com/miniphoto/new-common-applet/icon_zhankaix.png"
                          >
                          </image> -->
												</view>
											</view>
										</view>
									</view>
									<view class="goods-price y-flex y-align-end y-flex-1">
										<view class="y-flex-1 color-price">
											<text style="font-size: 12px">{{ $store.getters.moneyMark }}
											</text>
											<text style="margin-left: 10rpx">{{
                        goodsItem.sku.sellingPrice
                      }}</text>
										</view>
										<!--@click.stop  -->
										<view @click.stop>
											<uv-number-box v-model="goodsItem.quantity" integer :min="1"
												:max="goodsItem.sku.sellStockNum" buttonSize="50" inputWidth="60"
												@change="countChange($event, goodsItem)"></uv-number-box>
										</view>
									</view>
								</view>
								<view class="sic-bot y-flex y-flex-1 y-flex-column y-l-20" v-if="!goodsItem.cartStatus">
									<view class="goods-name bci-info-tit">
										{{ goodsItem.spuName }}
									</view>
									<view class="sic-bot-tip" v-if="goodsItem.stockFlag != 1">{{
                    $t("goods.SoldOut")
                  }}</view>
									<view class="sic-footer">
										<view class="sic-footer-tip"></view>
										<view class="sic-footer-resel line-main-color"
											@click="deleteFn(goodsItem, storeIndex, goodsIndex)">
											{{ $t("goods.delete") }}
										</view>
									</view>
								</view>
							</view>
						</uni-swipe-action-item>
					</view>
				</view>
			</view>

			<!-- 无数据 -->
			<view class="no-data" v-if="shoppingCart.length == 0">
				<uv-empty textSize="30rpx" :icon="'/static/images/index/empty.png'" :text="$t('pages.empty')"
					marginTop="200rpx">
				</uv-empty>
			</view>
		</view>
		<view class="store-list" v-if="falseSaleCart&&falseSaleCart.length">
			<view style="height: 40rpx; background: #f6f6f6"></view>
			<view class="falseSaleCartTop">
				<view class="falseSaleCartInfo">{{
          $t("cMall.shoppingCart.ATotalOf") +
          falseSaleCart.length +
          $t("cMall.shoppingCart.expiredProducts")
        }}</view>
				<view class="falseSaleCartBtn">{{
          $t("cMall.shoppingCart.empty")
        }}</view>
			</view>
			<view class="bg-white store-single" v-for="(falseItem, falseIndex) in falseSaleCart" :key="falseIndex">
				<view class="goods-list">
					<view class="goods-item y-flex">
						<view class="store-header y-flex y-align-center">
							<view class="sel-btn">
								<image class="no-select"
									src="https://livefile-1300828364.cos.ap-shanghai.myqcloud.com/miniphoto/new-common-applet/icon_check_disabled.png">
								</image>
							</view>
						</view>
						<image :src="falseItem.sku.picture" class="goods-imgs"></image>
						<view class="sic-bot y-flex y-flex-1 y-flex-column y-l-20">
							<view class="y-flex-1">
								<view class="goods-name bci-info-tit">
									{{ falseItem.sku.productName }}
								</view>
								<view class="goods-attr y-flex">
									<view class="sic-specifi">
										<view class="sic-specifi-cont">
											<view>{{ falseItem.sku.skuInfo }}</view>
										</view>
									</view>
								</view>
							</view>

							<view class="sic-bot-tip" v-if="falseItem.stockFlag != 1">{{
                $t("goods.SoldOut")
              }}</view>
							<!-- <view class="sic-footer">
                <view class="sic-footer-tip"></view>
                <view
                  class="sic-footer-resel line-main-color"
                  @click="deleteFn(falseItem, storeIndex, goodsIndex)"
                  >{{ $t("goods.delete") }}</view
                >
              </view> -->
						</view>
					</view>
				</view>
			</view>
		</view>
		<view style="height: 220rpx"></view>
		<!-- 结算删除操作 -->
		<view
			class="footButton z-index-p y-position-fixed y-bottom-0 y-left-0 y-right-0 bg-white y-flex y-align-center">
			<view class="">
				<block v-if="!isEdit && shoppingCart.length">
					<view>
						{{ $t("order.total") }}：
						<span class="color-price"><text style="font-size: 12px">{{ $store.getters.moneyMark }}
							</text>
							{{ totalPrice }}
						</span>
					</view>
					<!-- <view class="amount" @click="skuAmountCalcFn"
            >{{ $t("goods.amountDetails") }}
            <uv-image
              width="18rpx"
              height="18rpx"
              style="margin-left: 4rpx"
              src="../../../static/images/goods/down_icon.png"
            ></uv-image
          ></view> -->
				</block>
			</view>
			<view class="y-flex y-l-20">
				
				<uv-button v-if="!isEdit"  type="primary" class="submitBtnStyle" color="#F56C6C"
					:disabled="!confirmArr.length" @click="goSettlement">
					{{ $t("goods.Settlement") }}({{ totalSelCount }})
				</uv-button>
				<uv-button v-else  type="primary" color="#F56C6C" class="submitBtnStyle" :disabled="!totalSelCount"
					@click="delateCom">
					{{ $t("goods.delete") }}({{ totalSelCount }})
				</uv-button>
			</view>
		</view>
		<uv-popup :show="amountShow" @close="() => (amountShow = false)" @open="() => (amountShow = true)"
			:closeable="true" class="popupBox" :round="20">
			<h3 class="title" style="margin-bottom: 24rpx">
				{{ $t("goods.amountDetails") }}
			</h3>
			<view class="amountDetail">
				<view class="amountItemList" v-for="(item, index) in skuAmountCalcData" :key="index">
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.PaymentName") }}:</view>
						<view class="rightVal" style="font-size: 28rpx">{{
              item.paymentType
            }}</view>
					</view>
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.PaymentBalance") }}:</view>
						<view class="rightVal">{{ $store.getters.moneyMark }} {{ currency(item.amount) }}</view>
					</view>
					<!-- <view class="amountItem">
            <view class="leftKey">本单优惠:</view>
            <view class="rightVal">{{ $store.getters.moneyMark }}{{item.paymentType}}</view>
          </view> -->
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.Deduction") }}:</view>
						<view class="rightVal" style="font-size: 28rpx; color: #b41701">
							{{ $store.getters.moneyMark }}
							{{ currency(item.operationAmount) }}
						</view>
					</view>
					<view class="amountItem">
						<view class="leftKey">{{ $t("goods.remainingBalance") }}:</view>
						<view class="rightVal">{{ $store.getters.moneyMark }}
							{{ currency(item.amount - item.operationAmount) }}
						</view>
					</view>
				</view>
			</view>
		</uv-popup>

		<vk-data-goods-sku-popup v-if="sku_visible" ref="skuPopup" v-model="sku_visible" border-radius="20"
			:localdata="goodsInfo" :mode="form.skuMode" :stockText="$t('goodsSku.stockText')"
			:add-cart-text="form.addCartText" :min-buy-num="form.minBuyNum" :max-buy-num="form.maxBuyNum"
			:step-buy-num="form.stepBuyNum" :stepStrictly="form.stepStrictly" :hide-stock="form.hideStock"
			:sizeName="form.sizeName" :noStockText="form.noStockText" :goods-id="goodsDetail.id"
			:user-to-type="userToType" :isHasSkuList="isHasSkuList" :default-select="form.defaultSelect"
			@add-cart="addCart">
		</vk-data-goods-sku-popup>
		<m-tabbar v-if="xTenant" fixed fill current="1" :tabbar="tabbar"></m-tabbar>
	</div>
</template>
<script>
	import TabbarConfig from "@/config/tabbar.js";
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import {
		currency
	} from "@/utils/util.js";
	import vkDataGoodsSkuPopup from "@/components/vk-data-goods-sku-popup/components/vk-data-goods-sku-popup/vk-data-goods-sku-popup.vue";
	import {
		formatSku
	} from "@/utils/formatSku";

	export default {
		components: {
			vkDataGoodsSkuPopup,
			commonTop
		},
		data() {
			return {
				xTenant: this.$store.getters.xTenant,
				tabbar: TabbarConfig(this),
				currency,
				userInfo: storage.get("loginInfo"),
				isEdit: false,
				shoppingCart: [], // 有效商品组
				falseSaleCart: [], //失效商品组
				amountShow: false,
				options: [{
					text: "删除",
					style: {
						backgroundColor: "#b41701",
					},
				}, ],
				confirmArr: [], //确认结算数据组
				skuAmountCalcData: [], //金额明细

				goodsInfo: {},
				userToType: "C", // B B端适配规格  C c端规格适配
				sku_visible: false, //sku展示标识
				goodsDetail: null, //商品详情
				form: {
					skuMode: 2,
					addCartText: this.$t("register.Confirm"),
					minBuyNum: 0,
					maxBuyNum: 10000,
					stepBuyNum: 1,
					stepStrictly: false,
					hideStock: false,
					noOrder: false, //禁止下单标识
					isHasSkuList: true, // 是否有规格
					sizeName: "", //b端最后一个规格名
					noStockText: this.$t("goodsSku.noStockText"), //该商品已抢完
					defaultSelect: {},
				},
			};
		},
		mounted() {
			console.log("购物车数据===》", this.shoppingCart, uni.getSystemInfoSync());
			this.purchaseCartListFn();
		},
		computed: {
			//是否已经全部选中
			allSelState() {
				let buyAllSelect = true; // 购物全选
				let delAllSelect = true; // 编辑全选
				// console.log("this.shoppingCart: ", this.shoppingCart);

				if (this.shoppingCart.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.saleCartFrontDtos.forEach((gitem) => {
							if (!gitem.selected && gitem.status != 2 && gitem.stockFlag != 0)
								buyAllSelect = false;
							if (!gitem.isDelSelect) delAllSelect = false;
						});
					});
				}
				if (!this.isEdit) return buyAllSelect;
				else return delAllSelect;
			},
			//总价格
			totalPrice() {
				let totalPrice = 0;
				let confirmArr = [];
				if (this.shoppingCart.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.saleCartFrontDtos.forEach((gitem) => {
							if (gitem.selected && gitem.cartStatus) {
								totalPrice =
									totalPrice * 1 + gitem.sku.sellingPrice * gitem.quantity;
								confirmArr.push({
									skuId: gitem.sku.skuId,
									quantity: gitem.quantity,
								});
							}
						});
					});
				}
				this.confirmArr = confirmArr;
				return totalPrice.toFixed(2);
			},
			//当前操作下选中的数量
			totalSelCount() {
				let buyCount = 0; // 购物全选
				let delCount = 0; // 编辑全选
				if (this.shoppingCart.length > 0) {
					this.shoppingCart.forEach((sitem) => {
						sitem.saleCartFrontDtos.forEach((gitem) => {
							// 去掉不可选的是否全选、全不选
							if (gitem.selected && gitem.cartStatus) {
								buyCount = buyCount * 1 + gitem.quantity;
							}
							if (gitem.isDelSelect) {
								delCount = delCount * 1 + 1;
							}
						});
					});
				}
				if (!this.isEdit) {
					return buyCount;
				} else {
					return delCount;
				}
			},
		},
		methods: {
			// 修改规格
			changeSpecs(goodsItem, storeIndex, goodsIndex) {
				console.log(
					"goodsItem, storeIndex, goodsIndex: ",
					goodsItem,
					storeIndex,
					goodsIndex
				);
				this.goodsItemId = goodsItem.id;
				// 规格回显
				this.form.defaultSelect = {
					sku: goodsItem.sku.specs.map((x) => x.v),
					num: goodsItem.quantity,
				};
				console.log("this.form.defaultSelect: ", this.form.defaultSelect);

				this.getProductData(goodsItem.sku.productId);
			},
			// 获取商品详情
			getProductData(id) {
				this.$api.productData(id).then((res) => {
					if (res?.code == 200) {
						this.goodsDetail = res.data;
						this.formateGoodsInfo(this.goodsDetail);
					}
				});
			},
			// 格式化规格弹窗数据
			formateGoodsInfo(res) {
				const that = this;
				this.isHasSkuList = res.specList.length > 0 ? true : false;
				this.goodsInfo = formatSku(that, res);
				this.sku_visible = true;
				console.log(" this.goodsInfo: ", this.goodsInfo);
			},
			// 修改规格
			addCart(skuData) {
				console.log("skuData:修改规格 ", skuData);
				let para = {
					cartType: "sale",
					sku: {
						skuId: skuData._id,
					},
					quantity: skuData.buy_num,
				};
				this.purchaseCartAmendFn(this.goodsItemId, para);
			},
			// 结算
			goSettlement() {
				console.log("结算====>", this.confirmArr);
				let confirmOrder = {
					fromCart: true,
					lines: this.confirmArr,
					addressId: null,
				};
				console.log("confirmOrder: ", confirmOrder);

				storage.set("confirmOrder", confirmOrder);
				uni.navigateTo({
					url: "/pagesA/cMall/order/confirmOrder"
				});
			},

			// 支付明细接口
			// skuAmountCalcFn() {
			//   this.amountShow = true;
			//   skuAmountCalc(this.confirmArr).then((res) => {
			//     if (res) {
			//       this.skuAmountCalcData = res.paymentDetails;
			//     }
			//   });
			// },

			// 单个删除
			deleteFn(goodsItem, storeIndex, goodsIndex) {
				let idArr = [goodsItem.id];
				this.purchaseCartDeleteFn(idArr);
			},
			// 批量删除
			delateCom() {
				let idArrs = [];
				this.shoppingCart.forEach((x) => {
					x.saleCartFrontDtos.forEach((y) => {
						if (y.isDelSelect) {
							idArrs.push(y.id);
						}
					});
				});
				console.log("idArrs: ", this.shoppingCart, idArrs);
				this.purchaseCartDeleteFn(idArrs);
			},
			// 删除接口
			purchaseCartDeleteFn(idArr) {
				uni.showLoading({
					mask: true
				});
				this.$api.purchaseCartDelete(idArr).then((res) => {
					if (res?.code == 200) {
						uni.hideLoading();
						this.shoppingCart = res?.data?.saleCartGroupSellerDto || [];
						uni.showToast({
							icon: 'none',
							title: this.$t("goods.operateSuccessfully"),
							duration: 2000
						})
						this.$emit("updateNum");
					}
				});
			},

			// 修改数量
			purchaseCartAmendFn(id, data) {
				uni.showLoading({
					mask: true
				});
				this.$api.purchaseCartAmend(id, data).then((res) => {
					if (res?.code == 200) {
						uni.hideLoading();
						this.sku_visible = false;
						uni.showToast({
							icon: 'none',
							title: this.$t("goods.operateSuccessfully"),
							duration: 2000
						})
					}
					this.purchaseCartListFn();
				});
			},

			// 全选接口
			purchaseCartSelectAllFn(selected) {
				let para = {
					selected: selected,
				};
				this.$api.purchaseCartSelectAll(para).then((res) => {
					if (res?.code == 200) {
						this.shoppingCart = res?.data?.saleCartGroupSellerDto || [];
					}
				});
			},
			// 品牌全选接口
			purchaseCartSelectAllBrandIdFn(id, selected) {
				let param = {
					selected: selected,
					sellerId: id,
				};
				this.$api.purchaseCartSelectAllBrandId(param).then((res) => {
					if (res?.code == 200) {
						this.shoppingCart = res?.data?.saleCartGroupSellerDto || [];
					}
				});
			},
			// 单选接口
			purchaseCartSelectIdFn(id, selected) {
				let para = {
					// selected: selected,
				};
				this.$api.purchaseCartSelectId(id, para).then((res) => {
					if (res?.code == 200) {
						this.shoppingCart = res?.data?.saleCartGroupSellerDto || [];
					}
				});
			},

			// 获取购物车列表
			purchaseCartListFn() {
				uni.showLoading();
				this.$api.purchaseCartList(this.userInfo.id).then((res) => {
					if (res?.code == 200) {
						this.shoppingCart = res?.data?.saleCartGroupSellerDto || [];
						// console.log("this.shoppingCart : ", this.shoppingCart);
						this.falseSaleCart = res?.data?.falseSaleCartFrontDtos;
					}
					uni.hideLoading();
				});
			},
			//商家的选中与否
			storeSelBtn(storeItem, storeIndex) {
				console.log("storeItem, storeIndex: ", storeItem, storeIndex);
				let toState = !this.shoppingCart[storeIndex].selected;
				let sellerId = storeItem.sellerFrontDto.sellerId;
				if (!this.isEdit) {
					this.purchaseCartSelectAllBrandIdFn(sellerId, toState);
				} else {
					let flag = this.isEdit ? "isDelSelect" : "selected";
					this.$set(
						this.shoppingCart[storeIndex],
						flag,
						!this.shoppingCart[storeIndex][flag]
					);
					this.shoppingCart[storeIndex].saleCartFrontDtos.forEach((item) => {
						if (this.isEdit) {
							this.$set(item, flag, this.shoppingCart[storeIndex][flag]);
						} else {
							// 去掉不可选的是否全选、全不选
							if (item.status != 2 && item.stockFlag != 0) {
								this.$set(item, flag, this.shoppingCart[storeIndex][flag]);
							}
						}
					});
				}

				// console.log("this.shoppingCart: ", this.shoppingCart);
			},
			//商品的选中与否
			goodsSelBtn(goodsItem, storeIndex, goodsIndex) {
				console.log(
					"========",
					storeIndex,
					goodsIndex,
					this.shoppingCart,
					this.shoppingCart[storeIndex]
				);
				let toState = !this.shoppingCart[storeIndex].saleCartFrontDtos[goodsIndex].selected;
				let id = goodsItem.id;

				// console.log("商品的选中与否=====>", toState, id);

				if (!this.isEdit) {
					this.purchaseCartSelectIdFn(id, toState);
				} else {
					let flag = this.isEdit ? "isDelSelect" : "selected";

					this.$set(
						this.shoppingCart[storeIndex].saleCartFrontDtos[goodsIndex],
						flag,
						!this.shoppingCart[storeIndex].saleCartFrontDtos[goodsIndex][flag]
					);

					let allIsSel = true; //是否已经全部选中
					this.shoppingCart[storeIndex].saleCartFrontDtos.forEach((item) => {
						if (this.isEdit) {
							if (!item.isDelSelect) {
								allIsSel = false;
							}
						} else {
							if (!item.selected && item.status != 2 && item.stockFlag != 0) {
								allIsSel = false;
							}
						}
					});
					this.$set(this.shoppingCart[storeIndex], flag, allIsSel);
				}
			},
			//商品的数量增减 记录服务器
			countChange(e, goodsItem) {
				// console.log("goodsItem", e, goodsItem);
				const {
					value
				} = e;
				let para = {
					cartType: "sale",
					sku: {
						skuId: goodsItem.sku.skuId,
					},
					quantity: value,
				};
				this.purchaseCartAmendFn(goodsItem.id, para);
			},
			//全选
			allSelBtn() {
				let toState = !this.allSelState;
				console.log("toState: ", toState);

				if (!this.isEdit) {
					this.purchaseCartSelectAllFn(toState);
				} else {
					let flag = this.isEdit ? "isDelSelect" : "selected";
					this.shoppingCart.forEach((sitem) => {
						this.$set(sitem, flag, toState);
						sitem.saleCartFrontDtos.forEach((gitem) => {
							this.$set(gitem, flag, toState);
						});
					});
				}
			},
		},
	};
</script>
<style scoped lang="scss">
	page {
		background-color: #f6f6f6;
	}

	.store-list {
		background-color: #fff;
	}

	.w-90 {
		width: 90rpx;
	}

	.sel-btn {
		width: 45rpx;
		height: 45rpx;
		margin-right: 10rpx;
	}

	.sel-height {
		height: 162rpx;
	}

	.no-select {
		width: 34rpx;
		height: 34rpx;
		border-radius: 50%;
		border: 1px solid rgb(235, 236, 238);
		position: relative;
	}

	.z-index-p {
		z-index: 100;
	}

	.bci-info-tit {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-size: 28rpx;
		line-height: 40rpx;
		word-break: break-all;
	}

	.carts {
		.cart-nav {
			padding: 20rpx 24rpx;
			box-sizing: border-box;
			// padding-bottom: 40rpx;
		}

		.pad-12 {
			padding: 0 30rpx;
			box-sizing: border-box;
		}

		.store-header {
			margin-bottom: 30rpx;
			padding-top: 30rpx;
		}

		.goods-item {
			margin-bottom: 30rpx;
			margin-right: 20rpx;
		}

		.y-l-20 {
			margin-left: 20rpx;
		}

		.sic-specifi {
			position: relative;
			min-height: 60rpx;
			margin-top: 20rpx;

			.sic-specifi-cont {
				max-width: 100%;
				display: inline-flex;
				align-items: center;
				flex-wrap: nowrap;
				background: #f8f8f8;
				color: #666666;
				font-size: 28rpx;
				padding: 10rpx 18rpx 10rpx 10rpx;
				border-radius: 6rpx;
				box-sizing: border-box;
				margin-bottom: 20rpx;

				view {
					flex: 1;
					line-height: 40rpx;
					text-overflow: -o-ellipsis-lastline;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					margin-right: 20rpx;
				}

				image {
					width: 24rpx;
					height: 24rpx;
					vertical-align: middle;
				}
			}
		}

		.specifi-bt {
			margin-bottom: 20rpx;
		}

		.bci-info-anchor {
			margin-bottom: 20rpx;
		}

		.vip-txt-b {
			/* width: 80rpx; */
			height: 30rpx;
			margin-top: 22rpx;
			margin-bottom: 8rpx;
			display: flex;

			.activity-tips {
				box-sizing: border-box;
				height: 32rpx;
				background: linear-gradient(270deg, #fc3574 0%, #fc1e55 100%);
				opacity: 1;
				border-radius: 8rpx;
				color: #fff;
				font-size: 24rpx;
				font-family: PingFang SC;
				/* font-weight: bold; */
				line-height: 32rpx;
				padding: 0 10rpx;
			}

			.disabled {
				background: #bfbfbf;
			}

			.vipImg {
				width: 80rpx;
				height: 30rpx;
				/* margin-bottom: 8rpx; */
			}

			.vipImgB {
				width: 68rpx;
				height: 34rpx;
			}

			.vipImg2 {
				width: 120rpx;
				height: 30rpx;
				/* margin-bottom: 8rpx; */
			}
		}

		.sic-bot {
			overflow: hidden;
			justify-content: space-between;

			.sic-bot-tip {
				height: 34rpx;
				line-height: 34rpx;
				font-size: 24rpx;
				color: $theme-color;
			}

			.sic-footer {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 2rpx;

				.sic-footer-tip {
					font-size: 28rpx;
					line-height: 40rpx;
				}

				.sic-footer-resel {
					width: 96rpx;
					height: 48rpx;
					text-align: center;
					line-height: 44rpx;
					font-size: 24rpx;
					border-radius: 24rpx;
					box-sizing: border-box;
				}

				.line-main-color {
					color: $theme-color;
					border: 2rpx solid $theme-color;
				}
			}
		}

		// 失效列表
		.basket-list-inv {
			background: #ffffff;
			margin: 20rpx 24rpx 0;
			color: #2e2e2e;
			overflow: hidden;
			border-radius: 10rpx;

			.bli-tit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 20rpx;
				font-size: 28rpx;

				.bli-tit-l {
					font-size: 28rpx;
					font-family: PingFang SC;
					font-weight: bold;
					color: #2e2e2e;
				}
			}

			.basket-item-inv {
				padding: 0 20rpx;
				margin-top: 20rpx;
				background: #ffffff;
				border-radius: 10rpx;
				overflow: hidden;
				padding: 0 20rpx 0 16rpx;
				border-radius: 0;

				.basket-com-list {
					.basket-com-item {
						position: relative;
						display: flex;
						align-items: flex-start;
						/* align-items: center;
								  margin-bottom: 80rpx; */
						margin-bottom: 40rpx;

						.bci-l {
							display: flex;
							align-items: center;

							.basket-top-inv {
								width: 44rpx;
								height: 26rpx;
								margin-right: 16rpx;
								overflow: hidden;

								image {
									width: 100%;
									height: 100%;
									vertical-align: top;
								}
							}

							.bci-img {
								width: 176rpx;
								height: 176rpx;
								border-radius: 10rpx;
							}
						}

						.bci-info {
							position: relative;
							flex: 1;
							min-height: 176rpx;
							margin-left: 20rpx;
							overflow: hidden;

							/* margin-bottom: 40rpx; */
							.bci-info-tit {
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 2;
								overflow: hidden;
								font-size: 28rpx;
								line-height: 40rpx;
								word-break: break-all;
							}

							.sic-footer-inv {
								position: absolute;
								left: 0;
								bottom: 0;
								font-size: 28rpx;

								.sic-footer-inv-tip {}
							}
						}
					}
				}
			}
		}
	}

	.falseSaleCartTop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24rpx;
	}

	.goods-imgs {
		width: 162rpx;
		height: 162rpx;
		border-radius: 16rpx;
	}

	.bg-white {
		background: #ffffff;
	}

	.footButton {
		// padding-bottom: 60px !important;
		justify-content: space-between;
		font-size: 26rpx;
		color: #999999;
		// padding-top: 30rpx;
		padding: 30rpx 30rpx 120rpx 30rpx !important;

		.amount {
			display: flex;
			align-items: center;
			color: $theme-color;
		}
	}

	.submitBtnStyle {
		width: 216rpx;
		height: 68rpx;
		border-radius: 12rpx;
	}

	/*常见样式, 对于uview的内置样式的不足的补全以及通用样式的补充*/
	.y-position-fixed {
		position: fixed;
	}

	.y-top-0 {
		top: 0;
	}

	.y-bottom-0 {
		bottom: 0;
	}

	.y-left-0 {
		left: 0;
	}

	.y-right-0 {
		right: 0;
	}

	.y-flex-column {
		flex-direction: column !important;
	}

	.y-w-100 {
		width: 100%;
	}

	/*系统状态栏高度*/
	.y-system-height {
		height: var(--status-bar-height);
	}

	.y-justify-end {
		justify-content: flex-end;
	}

	.y-align-center {
		align-items: center;
	}

	.y-align-start {
		align-items: flex-start;
	}

	.y-align-end {
		align-items: flex-end;
	}

	.y-flex {
		display: flex;
	}

	.y-flex-column {
		flex-direction: column;
	}

	.y-flex-1 {
		flex: 1;
	}

	.y-justify-start {
		justify-content: flex-start;
	}

	.y-justify-end {
		justify-content: flex-end;
	}

	.y-justify-around {
		justify-content: space-around;
	}

	.y-justify-between {
		justify-content: space-between;
	}

	.y-weight-bold {
		font-weight: bold;
	}

	.y-border-bottom {
		border-bottom: 1rpx solid rgba($color: #707070, $alpha: 0.12);
	}

	.color-price {
		color: $theme-color;
		font-size: 32rpx;
	}

	::v-deep {
		.goods-item {
			margin-left: 10px;
		}

		.vk-data-goods-sku-popup.show .layer {
			bottom: 100rpx !important;
		}
	}

	.popupBox {
		::v-deep {
			.uicon-close {
				font-size: 22px !important;
			}
		}

		.title {
			width: 100%;
			text-align: center;
			margin-top: 20rpx;
			font-size: 32rpx;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #222222;
		}

		.amountDetail {
			max-height: 60vh;
			overflow: auto;
			margin-bottom: 100rpx;

			.amountItemList {
				padding: 0 24rpx;
				// background: #fff;
				border-bottom: 20rpx solid #f6f6f6;

				.amountItem {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 20rpx 0;

					.leftKey {
						font-size: 24rpx;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #585858;
					}

					.rightVal {
						font-size: 24rpx;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #222222;
					}
				}
			}

			.amountItemList:last-child {
				border-bottom: 0;
			}
		}
	}
</style>