<template>
  <view :style="this.$store.state.theme.presentTheme" class="content">
    <commonTop :isBack='true' :show='true'>{{ $t('goods.confirmAnOrder') }}</commonTop>
    <view class="addressBox" @click="goToAddress">
      <template v-if="orderData.address && orderData.address.id">
        <image width="36rpx" height="36rpx" style="width: 36rpx;height: 36rpx;" src="../../../static/images/goods/site_icon.png"></image>
        <view class="detailedAddress">
          <view class="detail">{{
    orderData.address.provinceName +
    " " +
    orderData.address.cityName +
    " " +
    orderData.address.districtName +
    " " +
    orderData.address.address
  }}</view>
          <view class="userinfo">{{ orderData.address.consigneeName }}
            <text v-if="orderData.address.phoneRegion">({{ orderData.address.phoneRegion }})</text>
            {{ orderData.address.mobile }}
          </view>
        </view>
      </template>
      <template v-else>
        <image width="36rpx" height="36rpx" style="width: 36rpx;height: 36rpx;" src="../../../static/images/goods/addSite.png"></image>
        <view class="detailedAddress">
          <view class="detail"> {{ $t("order.AddDeliveryInformation") }} </view>
          <view class="userinfo">{{ $t("order.completeDelivery") }}</view>
        </view>
      </template>
      <uv-icon name="arrow-right" color="#ccc" size="14"></uv-icon>
    </view>
    <view class="goodsBox">
      <view class="goodsList">
        <view class="imgList">
          <image v-for="item in orderData.lines" :key="item.skuId" style="width: 120rpx;height: 120rpx;" class="img"
            :src="item.picture"></image>
        </view>
        <view class="num" @click="$refs.popupGoodsShow.open('bottom')"><text>{{ $t("order.quantity") }}:{{
    orderData.lines ? orderData.lines.length : 0
  }}</text><uv-icon name="arrow-right" color="#ccc" size="14"></uv-icon></view>
      </view>
      <view class="prices">
        <view class="goods-price">
          <text>{{ $t("goods.commodityAmount") }}</text>
          <view style="display: inline-block">{{ $store.getters.moneyMark || '' }}
            {{ currency(orderData.totalAmount) }}</view>
        </view>
        <!-- <view class="goods-price">
            <text>赠送货款</text>
            <text style="color: #b41701"
              >-{{ $store.getters.moneyMark }}</text
            >
          </view>
          <view class="goods-price">
            <text>优惠券</text>
            <text>{{ $store.getters.moneyMark }}</text>
          </view> -->
        <view class="goods-price remark">
          <text style="width: 100px">{{ $t("order.remark") }}</text>
          <uv-textarea v-model="buyerMsg" :placeholder="$t('register.pleaseEnter') + $t('order.remark')" autoHeight
            border="bottom"></uv-textarea>
        </view>
      </view>
      <view class="goodsfoot">
        <text>{{ $t("order.total") }}：</text>
        <text style="color: #b41701">{{ $store.getters.moneyMark || ''
          }}{{ currency(orderData.totalAmount) }}</text>
      </view>
    </view>
    <view class="accountsBox" v-if="false">
      <view class="title">
        <view class="title-left"><uv-image width="34rpx" height="34rpx" src="../../static/images/goods/priceIcon.png"
            style="margin-right: 4rpx"></uv-image>{{ $t("order.BalancePayment") }}</view>
        <view class="title-right">{{ $t("pages.balance") }}:{{ $store.getters.moneyMark }}
          {{ currency(orderData.accountAmount) }}</view>
      </view>
      <view class="payment">
        <view class="payment-item" v-for="(payDetails, index) in orderData.payDetails" :key="index">
          <text>{{ payDetails.type }}</text>
          <text style="color: #222222">-{{ $store.getters.moneyMark
            }}{{ currency(payDetails.payAmount) }}</text>
        </view>
      </view>
    </view>
    <view class="submitBox">
      <view class="total"><text class="info">{{ $t("order.total") }}:</text><text class="price"><text
            style="font-size: 16rpx">{{ $store.getters.moneyMark }}</text>{{ currency(orderData.payAmount) }}</text>
      </view>
      <view class="submitOrder">
        <uv-button :text="$t('order.SubmitOrder')" @click="submitTo" color="#B41701"></uv-button>
      </view>
    </view>
    <uv-popup ref="popupGoodsShow" @close="() => ($refs.popupGoodsShow.close())" :closeable="true" class="popupBox"
      :round="20">
      <h3 class="title">{{ $t("pages.goodsList") }}</h3>
      <view class="popupGoodsList">
        <view class="popupGoodsItem" v-for="data in orderData.lines" :key="data.skuId">
          <uv-image width="168rpx" height="168rpx" :src="data.picture" style="margin-right: 4rpx"></uv-image>
          <view class="goodsDetails">
            <view class="name">{{ data.productName }}</view>
            <view class="sku">{{ data.specName }}</view>
            <view class="memberPrice">{{ $store.getters.moneyMark }}
              {{ currency(data.memberPrice) }}</view>
            <view class="quantity"> x{{ data.quantity }}</view>
          </view>
        </view>
      </view>
    </uv-popup>
  </view>
</template>

<script>
import storage from "@/utils/storage.js";
import { currency } from "@/utils/util.js";
import commonTop from '@/components/CommonTop'
import {
	i18n
} from '@/main.js'

export default {
  components: {
    commonTop
  },
  data() {
    return {
      currency,
      popupGoodsShow: false,
      confirmOrder: null,
      orderData: {},
      buyerMsg: "",
      selectNewAddress: null,
    };
  },
  onLoad(options) {
    // if (options.newAddress) {
    //   this.newAddress = JSON.parse(options.newAddress);
    // }
    // console.log("options: ", options, this.newAddress);
  },
  onShow() {
    this.selectNewAddress = storage.get("selectNewAddress");
    console.log("this.selectNewAddress: ", this.selectNewAddress);
    // storage.get("confirmOrder");
    let confirmOrder = storage.get("confirmOrder");
    this.confirmOrder = confirmOrder;
    if (this.confirmOrder) {
      this.purchaseOrderConfirmFn(confirmOrder);
    } else {
      uni.showToast({
          icon: 'none',
          title: "errMsg：" + this.$t("main.RequestError"),
          duration: 2000
        })
      setTimeout(() => {
        uni.navigateBack();
      }, 1000);
    }
  },
  mounted() { },
  methods: {
    // 确认订单接口
    purchaseOrderConfirmFn(confirmOrder) {
      this.$api.purchaseOrderConfirm({ ...confirmOrder }).then((res) => {
		  console.log('=========================')
		  console.log(res)
		  console.log('=========================')
        if (res?.code == 200) {
          this.orderData = res.data;
          if (this.selectNewAddress?.id) {
            this.orderData.address = this.selectNewAddress;
            console.log(
              "this.orderData.selectNewAddress: ",
              this.orderData.selectNewAddress
            );
            storage.set("selectNewAddress", "");
          }
        } else {
          setTimeout(() => {
            uni.navigateBack();
          }, 1000);
        }
      });
    },

    // 提交订单
    submitTo() {
      if (this.orderData?.address?.id) {
        this.confirmOrder.addressId = this.orderData.address.id;
      } else {
        uni.showToast({
          icon: 'none',
          title: this.$t("register.selectAddress"),
          duration: 2000
        })
        return;
      }
      uni.showModal({
        content: this.$t("cMall.confirmOrder.noPaymentInfo"),
        confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
        showCancel: false,
        success: function (res) {
          if (res.confirm) {
            console.log("用户点击确定");
            // that.purchaseOrderSubmitFn();
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });
      return;
      let that = this;
      uni.showModal({
        title: this.$t("address.ConfirmSubmitOrder"),
        // content: "确认下单嘛?",
        confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
        success: function (res) {
          if (res.confirm) {
            console.log("用户点击确定");
            that.purchaseOrderSubmitFn();
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });
    },

    // 提交订单接口
    purchaseOrderSubmitFn() {
      // if (this.orderData.address.id) {
      //   this.confirmOrder.addressId = this.orderData.address.id;
      // } else {
      //   return;
      // }
      let param = {
        buyerMsg: this.buyerMsg,
        ...this.confirmOrder,
      };
      this.$api.purchaseOrderSubmit(param).then((res) => {
        if (res) {
          storage.set("confirmOrder", null);
          uni.redirectTo({
            url: `/pages/webview/index?path=pagesA/order/paymentInfo&payAmount=${res.payAmount}&title=${i18n.t('order.paymentInfo')}`,
          });
        }
      });
    },

    // 去选地址
    goToAddress() {
      uni.navigateTo({ url: `/pages/webview/index?path=pages/address/address&select=1&title=${i18n.t('invite.address')}` });
    },
  },
};
</script>

<style lang="scss">
.addressBox {
  padding: 24rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 20rpx solid #f6f6f6;

  .detailedAddress {
    width: 80%;
    font-size: 24rpx;
    font-family: PingFang-SC-Bold, PingFang-SC;
    font-weight: bold;
    color: #2e2e2e;
  }

  .userinfo {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    margin-top: 12rpx;
  }
}

.goodsBox {
  padding: 24rpx;
  border-top: 20rpx solid #f6f6f6;

  .goodsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .imgList {
    display: flex;
    width: 80%;
    overflow: auto;

    .img {
      margin-left: 12rpx;
    }
  }

  .num {
    display: flex;
  }

  .prices {
    margin-top: 40rpx;
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #2e2e2e;

    .goods-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20rpx;
    }

    /deep/ .uv-border-bottom {
      border-bottom-width: 0px !important
    }

    .remark {
      border-bottom: 2rpx solid #f6f6f6;
    }
  }

  .goodsfoot {
    text-align: right;
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #2e2e2e;
  }
}

.accountsBox {
  padding: 24rpx;
  border-top: 20rpx solid #f6f6f6;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-left {
    display: flex;
    align-items: center;
    font-size: 28rpx;
    font-family: PingFangSC-, PingFang SC;
    font-weight: 600;
    color: #222222;
  }

  .title-right {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #585858;
  }

  .payment {
    background: #f6f6f6;
    border-radius: 11rpx;
    margin-top: 24rpx;
    padding: 0 24rpx 20rpx 24rpx;

    .payment-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20rpx;
      font-size: 24rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #585858;
    }
  }
}

.submitBox {
  margin: 24rpx 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 750rpx;

  .total {
    display: flex;
    align-items: center;

    .info {
      font-size: 26rpx;
      font-family: PingFangSC-, PingFang SC;
      font-weight: normal;
      color: #2e2e2e;
    }

    .price {
      font-size: 36rpx;
      font-family: PingFang-SC-Bold, PingFang-SC;
      font-weight: bold;
      color: $theme-color;
    }
  }

  .submitOrder {
    width: 216rpx;
    height: 68rpx;
    color: #fff;
    margin-left: 20rpx;
    margin-right: 24rpx;
  }
}

.popupBox {
  overflow: hidden;

  .title {
    width: 100%;
    text-align: center;
    margin-top: 20rpx;
    font-size: 32rpx;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #222222;
    height: 80rpx;
  }

  .popupGoodsList {
    height: 80vh;
    overflow: auto;
    padding: 24rpx;

    .popupGoodsItem {
      display: flex;
      margin-bottom: 40rpx;
    }

    .goodsDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20rpx;
      position: relative;
      flex: 1;

      .name {
        font-size: 28rpx;
        font-family: PingFang-SC-Medium, PingFang-SC;
        font-weight: 500;
        color: #222222;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* 超出几行省略 */
        overflow: hidden;
      }

      .sku {
        font-size: 22rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        margin-top: 10rpx;
      }

      .memberPrice {
        font-size: 36rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 600;
        color: $theme-color;
      }

      .quantity {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 24rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
      }
    }
  }
}

::v-deep {
  .v-tabs {
    z-index: 9999;
  }

  .uni-textarea-placeholder {
    text-align: right;
  }

  .u-border-bottom {
    border: 0;
  }

  .popupBox {
    font-size: 22px !important;
  }
}
</style>