<template>
	<view class="content" :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('invite.addressEditing') }}</commonTop>
		<uv-form ref="addressForm" :rules="rules" :modelValue="formData" label-width="15" class="formsBox">
			<!-- 姓名 -->
			<uv-form-item name="consigneeName" required>
				<uni-easyinput v-model="formData.consigneeName" :disabled="mode == 'look'"
					:placeholder="$t('register.nameInfo')"
					:primaryColor="this.$store.state.theme.presentTheme['--theme-color']" />
			</uv-form-item>
			<!-- 国家选择 -->
			<uv-form-item name="country" required>
				<uni-data-select v-model="formData.country" :localdata="range" @change="manageChange" :disabled="true"
					:clear="false" :placeholder="$t('register.PleaseSelectCountry')"></uni-data-select>
			</uv-form-item>
			<!-- 地区选择 -->
			<uv-form-item name="addressApplication" required>
				<uniDataPicker :class="[mode == 'look' ? 'look-bg' : '']" v-model="currentCity" :localdata="Address"
					:readonly="mode == 'look'" :popup-title="$t('register.PleaseSelect')" @change="onchange"
					:map="{ text: 'name', value: 'code' }" :placeholder="$t('register.PleaseSelect')"
					:clear-icon="false"></uniDataPicker>
			</uv-form-item>
			<!-- 详细地址 -->
			<uv-form-item name="address" required>
				<uni-easyinput type="textarea" :disabled="mode == 'look'" v-model="formData.address"
					:placeholder="$t('register.PleaseFullAdress')"
					:primaryColor="this.$store.state.theme.presentTheme['--theme-color']" />
			</uv-form-item>
			<!-- 手机区号以及手机号 -->
			<uv-form-item name="phone" required>
				<view class="phoneBox">
					<div class="phoneRegion-box" :class="[
		formData.phoneRegion ? 'phoneRegion-box-color' : '',
		mode == 'look' ? 'phoneRegion-box-bg' : '',
	]" @click="openup">
						{{
		formData.phoneRegion
			? formData.phoneRegion
			: $t("register.PleaseSelect")
	}}
					</div>
					<uni-easyinput style="flex: 3; margin-left: 10rpx" v-model="formData.phone"
						:disabled="mode == 'look'" type="number" :primaryColor="this.$store.state.theme.presentTheme['--theme-color']
		" :placeholder="$t('register.PleaseEnterPhone')" />
				</view>
			</uv-form-item>
			<!-- <uv-form-item label="设置为默认地址"> -->

			<!-- </uv-form-item> -->
		</uv-form>
		<view style="border-top: 22rpx solid #f6f6f6"></view>
		<view class="selected" @click="isDefaultFn">
			<text>{{ $t("address.setDefault") }}</text>
			<uv-image width="36rpx" height="36rpx" src="../../static/images/goods/playSucc.png"
				v-if="formData.isDefault"></uv-image>
			<uv-image width="36rpx" height="36rpx" src="../../static/images/goods/unselected.png" v-else></uv-image>
		</view>
		<view class="footBox">
			<button class="footer-btn" type="primary" @click="submit('addressForm')">
				{{ $t("register.Confirm") }}
			</button>
		</view>
		<!-- 区号选择弹窗 -->
		<uv-popup ref="popup" mode="bottom" background-color="#fff">
			<div class="picker-title">
				<div class="picker-cancel" @click="cancelEvent">
					{{ $t("register.Cancel") }}
				</div>
				<div class="picker-confrim" @click="confrimEvent">
					{{ $t("register.Confirm") }}
				</div>
			</div>
			<picker-view v-if="visible" :indicator-style="indicatorStyle" :value="value" @change="bindChange"
				class="picker-view">
				<picker-view-column>
					<view class="item" v-for="(item, index) in countryList" :key="index">{{ item.text }}</view>
				</picker-view-column>
			</picker-view>
		</uv-popup>
	</view>
</template>

<script>
import {
	setTreeData
} from "@/utils/util.js";
import uniDataPicker from "@/uni_modules/uni-data-Newpicker/components/uni-data-picker/uni-data-picker";
import storage from "@/utils/storage.js";
import {
	addressCompile,
	addressAdd
} from "@/config/vmeitime-http/address.js";
import commonTop from '@/components/CommonTop'
import {
  i18n
} from '@/main.js'

export default {
	components: {
		uniDataPicker,
		commonTop
	},
	data() {
		const checkphoneNumber = (rule, value, data, callback) => {
			if (!this.formData.phoneRegion) {
				callback(this.$t("register.SelectphoneRegion"));
			}

			if (
				this.formData.phoneRegion == "+86" ||
				this.formData.phoneRegion == "86"
			) {
				let reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
				console.log(reg.test(this.formData.phone));
				if (!reg.test(this.formData.phone)) {
					callback(this.$t("register.PleaseEnterPhoneCorrect"));
				}
			}

			return;
		};
		let newAdd = setTreeData(require("@/pagesA/static/MalaysiaAddress.json"));
		const filteredArray = newAdd.filter(
			(item) => item.code == "N301" || item.code == "N302"
		);
		return {
			indicatorStyle: `height: 50px;`,
			mode: null,
			xTenant: this.$store.getters.xTenant,
			MalaysiaAddress: filteredArray,
			ChinaAddress: setTreeData(require("@/pagesA/static/ChinaAddress.json")),
			Address: filteredArray,
			currentCity: "",
			visible: true,
			RegionIndex: 0,
			value: [0],
			formDataAddr: null,
			type: 2, //1==编辑  2==新增
			select: "", //1===下单选择地址模式
			countryList: [{
				value: "+86",
				text: "中国+86",
			},
			{
				value: "+60",
				text: "马来西亚Malaysia +60",
			},
			],
			range: [{
				value: 1,
				text: this.$t("register.Malaysia"),
			},
			{
				value: 0,
				text: this.$t("register.China"),
			},
			],
			formData: {
				consigneeName: "",
				country: this.$store.getters.xTenant == "mml" ? 1 : 0,
				countryName: this.$t("register.Malaysia"),
				addressApplication: null,
				address: "",
				phone: "",
				phoneRegion: "",
				isDefault: false,
			},
			rules: {
				consigneeName: {
					rules: [{
						required: true,
						errorMessage: this.$t("register.nameInfo"),
					},
					{
						minLength: 2,
						maxLength: 30,
						errorMessage: this.$t("register.nameLength") +
							` {minLength} - {maxLength} ` +
							this.$t("register.nameLengthLong"),
					},
					],
				},
				address: {
					rules: [{
						required: true,
						errorMessage: this.$t("register.PleaseFullAdress"),
					},],
				},
				phone: {
					rules: [{
						required: true,
						errorMessage: this.$t("register.PleaseEnterPhone"),
					},
					{
						maxLength: 20,
						errorMessage: this.$t("register.phoneLimit"),
					},
					{
						validateFunction: checkphoneNumber,
					},
					],
				},
				country: {
					rules: [{
						required: true,
						errorMessage: this.$t("register.PleaseSelectCountry"),
					},],
				},
				phoneRegion: {
					rules: [{
						required: true,
						errorMessage: this.$t("register.SelectphoneRegion"),
					},],
				},
				addressApplication: {
					rules: [{
						required: true,
						errorMessage: this.$t("register.PleaseSelect"),
					},],
				},
			},
		};
	},
	onLoad(options) {
		console.log("options: ", options);
		this.type = options.type;
		this.select = options.select;

		if (options.type == 1) {
			this.formDataAddr = storage.get("formDataAddr");
			console.log("this.formDataAddr: ", this.formDataAddr);
			this.manageChange(this.formDataAddr.country);
		} else {
			if (this.xTenant == "mml") {
				this.manageChange(1);
			} else {
				this.manageChange(0);
			}
		}
	},
	mounted() {
		// 回显数据
		if (this.formDataAddr) {
			this.formData = this.formDataAddr;
			this.currentCity = this.formData.addressApplication[2].value;
		}
		this.smsRegionFn();
	},
	methods: {
		open() {
			this.show = true;
		},

		//  获取区号
		smsRegionFn() {
			this.$api.smsRegion().then((res) => {
				// console.log("res: ", res);
				if (res) {
					// 区号数据初始化
					let newCountryList = res.map((res, index) => {
						return {
							text: `${res.regionName} ${res.phoneRegion}`,
							value: res.phoneRegion,
						};
					});
					this.countryList = newCountryList;
					// this.phoneRegion = this.countryList[this.RegionIndex].value;
				}
			});
		},

		// 是否勾选默认
		isDefaultFn() {
			console.log("isDefaultFn", this.formData, this.formData.isDefault);
			this.formData.isDefault = !this.formData.isDefault;
		},

		// 新增地址
		addressAddFn(params) {
			addressAdd(params).then((res) => {
				if (res) {
					uni.showToast({
						icon: 'none',
						title: i18n.t('goods.operateSuccessfully'),
						duration: 1500
					})
					let pages = getCurrentPages();
					let prev = pages[pages.length - 2];
					prev.mescroll.resetUpScroll();
					uni.navigateBack();
				}
			});
		},

		// 更新地址
		addressCompileFn(id, params) {
			addressCompile(id, params).then((res) => {
				if (res) {
					uni.showToast({
							icon: 'none',
							title: this.$t("goods.operateSuccessfully"),
							duration: 2000
						})
					// uni.navigateBack({
					//   url: `/pages/address/address?select=` + this.select,
					// });
					let pages = getCurrentPages();
					let prev = pages[pages.length - 2];
					prev.mescroll.resetUpScroll();
					// console.log('pages: ', pages,prev);
					uni.navigateBack();
				}
			});
		},

		// 提交
		submit() {
			console.log("formData", this.formData);
			let formData = this.formData;
			this.$refs.addressForm
				.validate()
				.then((res) => {
					console.log("res: ", res);
					let params = {
						mobile: formData.phone,
						phoneRegion: formData.phoneRegion,
						address: formData.address,
						city: formData.addressApplication[1].value,
						cityName: formData.addressApplication[1].text,
						country: formData.country,
						countryName: formData.countryName,
						district: formData.addressApplication[2].value,
						districtName: formData.addressApplication[2].text,
						province: formData.addressApplication[0].value,
						provinceName: formData.addressApplication[0].text,
						isDefault: formData.isDefault,
						consigneeName: formData.consigneeName,
					};
					if (this.type == 1) {
						this.addressCompileFn(this.formData.id, params);
					} else {
						this.addressAddFn(params);
					}
				})
				.catch((err) => {
					console.log("第一表单有不通过信息：", err);
				});
		},

		// 新增地址

		// 地址选择回调
		onchange(e) {
			console.log("onchange", e);
			this.formData.addressApplication = e.detail.value;
		},
		// 经营区域选择回调
		manageChange(e) {
			console.log("manageChange", e);
			if (e == 0) {
				this.Address = this.ChinaAddress;
				console.log("this.Address : ", this.Address);
			} else {
				this.Address = this.MalaysiaAddress;
			}
		},
		// 区号弹窗
		openup() {
			if (this.mode == "look") return;
			this.$refs.popup.open();
		},
		// 区号选择回调
		bindChange(e) {
			console.log("bindChange", e);
			this.RegionIndex = e.detail.value[0];
		},
		// 区号关闭
		cancelEvent() {
			this.$refs.popup.close();
		},
		// 区号选择
		confrimEvent() {
			console.log(
				this.RegionIndex,
				"this.RegionIndex",
				this.countryList[this.RegionIndex].value
			);
			this.formData.phoneRegion = this.countryList[this.RegionIndex].value;
			this.value = [this.RegionIndex];
			this.$refs.popup.close();
		},
	},
};
</script>

<style lang="scss">
.content {
	background: #fff;
	// padding: 20rpx 24rpx 1rpx;
	box-sizing: border-box;
	border-radius: 10rpx;
	height: 100%;
}

.formsBox {
	padding: 24rpx;

	::v-deep .uv-form-item__body__left__content__required {
		top: auto;
	}
}

picker-view {
	width: 100%;
	height: 500rpx;
	margin-top: 20rpx;
}

.picker-view .item {
	// line-height: 100rpx;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.picker-title {
	height: 100rpx;
	line-height: 100rpx;
	display: flex;
	justify-content: space-between;
	padding: 0 20rpx;
	box-sizing: border-box;

	.picker-cancel {
		color: #666;
		padding: 0 20rpx;
	}

	.picker-confrim {
		color: $theme-color;
		padding: 0 20rpx;
	}
}

.phoneBox {
	display: flex;
}

.phoneRegion-box {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	color: #999;
	font-size: 12px;
	padding: 0 20rpx;
	overflow-x: scroll;
	margin-left: -20rpx;
}

.phoneRegion-box-color {
	color: #333;
}

.phoneRegion-box-bg,
.look-bg {
	background-color: rgb(247, 246, 246);
	color: #d5d5d5;

	::v-deep .text-color {
		color: #d5d5d5;
	}
}

.footBox {
	position: fixed;
	bottom: 20rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer-btn {
	margin: 0rpx auto;
	font-size: 28rpx;
	line-height: 88rpx;
	width: 702rpx;
	height: 88rpx;
	background: #b41701;
	border-radius: 12rpx;
}

::v-deep {
	.uni-select__input-placeholder {
		color: #999;
	}

	.placeholder {
		color: #999;
	}

	uni-page-wrapper {
		background-color: #f6f6f6;
	}

	.selected-item-active {
		border-bottom: 4rpx solid $theme-color !important;
	}
}

.selected {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20rpx;
	padding: 0 24rpx;
	font-size: 30rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #222222;
}
</style>