<template>
  <div>
    <uv-popup
      ref="cancelOrderShow"
      @close="cancelOrderShowFn(false)"
      @open="cancelOrderShowFn(true)"
      :closeable="true"
      :round="20"
	  :closeOnClickOverlay="false"
      :overlayStyle="{ 'touch-action': 'none' }"
    >
      <view class="popupBox">
        <h3 class="title" style="margin-bottom: 24rpx">
          {{ $t("order.cancelOrder") }}
        </h3>
        <view class="cancelOrderBox">
          <view class="tips">
            <p>{{ $t("order.cancelOrderInfo") }}:</p>
            <p>{{ $t("order.cancelOrderInfo1") }}</p>
            <p>{{ $t("order.cancelOrderInfo2") }}</p>
            <p>
              {{ $t("order.cancelOrderInfo3") }}
            </p>
            <p>
              {{ $t("order.cancelOrderInfo4") }}
            </p>
          </view>
          <p class="causeTitle">{{ $t("order.cancelOrderCauseHeading") }}：</p>
          <uv-radio-group v-model="radiovalue" placement="column" size="28">
            <uv-radio
              :customStyle="{ marginBottom: '48rpx' }"
              v-for="(item, index) in radiolist"
              :key="index"
              :label="item.desc"
              :name="item.code"
              size="14"
              @change="(name) => groupChange(name, item)"
              :activeColor="activeColor"
            >
            </uv-radio>
          </uv-radio-group>
          <uv-textarea
            border="bottom"
            v-model="remark"
            :placeholder="$t('order.cancelOrderPlaceholder')"
          ></uv-textarea>
          <view class="cancelOrderSubmit">
            <uv-button
              border="none"
              customStyle="width: 100%"
              :color="activeColor"
              :disabled="!radiovalue"
              :text="$t('order.cancelOrderSubmit')"
              @click="cancelOrderSubmit"
            ></uv-button>
          </view>
        </view>
      </view>
    </uv-popup>
  </div>
</template>
<script>
import {
  purchaseOrderCancelReason,
  purchaseOrderCancel,
} from "@/config/vmeitime-http/order.js";
export default {
  props: {
    cancelOrderShow: {
      //弹窗展示
      type: Boolean,
      default: false,
    },
    checkedId: {
      //选择id
      type: null,
    },
    source: {
      type: String,
    },
  },
  data() {
    return {
      activeColor: this.$store.state.theme.presentTheme["--theme-color"],
      radiovalue: null, //取消订单单选原因
      cancelReason: null, //取消订单单选原因组
      remark: "", //取消订单其它原因
      radiolist: [], //取消采购订单原因列表
    };
  },
  mounted() {
    if (this.cancelOrderShow) {
      this.$refs.cancelOrderShow.open();
    } else {
      this.$refs.cancelOrderShow.open();
    }
    this.purchaseOrderCancelReasonFn();
  },
  methods: {
    // 取消订单
    cancelOrderSubmit() {
      let param = {
        code: this.cancelReason.code,
        desc: this.cancelReason.desc,
        remark: this.remark,
      };
      console.log("param: ", param, this.checkedId, this.$parent);
      purchaseOrderCancel(this.checkedId, param).then((res) => {
        if (res) {
		  uni.showToast({
		    title: this.$t("goods.operateSuccessfully"),
		    icon: "none",
		    duration: 3000,
		  });
          this.cancelOrderShowFn(false, this.source);
        }
      });
    },
    // 取消采购订单原因列表
    purchaseOrderCancelReasonFn() {
      purchaseOrderCancelReason().then((res) => {
        if (res) {
          this.radiolist = res;
        }
      });
    },
    // 单选回调
    groupChange(name, item) {
      console.log("e:单选回调1 ", name, item, this.radiovalue);
      this.cancelReason = item;
      this.radiovalue = name;
    },
    // 父子回调
    cancelOrderShowFn(data, type) {
      this.$emit("cancelOrderShowFn", data, type);
    },
  },
};
</script>
<style scoped lang="scss">
.popupBox {
  .title {
    width: 100%;
    text-align: center;
    margin-top: 20rpx;
    font-size: 32rpx;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #222222;
  }

  .cancelOrderBox {
    height: 70vh;
    overflow: auto;
    margin-bottom: 30rpx;
    padding: 24rpx;

    .tips {
      padding: 16rpx 24rpx;
      background: #f6f6f6;
      border-radius: 11rpx;
      font-size: 24rpx;
      font-family: PingFangSC-, PingFang SC;
      font-weight: normal;
      color: #585858;
      line-height: 34rpx;
    }

    .causeTitle {
      font-size: 24rpx;
      font-family: PingFangSC-, PingFang SC;
      font-weight: normal;
      color: #222222;
      line-height: 34rpx;
      padding: 24rpx 0;
    }

    .cancelOrderSubmit {
      height: 88rpx;
      width: 100%;
      border-radius: 12rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin-top: 22rpx;
      font-size: 32rpx;
    }
  }
}

::v-deep {
  .u-radio__text {
    font-size: 28rpx !important;
    font-weight: 400 !important;
    color: #2e2e2e !important;
    line-height: 40rpx !important;
  }

  .u-radio__icon-wrap--circle {
    width: 34rpx !important;
    height: 34rpx !important;
  }

  .uicon-checkbox-mark {
    font-size: 24rpx !important;
  }

  .u-textarea {
    height: 114rpx !important;
    background: #f6f6f6 !important;
    border-radius: 11rpx !important;
  }

  .uicon-close {
    font-size: 22px !important;
  }
}
</style>