<template>
	<div class="container" :style="this.$store.state.theme.presentTheme">
		<view class="materialItem" v-for="(item, index) in materialList" :key="index">
			<view class="materialLeft">
				<uv-image :src="item.pubAvatar" width="96rpx" height="96rpx" shape="circle">
				</uv-image>
			</view>
			<view class="materialRight">
				<p class="title">{{ item.pubNickName }}</p>
				<p class="time" v-show="item.pushTime">
					{{ dayjs(item.pushTime).fromNow() }}
				</p>
				<view class="contentBox">
					<uv-read-more show-height="120rpx" :toggle="true" fontSize="24rpx" textIndent="0"
						:color="$store.state.theme.presentTheme['--theme-color']">
						<div v-html="item.content"></div>
					</uv-read-more>
				</view>
				<view class="imgArr" v-if="item.publicityType == 'Pictures'">
					<uv-image class="img" v-for="img in item.imgArr" :key="img" :src="img"
						:width="item.imgArr.length == 1 ?'324rpx':'160rpx'"
						:height="item.imgArr.length == 1 ?'':'160rpx'"
						:mode="item.imgArr.length == 1 ? 'widthFix' : 'aspectFill'"
						@click="previewImage(img, item.imgArr)">
					</uv-image>
				</view>
				<view class="Video" v-if="item.publicityType == 'Video'">
					<video id="myVideo" preload="auto" :src="item.videos[0].mediaUrl" :poster="item.videos[0].coverUrl"
						controls></video>
				</view>
				<swiper v-if="materialType == 'materialCenter' && item.products.length" class="swiper" circular
					:indicator-dots="item.products.length===1?false:true" :autoplay="true" :interval="2000">
					<swiper-item class="swiperItem" v-for="swiperItem in item.products" :key="swiperItem.id"
						@click="goTo('/pages/goods/goodsDetail?id=' + swiperItem.productId)">
						<uv-image class="img" :src="swiperItem.mainPicture" mode="widthFix" width="132rpx"
							height="132rpx">
						</uv-image>
						<view class="swiperItemright">
							<view class="name">{{ swiperItem.productTitle }}</view>
							<view class="price">{{ moneyMark }}{{ swiperItem.retailPrice || 0}}</view>
						</view>
					</swiper-item>
				</swiper>
				<view class="button">
					<view class="copy" @click="copyOrder(item.content)">
						{{ $t("order.copy") }}
					</view>
				</view>
			</view>
		</view>
	</div>
</template>
<script>
	import dayjs from "dayjs";
	import uniCopy from "@/utils/uni-copy.js";
	import {
		convertHtmlToText
	} from "@/utils/util";
	import uvReadMore from '@/uni_modules/uv-read-more/components/uv-read-more/uv-read-more.vue'

	export default {
		components: {
			uvReadMore
		},
		props: {
			materiaData: {
				type: Array,
				default: [],
			},
			materialType: {
				type: String,
				default: "",
			},
		},
		data() {
			var relativeTime = require("dayjs/plugin/relativeTime");
			let i18nType;
			if (uni.getLocale() == "zh-Hans") {
				i18nType = require("dayjs/locale/zh-cn");
			} else {
				i18nType = require("dayjs/locale/en");
			}
			dayjs.locale(i18nType);
			dayjs.extend(relativeTime);
			return {
				moneyMark: this.$store.getters.moneyMark,
				dayjs,
				materialList: [],
			};
		},
		computed: {
			shadowStyle() {
				return {
					// #ifndef APP-NVUE
					backgroundImage: "linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 80%)",
					// #endif
					// #ifdef APP-NVUE
					// nvue上不支持设置复杂的backgroundImage属性
					backgroundImage: "linear-gradient(to top, #fff, rgba(255, 255, 255, 0.5))",
					// #endif
					paddingTop: "100px",
					marginTop: "-100px",
				};
			},
		},
		mounted() {
			this.materialList = this.materiaData;
			this.materialList.forEach((x) => {
				let imgArr = [];
				x.pictures.forEach((y) => {
					// console.log("imgArr: ", y.pictureUrl);
					imgArr.push(y.pictureUrl);
				});
				x.imgArr = imgArr;
			});
		},
		methods: {
			// 预览图片
			previewImage(img, imgArr) {
				uni.previewImage({
					current: img,
					urls: imgArr,
				});
			},
			// 复制
			copyOrder(content) {
				uniCopy({
					content: convertHtmlToText(content),
					success: (res) => {
						uni.showToast({
							title: this.$t("main.copySucc"),
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: this.$t("main.copyFail"),
							icon: "none",
							duration: 3000,
						});
					},
				});
			},

			goTo(url) {
				uni.navigateTo({
					url: url
				});
			},
		},
	};
</script>
<style lang="scss" scoped>
	.materialItem {
		display: flex;
		padding: 32rpx 24rpx;
		background-color: #fff;
		margin-top: 20rpx;
		flex-wrap: wrap;

		.materialRight {
			flex: 1;
			margin-left: 12rpx;

			.title {
				font-size: 32rpx;
				color: #2e2e2e;
				line-height: 44rpx;
			}

			.time {
				font-size: 24rpx;
				color: #666666;
				line-height: 28rpx;
				margin-top: 8rpx;
			}

			.contentBox {
				width: 586rpx;
				margin-top: 22rpx;
				font-size: 28rpx;
				font-family: PingFangSC, PingFang SC;
				font-weight: 400;
				color: #2e2e2e;
				line-height: 40rpx;
				max-height: 1000rpx;
			}

			.imgArr {
				display: flex;
				width: 508rpx;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: center;
				justify-content: flex-start;
				margin-top: 10rpx;

				.img {
					margin-right: 4rpx;
					margin-bottom: 4rpx;
				}
			}

			.Video {
				display: flex;
				max-width: 576rpx;
			}

			.swiper {
				width: 490rpx;
				height: 164rpx;
				background: #f2f2f2;
				border-radius: 12rpx;
				margin-top: 20rpx;
				padding: 10rpx 10rpx 20rpx 10rpx;
			}

			.swiperItem {
				display: flex;

				.swiperItemright {
					display: flex;
					flex-direction: column;
					height: 400rpx;
					margin-left: 10rpx;

					.name {
						font-size: 28rpx;
						font-family: Alibaba-PuHuiTi, Alibaba-PuHuiTi;
						font-weight: normal;
						color: rgba(0, 0, 0, 0.85);
						line-height: 40rpx;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						-o-text-overflow: ellipsis;
						width: 350rpx;
					}

					.price {
						margin-top: 50rpx;
						color: #B41701;
					}
				}
			}

			.button {
				display: flex;
				justify-content: flex-end;
				margin-top: 20rpx;

				.copy {
					background: rgba(255, 74, 74, 0.05);
					border-radius: 32rpx;
					font-size: 28rpx;
					font-family: Alibaba-PuHuiTi, Alibaba-PuHuiTi;
					font-weight: normal;
					color: #b41701;
					line-height: 40rpx;
					padding: 10rpx 30rpx;
				}
			}
		}
	}

	::v-deep {
		.uni-swiper-dots-horizontal {
			bottom: 0 !important;
		}
	}
</style>