<template>
  <!-- 6S强制开户 -->
  <view class="cnt">
    <uv-popup :show="showDialog" mode="center" :round="12">
      <view class="content">
        <view class="entry-title">经销商入驻</view>
        <view class="entry-subtitle"
          >根据监管要求，需要您完成相关入驻流程，为了保证您入驻申请顺利通过，请上传真实资料</view
        >
        <view class="card settlement">
          <uv-steps
            :current="stepCurrent"
            direction="column"
            activeColor="#B41701"
          >
            <view class="step-item" v-for="(item, index) in steps" :key="index">
              <uv-steps-item iconSize="80" :title="item.title" :desc="item.desc">
              </uv-steps-item>
              <uv-button
                v-if="item.finished"
                class="step-btn"
                color="#D2D2D2"
                text="已完成"
              ></uv-button>
              <uv-button
                v-else
                class="step-btn"
                :color="stepCurrent <= index ? '#B41701' : '#D2D2D2'"
                :text="stepCurrent <= index ? '去完成' : '已完成'"
                @click="goFinish(index)"
              ></uv-button>
              <view class="kh-tip">{{ item.tip }}</view>
            </view>
          </uv-steps>
        </view>
        <!-- <view class="fuwu-xieyi">
          我已阅读并同意 <span>《经销商入驻及相关服务协议》</span>
        </view> -->
      </view>
    </uv-popup>
  </view>
</template>

<script>
import { additionalState, applyAuth } from "@/config/vmeitime-http/index.js";
import storage from "@/utils/storage.js";
export default {
  data() {
    return {
      showDialog: false,
      stepCurrent: 0,
      step0: {
        // 0: "未开户",
        1: "已提交相关支付机构处理",
        // 2: '开户成功',
        3: "审核失败（跳转修改）",
        999: "开户终止（非大陆经销商无法开户）",
      },
      step1: {
        // 0: "未申请",
        1: "激活中",
        3: "审核失败",
        4: "已完成",
      },
      steps: [
        {
          title: "连连开户申请",
          desc: "开通收款账户",
          tip: "",
        },
        {
          title: "设置支付密码",
          desc: "管理资金账户安全",
        },
        {
          title: "免密授权",
          desc: "连连系统资金托管",
        },
      ],
      urlH: process.env.NODE_ENV == "development" ? "/#" : "/H5/index.html#",
      additionalStateData: {},
      userInfo: storage.get("loginInfo"),
      storelevelList: storage.get("loginInfo").storelevelList,
    };
  },
  watch: {
    show: {
      handler(newVal) {
        this.showDialog = newVal;
        this.additionalStateFn();
      },
      deep: true, // 深度侦听(对象里面层的值改变)
      immediate: true, // 立即侦听(网页打开handler执行
    },
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  onLoad() {},

  methods: {
    // 获取连连相关状态
    additionalStateFn() {
      additionalState().then((res) => {
        if (res?.code == 200) {
          this.additionalStateData = res.data;
          // 开户申请状态 silentOpened   0 未申请， 2，激活中， 3， 失败， 4 已完成
          if (this.additionalStateData.silentOpened != 2) {
            this.steps[0].tip =
              this.step0[this.additionalStateData.silentOpened];
            this.stepCurrent = 0;
          }
          // 设置支付密码 openAccountStatus==4已完成
          if (
            this.additionalStateData.silentOpened === 2 &&
            this.additionalStateData.openAccountStatus != 4
          ) {
            this.steps[1].tip =
              this.step1[this.additionalStateData.openAccountStatus];
            this.stepCurrent = 1;
          }
          // 免密授权 isFreeSecretPay==true已完成
          if (
            this.additionalStateData.silentOpened === 2 &&
            this.additionalStateData.openAccountStatus === 4
          ) {
            // this.steps[2].tip = this.additionalStateData.isFreeSecretPay === true ? '已完成':'未完成';
            this.stepCurrent = 2;
          }

          const res01 = this.storelevelList.findIndex(
            (item) => item.levelId == 1
          );
          
          let getDateTime = new Date('2024-06-15 00:00:00').valueOf()
          let getNowTime = new Date().valueOf()
           
           // 这些6s白名单不用弹出强制申请&免密
           let whitelist = ['M25644']
          if ( !this.$store.getters.xTenant && whitelist.indexOf(storage.get("loginInfo").authorizationCode) == -1 &&  getNowTime >  getDateTime && res01 > -1 && (!this.additionalStateData.isFreeSecretPay ||  this.additionalStateData.silentOpened != 2 || this.additionalStateData.openAccountStatus != 4 )) {
            this.showDialog = true;
          }

          console.log(this.additionalStateData);
        }
      });
    },

    // 去完成  pages/home/authentication
    goFinish(index) {
      if (index > this.stepCurrent) {
        uni.$u.toast("请先完善上一步");
        return false;
      }
      // 开户申请
      if (this.stepCurrent === 0 && this.stepCurrent === index) {
        if (
          this.additionalStateData.silentOpened === 0 ||
          this.additionalStateData.silentOpened === 3
        ) {
          uni.navigateTo({
            url: "/pages/home/authentication?entryProcess=true",
          });
        }
      } else if (this.stepCurrent === 1 && this.stepCurrent === index) {
        uni.navigateTo({
          url: "/pages/home/payContract?entryProcess=true",
        });
      } else if (this.stepCurrent === 2 && this.stepCurrent === index) {
        this.applyAuthFn();
      }
    },

    // 免密授权
    applyAuthFn() {
      let param = {
        customNo: this.userInfo.authorizationCode,
        channelNo: 1,
        returnUrl:
          location.origin + this.urlH + "/pages/usgBind/entryProcess?jump=page",
        userType: this.additionalStateData.type == "ORG" ? 2 : 1,
      };
      applyAuth(param).then((res) => {
        if (res?.code == 200) {
          if (!res.data.authFlag && res.data.gatewayUrl) {
            window.location.href = res.data.gatewayUrl;
          }
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep .u-safe-bottom {
  display: none !important;
}
.fuwu-xieyi {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 24rpx;
  span {
    color: #b41701;
  }
}
.content {
  background: #fff;
  border-radius: 12rpx;
  overflow: hidden;
  width: 600rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40rpx 36rpx 50rpx;
  box-sizing: border-box;
}

.slot-content {
  width: 90% !important;
  padding-bottom: 10rpx;
  box-sizing: border-box;

  ::v-deep .u-form-item__body__right__message {
    margin-left: 0px !important;
  }
}

.cnt {
  box-sizing: border-box;
  padding-bottom: 100rpx;
  box-sizing: border-box;

  .step-submit {
    width: 90%;
    height: 88rpx;
    color: #fff;
    background: #b41701;
    border-radius: 12rpx;
    margin-top: 76rpx;
  }

  .tip {
    width: 100%;
    line-height: 80rpx;
    background: #faeded;
    color: #b41701;
    font-weight: 500;
    font-size: 28rpx;
    padding-left: 24rpx;
    box-sizing: border-box;
  }

  .card {
    background-color: #fff;
    padding: 20rpx;
    box-sizing: border-box;
    border-radius: 10rpx;

    .title {
      font-size: 28rpx;
      color: #000;
      font-weight: 800;
    }

    .role-list {
      border-top: 1rpx solid #efefef;
      border-left: 1rpx solid #efefef;
      width: 100%;
      margin-top: 20rpx;
      display: flex;
      flex-wrap: wrap;

      .item {
        font-size: 26rpx;
        width: 25%;

        .top {
          border-right: 1rpx solid #efefef;
          border-bottom: 1rpx solid #efefef;
          background-color: #f7f7f7;
          color: #333;
          height: 60rpx;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .bottom {
          border-right: 1rpx solid #efefef;
          border-bottom: 1rpx solid #efefef;
          height: 60rpx;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .entry-title {
    font-size: 38rpx;
    color: #222222;
    height: 80rpx;
    line-height: 80rpx;
    padding-left: 32rpx;
    box-sizing: border-box;
    font-weight: 700;
  }
  .entry-subtitle {
    font-size: 26rpx;
    color: #222222;
  }

  .settlement {
    padding: 46rpx 44rpx 0px;
    box-sizing: border-box;
    width: 100%;

    ::v-deep .step-item:last-child .uv-steps-item__content--column {
      border-bottom: none !important;
    }

    .step-item {
      position: relative;

      .step-btn {
        width: 120rpx;
        height: 50rpx;
        background: #b41701;
        border-radius: 12rpx;
        position: absolute;
        right: 0rpx;
        top: 20rpx;
        margin: auto;
      }

      .kh-tip {
        position: absolute;
        right: 10px;
        bottom: 50rpx;
        font-size: 24rpx;
        color: #b41701;
      }
    }

    ::v-deep .uv-steps-item__wrapper__circle {
      width: 38rpx;
      height: 38rpx;

      .u-icon__icon {
        font-size: 22rpx !important;
      }

      .uv-steps-item__wrapper__circle__text {
        font-size: 28rpx !important;
      }
    }

    ::v-deep .uv-steps-item--column {
      padding-bottom: 40rpx;

      .uv-steps-item__content--column {
        margin-left: 28rpx !important;
        margin-top: 0px !important;
      }

      .uv-steps-item__content--column {
        border-bottom: 1px solid #f6f6f6;
        padding-bottom: 28rpx;
        box-sizing: border-box;
      }

      .u-text__value {
        font-size: 28rpx !important;
        color: #000;
        font-weight: 600 !important;
        margin-bottom: 10rpx;
      }

      .u-text__value--tips {
        font-size: 24rpx !important;
        color: #9b9b9b;
      }
    }
  }
}
</style>
