<template>
	<div :style="this.$store.state.theme.presentTheme">
	<commonTop :isBack='true' :show='true'>我的收益</commonTop>
		<view class="content">
			<image  class="img"
				src="@/static/images/index/defaultPage.png"></image>
			<view class="title">{{ $t("defaultPage.title") }}</view>
			<view class="info"> {{ $t("defaultPage.info") }}</view>
		</view>
		<view class="btnBox" v-if="type == 'myEarnings'">
			<view class="buttonBox" @click="goTo('/pages/account/historyBonus')">
				查看历史奖金
			</view>
			<view class="buttonBox Withdraw" @click="additionalStateFn">
				去提现( 旧版 )
			</view>
			<view class="info">
				<view>
					注：2024 年 05
					月之前的已发未提现奖励，点击上方【去提现】进行提现或转货款操作</view>
				<view>2024 年 05
					月之后或历史未解锁的奖励，请在新功能内进行查看、提现、转货款，<text class="historyBonus"
						@click="goTo('/pages/account/earningsManage/myWallet')">查看新功能</text></view>
			</view>
		</view>

		<uv-picker :show="timeShow" :columns="timeColumns" title="选择提现时间" keyName="value" @confirm="confirmFn"
			@cancel="cancelFn"></uv-picker>
	</div>
</template>
<script>
	import { currentapply } from "@/config/vmeitime-http/account.js";
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import * as dayjs from "dayjs";
	import { showToast } from '@/utils/util.js'
	import {
		additionalState,
		applyAuth,
		withdrawlPeriodList
	} from "@/config/vmeitime-http/index.js";
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				type: "",
				userInfo: storage.get("loginInfo"),
				timeShow: false,
				timeColumns: [],
				period: "",
				additionalStateData: null
			};
		},
		onLoad(options) {
			console.log("options: ", options);
			if (options.type) {
				this.type = options.type;
			}
		},
		mounted() {
			// this.selectTime();
			this.withdrawlPeriodListFn();
		},
		methods: {
			goTo(url) {
				uni.navigateTo({
					url: url
				});
			},
			selectTime() {
				// 获取当前月份
				let currentMonth = dayjs().month();
				// 获取当前日期的天数
				let currentDate = dayjs().date();
				// 检查当前时间是否大于 15 号
				if (currentDate < 15) {
					console.log("当前时间小于 15 号");
					currentMonth--;
				}
				// 获取已过的月份
				let pastMonths = [];
				for (let i = 0; i < currentMonth; i++) {
					pastMonths.unshift({
						key: dayjs().month(i).format("YYYYMM"),
						value: dayjs().month(i).format("YYYY年MM月"),
					});
				}
				pastMonths.unshift({
					key: "202401-1",
					value: "2024 年 01 月补发奖励"
				}, {
					key: "202402-1",
					value: "2024 年 02 月补发奖励"
				});
				this.timeColumns = [pastMonths];
				console.log("pastMonths: ", pastMonths, this.timeColumns);
			},
			// 确认选择月份
			confirmFn(val) {
				console.log("val: 确认选择月份", val, val.indexs[0]);
				this.period = this.timeColumns[0][val.indexs[0]];
				console.log("this.period: ", this.period);
				this.timeShow = false;
				this.currentapplyFn();
			},
			cancelFn() {
				this.timeShow = false;
			},
			//获取可提现月份
			withdrawlPeriodListFn() {
				let param = {
					customerCode: this.userInfo.authorizationCode,
				};
				withdrawlPeriodList(param).then((res) => {
					if (res.code == 200 && res.data.length) {
						let pastMonths = [];
						res.data.forEach((x) => {
							pastMonths.push({
								key: x.period,
								value: x.periodName,
							});
						});
						this.timeColumns = [pastMonths];
						// console.log("this.timeColumns:1111111111 ", this.timeColumns);
					} else {
						this.timeColumns = [];
						// console.log("this.timeColumns=: ", this.timeColumns);
					}
				});
			},
			// 提现跳转判断
			currentapplyFn() {
				let param = {
					customerCode: this.userInfo.authorizationCode,
					period: this.period.key, // dayjs().subtract(1, 'month').format('YYYYMM'),
				};
				currentapply(param).then((res) => {
					if (res.code == 200) {
						if (res?.data) {
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/account/wirhdrawDetails&period=${JSON.stringify(this.period)}&title=提现详情`,
							});
						} else {
							uni.navigateTo({
								url: `/pages/webview/index?path=pages/account/withdraw&period=${JSON.stringify(this.period)}&title=${i18n.t('Withdraw.title')}`,
							});
						}
					} else {
						showToast(res.msg || "提现异常，请稍后再试");
					}
				});
			},

			// 获取连连相关状态
			additionalStateFn() {
				let that = this;
				if (!this.timeColumns.length) {
					showToast("您当前没有可以提现的日期");
					return;
				}
				additionalState().then((res) => {
					if (res?.code == 200) {
						this.additionalStateData = res.data;
						if (res.data.openAccountStatus == 4) {
							if (!res.data.isFreeSecretPay) {
								uni.showModal({
									title: "提示",
									content: "您当前暂未完成免密授权，需授权完成后才可提现",
									showCancel: true,
									confirmText: "去授权",
									cancelText: "暂不授权",
									confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
									success: function(res) {
										if (res.confirm) {
											console.log("用户点击确定");
											that.applyAuthFn();
										} else if (res.cancel) {
											console.log("用户点击取消");
										}
									},
								});
							} else {
								this.timeShow = true;
							}
						} else {
							showToast("开户未完成您暂时无法提现");
						}
					} else {
						showToast(res.msg || "提现异常，请稍后再试");
					}
				});
			},
			// 免密授权
			applyAuthFn() {
				let param = {
					customNo: this.userInfo.authorizationCode,
					channelNo: 1,
					returnUrl: "/pages/user/index?jump=page",
					userType: this.additionalStateData.type == "ORG" ? 2 : 1,
				};
				applyAuth(param).then((res) => {
					if (res?.code == 200) {
						if (!res.data.authFlag && res.data.gatewayUrl) {
							uni.redirectTo({
								url: '/pages/user/index?jump=page',
							});
						}
					}
				});
			},
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background-color: #fff;
	}
	.img {
		width: 212rpx;
		height:232rpx;
		border-radius: 12rpx;
	}

	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 40vh;
	}

	.title {
		font-size: 26rpx;
		font-family: PingFang-SC, PingFang-SC;
		font-weight: 500;
		color: #2e2e2e;
		line-height: 36rpx;
		margin-top: 48rpx;
	}

	.info {
		font-size: 26rpx;
		font-family: PingFang-SC, PingFang-SC;
		font-weight: 500;
		color: #585858;
		line-height: 36rpx;
		margin-top: 8rpx;
	}

	.buttonBox {
		margin: 10rpx auto;
		border-radius: 12rpx;
		border: 2rpx solid $theme-color;
		text-align: center;
		width: 272rpx;
		height: 52rpx;
		line-height: 52rpx;
		font-size: 28rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: bold;
		color: $theme-color;
	}

	.Withdraw {
		background-color: $theme-color !important;
		color: #fff !important;
		margin-top: 30rpx;
	}

	.btnBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		// margin-top: 10%;
		.info {
			margin-top: 100rpx;
			width: 80%;
			font-size: 24rpx;
		}

		.historyBonus {
			color: $theme-color !important;
			// margin-top: 30rpx;
			text-decoration: underline;
			// font-size: 26rpx;
		}
	}

	::v-deep {
		.uv-picker__view {
			height: 400rpx !important;
		}

		.uni-picker-view-indicator {
			height: 80rpx !important;
		}

		.uv-picker__view__column__item {
			height: 80rpx !important;
			line-height: 80rpx !important;
		}
	}
</style>