<template>
	<view :style="this.$store.state.theme.presentTheme">
		<web-view style="width: 100%;" :src="url"></web-view>
	</view>
</template>
<script>
	import storage from "@/utils/storage.js";

	export default {
		data() {
			return {
				url: "",
				title: "",
				access_token: this.$store.state.loginInfo.loginToken.access_token,
				userInfo: storage.get("loginInfo"),
			};
		},
		onLoad(options) {
			if (options.type) {
				this.type = options.type;
			}
		},
		mounted() {
			// let env =
			// 	process.env.VUE_APP_ENV == "production" ?
			// 	"https://mall.njmeiyu.cn/h5/index.html#/" :
			// 	"http://120.26.167.7/h5/index.html#/";
			let env = "https://mall.njmeiyu.cn/h5/index.html#/"
			let uniPlatform = uni.getSystemInfoSync().uniPlatform
			if (this.type == "excharge") {
				this.url =
					`${env}pointShop/index?spuChannel=5&userSign=${this.userInfo.authorizationCode}&userName=${this.userInfo.name}&hideTitle=1`;
				console.log(" this.url: ", this.url);
				setTimeout(() => {
					this.title = '积分商城'
					uni.setNavigationBarTitle({
						title: '积分商城'
					})
				}, 800)
			}
		},
		methods: {},
	};
</script>
<style lang="scss" scoped>
</style>