<template>
	<view :style="this.$store.state.theme.presentTheme" class="content">
		<commonTop :isBack='true' :show='true'>{{ $t('goods.confirmAnOrder') }}</commonTop>
		<view class="stepsBox">
			<uv-steps activeIcon="checkmark-circle" inactiveIcon="more-circle" :current="current">
				<uv-steps-item :title="$t('goods.confirmAnOrder')" iconSize="20">
				</uv-steps-item>
				<uv-steps-item :title="$t('order.SubmitOrder')" iconSize="20">
				</uv-steps-item>
				<uv-steps-item :title="$t('order.To be paid')" iconSize="20"></uv-steps-item>
			</uv-steps>
		</view>
		<view class="addressBox" @click="goToAddress">
			<template v-if="orderData.address && orderData.address.id">
				<image class="img-icon" src="@/static/images/goods/site_icon.png"></image>
				<view class="detailedAddress">
					<view class="detail">{{
    orderData.address.provinceName +
    " " +
    orderData.address.cityName +
    " " +
    orderData.address.districtName +
    " " +
    orderData.address.address
  }}</view>
					<view class="userinfo">{{ orderData.address.consigneeName }}
						<text v-if="orderData.address.phoneRegion">({{ orderData.address.phoneRegion }})</text>
						{{ orderData.address.mobile }}
					</view>
				</view>
			</template>
			<template v-else>
				<image class="img-icon" src="@/static/images/goods/addSite.png"></image>
				<view class="detailedAddress">
					<view class="detail"> {{ $t("order.AddDeliveryInformation") }} </view>
					<view class="userinfo">{{ $t("order.completeDelivery") }}</view>
				</view>
			</template>
			<uv-icon name="arrow-right" color="#ccc" size="14"></uv-icon>
		</view>
		<view class="goodsBox">
			<view class="goodsItem" v-for="(goodsData, index) in brandGoodsData" :key="index">
				<view class="goodsList">
					<view class="imgList">
						<image v-for="item in goodsData.lines" :key="item.skuId" class="img" :src="item.picture">
						</image>
					</view>
					<view class="num" @click="($refs.popupGoodsShow.open()), (goodsDataIndex = index)"><text>{{ $t("order.quantity")
              }}:{{
    goodsData.lines
      ? goodsData.lines.reduce((a, b) => a + b.quantity, 0)
      : 0
  }}</text><uv-icon name="arrow-right" color="#ccc" size="14"></uv-icon></view>
				</view>
				<view class="prices">
					<view class="goods-price">
						<text>{{ $t("goods.commodityAmount") }}</text>
						<view style="display: inline-block">{{ moneyMark }}
							{{ currency(goodsData.totalAmount) }}
						</view>
					</view>
				</view>
			</view>
			<view class="goodsfoot">
				<text>{{
    orderData.orderState == "TO_BE_PAID"
      ? $t("order.total")
      : $t("goods.estimatedPrice")
  }}：</text>
				<text style="color: #b41701">{{ moneyMark
          }}{{ currency(orderData.totalAmount) }}</text>
			</view>
		</view>
		{{ result }}
		<view class="payType" v-if="!$store.getters.xTenant">
			<view>发货方式:</view>
			<view class="radioBox">
				<uv-radio-group v-model="shipType" placement="row">
					<uv-radio :activeColor="activeColor" v-for="(item, index) in shipTypelist" :key="index"
						:label="item.label" :name="item.name" :disabled="orderData.orderState == 'TO_BE_PAID'">
					</uv-radio>
				</uv-radio-group>
			</view>
		</view>
		<view class="payType" style="border-top:0"
			v-if="!$store.getters.xTenant && orderData.purchaseOrderType == 'Normal'">
			<view>手提袋:</view>
			<view class="radioBox">
				<uv-radio-group v-model="handbag" placement="row">
					<uv-radio :activeColor="activeColor" v-for="(item, index) in handbagList" :key="index"
						:label="item.label" :name="item.name" :disabled="orderData.orderState == 'TO_BE_PAID'">
					</uv-radio>
				</uv-radio-group>
			</view>
		</view>
		<view class="payType" @click="payTypeShowFn">
			<view>{{ $t("order.paymentMethod") }}:</view>
			<view class="payTypeName">
				<view>{{ payTypeData && payTypeData.payName }}</view>
				<uv-icon name="arrow-right" color="#ccc" size="14"></uv-icon>
			</view>
		</view>

		<view class="accountsBox" v-if="payTypeData.payTypeId">
			<view class="title">
				<view class="title-left">
					<image style="width:34rpx;height:34rpx;margin-right: 4rpx" src="../static/images/priceIcon.png">
					</image>
					<!-- <text>{{ $t("order.BalancePayment") }}</text> -->
					<text>{{ skuAmountCalcData.payName }}</text>
					<view
						v-if="payTypeData.payCode==='history_balance_pay' || payTypeData.payCode==='lianlian_balance_pay'">
						<text>({{ $t("pages.balance") }}:</text><text>{{ moneyMark }}</text>
						<text>{{ currency(skuAmountCalcData.balanceAmount) }})</text>
					</view>
				</view>
			</view>
			<view class="payment">
				<view class="payment-item" v-for="(payDetails, index) in skuAmountCalcData.paymentDetails" :key="index">
					<view>{{ payDetails.fromTypeName }}
						{{ payDetails.fromTypeName && payDetails.toTypeName ? "-" : "" }}
						{{ payDetails.toTypeName || '' }}
						<text>({{ moneyMark }}{{ payDetails.amount }})</text>
					</view>
					<view style="color: #222222">{{ moneyMark
            }}{{ currency(payDetails.operationAmount) }}</view>
				</view>
			</view>
		</view>
		<view class="submitBox">
			<view class="total" v-if="skuAmountCalcData.operationTotalAmount"><text class="info">{{ $t("order.total")
          }}：</text><text class="price"><text style="font-size: 16rpx">{{ moneyMark }}</text>{{
    currency(skuAmountCalcData.operationTotalAmount) }}</text></view>
			<view class="submitOrder">
				<uv-button v-if="orderData.orderState == 'TO_BE_PAID'" :text="$t('order.Go to pay')" @click="goToPay"
					color="#b41701"></uv-button>
				<uv-button v-else :text="$t('order.SubmitOrder')" @click="submitTo" color="#b41701"></uv-button>
			</view>
		</view>
		<uv-popup ref="popupGoodsShow" :closeable="true" class="popupBox" :round="20">
			<h3 class="title">{{ $t("pages.goodsList") }}</h3>
			<view class="popupGoodsList" v-if="brandGoodsData[goodsDataIndex]">
				<view class="popupGoodsItem" v-for="data in brandGoodsData[goodsDataIndex].lines" :key="data.skuId">
					<image style="width: 168rpx;height: 168rpx;margin-right: 4rpx" :src="data.picture"></image>
					<view class="goodsDetails">
						<view class="name">{{ data.productName }}</view>
						<view class="sku">{{ data.specName }}</view>
						<view class="memberPrice">{{ moneyMark }}
							{{
    orderData.orderState == "TO_BE_PAID"
      ? currency(data.actualPrice)
      : currency(data.memberPrice)
  }}
						</view>
						<view class="quantity"> x{{ data.quantity }}</view>
					</view>
				</view>
			</view>
		</uv-popup>
		<!-- 支付方式 -->
		<uv-popup ref="payTypeShow" :round="10" closeable closeIconPos="top-left" mode="bottom">
			<view class="payTypeBox">
				<p class="title">{{ $t("order.paymentMethod") }}</p>
				<view class="bankCardList">
					<view class="checkboxBox">
						<uv-radio-group iconPlacement="right" placement="column" size="20px" iconSize="18px"
							v-model="payTypeData.payTypeId">
							<uv-radio v-for="(item, index) in bankCardList" :key="index" labelSize="28"
								:activeColor="activeColor" :label="item.name" :name="item.payTypeId"
								@change="checkboxChange(item)">
								<view class="checkboxInfo">
									<image
										v-if="item.payCode == 'lianlian_bank_pay' || item.payCode == 'lianlian_balance_pay'"
										src="../static/images/bankIcon.png" style="width: 45rpx;height: 45rpx;"></image>
									<uv-icon
										v-if="item.payCode == 'lianlian_wechat_pay' || item.payCode == 'lianlian_xcx_pay'"
										size="30" color="#07c160" name="weixin-circle-fill"></uv-icon>
									<image v-if="item.payCode == 'history_balance_pay'"
										src="../static/images/history.png" style="width: 45rpx;height: 45rpx;"></image>
									<view class="rightBanck">
										<view class="name">
											{{ item.payName }}
										</view>
									</view>
								</view>
							</uv-radio>
						</uv-radio-group>
					</view>

				</view>
			</view>

		</uv-popup>

		<!-- 验证码输入 -->
		<uv-modal ref="modalShow" :title="$t('order.Please verification code')" :confirmColor="activeColor"
			:showCancelButton="true" :confirmText="$t('register.Confirm')" :cancelText="$t('register.Cancel')"
			@cancel="$refs.modalShow.close()" @confirm="verifyCodeConfirm">
			<view class="slot-content">
				<view class="modalInfo">{{
          $t("order.Transaction application info")
          }}</view>
				<uvCodeInput v-model="verifyCode" :maxlength="6" size="80rpx" fontSize="60rpx"></uvCodeInput>
			</view>
		</uv-modal>
	</view>
</template>

<script>
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import uvCodeInput from "./components/uv-code-input/components/uv-code-input/uv-code-input.vue";

	import {
		purchaseOrderConfirm,
		purchaseOrderSubmit,
		payType,
		skuAmountCalc,
		payParam,
		validatePay,
		passwordControl
	} from "@/config/vmeitime-http/order.js";
	import {
		i18n
	} from '@/main.js'
	import {
		currency,
		isWechat
	} from "@/utils/util.js";
	const lianlianpay = require("@/utils/lianlianpay");
	export default {
		components: {
			commonTop,
			uvCodeInput
		},
		data() {
			return {
				activeColor: this.$store.state.theme.presentTheme['--theme-color'],
				moneyMark: this.$store.getters.moneyMark,
				result: '',
				currency,
				goodsDataIndex: 0,
				confirmOrder: null,
				orderData: {},
				buyerMsg: "",
				selectNewAddress: null,
				brandGoodsData: [], //多品牌商品数据
				hasChild: false, //多品牌商品标识
				bankCardList: [],
				payTypeData: {},
				skuAmountCalcData: {},
				shipType: "PreEmptive",
				shipTypelist: [{
						label: "有货先发",
						name: "PreEmptive",
					},
					{
						label: "齐货发",
						name: "FullShip",
					},
				], //发货方式列表
				handbagList: [{
						label: "不需要",
						name: false,
					},
					{
						label: "需要",
						name: true,
					},
				], //发货方式列表
				handbag: false,
				current: 0,
				verifyCode: "",
				urlH: process.env.NODE_ENV == "development" ? "/#" : "/H5/index.html#",
				outTradeNo: "",
				uniPlatform: uni.getSystemInfoSync().uniPlatform,
			};
		},
		onLoad(options) {
			// 微信小程序环境监听拉起密码控件返回的参数
			let that = this
			uni.$on('sendPwdInfo', (e) => {
				let that = this
				let data = JSON.parse(e).data[0]
				if (data) {
					let parmas = {
						password: data.password,
						randomValue: data.randomValue,
						customerBankId: this.payTypeData.customerBankId
					}
					if(parmas.customerBankId){
						that.payParamFn(parmas);
					}
					
				}
			})
		},
		onShow() {
			this.title = i18n.t('goods.confirmAnOrder')
			this.selectNewAddress = storage.get("selectNewAddress");
			console.log("this.selectNewAddress: ", this.selectNewAddress);
			let confirmOrder = storage.get("confirmOrder");
			this.confirmOrder = confirmOrder;
			if (this.confirmOrder) {
				this.purchaseOrderConfirmFn(confirmOrder);
			} else {

				uni.showToast({
					icon: 'none',
					title: "errMsg：" + i18n.t("main.RequestError"),
					duration: 2000
				})
				setTimeout(() => {
					uni.navigateBack();
				}, 1000);
			}
		},
		mounted() {},
		methods: {
			// 支付方式点击
			payTypeShowFn() {
				if (this.orderData.orderState == "TO_BE_PAID") {
					return;
				}
				this.getUserProfile()
				this.$refs.payTypeShow.open()
			},
			// 支付方式选择回调
			checkboxChange(item) {
				let that = this;
				that.$refs.payTypeShow.close()
				if (item.payCode == "lianlian_wechat_pay") {
					if (!isWechat() && that.uniPlatform === 'web') {
						setTimeout(() => {
							that.payTypeData.payTypeId = "";
						}, 0);
						uni.showToast({
							icon: 'none',
							title: '请在微信中打开当前页面进行微信支付',
							duration: 2000
						})
						return;
					}
					if (!item.openId && isWechat()) {
						setTimeout(() => {
							that.payTypeData.payTypeId = "";
						}, 0);
						uni.showModal({
							title: "当前操作需要微信授权才能使用微信支付,是否进行授权？",
							// content: "确认下单嘛?",
							confirmColor: that.$store.state.theme.presentTheme["--theme-color"],
							success: function(res) {
								if (res.confirm) {
									console.log("用户点击确定");
									that.getWeChatCode(item.wechatAppId);
								} else if (res.cancel) {
									console.log("用户点击取消");
								}
							},
						});
					}
				}
				that.payTypeData = item;
				that.skuAmountCalcFn();

			},
			// 确认订单接口
			purchaseOrderConfirmFn(confirmOrder) {
				purchaseOrderConfirm({
					...confirmOrder
				}).then((res) => {
					if (res) {
						this.orderData = res;
						this.hasChild = res.hasChild;
						if (res.hasChild) {
							this.brandGoodsData = res.children;
						} else {
							this.brandGoodsData = [{
								lines: res.lines,
								totalAmount: res.totalAmount,
							}, ];
						}

						if (this.selectNewAddress?.id) {
							this.orderData.address = this.selectNewAddress;
							console.log(
								"this.orderData.selectNewAddress: ",
								this.orderData.selectNewAddress
							);
							storage.set("selectNewAddress", "");
						}
						this.payTypeFn();
					} else {
						setTimeout(() => {
							uni.navigateBack();
						}, 1000);
					}
				});
			},

			// 提交订单
			submitTo() {
				let that = this;
				if (this.orderData?.address?.id) {
					this.confirmOrder.addressId = this.orderData.address.id;
				} else {
					uni.showToast({
						icon: 'none',
						title: i18n.t("register.selectAddress"),
						duration: 1500
					})
					return;
				}
				if (!this.payTypeData?.payTypeId) {
					uni.showToast({
						icon: 'none',
						title: i18n.t("register.selectPayType"),
						duration: 1500
					})
					return;
				}
				uni.showModal({
					title: i18n.t("address.ConfirmSubmitOrder"),
					// content: "确认下单嘛?",
					confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
					success: function(res) {
						if (res.confirm) {
							console.log("用户点击确定");
							that.purchaseOrderSubmitFn();
						} else if (res.cancel) {
							console.log("用户点击取消");
						}
					},
				});
			},

			// 提交订单接口
			purchaseOrderSubmitFn() {
				let param = {
					buyerMsg: this.buyerMsg,
					...this.confirmOrder,
					payTypeId: this.payTypeData.payTypeId,
					customerBankId: this.payTypeData.customerBankId,
				};
				if (!this.$store.getters.xTenant) {
					param.shipType = this.shipType;
					if (this.orderData.purchaseOrderType == "Normal") {
						param.handbag = this.handbag;
					}
				}
				purchaseOrderSubmit(param).then((res) => {
					if (res) {
						this.orderData = res;
						this.hasChild = res.hasChild;
						if (res.hasChild) {
							this.brandGoodsData = res.children;
						} else {
							this.brandGoodsData = [{
								lines: res.lines,
								totalAmount: res.totalAmount,
							}, ];
						}
						if (this.selectNewAddress?.id) {
							this.orderData.address = this.selectNewAddress;
							console.log(
								"this.orderData.selectNewAddress: ",
								this.orderData.selectNewAddress
							);
							storage.set("selectNewAddress", "");
						}
						this.skuAmountCalcData = res.payInfo[0];
						this.current = 1;
					}
				});
			},

			// 去支付
			goToPay() {
				let skuAmountCalcData = this.skuAmountCalcData;
				if (
					skuAmountCalcData.payCode == "lianlian_balance_pay" ||
					skuAmountCalcData.payCode == "lianlian_bank_pay"
				) {
					uni.showLoading({
						mask: true
					});
					this.passwordControlFn();
					return;
				} else if (skuAmountCalcData.payCode == "lianlian_wechat_pay") {
					let data = {
						openId: this.payTypeData.openId,
						wechatAppId: this.payTypeData.wechatAppId,
					};
					this.payParamFn(data);
				} else if (skuAmountCalcData.payCode == "lianlian_xcx_pay") {

					this.getUserProfile(this.payTypeData.wechatAppId)

				} else {
					this.payParamFn();
				}
			},

			// 微信小程序支付 绑定并获取openid
			getUserProfile() {
				let that = this
				uni.getUserProfile({
					desc: '用于微信支付', // 必填，声明获取用户个人信息后的用途
					success: (res) => {
						console.log('Encrypted Data:', res);
						uni.login({
							provider: 'weixin',
							success: (loginRes) => {
								let data = {
									code: loginRes.code,
									encryptedData: res.encryptedData,
									iv: res.iv
								}
								that.$api.xcxWechatBind(data).then((res) => {
									if (res && res.code === 200) {
										// let data = {
										// 	openId: res.data.id,
										// 	wechatAppId: this.payTypeData.wechatAppId,
										// };
										// that.payParamFn(data);
										that.payTypeData.openId = res.data.id
										console.log('获取到了' + this.payTypeData.openId)
										this.payTypeFn()
									} else {
										this.payTypeFn()
									}
								});
							},
							fail: (err) => {
								console.log('微信小程序获取openid', err);
							}
						});

					},
					fail: (err) => {
						// 获取失败，处理错误
						console.error('Get user info failed:', err);
					}
				});

			},

			// 支付接口调用
			payParamFn(data) {
				let skuAmountCalcData = this.skuAmountCalcData;
				let param = {
					payTypeId: skuAmountCalcData.payTypeId,
					order: {
						orderId: this.orderData.id,
					},
					...data,
				};
				uni.showLoading({
					mask: true,
					title: ""
				});

				payParam(param).then((res) => {
					if (res?.code == 200) {
						uni.hideLoading();
						if (this.skuAmountCalcData.payCode == "lianlian_wechat_pay") {
							this.result = res.data.payResult
							if ((this.uniPlatform === 'mp-weixin' || this.uniPlatform === 'app') && !isWechat()) {
								this.wxPay(res.data.payResult)
							} else {
								this.StartWeiXinPay(res.data.payResult);
							}

						} else {
							if (res.data.paid) {
								uni.showToast({
									icon: 'none',
									title: "支付成功",
									duration: 2000
								})
								setTimeout(() => {
									uni.redirectTo({
										url: "/pagesA/account/rechargeSuccess?source=orderPay&out_trade_no=" +
											res.data.outTradeNo,
									});
								}, 500);
							} else {
								this.outTradeNo = res.data.outTradeNo;
								this.$refs.modalShow.open()
							}
						}
					} else {
						uni.showToast({
							icon: 'none',
							title: res.msg || "网络繁忙，请稍后重试",
							duration: 2000
						})

					}
				});
			},

			// 拉起微信支付
			wxPay(payload) {
				uni.requestPayment({
					"provider": "wxpay",
					"orderInfo": {
						...payload
					},
					success(res) {
						uni.redirectTo({
							url: "/pagesA/account/rechargeSuccess?source=recharge&out_trade_no=" +
								this.outTradeNo,
						});
					},
					fail: function(err) {
						console.log('支付失败', err);
						uni.showToast({
							title: err,
							icon: 'none'
						})
					}
				})
			},

			// 获取唤起密码控件token
			passwordControlFn() {
				let that = this
				let params = {
					passwordUseType: 5,
					channelNo: 1,
					orderId: this.orderData.id,
				};
				passwordControl(params).then((res) => {
					if (res?.code == 200 && res?.data) {
						if ((that.uniPlatform === 'mp-weixin' || that.uniPlatform === 'app') && !isWechat()) {
							that.golianlianpayPasswordFnToWebview(res.data)
						} else {
							that.lianlianpayPasswordFn(res.data);
						}

					} else {

						uni.showToast({
							icon: 'none',
							title: res.msg || "网络繁忙，请稍后重试",
							duration: 2000
						})
						uni.hideLoading();
					}
				});
			},

			// 跳转webview网页拉起密码控件
			golianlianpayPasswordFnToWebview(data) {
				uni.hideLoading()
				uni.navigateTo({
					url: `/pagesA/order/pwdDilag?data=${JSON.stringify(data)}`
				})
			},

			//唤起连连支付密码控件
			lianlianpayPasswordFn(data) {
				uni.hideLoading();
				// this.show = false;
				lianlianpay.invokePasswordControl({
						passwordScene: "pay_password",
						oidPartner: data.oidPartner, // 商户号
						userId: data.payUserId, // 用户号
						passwordElementToken: data.passwordElementToken, // 向服务端请求生成的 token
						env: "production", // 默认 production-生产
						styles: {
							// 样式集合
							themeColor: "rgba(180, 23, 1, 1)", // 主题颜色（按钮等）
						},
					},
					(res) => {
						console.log("密码数据", res);
						if (res?.data) {
							this.password = res.data.password;
							this.randomValue = res.data.randomKey;
							let data = {
								password: res.data.password,
								randomValue: res.data.randomKey,
								customerBankId: this.payTypeData.customerBankId,
							};
							this.payParamFn(data);
						} else {
							uni.showToast({
								icon: 'none',
								title: "失败，请稍后重试",
								duration: 2000
							})
						}
					},
					(err) => {
						console.log("err: ", err);
					}
				);
			},

			//验证码确认支付
			verifyCodeConfirm() {
				if (!this.verifyCode && this.verifyCode.length !== 6) {
					uni.showToast({
						icon: 'none',
						title: "请输入完整验证码",
						duration: 2000
					})
					return;
				}
				this.payValidateFn();
			},

			// 验证银行卡快捷支付
			payValidateFn(orderSn) {
				uni.showLoading({
					mask: true
				});
				let param = {
					type: "recharge",
					orderSn: this.orderData.orderNo,
					verifyCode: this.verifyCode,
					outTradeNo: this.outTradeNo,
				};
				validatePay(param).then((res) => {
					if (res?.code == 200) {
						uni.showToast({
							icon: 'none',
							title: "支付成功",
							duration: 1500
						})
						setTimeout(() => {
							uni.redirectTo({
								url: "/pagesA/account/rechargeSuccess?source=orderPay&out_trade_no=" +
									this.outTradeNo,
							});
						}, 500);
						this.$refs.modalShow.close()
						return
					} else if (res?.code == 1017) {
						this.verifyCode = "";
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 1500
						})
						return
					} else {
						this.$refs.modalShow.close()
						this.verifyCode = "";
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 1500
						})
					}
					uni.hideLoading();
				});
			},

			/*=======================微信api相关==========================  start*/

			//请求微信接口，用来获取code
			getWeChatCode(wechatAppId) {
				let local = encodeURIComponent(
					location.origin + this.urlH + "pages/login/wxLogin?type=orderPay"
				); //获取当前页面地址作为回调地址
				console.log("local: ", local);
				let appid = this.$store.getters.appId;

				//通过微信官方接口获取code之后，会重新刷新设置的回调地址【redirect_uri】
				window.location.href =
					"https://open.weixin.qq.com/connect/oauth2/authorize?appid=" +
					appid +
					"&redirect_uri=" +
					local +
					"&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect";
			},
			//微信支付预处理
			StartWeiXinPay(pay_params) {
				if (typeof WeixinJSBridge === "undefined") {
					if (document.addEventListener) {
						// alert(1);
						document.addEventListener(
							"WeixinJSBridgeReady",
							this.onBridgeReady(pay_params),
							false
						);
					} else if (document.attachEvent) {
						// alert(2);
						document.attachEvent(
							"WeixinJSBridgeReady",
							this.onBridgeReady(pay_params)
						);
						document.attachEvent(
							"onWeixinJSBridgeReady",
							this.onBridgeReady(pay_params)
						);
					}
				} else {
					this.onBridgeReady(pay_params);
				}
			},
			// 微信支付
			onBridgeReady(pay_params) {
				WeixinJSBridge.invoke(
					"getBrandWCPayRequest", {
						...pay_params
					},
					(res) => {
						if (res.err_msg == "get_brand_wcpay_request:ok") {
							uni.showToast({
								icon: 'none',
								title: "支付成功",
								duration: 1500
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: "支付失败",
								duration: 1500
							})

						}
					}
				);
			},

			// 去选地址
			goToAddress() {
				if (this.orderData.orderState == "TO_BE_PAID") {
					return;
				}
				uni.navigateTo({
					url: "/pagesA/address/address?select=1"
				});
			},

			// 获取支付方式
			payTypeFn() {
				let param = {
					purchaseOrderType: this.orderData.purchaseOrderType,
					isXcx: this.uniPlatform === 'mp-weixin' && !isWechat() ? true : false
				};
				payType(param).then((res) => {
					if (res?.code == 200) {
						this.bankCardList = res.data;
					}
				});
			},

			// 支付金额预算
			skuAmountCalcFn() {
				let param = {
					payTypeId: this.payTypeData.payTypeId,
					order: {
						orderLine: this.confirmOrder.lines,
					},
				};
				console.log("param: ", param);
				skuAmountCalc(param).then((res) => {
					if (res.code == 200) {
						this.skuAmountCalcData = res.data;
					} else {}
				});
			},
		},
	};
</script>

<style lang="scss">
	page {
		background-color: #fff;
	}

	.img-icon {
		width: 36rpx;
		height: 36rpx;
	}

	.addressBox {
		padding: 24rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 20rpx solid #f6f6f6;

		.detailedAddress {
			width: 80%;
			font-size: 24rpx;
			font-family: PingFang-SC-Bold, PingFang-SC;
			font-weight: bold;
			color: #2e2e2e;
		}

		.userinfo {
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #999999;
			margin-top: 12rpx;
		}
	}

	.goodsBox {
		padding: 0 24rpx 24rpx;
		border-top: 10rpx solid #f6f6f6;

		.goodsItem {
			border-bottom: 2rpx solid #f6f6f6;
			padding-top: 30rpx;
		}

		.goodsList {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.imgList {
			display: flex;
			width: 78%;
			overflow: auto;

			.img {
				margin-left: 12rpx;
				width: 120rpx;
				height: 120rpx;
			}
		}

		.num {
			display: flex;
		}

		.prices {
			margin-top: 40rpx;
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #2e2e2e;

			.goods-price {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 20rpx;
			}

			.remark {
				border-bottom: 2rpx solid #f6f6f6;
			}
		}

		.goodsfoot {
			text-align: right;
			font-size: 28rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #2e2e2e;
		}
	}

	.payType {
		padding: 24rpx;
		border-top: 10rpx solid #f6f6f6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 28rpx;
		font-family: PingFangSC-, PingFang SC;
		font-weight: 600;
		color: #222222;

		.payTypeName {
			display: flex;
			font-weight: 500;
		}
	}

	.accountsBox {
		margin-bottom: 200rpx;
		padding: 24rpx;
		border-top: 10rpx solid #f6f6f6;

		.title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.title-left {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			font-family: PingFangSC-, PingFang SC;
			font-weight: 600;
			color: #222222;
		}

		.title-right {
			font-size: 28rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #585858;
		}

		.payment {
			background: #f6f6f6;
			border-radius: 11rpx;
			margin-top: 24rpx;
			padding: 0 24rpx 20rpx 24rpx;

			.payment-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-top: 20rpx;
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #585858;
			}
		}
	}

	.submitBox {
		padding: 24rpx 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: fixed;
		bottom: 0;
		width: 750rpx;
		background-color: #fff;
		z-index: 0;

		.total {
			display: flex;
			align-items: center;

			.info {
				font-size: 26rpx;
				font-family: PingFangSC-, PingFang SC;
				font-weight: normal;
				color: #2e2e2e;
			}

			.price {
				font-size: 36rpx;
				font-family: PingFang-SC-Bold, PingFang-SC;
				font-weight: bold;
				color: $theme-color;
			}
		}

		.submitOrder {
			width: 216rpx;
			height: 68rpx;
			color: #fff;
			margin-left: 20rpx;
			margin-right: 24rpx;
		}
	}

	.popupBox {
		overflow: hidden;

		.title {
			width: 100%;
			text-align: center;
			margin-top: 20rpx;
			font-size: 32rpx;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #222222;
			height: 80rpx;
		}

		.popupGoodsList {
			height: 80vh;
			overflow: auto;
			padding: 24rpx;

			.popupGoodsItem {
				display: flex;
				margin-bottom: 40rpx;
			}

			.goodsDetails {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-left: 20rpx;
				position: relative;
				flex: 1;

				.name {
					font-size: 28rpx;
					font-family: PingFang-SC-Medium, PingFang-SC;
					font-weight: 500;
					color: #222222;
					word-break: break-all;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					/* 超出几行省略 */
					overflow: hidden;
				}

				.sku {
					font-size: 22rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #666666;
					margin-top: 10rpx;
				}

				.memberPrice {
					font-size: 36rpx;
					font-family: PingFangSC-Medium, PingFang SC;
					font-weight: 600;
					color: $theme-color;
				}

				.quantity {
					position: absolute;
					right: 0;
					bottom: 0;
					font-size: 24rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #999999;
				}
			}
		}
	}

	.payTypeBox {
		.title {
			font-size: 34rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 800;
			color: #222222;
			line-height: 100rpx;
			margin: 32rpx auto;
			width: 100%;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.money {
			margin: 32rpx auto;
			width: 100%;
			text-align: center;
			font-size: 76rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			color: $theme-color;
			line-height: 106rpx;
		}

		.bankCardList {
			padding: 32rpx;
			padding-bottom: 100rpx;

			.checkboxBox {

				// width: 800rpx;
				.checkboxInfo {
					display: flex;
					align-items: center;
				}

				.rightBanck {
					margin-left: 30rpx;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					line-height: 60rpx;

					.name {
						font-size: 32rpx;
						font-family: PingFang-SC, PingFang-SC;
						font-weight: bold;
						color: #2e2e2e;
						//   line-height: 44rpx;
					}

					// .subBranch {
					//   font-size: 26rpx;
					//   font-family: PingFangSC, PingFang SC;
					//   font-weight: 400;
					//   color: #2e2e2e;
					//   line-height: 36rpx;
					// }
				}

				::v-deep {
					.u-checkbox-label--right {
						padding: 20rpx 0;
					}

					.uv-radio-label--right {
						padding: 20rpx 0;
						border-bottom: 2rpx solid #ededed !important;
					}
				}
			}
		}

		.bankCard {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 2rpx solid #ededed;
			padding-bottom: 34rpx;
			margin-left: 10rpx;

			.bankCardName {
				flex: 1;
				margin-left: 50rpx;
			}
		}

		::v-deep {
			.uicon-close {
				font-size: 36rpx !important;
			}
		}
	}

	.radioBox {
		display: flex;

		::v-deep {
			.uv-radio-group--column {
				flex-direction: row;
				flex-wrap: wrap;
			}

			.uv-radio {
				width: 200rpx !important;
				padding: 10rpx;
				justify-content: flex-end;
			}

			.uv-radio__icon-wrap {
				width: 34rpx !important;
				height: 34rpx !important;
				// background: $theme-color !important;
			}

			.uv-radio__text {
				font-size: 24rpx !important;
				font-family: MicrosoftYaHei;
				color: #686868;
				line-height: 32rpx !important;
			}

			.uicon-checkbox-mark {
				font-size: 24rpx !important;
			}
		}
	}

	.stepsBox {
		height: 150rpx;
		background: #b41701;
		border-radius: 4rpx;
		overflow: hidden;
		display: flex;
		align-items: center;

		::v-deep {
			.u-steps {
				margin-top: 48rpx;
			}

			.uv-steps-item__wrapper {
				background-color: #b41701 !important;
			}

			.uv-text__value {
				color: #fff !important;
			}

			.uv-steps-item__line {
				background-color: #fff !important;
			}

			.uvicon-checkmark-circle,
			.uv-icon__icon {
				color: #fff !important;
			}

			.uicon-more-circle {
				color: #fff !important;
			}

			.u-text__value {
				font-size: 26rpx !important;
				font-family: PingFangSC, PingFang SC;
				font-weight: 400;
				color: #ffffff !important;
			}
		}
	}

	.modalInfo {
		font-size: 24rpx;
		color: #ccc;
		padding: 20rpx;
	}

	::v-deep {
		.v-tabs {
			z-index: 9999;
		}

		.uni-textarea-placeholder {
			text-align: right;
		}

		.u-border-bottom {
			border: 0;
		}

		.popupBox {
			font-size: 22px !important;
		}

		// .uv-radio-group--column {
		//   flex-direction: row;
		//   flex-wrap: wrap;
		//   justify-content: flex-end;
		// }
		// .uv-radio__icon-wrap {
		//   width: 34rpx !important;
		//   height: 34rpx !important;
		// }
		// .uv-radio__text {
		//   font-size: 24rpx !important;
		//   font-family: MicrosoftYaHei;
		//   color: #686868;
		//   line-height: 32rpx !important;
		// }
		// .uicon-checkbox-mark {
		//   font-size: 24rpx !important;
		// }
		// .uv-radio {
		//   width: 200rpx !important;
		//   padding: 10rpx;
		//   justify-content: flex-end
		// }
	}
</style>