<template>
  <div :style="this.$store.state.theme.presentTheme" class="container">
    <commonTop :isBack="true" :show="true">{{
      $t("order.PurchaseOrder")
    }}</commonTop>
    <view class="topBox">
      <view class="searchBox">
        <uvSearch
          :clearabled="true"
          :showAction="false"
          height="30"
          :animation="false"
          v-model="keywords"
          @clear="clearFn"
          searchIconSize="18"
          :placeholder="$t('order.searchPlaceholder')"
          @search="search"
        ></uvSearch>
      </view>
      <Vtabs
        v-model="currentTab"
        :tabs="tabsList"
        field="name"
        :scroll="true"
        :lineScale="0.2"
        :bold="false"
        height="100rpx"
        lineHeight="6rpx"
        @change="changeTab"
        v-if="tabsList.length"
      >
      </Vtabs>
    </view>
    <mescroll-body
      class="mescrollBox"
      v-if="tabsList.length"
      @init="mescrollInit"
      @down="downCallback"
      @up="upCallback"
    >
      <view class="orderBox">
        <view
          class="orderItem"
          v-for="(item, index) in orderList"
          :key="index"
          @click="goTo(item)"
        >
          <view class="orderItem-top">
            <view class="orderCode"
              >{{ $t("order.orderNumber") }}: {{ item.orderNo }}</view
            >
            <view class="orderStatus">{{
              orderState.get(item.orderState)
            }}</view>
          </view>
          <view class="orderItem-center">
            <view class="orderImg">
              <uv-image
                v-for="(goods, indexs) in item.lines"
                :key="indexs"
                width="140rpx"
                height="140rpx"
                class="img"
                :src="goods.picture"
              ></uv-image>
            </view>
            <view class="orderInfo">
              <view class="orderTime">{{ item.bookTime }}</view>
              <view class="orderNum">{{
                $t("order.total") + ":" + item.lines.length
              }}</view>
              <view class="orderTotal"
                >{{ $t("order.total") }}：<text style="font-size: 20rpx">{{
                  $store.getters.moneyMark
                }}</text
                ><text style="font-size: 32rpx">{{
                  currency(item.totalAmount)
                }}</text></view
              >
            </view>
          </view>
          <view class="orderItem-bottom">
            <view
              class="btn cancelOrder"
              v-if="
                ['TO_BE_PAID', 'TO_BE_REVIEWED', 'OUT_OF_STOCK'].includes(
                  item.orderState
                )
              "
              @click.stop="cancelOrderFn(item)"
              >{{ $t("order.cancelOrder") }}</view
            >
            <view
              class="btn confirmReceipt"
              v-if="['SHIPPED'].includes(item.orderState)"
              @click.stop="confirmReceipt(item)"
              >{{ $t("order.confirmReceipt") }}</view
            >
            <view
              v-if="item.isLogistics"
              class="btn"
              @click.stop="checkTheLogistics(item)"
              >{{ $t("order.checkTheLogistics") }}</view
            >
          </view>
        </view>
      </view>
    </mescroll-body>
    <cancelOrderPopup
      v-if="cancelOrderShow"
      :cancelOrderShow="cancelOrderShow"
      :checkedId="checkedId"
      @cancelOrderShowFn="cancelOrderShowFn"
      source="orderList"
    ></cancelOrderPopup>
  </div>
</template>
<script>
import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
import {
  purchaseOrderList,
  purchaseOrderReceive,
} from "@/config/vmeitime-http/order.js";
import { currency } from "@/utils/util.js";
import cancelOrderPopup from "./components/cancelOrderPopup.vue";
import Vtabs from "@/components/v-tabs/components/v-tabs/v-tabs.vue";
import commonTop from "@/components/CommonTop";
import uvSearch from "./components/uv-search/components/uv-search/uv-search.vue";
export default {
  mixins: [MescrollMixin],
  components: { cancelOrderPopup, Vtabs, commonTop, uvSearch },
  data() {
    const orderState = new Map([
      ["TO_BE_PAID", this.$t("order.To be paid")], //待付款
      ["TO_BE_REVIEWED", this.$t("order.PendingReview")], //待审核
      ["OUT_OF_STOCK", this.$t("order.FrontShipping")], //待发货
      ["SHIPPING", this.$t("order.Shipping")], //出库中
      ["SHIPPED", this.$t("order.Shipped")], //待收货
      ["RECEIVED", this.$t("order.Received")], //已收货
      ["CANCEL", this.$t("order.Cancelled")], //已取消
      ["FINISHED", this.$t("order.Finished")], //交易完成
    ]);

    console.log("orderState: ", orderState);

    return {
      orderState,
      currency,
      currentTab: 0,
      cancelOrderShow: false,
      tabsList: [
        {
          id: "All",
          name: this.$t("order.All"), //全部
        },
        {
          id: "ToBePaid",
          name: this.$t("order.PendingReview"), //待审核
        },
        {
          id: "FrontShipping",
          name: this.$t("order.FrontShipping"), //待发货
        },
        {
          id: "Shipped",
          name: this.$t("order.Shipped"), //待收货
        },
        {
          id: "Cancelled",
          name: this.$t("order.Cancelled"), //已取消
        },
        {
          id: "Finished",
          name: this.$t("order.Finished"), //"已完成",
        },
      ],
      orderList: [], //订单列表
      queryType: "All", //订单列表状态字段
      keywords: "", //查询关键字

      checkedId: null, //选中的ID
    };
  },
  onLoad(options) {
    if (options.id) {
      this.queryType = options.id;
      this.currentTab = this.tabsList.findIndex(
        (item) => item.id == options.id
      );
    }
  },
  onShow() {
    uni.pageScrollTo({
        scrollTop: 0,
        duration: 100,
      });
    this.mescroll.resetUpScroll();
  },
  methods: {
    // 跳转详情页
    goTo(item) {
      uni.navigateTo({ url: "/pagesA/order/orderDetails?id=" + item.id });
    },
    // tab切换处理
    changeTab(index) {
      // console.log("tab切换处理 ", index);
      this.queryType = this.tabsList[index].id;
      uni.pageScrollTo({
        scrollTop: 0,
        duration: 100,
      });
      this.mescroll.resetUpScroll();
    },
    // 上拉加载的回调
    upCallback(page) {
      let pageNum = page.num - 1; // 页码, 默认从0开始
      let pageSize = page.size; // 页长, 默认每页10条
      let param = {
        page: pageNum,
        size: pageSize,
        queryType: this.queryType,
        keywords: this.keywords,
        sort: "bookTime,desc",
      };
      // console.log("param: ", param);
      if (page.num == 1) this.orderList = []; //如果是第一页需手动置空列表
      purchaseOrderList(param).then((res) => {
        if (res) {
          let curPageData = res.content;
          let curPageLen = curPageData.length; // 接口返回的当前页数据长度
          let totalPage = res.totalPages; // 接口返回的总页数

          this.orderList = this.orderList.concat(curPageData); //追加新数据
          //方法一(推荐): 后台接口有返回列表的总页数 totalPage
          this.mescroll.endByPage(curPageLen, totalPage);
        } else {
          this.mescroll.endErr();
        }
      });
    },
    // 确认收货弹窗
    confirmReceipt(item) {
      this.checkedId = item.id;
      let that = this;
      uni.showModal({
        title: this.$t("order.confirmReceipt"),
        confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
        success: function (res) {
          if (res.confirm) {
            console.log("用户点击确定");
            that.purchaseOrderReceiveFn();
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });
    },
    // 确认收货接口
    purchaseOrderReceiveFn() {
      purchaseOrderReceive(this.checkedId).then((res) => {
        if (res) {
          uni.showToast({
            icon: "none",
            title: this.$t("goods.operateSuccessfully"),
            duration: 2000,
          });
          this.mescroll.resetUpScroll();
        }
      });
    },
    // 取消订单弹窗父子传参事件
    cancelOrderShowFn(data, type) {
      // console.log("data,type: ", data, type);
      this.cancelOrderShow = data;
      if (type == "orderList") {
        this.mescroll.resetUpScroll();
      }
    },
    // 取消订单弹窗
    cancelOrderFn(item) {
      if (this.$store.getters.xTenant) {
        uni.showToast({
          icon: "none",
          title: this.$t("order.cancelNoInfo"),
          duration: 2000,
        });

        return;
      }

      this.cancelOrderShow = true;
      this.checkedId = item.id;
    },

    // 跳转查看物流
    checkTheLogistics(item) {
      uni.navigateTo({
        url: "/pagesA/order/logistics?orderId=" + item.id,
      });
    },

    // 清空搜索
    clearFn(e) {
      console.log("e:清空搜索 ", e);
      this.keywords = e;
      this.mescroll.resetUpScroll();
    },
    // 搜索
    search(e) {
      this.keywords = e;
      this.mescroll.resetUpScroll();
    },
  },
};
</script>
<style lang="scss" scoped>
.container {
  // height: 100vh;
  background-color: #f6f6f6;
}
.topBox {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}
.searchBox {
  // height: 100rpx;
  padding: 24rpx;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}
.mescrollBox {
  // margin-top: 200rpx;
  position: relative;
  top: 200rpx;
}
.orderBox {
  margin-top: 24rpx;
  background-color: #f6f6f6;
  .orderItem {
    padding: 20rpx 24rpx;
    background-color: #fff;
    margin-top: 20rpx;
    .orderItem-top {
      display: flex;
      justify-content: space-between;
      font-size: 27rpx;
      font-family: PingFangSC-Bold, PingFang SC;
      font-weight: bold;
      color: #2e2e2e;
      line-height: 40rpx;
      .orderStatus {
        color: $theme-color;
      }
    }
    .orderItem-center {
      margin-top: 20rpx;
      .orderImg {
        display: flex;
        overflow: auto;
        .img {
          margin-right: 12rpx;
        }
      }
      .orderInfo {
        display: flex;
        justify-content: space-between;
        font-size: 22rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 34rpx;
        margin-top: 24rpx;
        align-items: center;
        .orderTotal {
          font-size: 22rpx;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #2e2e2e;
        }
      }
    }
    .orderItem-bottom {
      margin-top: 24rpx;
      display: flex;
      justify-content: flex-end;
      .btn {
        margin-left: 50rpx;
        padding: 4rpx 8rpx;
        // width: 154rpx;
        // height: 32rpx;
        border-radius: 12rpx;
        border: 2rpx solid $theme-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $theme-color;
      }
      .confirmReceipt {
        background-color: $theme-color;
        color: #fff;
      }
    }
  }
}

::v-deep {
  uni-page {
    background-color: #f6f6f6;
  }
  .active {
    color: $theme-color !important;
  }
  .v-tabs__container-line.animation {
    background-color: $theme-color !important;
  }
  uni-scroll-view {
    z-index: 99 !important;
  }

  .mescrollBox {
    background: #f6f6f6;
  }
  .uni-input-placeholder {
    font-size: 20rpx;
  }
}
</style>