<template>
	<div :style="this.$store.state.theme.presentTheme" class="container">
		<commonTop :isBack="true" :show="true">{{
      $t("order.orderDetails")
    }}</commonTop>
		<template v-if="orderDetails">
			<view class="orderStatus">
				<view class="topState">
					<uv-icon v-if="['TO_BE_REVIEWED'].includes(orderDetails.orderState)" name="clock-fill" size="20"
						color="#fff"></uv-icon>
					<uv-icon v-else-if="
              ['FINISHED', 'RECEIVED'].includes(orderDetails.orderState)
            " name="checkmark-circle-fill" size="20" color="#fff"></uv-icon>
					<uv-icon v-else-if="['CANCEL'].includes(orderDetails.orderState)" name="close-circle-fill" size="20"
						color="#fff"></uv-icon>
					<uv-icon v-else name="order" size="20" color="#fff"></uv-icon>

					<text style="margin-left: 14rpx">{{
            orderState.get(orderDetails.orderState)
          }}</text>
				</view>

				<view class="bottomTime">
					<uCountDown v-if="
              ['TO_BE_PAID'].includes(orderDetails.orderState) &&
              this.countDownTime > 0
            " :time="countDownTime" format="DD:HH:mm:ss" autoStart millisecond @change="onChangeTime"
						@finish="finishTime">
						<view class="time">
							<view class="time__item">{{ timeData.days }}&nbsp;{{ $t("order.day") }}</view>
							<view class="time__item">{{
                  timeData.hours > 10 ? timeData.hours : "0" + timeData.hours
                }}&nbsp;{{ $t("order.hour") }}</view>
							<view class="time__item">{{ timeData.minutes }}&nbsp;{{ $t("order.minute") }}</view>
							<view class="time__item">{{ timeData.seconds }}&nbsp;{{ $t("order.second") }}</view>
						</view>
					</uCountDown>
				</view>
			</view>
			<view class="logisticsAddress">
				<view class="address">
					<uv-icon name="map-fill" size="20" :color="activeColor" class="mapFill"></uv-icon>
					<view class="addressDetails">
						<p class="addressInfo">
							{{
                orderDetails.address.provinceName +
                " " +
                orderDetails.address.cityName +
                " " +
                orderDetails.address.districtName +
                " " +
                orderDetails.address.address
              }}
						</p>
						<p class="addressMessage">
							<text style="margin-right: 15rpx">{{
                orderDetails.address.consigneeName
              }}</text><text
								v-if="orderDetails.address.phoneRegion">({{ orderDetails.address.phoneRegion }})</text><text>{{ orderDetails.address.mobile }}</text>
						</p>
					</view>
				</view>
			</view>
			<view class="commodity">
				<view class="goodsListObj" v-if="goodsListObj.noShippedGood.length">
					<view class="title">
						<view>{{ $t("order.unshippedGoods") }}</view>
						<view class="quantity">{{ $t("order.quantity") }}：{{
                this.goodsListObj.noShippedGood.length
              }}</view>
					</view>
					<view class="commodityList" v-for="(noGoods, index) in this.goodsListObj.noShippedGood"
						:key="index">
						<uv-image width="168rpx" height="168rpx" class="img" :src="noGoods.picture"></uv-image>
						<view class="commodityDefails">
							<p class="name">
								{{ noGoods.productName }}
							</p>
							<p class="sku">{{ noGoods.specName }}</p>
							<view class="cost"><text style="font-size: 20rpx">{{ moneyMark }}</text><text
									style="font-size: 32rpx">{{
                  noGoods.actualPrice
                    ? currency(noGoods.actualPrice)
                    : currency(noGoods.memberPrice)
                }}</text></view>
							<view class="num">x <text>{{ noGoods.quantity }}</text></view>
							<view class="status">
								{{ suborderState.get(noGoods.status) }}
							</view>
						</view>
					</view>
				</view>
				<view class="goodsListObj" v-if="goodsListObj.shippedGoods.length">
					<view class="title">
						<view>{{ $t("order.goodsShipped") }}</view>
						<view class="quantity">{{ $t("order.quantity") }}：{{
                this.goodsListObj.shippedGoods.length
              }}</view>
					</view>
					<view class="commodityList" v-for="(goods, index) in this.goodsListObj.shippedGoods" :key="index">
						<u--image width="168rpx" height="168rpx" class="img" :src="goods.picture"></u--image>
						<view class="commodityDefails">
							<p class="name">
								{{ goods.productName }}
							</p>
							<p class="sku">{{ goods.specName }}</p>
							<view class="cost"><text style="font-size: 20rpx">{{ moneyMark }}</text><text
									style="font-size: 32rpx">{{
                  goods.actualPrice
                    ? currency(goods.actualPrice)
                    : currency(goods.memberPrice)
                }}</text></view>
							<view class="num">x <text>{{ goods.quantity }}</text></view>
							<view class="status">
								{{ suborderState.get(goods.status) }}
							</view>
						</view>
					</view>
				</view>

				<view class="commodityPrices">
					<view class="goods-price">
						<text>{{ $t("goods.commodityAmount") }}</text>
						<view style="display: inline-block">{{ moneyMark }}
							{{ currency(orderDetails.totalAmount) }}
						</view>
					</view>
					<view class="goods-price remark">
						<text style="width: 100px">{{ $t("order.remark") }}</text>
						<text style="width: 60%">{{ orderDetails.buyerMsg }}</text>
					</view>
					<view class="goodsfoot">
						<text>{{ $t("order.total") }}：</text>
						<text
							style="color: var(--theme-color)">{{ moneyMark }}{{ currency(orderDetails.totalAmount) }}</text>
					</view>
				</view>
			</view>
			<view class="orderMessage">
				<view class="orderRow">
					<text>{{ $t("order.orderNumber") }}:</text>
					<text style="margin-left: 160rpx">{{ orderDetails.orderNo }}</text>
					<view @click="copyOrder" class="copy orderRowCopy">{{
            $t("order.copy")
          }}</view>
				</view>
				<view class="orderRow">
					<!-- 下单时间 -->
					<text>{{ $t("order.orderTime") }}:</text>
					<text>{{ orderDetails.bookTime }}</text>
				</view>
				<view class="orderRow">
					<!-- 下单时间 -->
					<text>发货方式:</text>
					<text>{{
            orderDetails.shipType == "FullShip" ? "齐发货" : "有货先发"
          }}</text>
				</view>
				<view class="orderRow">
					<!-- 下单时间 -->
					<text>手提袋:</text>
					<text>{{ orderDetails.handbag ? "需要" : "不需要" }}</text>
				</view>
				<view class="orderRow">
					<!-- 支付方式: -->
					<text>{{ $t("order.paymentMethod") }}:</text>
					<text>{{
            orderDetails.payInfo.length && orderDetails.payInfo[0].payName
          }}</text>
				</view>
				<view class="orderRow">
					<!-- 支付金额 -->
					<text>{{ $t("order.PaymentAmount") }}:</text>
					<text>-{{ moneyMark }}{{ currency(orderDetails.payAmount) }}</text>
				</view>
				<view class="payCompany" v-if="orderDetails.payInfo.length">
					<view class="orderRow" v-for="(payItem, indexs) in orderDetails.payInfo[0].paymentDetails"
						:key="indexs">
						<view>{{ payItem.fromTypeName || '' }}
							{{ (payItem.fromTypeName && payItem.toTypeName) ? "-" : "" }}
							{{ payItem.toTypeName || '' }}
						</view>
						<text>-{{ moneyMark }}{{ currency(payItem.operationAmount) }}</text>
					</view>
				</view>
				<view class="orderRow">
					<!-- 支付时间 -->
					<text>{{ $t("order.PaymentTime") }}:</text>
					<text>{{ orderDetails.payTime }}</text>
				</view>
				<!-- <view class="orderRow">
          <text>发货时间:</text>
          <text>2020-03-20 20:18:18</text>
        </view> -->
			</view>
			<view class="orderItem-bottom">
				<view class="btn cancelOrder" v-if="
            ['TO_BE_PAID', 'TO_BE_REVIEWED', 'OUT_OF_STOCK'].includes(
              orderDetails.orderState
            )
          " @click.stop="cancelOrderFn">{{ $t("order.cancelOrder") }}</view>
				<view v-if="['SHIPPED'].includes(orderDetails.orderState)" class="btn confirmReceipt"
					@click.stop="confirmReceipt()">{{ $t("order.confirmReceipt") }}</view>
				<view v-if="['TO_BE_PAID'].includes(orderDetails.orderState)" class="btn confirmReceipt"
					@click.stop="goPay()">{{ $t("order.Go to pay") }}</view>
				<view v-if="orderDetails.isLogistics" class="btn" @click.stop="checkTheLogistics()">
					{{ $t("order.checkTheLogistics") }}
				</view>
			</view>
			<!-- 验证码输入 -->
			<uv-modal ref="modalShow" :title="$t('order.Please verification code')" :confirmColor="activeColor"
				:showCancelButton="true" :confirmText="$t('register.Confirm')" :cancelText="$t('register.Cancel')"
				@cancel="$refs.modalShow.close()" @confirm="verifyCodeConfirm">
				<view class="slot-content">
					<view class="modalInfo">{{
            $t("order.Transaction application info")
          }}</view>
					<uvCodeInput v-model="verifyCode" :maxlength="6" size="80rpx" fontSize="60rpx"></uvCodeInput>
				</view>
			</uv-modal>
			<cancelOrderPopup v-if="cancelOrderShow" :cancelOrderShow="cancelOrderShow" :checkedId="orderId"
				@cancelOrderShowFn="cancelOrderShowFn" source="orderDetails"></cancelOrderPopup>
		</template>
	</div>
</template>
<script>
	import {
		currency,
		isWechat
	} from "@/utils/util.js";
	import {
		purchaseOrderDetails,
		purchaseOrderReceive,
		payParam,
		validatePay,
		passwordControl,
	} from "@/config/vmeitime-http/order.js";
	import cancelOrderPopup from "./components/cancelOrderPopup.vue";
	import uCountDown from "./components/uv-count-down/components/uv-count-down/uv-count-down.vue";
	import uvCodeInput from "./components/uv-code-input/components/uv-code-input/uv-code-input.vue";
	import uniCopy from "@/utils/uni-copy.js";
	import dayjs from "dayjs";
	import commonTop from "@/components/CommonTop";
	import {
		i18n
	} from "@/main.js";
	const lianlianpay = require("@/utils/lianlianpay");

	export default {
		components: {
			cancelOrderPopup,
			commonTop,
			uCountDown,
			uvCodeInput,
		},

		data() {
			const orderState = new Map([
				["TO_BE_PAID", this.$t("order.To be paid")], //待付款
				["TO_BE_REVIEWED", this.$t("order.PendingReview")], //待审核
				["OUT_OF_STOCK", this.$t("order.FrontShipping")], //待发货
				["SHIPPING", this.$t("order.Shipping")], //出库中
				["SHIPPED", this.$t("order.Shipped")], //待收货
				["RECEIVED", this.$t("order.Received")], //已收货
				["CANCEL", this.$t("order.Cancelled")], //已取消
				["FINISHED", this.$t("order.Finished")], //交易完成
			]);
			const suborderState = new Map([
				["UN_SHIPPED", this.$t("order.unshipped")], //未发货
				["PART_SHIPPED", this.$t("order.Partial delivery")], //部分发货
				["SHIPPED", this.$t("order.shipped")], //已发货
				["CANCELLED", this.$t("order.Cancelled")], //已取消
				["RECEIVED", this.$t("order.have been signed")], //已签收
			]);
			return {
				moneyMark: this.$store.getters.moneyMark,
				activeColor: this.$store.state.theme.presentTheme["--theme-color"],
				orderState,
				suborderState,
				currency,
				buyerMsg: "",
				orderId: null,
				orderDetails: null,
				cancelOrderShow: false,
				countDownTime: null,
				timeData: {},
				verifyCode: "",
				outTradeNo: "",
				goodsListObj: {
					shippedGoods: [],
					noShippedGood: [],
				},
				uniPlatform: uni.getSystemInfoSync().uniPlatform,
			};
		},
		onLoad(options) {
			if (options.id) {
				this.orderId = options.id;
				this.purchaseOrderDetailsFn(this.orderId);
			}
			uni.$on("sendPwdInfo", (e) => {
				let that = this;
				let data = JSON.parse(e).data[0];
				if (data) {
					let parmas = {
						password: data.password,
						randomValue: data.randomValue,
						customerBankId: that.orderDetails.payInfo[0]?.customerBankId
					};
					if (parmas.customerBankId) {
						that.payParamFn(parmas);
					}
				}
			});
		},
		mounted() {},
		methods: {
			// 获取详情页
			purchaseOrderDetailsFn(id) {
				purchaseOrderDetails(id).then((res) => {
					if (res) {
						this.orderDetails = res;
						if (res.lines.length) {
							res.lines.forEach((x) => {
								if (x.shipped) {
									this.goodsListObj.shippedGoods.push(x);
								} else {
									this.goodsListObj.noShippedGood.push(x);
								}
							});
							console.log("this.goodsListObj: ", this.goodsListObj);
						}
						this.countDown();
					}
				});
			},

			// 确认收货弹窗
			confirmReceipt() {
				// this.checkedId = item.id;
				let that = this;
				uni.showModal({
					title: this.$t("order.confirmReceipt"),
					confirmColor: this.$store.state.theme.presentTheme["--theme-color"],
					success: function(res) {
						if (res.confirm) {
							console.log("用户点击确定");
							that.purchaseOrderReceiveFn();
						} else if (res.cancel) {
							console.log("用户点击取消");
						}
					},
				});
			},
			// 确认收货接口
			purchaseOrderReceiveFn() {
				purchaseOrderReceive(this.orderId).then((res) => {
					if (res) {
						uni.showToast({
							title: this.$t("goods.operateSuccessfully"),
							icon: "none",
							duration: 3000,
						});
						this.purchaseOrderDetailsFn(this.orderId);
					}
				});
			},
			// 取消订单弹窗父子传参事件
			cancelOrderShowFn(data, type) {
				console.log("data,type: ", data, type);
				this.cancelOrderShow = data;
				if (type == "orderDetails") {
					this.purchaseOrderDetailsFn(this.orderId);
				}
			},
			// ===========================支付相关==============================
			goPay() {
				let payInfo = this.orderDetails.payInfo[0];
				if (
					payInfo.payCode == "lianlian_balance_pay" ||
					payInfo.payCode == "lianlian_bank_pay"
				) {
					uni.showLoading({
						mask: true,
					});
					this.passwordControlFn();
					return;
				} else if (payInfo.payCode == "lianlian_wechat_pay") {
					let data = {
						openId: payInfo.openId,
						wechatAppId: payInfo.wechatAppId,
					};
					this.payParamFn(data);
				} else {
					this.payParamFn();
				}
			},
			payParamFn(data) {
				let payInfo = this.orderDetails.payInfo[0];
				let param = {
					payTypeId: payInfo.payTypeId,
					order: {
						orderId: this.orderDetails.id,
					},
					...data,
				};
				uni.showLoading({
					mask: true,
					title: "",
				});
				payParam(param).then((res) => {
					if (res?.code == 200) {
						uni.hideLoading();
						if (payInfo.payCode == "lianlian_wechat_pay") {
							this.StartWeiXinPay(res.data.payResult);
						} else {
							if (res.data.paid) {
								setTimeout(() => {
									uni.redirectTo({
										url: "/pagesA/account/rechargeSuccess?source=orderPay&out_trade_no=" +
											res.data.outTradeNo,
									});
								}, 500);
							} else {
								this.outTradeNo = res.data.outTradeNo;
								this.$refs.modalShow.open();
							}
						}
					} else {
						uni.showToast({
							icon: "none",
							title: res.msg || "网络繁忙，请稍后重试",
							duration: 2000,
						});
					}
				});
			},
			// =======================连连支付========================
			// 获取唤起密码控件token
			passwordControlFn() {
				let that = this;
				let params = {
					passwordUseType: 5,
					channelNo: 1,
					orderId: that.orderDetails.id,
				};
				passwordControl(params).then((res) => {
					if (res?.code == 200 && res?.data) {
						if (
							(that.uniPlatform === "mp-weixin" || that.uniPlatform === "app") &&
							!isWechat()
						) {
							that.golianlianpayPasswordFnToWebview(res.data);
						} else {
							that.lianlianpayPasswordFn(res.data);
						}
					} else {
						uni.showToast({
							icon: "none",
							title: res.msg || "网络繁忙，请稍后重试",
							duration: 2000,
						});
						uni.hideLoading();
					}
				});
			},

			// 跳转webview网页拉起密码控件
			golianlianpayPasswordFnToWebview(data) {
				uni.hideLoading();
				console.log(data);
				// return false
				uni.navigateTo({
					url: `/pagesA/order/pwdDilag?data=${JSON.stringify(data)}`,
				});
			},
			//唤起连连支付密码控件
			lianlianpayPasswordFn(data) {
				uni.hideLoading();
				// this.show = false;
				lianlianpay.invokePasswordControl({
						passwordScene: "pay_password",
						oidPartner: data.oidPartner, // 商户号
						userId: data.payUserId, // 用户号
						passwordElementToken: data.passwordElementToken, // 向服务端请求生成的 token
						env: "production", // 默认 production-生产
						styles: {
							// 样式集合
							themeColor: "rgba(180, 23, 1, 1)", // 主题颜色（按钮等）
						},
					},
					(res) => {
						console.log("密码数据", res);
						if (res?.data) {
							// this.password = res.data.password;
							// this.randomValue = res.data.randomValue;
							let data = {
								password: res.data.password,
								randomValue: res.data.randomKey,
								customerBankId: this.orderDetails.payInfo[0]?.customerBankId
							};
							this.payParamFn(data);
						} else {
							uni.showToast({
								icon: "none",
								title: res.msg || "网络繁忙，请稍后重试",
								duration: 2000,
							});
						}
					},
					(err) => {
						console.log("err: ", err);
					}
				);
			},
			//验证码确认支付
			verifyCodeConfirm() {
				// alert(this.verifyCode.length);
				if (!this.verifyCode && this.verifyCode.length !== 6) {
					uni.showToast({
						icon: "none",
						title: "请输入完整验证码",
						duration: 2000,
					});
					return;
				}
				this.payValidateFn();
			},
			// 验证银行卡快捷支付
			payValidateFn() {
				let param = {
					type: "recharge",
					orderSn: this.orderDetails.orderNo,
					verifyCode: this.verifyCode,
					outTradeNo: this.outTradeNo,
				};
				uni.showLoading({
					mask: true,
				});
				validatePay(param).then((res) => {
					if (res?.code == 200) {
						uni.showToast({
							icon: "none",
							title: "支付成功",
							duration: 2000,
						});
						setTimeout(() => {
							uni.redirectTo({
								url: "/pagesA/account/rechargeSuccess?source=orderPay&out_trade_no=" +
									this.outTradeNo,
							});
						}, 500);
						this.$refs.modalShow.close();
						return
					} else if (res?.code == 1017) {
						this.verifyCode = "";
						uni.showToast({
							icon: "none",
							title: res.msg,
							duration: 2000,
						});
						return
					} else {
						this.$refs.modalShow.close();
						this.verifyCode = "";
						uni.showToast({
							icon: "none",
							title: res.msg,
							duration: 2000,
						});
					}
					uni.hideLoading();
				});
			},
			//========================微信支付========================
			//微信支付预处理
			StartWeiXinPay(pay_params) {
				if (typeof WeixinJSBridge === "undefined") {
					if (document.addEventListener) {
						// alert(1);
						document.addEventListener(
							"WeixinJSBridgeReady",
							this.onBridgeReady(pay_params),
							false
						);
					} else if (document.attachEvent) {
						// alert(2);
						document.attachEvent(
							"WeixinJSBridgeReady",
							this.onBridgeReady(pay_params)
						);
						document.attachEvent(
							"onWeixinJSBridgeReady",
							this.onBridgeReady(pay_params)
						);
					}
				} else {
					this.onBridgeReady(pay_params);
				}
			},
			// 微信支付
			onBridgeReady(pay_params) {
				WeixinJSBridge.invoke(
					"getBrandWCPayRequest", {
						...pay_params,
						// appId: "wx2421b1c4370ec43b", //公众号ID，由商户传入
						// timeStamp: "1395712654", //时间戳，自1970年以来的秒数
						// nonceStr: "e61463f8efa94090b1f366cccfbbb444", //随机串
						// package: "prepay_id=up_wx21201855730335ac86f8c43d1889123400",
						// signType: "RSA", //微信签名方式：
						// paySign:
						//   "oR9d8PuhnIc+YZ8cBHFCwfgpaK9gd7vaRvkYD7rthRAZ/X+QBhcCYL21N7cHCTUxbQ+EAt6Uy+lwSN22f5YZvI45MLko8Pfso0jm46v5hqcVwrk6uddkGuT+Cdvu4WBqDzaDjnNa5UK3GfE1Wfl2gHxIIY5lLdUgWFts17D4WuolLLkiFZV+JSHMvH7eaLdT9N5GBovBwu5yYKUR7skR8Fu+LozcSqQixnlEZUfyE55feLOQTUYzLmR9pNtPbPsu6WVhbNHMS3Ss2+AehHvz+n64GDmXxbX++IOBvm2olHu3PsOUGRwhudhVf7UcGcunXt8cqNjKNqZLhLw4jq/xDg==", //微信签名
					},
					(res) => {
						console.log("res:微信支付=====> ", res);
						if (res.err_msg == "get_brand_wcpay_request:ok") {
							uni.showToast({
								title: "支付成功",
								icon: "none",
								duration: 3000,
							});
						} else {
							uni.showToast({
								title: "支付失败",
								icon: "none",
								duration: 3000,
							});
						}
					}
				);
			},

			// 跳转查看物流
			checkTheLogistics() {
				uni.navigateTo({
					url: `/pages/webview/index?path=pages/order/logistics&orderId=${
          this.orderId
        }&title=${i18n.t(`order.checkTheLogistics`)}`,
				});
			},

			// 复制
			copyOrder() {
				uniCopy({
					content: this.orderDetails.orderNo,
					success: (res) => {
						uni.showToast({
							title: this.$t("main.copySucc"),
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: this.$t("main.copyFail"),
							icon: "none",
							duration: 3000,
						});
					},
				});
			},
			// 取消订单弹窗
			cancelOrderFn(item) {
				if (this.$store.getters.xTenant) {
					uni.showToast({
						title: this.$t("order.cancelNoInfo"),
						icon: "none",
						duration: 3000,
					});
					return;
				}
				this.cancelOrderShow = true;
			},
			// 倒计时处理
			countDown() {
				const endT = dayjs(this.orderDetails.autoHandleTime);
				const startT = dayjs();
				this.countDownTime = endT.diff(startT); // 时间差
				// console.log("diff: ", this.countDownTime, endT, startT);
			},
			// 倒计时组件
			onChangeTime(e) {
				this.timeData = e;
			},
			// 倒计时结束回调
			finishTime() {
				this.purchaseOrderDetailsFn(this.orderId);
			},
		},
	};
</script>
<style scoped lang="scss">
	.container {
		background: #f6f6f6;
		//   height: 100vh;
		padding-bottom: 100rpx;
	}

	.copy {
		background: #f6f6f6;
		border-radius: 12rpx;
		padding: 2rpx 14rpx;
		font-size: 20rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #2e2e2e;
		line-height: 28rpx;
	}

	.orderStatus {
		height: 120rpx;
		background: linear-gradient(148deg, #b41701 0%, #d17265 100%);
		display: flex;
		flex-direction: column;
		// align-items: center;
		justify-content: center;
		color: #fff;
		padding-left: 40rpx;

		.topState {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.bottomTime {
			font-size: 24rpx;

			.time {
				display: flex;
				align-items: center;

				&__item {
					color: #fff;
					font-size: 12px;
					text-align: center;
				}
			}
		}
	}

	.logisticsAddress {
		padding: 24rpx;
		background: #fff;

		.logistics {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 30rpx 0;
			border-bottom: 2rpx solid #f6f6f6;
			position: relative;

			.logisticsCopy {
				position: absolute;
				right: 0;
				top: 30rpx;
			}

			.carFill {
				width: 50rpx;
			}

			.arrowright {
				margin-left: 20rpx;
			}

			.logisticsDetails {
				flex: 1;
			}

			.expressName {
				font-size: 28rpx;
				font-family: PingFangSC-, PingFang SC;
				font-weight: 600;
				color: #222222;
				line-height: 40rpx;
			}

			.expressInfo {
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #585858;
				line-height: 34rpx;
			}

			.expressTime {
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #999999;
				line-height: 34rpx;
			}
		}

		.address {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 30rpx 0;

			.mapFill {
				width: 50rpx;
			}

			.addressDetails {
				flex: 1;
			}

			.addressInfo {
				font-size: 24rpx;
				font-family: PingFang-SC-Bold, PingFang-SC;
				font-weight: bold;
				color: #2e2e2e;
				line-height: 34rpx;
			}

			.addressMessage {
				font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #999999;
				line-height: 34rpx;
			}
		}
	}

	.commodity {
		margin-top: 20rpx;
		// background-color: #fff;

		.goodsListObj {
			background-color: #fff;
			padding: 10rpx 24rpx;
			margin-top: 20rpx;
			// padding: 10rpx 24rpx;
		}

		.title {
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			font-size: 32rpx;
			color: #585858;
			line-height: 50rpx;
			margin-bottom: 25rpx;
			display: flex;
			justify-content: space-between;
		}

		.quantity {
			font-size: 26rpx;
		}

		.commodityList {
			display: flex;
			margin-bottom: 30rpx;

			.commodityDefails {
				flex: 1;
				font-size: 28rpx;
				font-family: PingFangSC-Semibold, PingFang SC;
				font-weight: 600;
				color: #222222;
				line-height: 40rpx;
				position: relative;
				margin-left: 10rpx;

				.name {
					text-overflow: -o-ellipsis-lastline;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}

				.sku {
					font-size: 22rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #666666;
					line-height: 32rpx;
					margin: 10rpx 0;
				}

				.cost {
					color: $theme-color;
					line-height: 34rpx;
				}

				.num {
					position: absolute;
					right: 0rpx;
					bottom: 55rpx;
					font-size: 24rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #2e2e2e;
				}

				.status {
					position: absolute;
					right: 0rpx;
					bottom: 5rpx;
					font-size: 24rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: $theme-color;
				}
			}
		}

		.commodityPrices {
			padding: 10rpx 24rpx;
			background-color: #fff;
			margin-top: 40rpx;
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #2e2e2e;

			.goods-price {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-bottom: 20rpx;
			}

			.remark {
				border-bottom: 2rpx solid #f6f6f6;
			}
		}

		.goodsfoot {
			text-align: right;
			font-size: 32rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 600;
			color: #2e2e2e;
		}
	}

	.orderMessage {
		margin-top: 20rpx;
		padding: 24rpx;
		background-color: #fff;
		margin-bottom: 200rpx;

		.orderRow {
			display: flex;
			justify-content: space-between;
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #585858;
			line-height: 34rpx;
			height: 34rpx;
			margin-bottom: 20rpx;
		}

		.payCompany {
			padding: 24rpx;
			background: #f6f6f6;
			border-radius: 11rpx;
			margin-bottom: 20rpx;
		}
	}

	.orderItem-bottom {
		position: fixed;
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		background-color: #fff;
		padding: 24rpx 0;

		.btn {
			margin-right: 24rpx;
			// width: 154rpx;
			padding: 4rpx 28rpx;
			height: 52rpx;
			border-radius: 12rpx;
			border: 2rpx solid $theme-color;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $theme-color;
		}

		.confirmReceipt {
			background-color: $theme-color;
			color: #fff;
		}
	}

	.modalInfo {
		font-size: 24rpx;
		color: #ccc;
		padding: 20rpx;
	}

	::v-deep {

		// .uni-textarea-placeholder {
		//   text-align: right;
		// }
		.u-border-bottom {
			border: 0;
		}
	}
</style>