<template>
  <view :style="this.$store.state.theme.presentTheme" class="container">
     <hx-navbar v-show="this.$store.state.loginInfo.showNavTile!=='false'" :config="{ title: $t('order.paymentInfo') }" />

    <u--image
      width="140rpx"
      height="140rpx"
      class="playIcon"
      src="../../static/images/goods/playSucc.png"
    ></u--image>
    <view class="paymentTitle">订单提交成功</view>
    <view class="paymentMoney"
      >货款账户扣款：{{ $store.getters.moneyMark }}
      {{ currency(payAmount) }}</view
    >
    <view class="btnFoot">
      <view class="btn see"  @click="goTo(`/pagesA/order/orderList`)">查看订单</view>
      <!-- <view class="btn see"  @click="goTo(`/pages/index/index`)">返回首页</view> -->
      <view class="btn play" @click="goTo(`/pagesA/goods/goodsClassify`)">继续采购</view>
    </view>
  </view>
</template>
<script>
import { currency } from "@/utils/util.js";

export default {
  data() {
    return {
      currency,
      payAmount: "",
    };
  },
  onLoad(options) {
    if (options.payAmount) {
      this.payAmount = options.payAmount;
    }
  },
  methods:{
    goTo(url){
      uni.redirectTo({
            url:url ,
          });
    },
  },
};
</script>
<style scoped lang="scss">
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.playIcon {
  margin-top: 140rpx;
}
.paymentTitle {
  font-size: 36rpx;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #2e2e2e;
  margin-top: 40rpx;
}
.paymentMoney {
  font-size: 32rpx;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #999999;
  margin-top: 8rpx;
}
.btnFoot {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 90rpx;
  .btn {
    width: 218rpx;
    height: 78rpx;
    border-radius: 12rpx;
    border: 2rpx solid #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
  }
  .play {
    border: 2rpx solid $theme-color;
    color: $theme-color;
  }
}
</style>