<template>
	<view class="content">
		<web-view :src="url" @message="message" @error="error" @loading="loading" @loaded="loaded"></web-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				url: null
			}
		},
		onLoad(options) {
			let data = options.data
			this.url = `https://h5-test.merrige.cn/H5/static/hybrid/html/local.html?data=${data}`
			console.log(this.url)
		},
		methods: {
			message(event) {
				let data = JSON.stringify(event.detail)
				uni.$emit('sendPwdInfo', data)
			},
			error(event) {
				uni.showModal({
					content: JSON.stringify(event.detail),
					showCancel: false
				});
				console.log(JSON.stringify(event.detail));
			},
			loading(event) {
				uni.showModal({
					content: JSON.stringify(event.detail),
					showCancel: false
				});
				console.log(JSON.stringify(event.type));
			},
			loaded(event) {
				uni.showModal({
					content: JSON.stringify(event.detail),
					showCancel: false
				});
				console.log(JSON.stringify(event.type));
			}
		}
	}
</script>

<style>

</style>