<template>
	<div class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('store.physicalStore') }}</commonTop>
		<view class="storeModule">
			<view class="storeModuleItem" v-for="store in storeModule" :key="store.iconUrl"
				@click="goTo(store.type, store.url)">
				<view class="icon">
					<uv-image height="90rpx" width="90rpx" :src="store.iconUrl"></uv-image>
				</view>
				<view class="name"> {{ store.name }} </view>
			</view>
		</view>
		<uv-sticky offset-top="44">
			<Vtabs :fixed="false" v-model="currentTab" :tabs="tabs" field="name" :scroll="false" :lineScale="0.1"
				:bold="false" height="100rpx" lineHeight="6rpx" @change="changeTab" v-if="tabs.length">
			</Vtabs>
		</uv-sticky>

		<view style="padding: 0 24rpx">
			<storeList v-if="storeData.length" :storeData="storeData" :currentTab="currentTab" @operations="operations">
			</storeList>
			<!-- 无数据 -->
			<view class="no-data" v-else>
				<uv-empty textSize="30rpx" :icon="'/static/images/index/empty.png'" :text="$t('pages.empty')"
					marginTop="200rpx">
				</uv-empty>
			</view>
		</view>
		<uv-popup ref="applicationShow" :round="10" :closeable="true" @close="$refs.applicationShow.close()"
			@open="$refs.applicationShow.open()">
			<view class="application">
				<uv-image
					src="https://yumei-platform.oss-cn-hangzhou.aliyuncs.com/public/common/applicationRequirement.png"
					width="750rpx" height="1790rpx"></uv-image>
				<view class="application-foot" @click="applicationFn"> 申请 </view>
			</view>
		</uv-popup>
	</div>
</template>
<script>
	import storeList from "./components/storeList.vue";
	import commonTop from '@/components/CommonTop'
	import Vtabs from '@/components/v-tabs/components/v-tabs/v-tabs.vue'
	import { i18n } from '@/main.js'
	export default {
		components: {
			storeList,
			commonTop,
			Vtabs
		},
		data() {
			return {
				currentTab: 0,
				tabs: [{
						name: "我的门店",
					},
					{
						name: "申请列表",
					},
				],
				storeModule: [{
						iconUrl: "/static/images/store/physicalStore.png",
						name: "实体店申请",
						url: `pages/storeManagement/storeApply&title=${i18n.t('store.physicalStoreApply')}`,
						type: "PhysicalStores",
					},
					{
						iconUrl: "/static/images/store/physicalStoreGood.png",
						name: "优秀实体店申请",
						url: `pages/storeManagement/goodStoreApply&title=${i18n.t('store.goodPhysicalStoreApply')}`,
						type: "ExcellentPhysicalStore",
					},
					{
						iconUrl: "/static/images/store/lifeHouse.png",
						name: "生活馆申请",
						url: `pages/storeManagement/lifeHouseApply&title=${i18n.t('store.lifeHouseApply')}`,
						type: "LifePavilion",
					},
					{
						iconUrl: "/static/images/store/teacherTraining.png",
						name: "申请老师培训",
						url: `pages/storeManagement/teacherTrainingApply&title=${i18n.t('store.teacherTrainingApply')}`,
						type: "TeacherTraining",
					},
				],
				storeData: []
			};
		},
		mounted() {
			this.getStoreApplyFn(0);
		},
		methods: {
			frm() {
				let iframeBox = document.getElementById("mapPage");
				console.log("iframeBox: ", iframeBox);
				let _obj = iframeBox.contentWindow || iframeBox.contentDocument;
				let doc = _obj.document;
				// let _box=doc.getElementById("viewer");
				console.log("doc: ", doc);
			},
			// 相关操作
			operations(type, data) {
				console.log("type,data: ", type, data);
				if (type == "look") {
					let locationObj = {
						type: "look",
						details: {
							name: data.storeName,
							address: data.address?.poiName || data.address.address,
							latitude: data.address.location.split(",")[0],
							longitude: data.address.location.split(",")[1],
							gmtopen: data.openingTime,
							gmtbusiness: data.businessHours,
							phone: data.phone,
							feature: data.featuredServices,
							intro: data.introduce,
						}
					};
					uni.navigateTo({
						url: `/pages/webview/index?path=pages/storeManagement/search-address&locationObj=${JSON.stringify(locationObj)}&title=${i18n.t('store.map')}`,
					});
				}
				if (type == "edit") {
					uni.navigateTo({
						url: `/pages/webview/index?path=pages/storeManagement/storeApply&mode=edit&id=${data.id}&title=${i18n.t('store.teacherTrainingApply')}` ,
					});
				}
				if (type == "details") {
					uni.navigateTo({
						url: `/pages/webview/index?path=pages/storeManagement/storeApply&mode=details&id=${data.id}&title=${i18n.t('store.teacherTrainingApply')}`,
					});
				}
			},
			// 我的门店列表 / 申请实体店记录
			getStoreApplyFn(index = 0) {
				this.storeData = [];
				let API = index == 0 ? this.$api.getStoreApply : this.$api.applyRecord;
				API().then((res) => {
					if (res.code == 200) {
						this.storeData = res.data;
					} else {
	
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 2000
						})
					}
				});
			},
			// 优化实体门店/生活馆详情
			storeLiveDetailsFn(type, url) {
				this.$api.storeLiveDetails(type).then((res) => {
					if (res?.code == 200 && res?.data) {
						if (type == "LifePavilion") {
							if (
								["Checked", "CheckSuccess", "CheckFail", "Complete", ].includes(
									res.data.status
								)
							) {
								uni.navigateTo({
									url: `/pages/webview/index?path=pages/storeManagement/lifeHouseCheck&id=${res.data.id}&mode=details&title=${i18n.t('store.lifeHouseApply')}`,
								});
							} else {
								uni.navigateTo({
									url: `/pages/webview/index?path=${url}&mode=details`
								});
							}
						} else {
							uni.navigateTo({
								url: `/pages/webview/index?path=${url}&mode=details`
							});
						}
					} else {
						if (type == "ExcellentPhysicalStore") {
							this.$refs.applicationShow.open()
						} else {
							uni.navigateTo({
								url: `/pages/webview/index?path=${url}`
							});
						}
					}
				});
			},
			// 申请优秀实体门店条件判断
			applicationFn() {
				this.$api.conditionCheck().then((res) => {
					if (res?.code == 200) {
						uni.navigateTo({
							url: "/pages/webview/index?path=pages/storeManagement/goodStoreApply"
						});
					} else {
						uni.showToast({
							title: res.msg,
							duration: 5000,
							icon: 'none'
						})
					}
				});
			},
			//切换处理
			changeTab(index) {
				console.log("id:品牌切换处理 ", index);
				this.getStoreApplyFn(index);
			},
			goTo(type, url) {
				if (type == "ExcellentPhysicalStore" || type == "LifePavilion") {
					this.storeLiveDetailsFn(type, url);
					return;
				}
				uni.navigateTo({
					url: `/pages/webview/index?path=${url}`
				});
			}
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background: #f6f6f6;
	}

	.storeModule {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 30rpx 20rpx;

		.storeModuleItem {
			display: flex;
			flex-direction: column;
			font-size: 24rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #222222;
			line-height: 34rpx;
			align-items: center;
		}
	}

	.application {
		display: flex;
		flex-direction: column;
		height: 80vh;
		overflow: auto;
		padding-top: 100rpx;
		box-sizing: border-box;

		.applicationBg {
			background: url("https://yumei-platform.oss-cn-hangzhou.aliyuncs.com/public/common/applicationRequirement.png") no-repeat center center/100% 100%;
		}

		.application-foot {
			position: fixed;
			bottom: 0;
			background-color: #fff;
			width: 80%;
			padding: 10rpx 0rpx;
			background-color: $theme-color;
			text-align: center;
			color: #fff;
			border-radius: 10rpx;
			height: 40rpx;
			line-height: 40rpx;
			margin: 20rpx auto;
			margin-left: 10%;
		}
	}

	::v-deep {
		.u-tabs__wrapper__nav {
			display: flex;
			justify-content: space-around;
			flex: 1;
		}

		.active {
			color: $theme-color !important;
		}

		.v-tabs__container-line.animation {
			background-color: $theme-color !important;
		}

		uni-scroll-view {
			z-index: 99 !important;
		}

		.poi-info {
			display: none !important;
		}

		.uicon-close {
			font-size: 40rpx !important;
		}
	}
</style>