<template>
  <view class="goods-item">
    <view :class="['item', type-'item']" @click="goToDetail">
      <view class="img">
        <uv-image
          v-if="type == 'big-img'"
          height="100%"
          mode="heightFix"
          :lazy-load="true"
          :src="
            detail.banner || detail.mainPicture
              ? (detail.banner || detail.mainPicture) + '?imageView2/2/w/800'
              : holderImg
          "
          alt=""
          :error-icon="holderImg"
        />
        <uv-image
          v-else
          height="100%"
          mode="heightFix"
          :lazy-load="true"
          :src="
            detail.mainPicture
              ? detail.mainPicture + '?imageView2/2/w/400'
              : holderImg
          "
          alt=""
          :error-icon="holderImg"
        />
        <!-- <view class="will-shelves"  v-if="detail.status == 'TIMING_SELLING'">
            <img src="../../assets/images/icon_goodscard_time_normal_12@2x.png" alt="">
         </view> -->
        <view class="will-shelves" v-if="detail.status == 'TIMING_SELLING'">
          <!-- <img class="time-img" src="../../assets/images/time_normal.png" alt=""> -->
          <span>{{ comingSonn[XTenant] }}</span>
        </view>
        <view
          class="solo-out"
          v-if="detail.status == 'SOLD_OUT'"
          :class="{
            'isBig-img-sold': type == 'big-img',
            'isList-img-sold': type == 'list',
          }"
        >
          <view class="solo-out-font">
            {{ soldOut[XTenant] }}
          </view>
        </view>
      </view>
      <view
        class="info"
        :class="{
          is_solod_out: detail.status == 'SOLD_OUT',
          'info-list': showAddCart,
        }"
      >
        <h3 :class="['name', 'text-2']">
          <!-- <tag-item v-if="detail.tags && detail.tags.indexOf('BlueStarProduct') != -1" :name="name"
            backgroundColors="linear-gradient(90deg, #4081EC 0%, #6370D2 100%)" top="-2"></tag-item> -->
          {{ detail.name }}
        </h3>
        <view class="price-cart">
          <view class="price">
            <span class="l">{{ CURRENCY }}</span
            ><span class="c">{{ detail.retailPriceFloor }}</span
            ><span class="r">{{ detail.retailPriceFloat }}</span>
            <!-- userInfo && userInfo.codeInfo && userInfo.codeInfo.code -->
            <!-- <view class="prize"
              v-if="detail.commission && detail.commission > 0 && userInfo && userInfo.codeInfo && userInfo.codeInfo.code">
              奖<b>{{ detail.commission }}</b>元
            </view> -->
          </view>
          <view
            class="add-cart"
            v-if="showAddCart && type == 'card'"
            @click.stop="addCart"
          >
            <span class="tst-iconfont icon_public_trolleyadd_normal_20"></span>
          </view>
        </view>
        <view v-if="!showAddCart">
          <view
            :class="['buy-button' , detail.status === 'SELLING' ? '' : 'dis']"
            v-if="type == 'list' || type == 'big-img'"
          >
            {{ btnEnums[detail.status] }}
          </view>
        </view>
        <view
          class="add-cart list-cart"
          v-if="showAddCart && type == 'list'"
          @click.stop="addCart"
        >
          <span class="tst-iconfont icon_public_trolleyadd_normal_20"></span>
        </view>
      </view>
    </view>
  </view>
</template>
<script>
// import { NavPush, getStorage, getXTenant, getAcceptLanguage } from "../../common/utils/util";
// import { addToCart } from "../../api/goods";
// import TagItem from "../common/tagItem.vue";
// import Image from "@/components/image/image";
// import { Toast } from "vant";
import { NavPush } from "@/utils/util";
import storage from "@/utils/storage.js";
import {
		i18n
	} from '@/main.js'
  
export default {
  components: {
    // [Image.name]: Image,
    // "tag-item": TagItem,
  },
  props: {
    data: Object,
    type: {
      type: String,
      default: "card",
    },
    showAddCart: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      holderImg: "", //require("../../assets/images/holder.png"),
      detail: "",
      CURRENCY: this.$store.getters.moneyMark,
      btnEnums: {
        SELLING: "立即抢购",
        TIMING_SELLING: "即将开始",
        SOLD_OUT: "已售罄",
        SHELF_DOWN: "已下架",
        PENDING: "即将开始",
        UN_CHECK: "即将开始",
        DELETED: "已下架",
        REJECT: "已下架",
      },
      btnEnumsEn: {
        SELLING: "Buy Now",
        TIMING_SELLING: "Coming soon",
        SOLD_OUT: "Sold out",
        SHELF_DOWN: "Delisted",
        PENDING: "Coming soon",
        UN_CHECK: "Coming soon",
        DELETED: "Delisted",
        REJECT: "Delisted",
      },
      // btnEnumsTw: {
      //   SELLING: "立即搶購",
      //   TIMING_SELLING: "即將開始",
      //   SOLD_OUT: "已售罄",
      //   SHELF_DOWN: "已下架",
      //   PENDING: "即將開始",
      //   UN_CHECK: "即將開始",
      //   DELETED: "已下架",
      //   REJECT: "已下架",
      // },
      // userInfo: null,
      comingSonn: {
        tml: "Coming soon",
        tsg: "Coming soon",
        tmm: "即将上架",
        ttw: "即將上架",
      },
      soldOut: {
        tml: "Sold Out",
        tsg: "Sold Out",
        tmm: "已售罄",
        ttw: "已售罄",
      },
      XTenant: this.$store.getters.xTenant, //getXTenant(),
      name: "蓝星",
    };
  },
  created() {
    let detail = this.data;
    // console.log("detail: ", detail,this.type);
    // this.userInfo = getStorage('auth-userinfo')
    if (detail && detail.items) {
      detail.items = detail.skus ? detail.skus : detail.items;
      let retailPrice =
        detail.items && detail.items[0] && detail.items[0].retailPrice
          ? detail.items[0].retailPrice
          : detail.retailPrice;
      if (!detail.retailPriceFloor) {
        detail.retailPriceFloat = ((retailPrice * 1) % 1)
          .toFixed(2)
          .replace("0.", ".");
        detail.retailPriceFloor = Math.floor(retailPrice);
      }
      this.detail = detail;
    } else {
      if (!detail.retailPriceFloor) {
        detail.retailPriceFloat = ((detail.retailPrice * 1) % 1)
          .toFixed(2)
          .replace("0.", ".");
        detail.retailPriceFloor = Math.floor(detail.retailPrice);
      }
      this.detail = detail;
      // console.log('this.detail: ', this.detail);
    }
  },
  async mounted() {
    let language = ""; //await getAcceptLanguage()
    if (uni.getLocale() == "en") {
      this.btnEnums = this.btnEnumsEn;
      // this.name = "Blue Star";
    }
    // if (this.XTenant == "ttw") {
    //   this.btnEnums = this.btnEnumsTw;
    //   this.name = "藍星";
    // }
  },
  methods: {
    NavPush,
    goToDetail() {
      const detail = this.detail;
      let reference = null;
      if (storage.get('pageType')==9) {
		   NavPush(`/pagesA/goods/goodsDetail?id=${detail.id}`);
        // NavPush(`/pages/webview/index?path=pagesA/goods/goodsDetail&id=${detail.id}&title=${i18n.t('goods.goodsDetail')}`);
      } else {
		  NavPush(`/pagesA/cMall/goods/goodsDetail?id=${detail.id}`);
        // NavPush(`/pages/webview/index?path=pagesA/cMall/goods/goodsDetail&id=${detail.id}&title=${i18n.t('goods.goodsDetail')}`);
      }
    },
    //加入购物车点击
    async addCart() {
      return
      const detail = this.detail;
      let data = {
        quantity: 1,
        skuId: detail.items[0].id,
      };
      console.log("detail11111--->", detail);
      let res = await addToCart(data);
      if (!!res.sellers) {
        uni.showToast({
          icon: "none",
          title: "加入购物车成功",
          duration: 2000,
        });
      } else {
        uni.showToast({
          icon: "none",
          title: res.title,
          duration: 2000,
        });

      }
    },
  },
};
</script>
<style lang="scss" scoped>
.item {
  width: 348rpx;
  background-color: #fff;
  border-radius: 16rpx;
  margin-bottom: 16rpx;
  overflow: hidden;

  &.list-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 24rpx;

    .img {
      width: 280rpx;
      overflow: hidden;
      height: 280rpx;
      border-radius: 16rpx 0 0 16rpx;
    }

    .info {
      width: 430rpx;
      height: 280rpx;
      position: relative;
      padding-left: 20rpx;
      box-sizing: border-box;

      .name {
        font-size: 28rpx;
        line-height: 42rpx;
        font-weight: 400;
        // padding-top: 5px;
      }

      .price {
        position: absolute;
        bottom: 30rpx;
        left: 30rpx;
      }

      .buy-button {
        right: 30rpx;
        bottom: 30rpx;
      }
    }
    .info-list {
    }
  }

  &.big-img-item {
    width: 100%;

    .img {
      width: 100%;
      height: 300rpx;
      border-radius: 16rpx 16rpx 0 0;
      overflow: hidden;
    }

    .info {
      position: relative;

      .price {
        margin-top: 30rpx;
      }
    }
  }

  .img {
    width: 348rpx;
    height: 348rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16rpx 16rpx 0 0;
    overflow: hidden;
    position: relative;

    .van-image {
      width: 100%;

      :deep(.van-icon__image) {
        width: 100%;
        height: auto;
      }
    }

    .will-shelves {
      position: absolute;
      top: 0px;
      left: 0px;
      background: linear-gradient(90deg, #03ba53 0%, #06b376 100%);
      border-radius: 0px 16rpx 16rpx 0px;
      //  width: 84px;
      padding: 0px 8rpx 0 4rpx;
      display: flex;
      align-items: center;
      height: 32rpx;

      //  img{
      //    width: 56px;
      //  }
      .time-img {
        width: 24rpx;
        margin-left: 10rpx;
      }

      span {
        // width: 63px;
        height: 28rpx;
        font-size: 20rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        line-height: 28rpx;
        margin-left: 2rpx;
        margin-right: 4rpx;
      }
    }

    .solo-out {
      position: absolute;
      top: 46rpx;
      left: 46rpx;
      width: 256rpx;
      height: 256rpx;
      background: #000000;
      border-radius: 128rpx;
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;

      .solo-out-font {
        font-size: 42rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        line-height: 58rpx;
      }
    }

    .isBig-img-sold {
      position: absolute;
      top: 46rpx;
      left: 236rpx;
    }

    .isList-img-sold {
      width: 180rpx;
      height: 180rpx;
    }
  }

  .info {
    padding: 16rpx;
    padding-bottom: 18rpx;

    .name {
      font-size: 28rpx;
      color: #101012;
      line-height: 40rpx;
      font-weight: 400;
    }

    .price-cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .price {
      color: $theme-color;
      font-weight: bold;
      font-size: 28rpx;
      display: flex;
      align-items: flex-end;
      margin-top: 8rpx;

      .l,
      .r {
        line-height: 38rpx;
      }

      .c {
        font-size: 36rpx;
        line-height: 42rpx;
        margin-left: 4rpx;
      }
    }

    .add-cart {
      width: 40rpx;
      height: 40rpx;
      background-color: $theme-color;
      border-radius: 100%;
      color: #fff;
      text-align: center;
      line-height: 40rpx;
      font-size: 24rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .list-cart {
      position: absolute;
      right: 16rpx;
      bottom: 20rpx;
      width: 48rpx;
      height: 48rpx;
    }

    .prize {
      height: 26rpx;
      //min-width: 59px;
      background: linear-gradient(90deg, #f9f4e8 0%, #f0e5cc 100%);
      color: #825903;
      font-size: 22rpx;
      line-height: 36rpx;
      padding: 0 8rpx;
      display: inline-block;
      border-radius: 8rpx;
      position: relative;
      margin-left: 16rpx;
      font-weight: 400;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -4rpx;
        left: 0px;
        width: 0;
        height: 0;
        border-right: 8rpx solid transparent;
        border-top: 8rpx solid #f8f2e4;
        border-bottom: 8rpx solid transparent;
        transform: rotate(-45deg);
      }

      b {
        font-weight: bold;
      }
    }

    .buy-button {
      background-color: $theme-color;
      color: #fff;
      line-height: 52rpx;
      padding: 0 14rpx;
      text-align: center;
      border-radius: 8rpx;
      position: absolute;
      right: 20rpx;
      bottom: 20rpx;
      font-size: 24rpx;

      &.dis {
        opacity: 0.8;
      }
    }
  }

  .is_solod_out {
    opacity: 0.4;
  }
}
</style>
