<template>
  <view
    class="container"
    :style="{ 'background-color':
      config && config.bgColor != '#f9f9f9' ? config.bgColor : '' || ''
    }"
  >
    <template v-if="pageConfig.length">
      <view v-for="(item, index) in pageConfig" :key="index">
        <!-- 公告 -->
        <notice
          v-if="item.type == 'notice'"
          :pageConfig="config"
          :config="item.dataField"
          @onNavPush="NavPush"
        />
        <!-- 轮播 -->
        <image_carousel
          v-if="
            item.type == 'image_carousel' || item.type == 'image_carousel_fill'
          "
          :config="item.dataField"
          :pageConfig="config"
          :type="item.type"
          @onNavPush="NavPush"
        />
        <!-- 图片广告 -->
        <image_ad
          v-if="item.type == 'image_ad'"
          :pageConfig="config"
          :config="item.dataField"
          @onNavPush="NavPush"
        />
        <!-- 导航分类 -->
        <tab_nav
          v-if="item.type == 'tab_nav'"
          :pageConfig="config"
          :config="item.dataField"
          @onNavPush="NavPush"
        />
        <!-- 文字标题 -->
        <title_text
          v-if="item.type == 'title_text'"
          :config="item.dataField"
          :pageConfig="config"
          @onNavPush="NavPush"
        />
        <!-- 商品组 -->
        <goods
          v-if="item.type == 'goods'"
          :pageConfig="config"
          :config="item.dataField"
          @onNavPush="NavPush"
          :activityInfo="activityInfo"
        />
        <!-- 图片盒子 -->
        <goods-cube
          v-if="item.type == 'goods-cube'"
          :config="item.dataField"
          :pageConfig="config"
          @onNavPush="NavPush"
        />
        <!-- 图片盒子（通屏） -->
        <goods-cube-fill
          v-if="item.type == 'goods-cube-fill'"
          :config="item.dataField"
          :pageConfig="config"
          @onNavPush="NavPush"
        />
        <!-- 辅助空白 -->
        <auxiliary_blank
          v-if="item.type == 'auxiliary_blank'"
          :config="item.dataField"
          :pageConfig="config"
          @onNavPush="NavPush"
        />
        <!-- 浮标 -->
        <floating_frame
          v-if="item.type == 'floating_frame'"
          :config="item.dataField"
          :pageConfig="config"
          @onNavPush="NavPush"
        />
      </view>
      <!-- </mescroll-body> -->
      <list_nav
        v-if="listNav"
        :pageConfig="config"
        :headerHeight="headerHeight"
        :config="listNav"
        @onNavPush="NavPush"
      />
    </template>
    <template v-else>
      <uv-empty
        textSize="30rpx"
        :icon="'/static/images/index/empty.png'"
        :text="$t('pages.empty')"
        marginTop="200rpx"
      >
      </uv-empty>
    </template>
    <!-- <mescroll-body @init="mescrollInit" @down="downCallback" @up="upCallback"> -->
  </view>
</template>
  <script>
import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
import image_carousel from "@/components/decorate/modules/image_carousel.vue";
import image_ad from "@/components/decorate/modules/image_ad.vue";
import tab_nav from "@/components/decorate/modules/tab_nav.vue";
import title_text from "@/components/decorate/modules/title_text.vue";
import goods from "@/components/decorate/modules/goods.vue";
import goodsCube from "@/components/decorate/modules/goods-cube.vue";
import goodsCubeFill from "@/components/decorate/modules/goods-cube-fill.vue";
import auxiliary_blank from "@/components/decorate/modules/auxiliary_blank.vue";
import list_nav from "@/components/decorate/modules/list_nav.vue";
import floating_frame from "@/components/decorate/modules/floating_frame.vue";
import notice from "@/components/decorate/modules/notice.vue";

import storage from "@/utils/storage.js";

import { NavPush } from "@/utils/util";

export default {
  mixins: [MescrollMixin],
  components: {
    image_carousel,
    image_ad,
    tab_nav,
    title_text,
    goodsCube,
    auxiliary_blank,
    goodsCubeFill,
    goods,
    list_nav,
    floating_frame,
    notice,
  },
  data() {
    return {
      pageConfig: "",
      config: "",
      listNav: "",
      headerHeight: 60,
      userInfo: storage.get("loginInfo"),
    };
  },
  props: {
    pageId: {
      type: String,
      default() {
        return "";
      },
    },
    pageType: {
      type: String,
      default() {
        return "";
      },
    },
    activityInfo: {
      type: String,
      default() {
        return "";
      },
    },
    hideNavBar: {
      type: Boolean,
      default() {
        return false;
      },
    },
    isHomePage: {
      type: Boolean,
      default() {
        return false;
      },
    },
    interceptNavPush: {
      type: Boolean,
      default() {
        return false;
      },
    },
    beforeShowPopup: {
      //弹窗显示前执行
      type: Function,
    },
    hasMessage: {
      //弹窗显示前执行
      type: Boolean,
    },
    messageNum: {
      //消息条数
      type: Number,
    },
    refresh: {
      //刷新数据标识
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  onLoad() {},
  mounted() {
    this.upCallbackc();
    storage.set('pageType',this.pageType)
  },
  watch: {
    refresh(newVal, oldVal) {
      if (newVal) {
        this.upCallbackc();
      }
    },
  },
  methods: {
    NavPush(link, type) {
      if (this.interceptNavPush) {
        this.$emit("onNavPush", link, type);
      } else {
        NavPush(link, type);
      }
    },
    /*上拉加载的回调*/
    upCallbackc(page) {
      let param = {
          pageType: this.pageType,
          storeId: 0,
        },
        listStyleList = ["two", "card", "slide-x", "big-img", "list"];
      this.$api.homeModule(param).then((res) => {
        if (res) {
          this.pageConfig = res.pageConfig;
          for (let i = 0; i < this.pageConfig.length; i++) {
            if (this.pageConfig[i].type == "config") {
              this.config = this.pageConfig[i].dataField;
            }
            if (this.pageConfig[i].type == "list_nav") {
              this.listNav = this.pageConfig[i].dataField;
            }
            if (this.pageConfig[i].type == "goods") {
              if (
                this.pageConfig[i].dataField &&
                this.pageConfig[i].dataField.listStyle &&
                listStyleList.indexOf(
                  this.pageConfig[i].dataField.listStyle.selected
                ) == -1
              ) {
                this.pageConfig[i].dataField.listStyle.selected = "card";
              }
            }
          }
          // this.mescroll.endSuccess(res.pageConfig.length);
        } else {
          this.pageConfig = [];
          // this.mescroll.endErr();
        }
        this.$emit("stopPullDownRefresh");
      });
    },
    setHeaderHeight(e) {
      this.headerHeight = e;
    },
  },
};
</script>
  <style lang="scss" scoped>
.container {
  // overflow: hidden;
  padding-bottom: 100rpx;
}
.pageConfigItem {
  overflow: hidden;
}
</style>