<template>
	<view class="container" :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ $t('home.materialDownload') }}</commonTop>
		<view id="ap">
			<view class="row" v-for="item in list">
				<h3>{{item.title}}</h3>
				<view class="about">
					<view>
						<view class="pull_code">提取码：{{item.code}}</view>
						<view class="public_date">发布日期：{{item.date}}</view>
					</view>

					<view class="down" @click="goto(item.link)">下载</view>

				</view>
			</view>
		</view>
		<uv-modal ref="modal" title="温馨提示" content='复制链接到浏览器下载' :confirmColor='activeColor' confirmText='复制链接'
			@confirm="confirm"></uv-modal>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uniCopy from "@/utils/uni-copy.js";
	import {
		i18n
	} from '@/main.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				activeColor: this.$store.state.theme.presentTheme['--theme-color'],
				uniPlatform: uni.getSystemInfoSync().uniPlatform,
				link: '',
				list: {
					tip1001: {
						title: '20240319三月美人计黑天鹅新品实体店物料',
						code: 'mrj1',
						date: '2024-03-19 18:00',
						link: 'https://pan.baidu.com/s/1N0g3K5xvqt4-JuA8lr63FA',
						source: '美人计'
					},
					tip1002: {
						title: '240318-美白系列灯箱片',
						code: 'mrj1',
						date: '2024-03-19 18:00',
						link: 'https://pan.baidu.com/s/1mvfje52updLmgUuOUVBZkQ',
						source: 'BQ'
					},
					tip1: {
						title: '20240229 女神节美黑实体店物料',
						code: 'mrj1',
						date: '2024-02-29 18:17:26.407',
						link: 'https://pan.baidu.com/s/13xlu5WEztbopxxs757jLeQ ',
						source: '美人计'
					},
					tip2: {
						title: '20240129礼遇新年美上新春实体店物料',
						code: 'mrj1 ',
						date: '2024-01-29 17:51:00.050',
						link: 'https://pan.baidu.com/s/1KobVIvol9f_6QLDs50scyw ',
						source: '美人计'
					},
					tip3: {
						title: '20240129衣旧焕新龙重登场实体店物料',
						code: 'mrj1 ',
						date: '2024-01-29 17:50:10.273',
						link: 'https://pan.baidu.com/s/1wuGR13migZyzKptXYWvghg ',
						source: '美人计'
					},
					tip4: {
						title: '240129-BQ空瓶计划',
						code: 'mrj1',
						date: '2024-01-29 17:30:04.737',
						link: 'https://pan.baidu.com/s/13n5yZEodP1GB-1_sjSMLeQ',
						source: 'BQ'
					},
					tip5: {
						title: '240121-悦活面膜买2得3实体店物料',
						code: 'mrj1',
						date: '2024-01-19 12:22:59.260',
						link: 'https://pan.baidu.com/s/1GH8So8HqCzBnaMnaMzh6Wg',
						source: 'BQ'
					},
					tip6: {
						title: '240121-悦活面膜实体店灯箱物料',
						code: 'mrj1',
						date: '2024-01-19 11:59:32.830',
						link: 'https://pan.baidu.com/s/1CaoEPJz4aABAVigh24tq9A',
						source: 'BQ'
					},
					tip7: {
						title: '20240112暖宫驱寒 冬日升温5°C套餐实体店物料',
						code: 'mrj1 ',
						date: '2024-01-12 13:10:26.923',
						link: 'https://pan.baidu.com/s/1dyPAtcU7ioD36CbONzwjUA ',
						source: '美人计'
					},
					tip8: {
						title: '20240112内调外润养出好气色套餐实体店物料',
						code: 'mrj1 ',
						date: '2024-01-12 13:09:42.173',
						link: 'https://pan.baidu.com/s/1i1kxKK_Z9XueFjjZsDelwg ',
						source: '美人计'
					},
					tip9: {
						title: '20240105年货节实体店物料',
						code: 'mrj1',
						date: '2024-01-05 10:15:25.420',
						link: 'https://pan.baidu.com/s/1yNjbOsZktBjlAakf_28BAQ ',
						source: '美人计'
					},
					tip10: {
						title: '20240105-护手霜实体店物料',
						code: 'mrj1',
						date: '2024-01-04 15:27:53.160',
						link: 'https://pan.baidu.com/s/1eDKwuy-5--I-VDEe8fpOSw ',
						source: 'BQ'
					},
					tip11: {
						title: '20231225-BQ-升黑卡送盲盒实体店物料',
						code: 'mrj1',
						date: '2023-12-25 14:07:37.430',
						link: 'https://pan.baidu.com/s/1uvluW5PD1mCOAT1O5VqQHg ',
						source: 'BQ'
					},
					tip12: {
						title: '20231225-BQ盲盒实体店物料',
						code: 'mrj1',
						date: '2023-12-25 10:55:36.053',
						link: 'https://pan.baidu.com/s/1U9FR6gyRWe-SLUe86nYf8w',
						source: 'BQ'
					},
					tip13: {
						title: '20231116-BQ气垫公司直邮物料',
						code: 'mrj1',
						date: '2023-11-16 09:13:19.187',
						link: 'https://pan.baidu.com/s/1on71bnDxbJY_-kxRMfZSbw',
						source: 'BQ'
					},
					tip14: {
						title: '20231114-悦享冬意品鉴会物料',
						code: 'mrj1',
						date: '2023-11-14 17:24:01.710',
						link: 'https://pan.baidu.com/s/1DN56Vgn6vmnsDgbMZrbOdQ',
						source: 'BQ'
					},
					tip15: {
						title: '20231027-美人计黑绷带新品实体店物料',
						code: 'mrj1',
						date: '2023-10-27 17:20:36.723',
						link: 'https://pan.baidu.com/s/1vo6piU9NRd6V41mY4DSvhQ ',
						source: '美人计'
					},
					tip16: {
						title: '20231028-BQ双11活动实体店物料',
						code: 'mrj1',
						date: '2023-10-27 09:28:53.970',
						link: 'https://pan.baidu.com/s/1RSfvgMYJr-lxKHi0CFm3-A',
						source: 'BQ'
					},
					tip17: {
						title: '20231020 美黑双十一素材',
						code: 'mrj1 ',
						date: '2023-10-20 09:59:27.410',
						link: 'https://pan.baidu.com/s/1RGQx6JXJ6MGbgqHcoplcCw ',
						source: '美人计'
					},
					tip18: {
						title: '20231020-BQ双11气垫活动实体店物料',
						code: 'mrj1',
						date: '2023-10-20 08:51:40.970',
						link: 'https://pan.baidu.com/s/1sqCJvGTBlh5ZsO91plPmQg',
						source: 'BQ'
					},
					tip19: {
						title: '20231017美黑试衣间海报',
						code: 'mrj1 ',
						date: '2023-10-17 16:33:52.903',
						link: 'https://pan.baidu.com/s/1xcgTcMdRb9QheZw-jkhvug ',
						source: '美人计'
					},
					tip20: {
						title: '20230921九月新品68110实体店物料',
						code: 'mrj1 ',
						date: '2023-09-21 17:01:40.383',
						link: 'https://pan.baidu.com/s/1CECV59l_txIinLLs7IkRZQ ',
						source: '美人计'
					},
					tip21: {
						title: '20230921-BQ喷雾-公司直邮实体店物料',
						code: 'mrj1',
						date: '2023-09-21 15:05:51.627',
						link: 'https://pan.baidu.com/s/1r6zsjC3vvuW1dasOQBZorA',
						source: 'BQ'
					},
					tip22: {
						title: '20230921-BQ生物纤维面膜实体店物料',
						code: 'mrj1',
						date: '2023-09-21 11:57:40.963',
						link: 'https://pan.baidu.com/s/1xielPFbAyQMA0tghi1QMPA',
						source: 'BQ'
					},
					tip23: {
						title: '20230920提拉迷塑买一得二实体店物料',
						code: 'mrj1 ',
						date: '2023-09-20 18:11:47.507',
						link: 'https://pan.baidu.com/s/12UkxE_qvbf00eHfOZ-QNUQ ',
						source: '美人计'
					},
					tip24: {
						title: '20230912美人计黑天鹅九月新品实体店物料',
						code: 'mrj1',
						date: '2023-09-12 13:58:39.453',
						link: 'https://pan.baidu.com/s/1W7cXKTSWmDuChoQWgEDTmA ',
						source: '美人计'
					},
					tip25: {
						title: '20230912-BQ气垫实体店物料',
						code: 'mrj1',
						date: '2023-09-12 09:15:41.913',
						link: 'https://pan.baidu.com/s/1DEPTVbsbsNnizxK3Td5a8w',
						source: 'BQ'
					},
					tip26: {
						title: '20230815小型沙龙会物料',
						code: 'mrj1',
						date: '2023-08-15 18:28:21.677',
						link: 'https://pan.baidu.com/s/1n-7oIXCwtB7rlRzYI4ZSow ',
						source: '美人计'
					},
					tip27: {
						title: '20230809-新品实体店物料（4款）',
						code: 'mrj1 ',
						date: '2023-08-09 18:33:44.557',
						link: 'https://pan.baidu.com/s/1iER7mDO3Ouhsa3lvV2E5QA ',
						source: '美人计'
					},
					tip28: {
						title: '20230803-BQ防晒实体店物料',
						code: 'mrj1',
						date: '2023-08-03 15:32:45.467',
						link: 'https://pan.baidu.com/s/1olZRxTnnAFTwr31_iiq5RQ',
						source: 'BQ'
					},
					tip29: {
						title: '20230803-黑卡充值实体店物料',
						code: 'mrj1',
						date: '2023-08-03 11:24:52.040',
						link: 'https://pan.baidu.com/s/1j17obJjHGM0VoALocFNXUA',
						source: 'BQ'
					},
					tip30: {
						title: '20230803-BQ空瓶换新实体店物料',
						code: 'mrj1',
						date: '2023-08-03 09:49:06.530',
						link: 'https://pan.baidu.com/s/1bsaC8LtPlnhXXNUQTSEU3g',
						source: 'BQ'
					},
					tip31: {
						title: '20230803以旧换新实体店物料',
						code: 'mrj1 ',
						date: '2023-08-03 09:19:16.480',
						link: 'https://pan.baidu.com/s/1vgHppStER2hBPR2QW2kZMw ',
						source: '美人计'
					},
					tip32: {
						title: '20230721-BQ女神机活动实体店素材',
						code: 'mrj1',
						date: '2023-07-21 09:52:01.757',
						link: 'https://pan.baidu.com/s/1e1hkmq6fLwqslI0TJ4sNJA ',
						source: 'BQ'
					},
					tip33: {
						title: '20230721-BQ实体店体验卡宣传单',
						code: 'mrj1',
						date: '2023-07-19 10:33:23.703',
						link: 'https://pan.baidu.com/s/16EAFsy3s09Ky-rL6hO89wQ',
						source: 'BQ'
					},
					tip34: {
						title: '20230703-美黑实体店产品物料',
						code: 'mrj1 ',
						date: '2023-07-03 16:41:36.800',
						link: 'https://pan.baidu.com/s/1QDmlbH58pVcdFvUAVJHv1Q ',
						source: '美人计'
					},
					tip35: {
						title: '20230703-BQ美白组合实体店物料',
						code: 'mrj1',
						date: '2023-07-03 09:36:42.223',
						link: 'https://pan.baidu.com/s/10h60fe3kVNp1ZOUmG8nc4A',
						source: 'BQ'
					},
					tip36: {
						title: '20230629-BQ新实体店开业文件',
						code: 'mrj1',
						date: '2023-06-29 15:10:19.440',
						link: 'https://pan.baidu.com/s/111G-lnmy3Ykr-hUe91aZgg',
						source: 'BQ'
					},
					tip37: {
						title: '20230605-美人计618实体店物料',
						code: 'mrj1',
						date: '2023-06-05 17:40:43.287',
						link: 'https://pan.baidu.com/s/1Gbp-At8Pudp8CNgNzJx6GQ ',
						source: '美人计'
					},
					tip38: {
						title: '20230605-BQ618实体店物料',
						code: 'mrj1',
						date: '2023-06-05 13:10:43.243',
						link: 'https://pan.baidu.com/s/1kcu6ZcE_EeBm6jHNt5l-yQ',
						source: 'BQ'
					},
					tip39: {
						title: '20230508-BQ防晒活动',
						code: 'mrj1',
						date: '2023-05-08 12:19:06.473',
						link: 'https://pan.baidu.com/s/13buOqugDPf2DwTT754ughQ',
						source: 'BQ'
					},
					tip40: {
						title: '20230508-BQ母亲节光钥活动',
						code: 'mrj1',
						date: '2023-05-08 10:23:02.220',
						link: 'https://pan.baidu.com/s/1wCyAzYr0ueJFQD31PiDbtQ ',
						source: 'BQ'
					},
					tip41: {
						title: '20230331美人计3月新品实体店物料',
						code: 'mrj1',
						date: '2023-03-31 15:37:56.653',
						link: 'https://pan.baidu.com/s/1l1D1Wdiz_toB2J77A7Ek9g ',
						source: '美人计'
					},
					tip42: {
						title: '20230327-BQ新品V2.0实体店灯箱物料',
						code: 'mrj1',
						date: '2023-03-28 09:16:18.273',
						link: 'https://pan.baidu.com/s/1mWaHTA5fMjvTEJ1ZHgeteA ',
						source: 'BQ'
					},
					tip43: {
						title: '20230317提拉迷塑活动实体店物料',
						code: 'mrj1',
						date: '2023-03-17 19:29:44.050',
						link: 'https://pan.baidu.com/s/1EnkxLZ7ZQCsNAbsXp_urdg ',
						source: '美人计'
					},
					tip44: {
						title: '20230308-三八女神节活动实体店物料',
						code: 'mrj1',
						date: '2023-02-27 17:57:33.750',
						link: 'https://pan.baidu.com/s/1mMNp-pLEvN4tEFplBcRvmQ ',
						source: '美人计'
					},
					tip45: {
						title: '20230227-BQ女神节营销活动实体店物料',
						code: 'mrj1',
						date: '2023-02-27 11:36:11.493',
						link: 'https://pan.baidu.com/s/1O-sVdnUyvvtNPpAO7qHYOg',
						source: 'BQ'
					},
					tip46: {
						title: '20230213贴身护卫实体店物料',
						code: 'mrj1',
						date: '2023-02-13 17:38:11.560',
						link: 'https://pan.baidu.com/s/1krv8DIego4jooDbEQyy2gQ ',
						source: '美人计'
					},
					tip47: {
						title: '20230210BQ活动实体店物料 ',
						code: 'mrj1',
						date: '2023-02-13 09:37:43.180',
						link: 'https://pan.baidu.com/s/12ovrTfj3kzdfBVe7Rb7uOQ ',
						source: '美人计'
					},
					tip48: {
						title: '20230106美黑BQ活动年货节实体店物料',
						code: 'mrj1',
						date: '2023-01-06 15:18:36.107',
						link: 'https://pan.baidu.com/s/1O-g2JZ7W86Svumbz09dyOA',
						source: '美人计'
					},
					tip49: {
						title: '20221207BQ新年空瓶焕新活动实体店物料',
						code: 'mrj1',
						date: '2022-12-07 13:42:50.360',
						link: 'https://pan.baidu.com/s/1-EPBNKuElH8uVHQ32vlGjQ',
						source: '美人计'
					},
					tip50: {
						title: '20221206美黑活动实体店物料',
						code: 'mrj1',
						date: '2022-12-07 13:38:08.450',
						link: 'https://pan.baidu.com/s/1C_KU4ZJ3D1HBAWpDhSScNg',
						source: '美人计'
					},
					tip51: {
						title: '20221123美养4.0-线下物料',
						code: 'mrj1',
						date: '2022-11-23 10:44:43.427',
						link: 'https://pan.baidu.com/s/1xt00tRQELeWKOBPreXqVWw',
						source: '美人计'
					},
					tip52: {
						title: '20221118门店引流动销实体店物料',
						code: 'mrj1',
						date: '2022-11-18 16:02:43.137',
						link: 'https://pan.baidu.com/s/1CwGtHKeMaArktqe0LZWzag',
						source: '美人计'
					},
					tip53: {
						title: '20221025双十一门店氛围物料',
						code: 'mrj1',
						date: '2022-10-25 14:45:23.333',
						link: 'https://pan.baidu.com/s/138sQ3leQVLQkgHaaw2ReVQ',
						source: '美人计'
					},
					tip54: {
						title: '20221024生活馆开业物料',
						code: 'mrj1',
						date: '2022-10-24 17:10:50.490',
						link: 'https://pan.baidu.com/s/1pThu02wVCp8qtpz7B5Qo_A ',
						source: '美人计'
					},
					tip55: {
						title: '20221024美黑双十一实体店物料',
						code: 'mrj1',
						date: '2022-10-24 15:31:17.343',
						link: 'https://pan.baidu.com/s/1sTDloXOth8o8y0cuhs6jbQ',
						source: '美人计'
					},
					tip56: {
						title: '20221018双十一一BQ活动实体店物料',
						code: 'mrj1',
						date: '2022-10-18 11:08:29.237',
						link: 'https://pan.baidu.com/s/1DNk9-1kTUgkDnZGWVQi0eg',
						source: '美人计'
					},
					tip57: {
						title: '20220927国庆99元换购活动实体店物料',
						code: 'mrj1',
						date: '2022-09-27 13:01:00.367',
						link: 'https://pan.baidu.com/s/1Cs3Wv_EDV8RWbVyWFcdXpw',
						source: '美人计'
					},
					tip58: {
						title: '20220922实体店物料（礼盒）',
						code: 'mrj1',
						date: '2022-09-22 14:09:19.470',
						link: 'https://pan.baidu.com/s/1fU9aihVlVuuI6fNb3VZa3g',
						source: '美人计'
					},
					tip59: {
						title: '20220922防晒活动、蕴能实体店物料',
						code: 'mrj1',
						date: '2022-09-22 14:05:48.273',
						link: 'https://pan.baidu.com/s/1EZP58tJ0e1jpKx3PVBPC3A',
						source: '美人计'
					},
					tip60: {
						title: '20220922实体店展柜图（6099+东方致美系列）',
						code: 'mrj1',
						date: '2022-09-22 09:16:57.340',
						link: 'https://pan.baidu.com/s/1o3IQ7pkfnFq-gqdyF58jFg',
						source: '美人计'
					},
					tip61: {
						title: '20220920经销商名片',
						code: 'mrj1',
						date: '2022-09-20 17:02:18.733',
						link: 'https://pan.baidu.com/s/1Ek-2vfuQ5TJMC3e9jXw3hg',
						source: '美人计'
					},
					tip62: {
						title: '20220919新品见面会物料',
						code: 'mrj1',
						date: '2022-09-19 10:03:00.953',
						link: 'https://pan.baidu.com/s/1B4bcSPI-mavShMlMv-5MFQ',
						source: '美人计'
					},
					tip63: {
						title: '20220914光钥系列、润体霜、干发喷雾活动实体店物料',
						code: 'mrj1',
						date: '2022-09-14 17:53:35.763',
						link: 'https://pan.baidu.com/s/1k-NPiwSFv1NmD5I20nsUgw',
						source: '美人计'
					},
					tip64: {
						title: '20220902口红、女神机活动实体店物料',
						code: 'mrj1',
						date: '2022-09-02 18:14:29.887',
						link: 'https://pan.baidu.com/s/1ftF3jZxtY-9R_l7kR4nytg',
						source: '美人计'
					},
					tip65: {
						title: '20220902贴身护卫买送实体店物料',
						code: 'mrj1',
						date: '2022-09-02 17:57:26.257',
						link: 'https://pan.baidu.com/s/1Lia_eKcWXRnjCXd0BaSikA',
						source: '美人计'
					},
					tip66: {
						title: '20220818-BQ蕴能单支装活动实体店物料',
						code: 'mrj1',
						date: '2022-08-18 16:06:22.203',
						link: 'https://pan.baidu.com/s/1k89Spt4W2p9sVMVGnVeyUQ',
						source: '美人计'
					},
					tip67: {
						title: '20220811品牌LOGO',
						code: 'mrj1',
						date: '2022-08-11 11:42:48.857',
						link: 'https://pan.baidu.com/s/1Pgn8e2AnlQZIEoT1C9NsqA',
						source: '美人计'
					},
					tip68: {
						title: '20220808实体店PL洗护系列物料',
						code: 'mrj1',
						date: '2022-08-08 15:07:17.973',
						link: 'https://pan.baidu.com/s/1ee3NFQrzT563-otjiow4Og',
						source: '美人计'
					},
					tip69: {
						title: '20220808实体店BQ空瓶计划+舒缓喷雾物料',
						code: 'mrj1',
						date: '2022-08-08 14:57:34.100',
						link: 'https://pan.baidu.com/s/1noMKhSnFe4qJyxKLoENJCg',
						source: '美人计'
					},
					tip70: {
						title: '20220808实体店智溯+美舒挺海报',
						code: 'mrj1',
						date: '2022-08-08 09:14:25.770',
						link: 'https://pan.baidu.com/s/1OL59Ye4b7IYCoodS3jsD6g',
						source: '美人计'
					},
					tip71: {
						title: '20220808实体店以旧换新海报',
						code: 'mrj1',
						date: '2022-08-08 09:13:57.950',
						link: 'https://pan.baidu.com/s/1Sg2zBcs2XbEzA5WdS203UA',
						source: '美人计'
					},
					tip72: {
						title: '20220725-实体店贴标',
						code: 'mrj1',
						date: '2022-07-25 13:23:57.623',
						link: 'https://pan.baidu.com/s/1tFaCo-Uw2O23T4ZgA-BrzA',
						source: '美人计'
					},
					tip73: {
						title: '20220613美人计试衣间海报',
						code: 'mrj1',
						date: '2022-06-13 09:50:21.050',
						link: 'https://pan.baidu.com/s/1lOUozBXABGVOVu9YlyLxtw',
						source: '美人计'
					},
					tip74: {
						title: '20220610-BQ区域标准桌面亚克力牌',
						code: 'mrj1',
						date: '2022-06-13 09:17:25.950',
						link: 'https://pan.baidu.com/s/1bTnfpVMC_mql8EKeXDpZTw ',
						source: '美人计'
					},
					tip75: {
						title: '20220609舒美+拾光618实体店物料',
						code: 'mrj1',
						date: '2022-06-09 10:15:51.470',
						link: 'https://pan.baidu.com/s/1bTL9Y8KPJxYWAxLd6W4qvQ',
						source: '美人计'
					},
					tip76: {
						title: '20220520-618活动实体店物料',
						code: 'mrj1',
						date: '2022-06-06 17:08:44.110',
						link: 'https://pan.baidu.com/s/1HFssElnIfyaw8k-Fa_Xhag',
						source: '美人计'
					},
					tip77: {
						title: '20220524提拉迷塑五分裤实体店物料',
						code: 'mrj1',
						date: '2022-05-25 09:54:36.090',
						link: 'https://pan.baidu.com/s/12VlQSpb3j0A1n8XRUdt0Qw',
						source: '美人计'
					},
					tip78: {
						title: '20220524BQ双玻实体店海报',
						code: 'mrj1',
						date: '2022-05-25 08:43:30.123',
						link: 'https://pan.baidu.com/s/1NFXBBa5Gu2aqpu_kFRh5IA ',
						source: '美人计'
					},
					tip79: {
						title: '20220523-实体店周年盛典物料',
						code: 'mrj1 ',
						date: '2022-05-23 15:38:21.927',
						link: 'https://pan.baidu.com/s/14iJeRV8Uu0QktZp0HujDBQ ',
						source: '美人计'
					},
					tip80: {
						title: '20220520-BQ颈膜+极光活动、女神机活动、颈膜上新活动实体店物料',
						code: 'mrj1',
						date: '2022-05-20 17:59:52.787',
						link: 'https://pan.baidu.com/s/1uHqkLXMdCKqEQxvrrVosHw ',
						source: '美人计'
					},
					tip81: {
						title: '20220512提拉迷塑实体店物料',
						code: 'mrj1',
						date: '2022-05-13 17:48:04.487',
						link: 'https://pan.baidu.com/s/1ZBIkjKpxihc1UVip9BmdJw ',
						source: '美人计'
					},
					tip82: {
						title: '20220506抽奖活动实体店海报',
						code: 'mrj1',
						date: '2022-05-06 17:37:50.767',
						link: 'https://pan.baidu.com/s/1rZR-serbv9p18UHL18EqXA ',
						source: '美人计'
					},
					tip83: {
						title: '20220506果冻文胸换购实体店海报',
						code: 'mrj1 ',
						date: '2022-05-06 16:00:06.517',
						link: 'https://pan.baidu.com/s/19iYRNza4tV3HhTA9d0demA',
						source: '美人计'
					},
					tip84: {
						title: '20220402-新品见面会-线下物料',
						code: 'mrj1 ',
						date: '2022-04-02 10:54:32.057',
						link: 'https://pan.baidu.com/s/1O2bsGdbc5ZInQgV4tElgnw ',
						source: '美人计'
					},
					tip85: {
						title: '20220329-实体店新品物料',
						code: 'mrj1',
						date: '2022-03-29 10:15:24.903',
						link: 'https://pan.baidu.com/s/1HwDVNkL5tVGKi3K1eakcuQ',
						source: '美人计'
					},
					tip86: {
						title: '0321新品支持线下物料',
						code: 'mrj1',
						date: '2022-03-21 16:34:29.123',
						link: 'https://pan.baidu.com/s/1nDG36hIO0aj9g9GXrVWlgw',
						source: '美人计'
					},
					tip87: {
						title: '2022.03.08女神节宠爱计划实体店物料',
						code: 'mrj1',
						date: '2022-02-28 10:42:59.680',
						link: 'https://pan.baidu.com/s/1IVzmqW43BAG4hBf3JLahRg',
						source: '美人计'
					},
					tip88: {
						title: '0106-BQ新年礼盒',
						code: 'mrj1',
						date: '2022-01-06 14:40:43.713',
						link: 'https://pan.baidu.com/s/11E6fr9w9CyYn0uf-q7NLeg ',
						source: '美人计'
					},
					tip89: {
						title: '0106-BQ面膜活动实体物料',
						code: 'mrj1',
						date: '2022-01-06 13:14:40.330',
						link: 'https://pan.baidu.com/s/1xyZt3FXU9ZJ40WIOwbesEw ',
						source: '美人计'
					},
					tip90: {
						title: '2022.01.05-实体店物料+高清素材图',
						code: 'mrj1',
						date: '2022-01-05 17:16:58.637',
						link: 'https://pan.baidu.com/s/1asFYH6lTrJGzwZX7fZlXew ',
						source: '美人计'
					},
					tip91: {
						title: '12.31经销商年会家宴',
						code: 'mrj1',
						date: '2021-12-31 19:00:29.560',
						link: 'https://pan.baidu.com/s/1JYE4aXYRxodMUBsuED21jA ',
						source: '美人计'
					},
					tip92: {
						title: '1217-贴身护卫新年礼盒物料2',
						code: 'mrj1',
						date: '2021-12-17 19:15:34.983',
						link: 'https://pan.baidu.com/s/1GzhFgEoA6PTXRwSuiIdfAw ',
						source: '美人计'
					},
					tip93: {
						title: '1216-悦己礼袋实体店物料',
						code: 'mrj1',
						date: '2021-12-16 10:34:35.927',
						link: 'https://pan.baidu.com/s/1-dsg5MU8RXr_RU-qhH0efw ',
						source: '美人计'
					},
					tip94: {
						title: '1216-贴身护卫新年礼盒实体店物料',
						code: 'mrj1',
						date: '2021-12-16 10:34:06.033',
						link: 'https://pan.baidu.com/s/1Hg-a0MQn1jOG3FaVa3deFA ',
						source: '美人计'
					},
					tip95: {
						title: '199宠粉活动实体店物料下载',
						code: 'mrj1',
						date: '2021-12-06 08:52:42.047',
						link: 'https://pan.baidu.com/s/1HBMI0AVqNt0scOFbipNVmw ',
						source: '美人计'
					},
					tip96: {
						title: '年会+周年庆的签到墙背景模板',
						code: 'mrj1',
						date: '2021-11-19 11:51:50.033',
						link: 'https://pan.baidu.com/s/1FhaC6jg-kike8W2PNGa_eA ',
						source: '美人计'
					},
					tip97: {
						title: '双11实体店物料',
						code: 'mrj1',
						date: '2021-11-02 15:36:12.310',
						link: 'https://pan.baidu.com/s/1U6wjM8CZh8Awli6-jSgclw ',
						source: '美人计'
					},
					tip98: {
						title: '实体门店贴身护卫+提拉迷塑展示视频',
						code: 'mrj1',
						date: '2021-10-29 13:22:54.867',
						link: 'https://pan.baidu.com/s/1n1ah7GduDeb6gu7hV1s2Zw ',
						source: '美人计'
					},
					tip99: {
						title: '提拉迷塑活动实体店物料',
						code: 'mrj1',
						date: '2021-10-29 10:40:34.133',
						link: 'https://pan.baidu.com/s/1sKFweastBJamlGV1gqGLEw ',
						source: '美人计'
					},
					tip100: {
						title: '穿搭图实体店展示',
						code: 'mrj1',
						date: '2021-10-11 15:29:07.183',
						link: 'https://pan.baidu.com/s/1jDSo4tlMqDg0zuBVvEU3Aw',
						source: '美人计'
					},
					tip101: {
						title: '6S开业物料',
						code: 'mrj1',
						date: '2021-09-14 09:30:41.983',
						link: 'https://pan.baidu.com/s/1vIzABv_yr27WS6DVlRCwKQ',
						source: '美人计'
					},
					tip102: {
						title: '一个美丽女性的一天视频',
						code: 'MRJ1 ',
						date: '2021-09-02 13:14:03.810',
						link: 'https://pan.baidu.com/s/1GWiYs-uqIRfKbA8u3r3rAQ',
						source: '美人计'
					},
					tip103: {
						title: '实体店物料更新',
						code: 'MRJ1 ',
						date: '2021-09-02 13:12:20.037',
						link: 'https://pan.baidu.com/s/1BCyN7PCLCTmK_mPGDSti9w',
						source: '美人计'
					},
					tip105: {
						title: '门店视频整理',
						code: 'MRJ1 ',
						date: '2021-08-18 10:04:59.870',
						link: 'https://pan.baidu.com/s/1BCyN7PCLCTmK_mPGDSti9w',
						source: '美人计'
					},
					tip107: {
						title: '美人计品牌ppt2021',
						code: 'mrj1',
						date: '2021-06-15 15:17:16.610',
						link: 'https://pan.baidu.com/s/1qbqJDfM-prE7AM_BErskzA ',
						source: '美人计'
					},
					tip108: {
						title: '美人计健康科技集团展示片',
						code: 'mrj1',
						date: '2021-05-25 13:42:37.397',
						link: 'https://pan.baidu.com/s/1G8sBB7-v2jCKwDOjMfTRqQ',
						source: '美人计'
					},
				}
			};
		},
		onLoad(options) {

		},
		methods: {
			goto(url) {
				if (this.uniPlatform === 'web') {
					window.location.href = url;
				} else {
					this.link = url
					this.$refs.modal.open()
				}

			},

			confirm() {
				uniCopy({
					content: this.link,
					success: (res) => {
						uni.showToast({
							title: this.$t("main.copySucc"),
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: this.$t("main.copyFail"),
							icon: "none",
							duration: 3000,
						});
					},
				});
			}
		}
	}
</script>

<style scoped lang="scss">
	page,
	.container {
		background-color: #f6f6f6;
	}

	.row {
		margin: 15px 10px;
		padding: 10px 12px;
		background-color: #fff;
		border-radius: 8px;
		position: relative;
	}

	.row .about {
		display: flex;
		flex-direction: row;
	}

	.row .about>div:first-child {
		width: 80%;
	}

	.row h3 {
		font-weight: bolder;
		line-height: 1.2;
		padding: 0;
		margin: 0;
		font-size: 0.9rem;
	}

	.row .pull_code {
		line-height: 1.8;
		padding: 0;
		margin: 0;
		font-size: 0.8rem;
	}

	.row .public_date {
		line-height: 1.2;
		padding: 0;
		margin: 0;
		font-size: 0.75rem;
		color: grey;
	}

	.row .about .down {
		height: 40rpx;
		line-height: 40rpx;
		position: absolute;
		display: inline-table;
		top: 0px;
		bottom: 0;
		margin: auto;
		right: 10rpx;
		font-size: 0.8rem;
		background-color: $theme-color;
		padding: 5px 10px;
		color: #FFF;
		white-space: nowrap;
		border-radius: 5rpx;
	}
</style>