<template>
	<div :style="this.$store.state.theme.presentTheme">
		<commonTop :isBack='true' :show='true'>{{ title }}</commonTop>
		<div class="box" v-if="payStatus == 'PAY_SUCCESS'">
			<image  src="../static/images/pic_tick@2x.png"
				class="img"></image>
			<template v-if="source == 'recharge'">
				<p class="t">充值成功</p>
				<button class="submitBtn" type="primary" @click="goTo(`/pagesA/account/recharge`)">
					继续冲值
				</button>
				<button class="submitBtn subDetails" type="primary" @click="goToUser(`/pages/user/index`)">
					返回首页
				</button>
			</template>
			<template v-if="source == 'orderPay'">
				<p class="t">支付成功</p>
				<button class="submitBtn" type="primary" @click="goTo(`/pagesA/order/orderList`)">
					查看订单
				</button>
				<button class="submitBtn subDetails" type="primary" @click="goTo(`/pagesA/goods/goodsClassify`)">
					继续采购
				</button>
			</template>

			<!-- <template v-if="source == 'entryProcess'">
				<p class="t">支付成功</p>
				<button class="submitBtn" type="primary" @click="goTo(`/pages/usgBind/entryProcess`)">
					返回
				</button>
			</template> -->
		</div>
		<div class="box" v-else-if="payStatus == 'WAIT_PAY'">
			<image  src="../static/images/handle@2x.png" class="img"></image>
			<p class="t">支付中...</p>
		</div>
		<div class="box" v-else>
			<image  src="../static/images/refuse@2x.png" class="img"></image>
			<p class="t">支付失败</p>
			<button class="submitBtn subDetails" type="primary" @click="goTo(`/pages/goods/goodsClassify`)">
				重新下单
			</button>
		</div>
	</div>
</template>
<script>
	import {
		payInfo
	} from "@/config/vmeitime-http/account.js";
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				list: [1, 2, 3, 4, 5, 6],
				passwordValue: "",
				show: false,
				out_trade_no: "",
				prepayId: "",
				setIntervalx: null,
				source: "recharge",
				title: this.$t("rechargeSuccess.title"),
				payStatus: "WAIT_PAY",
				Count: 0,
			};
		},
		onLoad(options) {
			if (options.out_trade_no) {
				this.out_trade_no = options.out_trade_no;
			}
			if (options.source) {
				this.source = options.source;
			}
			if (options.prepayId) {
				this.prepayId = options.prepayId;
			}
			uni.showLoading({
				mask: true,
				title: ""
			});
		},
		onShow() {
			if (this.source == "orderPay") {
				this.title = this.$t("order.paymentInfo");
			}
		},
		mounted() {
			this.payInfoFn();
		},
		methods: {
			payInfoFn() {
				let param = {
					out_trade_no: this.out_trade_no,
				};
				this.Count++;
				payInfo(param).then((res) => {
					if (res?.code == 200) {
						if (res.data.payStatus == "WAIT_PAY") {
							this.payStatus = "WAIT_PAY";
							if (this.Count >= 5) {
								this.payStatus = "PAY_FAIL";
								uni.hideLoading();
							} else {
								this.payInfoFn();
							}
						} else if (res.data.payStatus == "PAY_SUCCESS") {
							this.payStatus = "PAY_SUCCESS";
							uni.hideLoading();
						} else {
							this.payStatus = "PAY_FAIL";
							uni.hideLoading();
						}
					} else {
						this.payStatus = "WAIT_PAY";
						uni.hideLoading();
					}
				});
			},
			goTo(url) {
				uni.navigateTo({
					url: url,
				});
			},
			goToUser(url) {
				uni.reLaunch({
					url: url
				})
			}
		},
	};
</script>
<style lang="scss" scoped>
	page {
		background-color: #f6f6f6;
	}

	.box {
		background: #fff;
		min-height: 96vh;
		text-align: center;
		overflow: hidden;
		color: #000;

		.submitBtn {
			width: 520rpx;
			height: 68rpx;
			background: #b41701;
			border-radius: 12rpx;
			font-size: 28rpx;
			line-height: 66rpx;
			margin-top: 94rpx;
			border: 2rpx solid #b41701;
			box-sizing: border-box;
		}

		.subDetails {
			background: #fff;
			color: #b41701;
			margin-top: 32rpx;
		}

		.img {
			display: flex;
			margin: 84rpx 296rpx 40rpx;
			justify-content: center;
			width: 160rpx;
			height:160rpx;
		}

		.t {
			font-size: 40rpx;
			font-weight: bold;
		}

		.b {
			font-size: 26rpx;
			margin-top: 20rpx;
			color: #b41701;
		}
	}
</style>