<template>
	<view :style="this.$store.state.theme.presentTheme" style="background-color: #f6f6f6;">
		<commonTop :isBack='true' :show='true'>{{ $t('recharge.title') }}</commonTop>
		<view class="RechargePurpose">
			<view class="title">充值用途：</view>
			<uv-radio-group v-model="recharge.rechargePurpose" placement="column">
				<uv-radio style="position: relative" :activeColor="activeColor"
					v-for="(item, index) in rechargePurposelist" :key="index" :label="`${item.name}${item.transactionType == 'Initial'
      ? '(' +
      item.rechargeList[0].storeName +
      '--' +
      item.rechargeList[0].levelName +
      ')'
      : ''
    }`" :name="item.transactionType" @change="checkboxRechargePurpose(item)">
				</uv-radio>
			</uv-radio-group>
		</view>
		<view class="rechargeBox">
			<view class="rechargeAmount">
				<view class="topTitle">
					<view class="title">充值金额(元)</view>
				</view>

				<uv-input class="amountInput" placeholder="请输入充值金额" border="none" clearable type="number"
					fontSize="34rpx" maxlength="10" v-model="recharge.orderAmount">
					<template slot="prefix">
						<view class="moneyMark">{{ moneyMark }}</view>
					</template>
				</uv-input>
			</view>
			<view class="rechargeType" style="border-bottom: 2rpx solid #ededed">
				<view class="title"> 充值类型</view>
				<view class="typeBox">
					<view class="typeItem" v-for="item in typeList" :key="item.id"
						:class="recharge.type == item.id ? 'Active' : ''" @click="SelectedFn('type', item.id)">
						{{ item.label }}
					</view>
				</view>
				<view class="zyi">注：培训费默认冲向平台，与选择收款方无关</view>
			</view>
			<view class="rechargeType" v-if="recharge.type == 'CashDeposit'">
				<view class="title"> 充值平台 </view>
				<view class="typeBox">
					<view class="typeItem" v-for="item in platformList" :key="item.id"
						:class="recharge.depositRuleId == item.id ? 'Active' : ''"
						@click="SelectedFn('depositRuleId', item.id)">
						{{ item.name }}
					</view>
				</view>
			</view>
		</view>
		<view class="withdrawBtn">
			<uv-button customStyle='width: 100%' :color="activeColor" border='none' @click="toPupBtn"> 立即充值 </uv-button>
		</view>
		<view class="offlineRecharge" v-if="!this.$store.getters.xTenant">
			<uv-button customStyle='width: 100%' border='none' :color="activeColor" :plain="true"
				@click="offlineRecharge">
				手机网银转账</uv-button>
		</view>
		<view class="remittanceNote" v-if="!this.$store.getters.xTenant">
			<view class="remittanceNoteItem">
				<p class="title">Q:哪些场景下需要使用到手机网银转账?</p>
				<p>1.经销商为企业(非个体工商户) 仅支持手机网银转账</p>
				<p>2.线上充值超过单笔5W,单日5W等大额充值</p>
			</view>
			<view class="remittanceNoteItem">
				<p class="title">Q: 如何进行手机网银转账?</p>
				<p>经销商通过掌银/线下银行转账至手机网银转账显示的 账户信息</p>
			</view>
			<view class="remittanceNoteItem">
				<p class="title">Q: 手机网银转账的金额如何划转至保证金/培训费?</p>
				<p>款下加款待支付机构 (连连银通) 结算后到余额中，划转到培训费/保证金</p>
			</view>
		</view>

		<uv-popup ref='show' @close="$refs.show.close()" :closeOnClickOverlay='false' @open="$refs.show.open()"
			:round="10" closeable closeIconPos="top-left" mode="bottom" :zIndex="888">
			<view class="popupBox">
				<p class="title">充值金额</p>

				<p class="money">
					<text style="font-size: 50rpx">{{ moneyMark }}</text>
					<text>{{ currency(recharge.orderAmount) }}</text>
				</p>
				<view class="bankCardList">
					<view class="checkboxBox">
						<uv-radio-group iconPlacement="right" placement="column" size="20px" iconSize="18px"
							v-model="recharge.payTypeId">
							<uv-radio v-for="(item, index) in bankCardList" :key="index" labelSize="28"
								:activeColor="activeColor" :label="item.name" :name="item.payTypeId"
								@change="checkboxChange(item)">
								<view class="checkboxInfo">
									<image v-if="item.payTypeId == 1" class="radio-img"
										src="../static/images/bankIcon.png"></image>
									<uv-icon v-if="item.payTypeId == 2 || item.payTypeId == 12 || item.payTypeId == 22"
										size="30" color="#07c160" name="weixin-circle-fill"></uv-icon>
									<uv-icon v-if="item.payTypeId == 3" size="34" color="#0ae"
										name="zhifubao-circle-fill"></uv-icon>
									<view class="rightBanck">
										<view class="name">
											{{ item.payName }}
										</view>
									</view>
								</view>
							</uv-radio>
						</uv-radio-group>
					</view>
				</view>
				<view v-if="bankCardList.length" class="confirm" @click="payConfirm">确定</view>
			</view>
		</uv-popup>
		<uv-modal ref="modalShow" title="请输入手机验证码" :confirmColor="activeColor" :showCancelButton="true"
			@cancel="$refs.modalShow.close()" @confirm="verifyCodeConfirm">
			<view class="slot-content">
				<view class="modalInfo">交易申请成功,需要再次进行短信验证码校验</view>
				<uv-code-input v-model="verifyCode" :maxlength="6" size="80rpx" fontSize="60rpx"></uv-code-input>
			</view>
		</uv-modal>
		<!-- 培训会议弹窗 -->
		<uv-picker :show="nearestCenterShow" :columns="nearestCenterData" keyName="name"
			@cancel="nearestCenterShow = false" @confirm="confirmPicker">
		</uv-picker>

	</view>
</template>

<script>
	import {
		cashDepositRuleList,
		rechargeList,
		purchasetype,
		rechargeParam,
		nearestCenter,
		payValidate
	} from "@/config/vmeitime-http/account.js";
	import {
		passwordControl
	} from "@/config/vmeitime-http/order.js";
	import storage from "@/utils/storage.js";
	import {
		currency,
		debounceImmediate,
		isWechat
	} from "@/utils/util.js";
	import {
		xcxWechatBind
	} from '@/config/vmeitime-http/index.js'
	import uniCopy from "@/utils/uni-copy.js";
	import commonTop from '@/components/CommonTop'
	const lianlianpay = require("@/utils/lianlianpay");

	export default {
		components: {
			commonTop
		},
		data() {
			return {
				activeColor: this.$store.state.theme.presentTheme['--theme-color'],
				currency,
				show: false,
				userInfo: storage.get("loginInfo"),
				bankCardList: [],
				recharge: {
					rechargePurpose: null,
					orderAmount: "",
					type: "",
					depositRuleId: "",
					payTypeId: null,
					nearestFounderCustomerId: "",
				},
				rechargePurposelist: [],
				typeList: [{
						label: "货款",
						id: "Goods",
					},
					// {
					//   label: "辅料款",
					//   id: 2,
					// },
					{
						label: "保证金",
						id: "CashDeposit",
					},
					{
						label: "培训费",
						id: "TrainingExpense",
					},
				],
				platformList: [],
				verifyCode: "",
				type: "",
				nearestCenterData: [],
				nearestCenterShow: false,
				payParam: "",
				passwordElementToken: "",
				urlH: process.env.NODE_ENV == "development" ? "/#" : "/H5/index.html#",
				outTradeNo: "",
				offlineRechargeInfo: "",
				uniPlatform: uni.getSystemInfoSync().uniPlatform,
				moneyMark: this.$store.getters.moneyMark
			};
		},
		onLoad(options) {
			if (options.type == "wxLogin") {
				this.type = options.type;
				this.recharge = storage.get("recharge");
			}
			// 微信小程序环境监听拉起密码控件返回的参数
			uni.$on('sendPwdInfo', (e) => {
				let that = this
				let data = JSON.parse(e).data[0]
				if (data) {
					that.recharge.password = data.password;
					that.recharge.randomValue = data.randomValue;
					that.rechargeParamFn();
				}
			})
		},
		mounted() {
			this.cashDepositRuleListFn();
			this.rechargeListFn();
			this.purchasetypeFn();
			this.nearestCenterFn();
		},
		methods: {
			// 立即充值
			toPupBtn() {
				if (!this.recharge.rechargePurpose) {
					uni.showToast({
						icon: 'none',
						title: '请先选择充值用途',
						duration: 2000
					})
					return;
				}
				if (!this.recharge.orderAmount) {
					uni.showToast({
						icon: 'none',
						title: '请先输入充值金额',
						duration: 2000
					})
					return;
				}
				if (!this.recharge.type) {
					uni.showToast({
						icon: 'none',
						title: '请选择充值类型',
						duration: 2000
					})
					return;
				}

				if (this.recharge.type == "CashDeposit" && !this.recharge.depositRuleId) {
					uni.showToast({
						icon: 'none',
						title: '请选择充值平台',
						duration: 2000
					})
					return;
				}
				this.getUserProfile()
				this.$refs.show.open()
			},
			// 确认支付充值
			payConfirm: debounceImmediate(function() {
				let that = this;
				uni.showLoading({
					title: '加载中'
				});
				console.log("确认支付充值传参", this.recharge);
				if (!this.recharge.payTypeId) {
					uni.showToast({
						icon: 'none',
						title: '请选择支付方式',
						duration: 2000
					})
					return;
				}
				if (this.recharge.payTypeId == 2 || this.recharge.payTypeId == 12 || this.recharge.payTypeId ==
					22) {
					// 如果是微信公众号环境并且无openid 跳转wxLogin获取openid
					if (!this.recharge.openId && isWechat()) {
						uni.showModal({
							title: "当前操作需要微信授权才能使用微信支付,是否进行授权？",
							confirmColor: that.$store.state.theme.presentTheme["--theme-color"],
							success: function(res) {
								if (res.confirm) {
									console.log("用户点击确定");
									storage.set("recharge", that.recharge);
									that.getWeChatCode(that.recharge.wechatAppId);
								} else if (res.cancel) {
									console.log("用户点击取消");
								}
							},
						});
						return;
					}
					// 微信公众号环境并且openid不为空
					if (this.recharge.openId && isWechat()) {
						that.rechargeParamFn();
						return;
					}

					// 微信小程序环境获取openid
					if ((this.uniPlatform === 'mp-weixin' || this.uniPlatform === 'app') && !isWechat()) {
						that.rechargeParamFn();
						return
					}

					return;
				}
				that.passwordControlFn();
			}, 1500, false),

			//验证确认支付
			verifyCodeConfirm() {
				if (!this.verifyCode && this.verifyCode.length !== 6) {
					uni.showToast({
						icon: 'none',
						title: '请输入完整验证码',
						duration: 2000
					})
					return;
				}
				this.payValidateFn();
			},
			// 保证金充值平台列表接口
			cashDepositRuleListFn() {
				cashDepositRuleList().then((res) => {
					if (res.code == 200) {
						this.platformList = res.data;
					}
				});
			},
			// 最近6s
			nearestCenterFn(applicationld) {
				let param = {
					applicationld: applicationld,
				};
				nearestCenter(param).then((res) => {
					if (res.code == 200) {
						this.nearestCenterData = [res.data];
					}
				});
			},
			// 会议确认选择
			confirmPicker(Arrays) {
				console.log("e: ", Arrays);
				this.nearestCenterShow = false;
				this.recharge.nearestFounderInfo = Arrays.value[0].name;
				this.recharge.nearestFounderCustomerId = Arrays.value[0].customerId;
			},
			// 获取充值用途列表
			rechargeListFn() {
				rechargeList().then((res) => {
					if (res?.code == 200) {
						this.rechargePurposelist = res.data;
					}
				});
			},
			// 获取充值收银方式列表
			purchasetypeFn() {
				purchasetype({
					isXcx: this.uniPlatform === 'mp-weixin' && !isWechat() ? true : false
				}).then((res) => {
					if (res?.code == 200) {
						this.bankCardList = res.data;
						// h5处理openid
						if (this.type == "wxLogin") {
							let wxType = res.data.filter((x) => {
								return x.payTypeId == 2;
							});
							console.log("wxType: ", wxType);
							this.recharge.openId = wxType[0].openId;
						}
						
					}
				});
			},
			// 获取唤起密码控件token
			passwordControlFn() {
				let that = this
				uni.showLoading({
					mask: true
				});
				let params = {
					customNo: that.userInfo.authorizationCode,
					amount: that.recharge.orderAmount,
					passwordUseType: 5,
					channelNo: 1,
				};
				passwordControl(params).then((res) => {
					if (res?.code == 200 && res?.data) {
						that.passwordElementToken = res.data.passwordElementToken;
						if ((that.uniPlatform === 'mp-weixin' || that.uniPlatform === 'app') && !isWechat()) {
							that.golianlianpayPasswordFnToWebview(res.data)
						} else {
							that.lianlianpayPasswordFn(res.data);
						}
					} else {
						uni.showToast({
							icon: 'none',
							title: '网络繁忙，请稍后重试',
							duration: 2000
						})
						uni.hideLoading();
					}
				});
			},

			// 跳转webview网页拉起密码控件
			golianlianpayPasswordFnToWebview(data) {
				uni.hideLoading()
				this.$refs.show.close()
				uni.navigateTo({
					url: `/pagesA/order/pwdDilag?data=${JSON.stringify(data)}`
				})
			},
			// H5唤起连连支付密码控件
			lianlianpayPasswordFn(data) {
				uni.hideLoading();
				this.$refs.show.close()
				lianlianpay.invokePasswordControl({
						passwordScene: "pay_password",
						oidPartner: data.oidPartner, // 商户号
						userId: data.payUserId, // 用户号
						passwordElementToken: data.passwordElementToken, // 向服务端请求生成的 token
						env: "production", // 默认 production-生产
						styles: {
							// 样式集合
							themeColor: "rgba(180, 23, 1, 1)", // 主题颜色（按钮等）
						},
					},
					(res) => {
						if (res?.data) {
							this.recharge.password = res.data.password;
							this.recharge.randomValue = res.data.randomKey;
							this.rechargeParamFn();
						} else {
							uni.showToast({
								icon: 'none',
								title: '失败，请稍后重试',
								duration: 2000
							})
						}
					},
					(err) => {
						console.log("err: ", err);
					}
				);
			},
			// 获取支付要素
			rechargeParamFn() {
				console.log('payTypeId=' + this.recharge.payTypeId)
				let param = {
					payTypeId: this.recharge.payTypeId, //--见收银方式列表响应,
					orderAmount: this.recharge.orderAmount,
					openId: this.recharge.payTypeId == 2 || this.recharge.payTypeId == 12 || this.recharge.payTypeId ==
						22 ? this.recharge.openId : "",
					applicationId: this.recharge.rechargePurpose == "Initial" ?
						this.recharge.applicationId : "", //--见选择充值用途时,升级申请中ID
					customerBankId: this.recharge.customerBankId,
					randomValue: this.recharge.randomValue,
					password: this.recharge.password,
					accountType: this.recharge.type,
					depositRuleId: this.recharge.type == "CashDeposit" ?
						this.recharge.depositRuleId : ""
				};
				console.log("支付要素param: ", param);
				rechargeParam(param).then((res) => {
					if (res?.code == 200) {
						let data = res.data;
						this.payParam = data;
						if (this.recharge.payTypeId == 2 || this.recharge.payTypeId == 12) {
							let payload = data.payResult;
							if ((this.uniPlatform === 'mp-weixin' || this.uniPlatform === 'app') && !isWechat()) {
								this.wxPay(payload)
							} else {
								this.StartWeiXinPay(payload);

							}

						} else {
							this.$refs.modalShow.open()
							this.outTradeNo = res.data.outTradeNo;
						}
					} else {
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 2000
						})
					}
				});
			},

			// 拉起微信小程序支付
			wxPay(payload) {
				uni.hideLoading()
				payload.timeStamp = String(payload.timeStamp)
				uni.requestPayment({
					"provider": "wxpay",
					...payload,
					success(res) {
						uni.redirectTo({
							url: "/pagesA/account/rechargeSuccess?source=recharge&out_trade_no=" +
								this.outTradeNo,
						});
					},
					fail: function(err) {
						console.log('支付失败', err);
						uni.showToast({
							title: err,
							icon: 'none'
						})
					}
				})
			},

			// 验证银行卡快捷支付
			payValidateFn(orderSn) {
				let that = this
				let param = {
					orderSn: this.payParam.orderSn,
					verifyCode: this.verifyCode,
				};
				payValidate(param).then((res) => {
					if (res?.code == 200) {
						uni.showToast({
							icon: 'none',
							title: '充值成功',
							duration: 2000
						})
						setTimeout(() => {
							uni.redirectTo({
								url: "/pagesA/account/rechargeSuccess?source=recharge&out_trade_no=" +
									that.outTradeNo,
							});
						}, 500);
						that.$refs.modalShow.close()
					} else {
						that.$refs.modalShow.close()
						that.verifyCode = "";
						uni.showToast({
							icon: 'none',
							title: res.msg,
							duration: 2000
						})
					}
				});
			},
			// 选中处理
			SelectedFn(type, id) {
				this.recharge[type] = id;
			},
			checkboxChange(item) {
				if (item.payTypeId == 1) {
					this.recharge.customerBankId = item.customerBankId;
				}
				// 微信支付
				if (item.payTypeId == 2) {
					this.recharge.wechatAppId = item.wechatAppId;
					this.recharge.openId = item?.openId;
				}
				if (item.payTypeId == 22) {
					this.recharge.wechatAppId = item.wechatAppId;
					if (item?.openId) {
						this.recharge.openId = item?.openId;
					} else {
						this.getUserProfile()
					}
				}
			},
			checkboxRechargePurpose(e) {
				this.recharge.applicationId = e?.rechargeList[0]?.id;
				if (e.transactionType == "Initial") {
					this.nearestCenterFn(this.recharge.applicationId);
				} else {
					this.nearestCenterFn();
				}
			},

			// 线下充值按钮
			offlineRecharge() {
				uni.navigateTo({
					url: `/pages/webview/index?path=pages/account/offlinePayment&authorizationCode=${storage.get("loginInfo").authorizationCode}&title=手机网银转账`,
				})
			},

			// 微信小程序支付 绑定并获取openid
			getUserProfile() {
				let that = this
				uni.getUserProfile({
					desc: '用于微信支付', // 必填，声明获取用户个人信息后的用途
					success: (res) => {
						console.log('Encrypted Data:', res);
						uni.login({
							provider: 'weixin',
							success: (loginRes) => {
								let data = {
									code: loginRes.code,
									encryptedData: res.encryptedData,
									iv: res.iv
								}
								xcxWechatBind(data).then((res) => {
									if (res && res.code === 200) {
										that.recharge.openId = res.data.id;
									}else {
										that.purchasetypeFn()
									}
								});
							},
							fail: (err) => {
								console.log('微信小程序获取openid', err);
							}
						});

					},
					fail: (err) => {
						// 获取失败，处理错误
						console.error('Get user info failed:', err);
					}
				});

			},

			// 复制
			copyBtn() {
				uniCopy({
					content: this.offlineRechargeInfo,
					success: (res) => {
						uni.showToast({
							title: this.$t("main.copySucc"),
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: this.$t("main.copyFail"),
							icon: "none",
							duration: 3000,
						});
					},
				});
			},

			/*=======================微信api相关==========================  start*/

			//请求微信接口，用来获取code
			getWeChatCode() {
				let local = encodeURIComponent(
					location.origin + this.urlH + "pages/login/wxLogin?type=recharge"
				); //获取当前页面地址作为回调地址
				console.log("local: ", local);
				let appid = this.$store.getters.appId;

				//通过微信官方接口获取code之后，会重新刷新设置的回调地址【redirect_uri】
				window.location.href =
					"https://open.weixin.qq.com/connect/oauth2/authorize?appid=" +
					appid +
					"&redirect_uri=" +
					local +
					"&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect";
			},

			//调起h5微信支付收银台（不在微信浏览器使用）
			// getWeChatPay(prepay_id, packages) {
			//   console.log("prepay_id, packages: ", prepay_id, packages);
			//   //回调地址
			//   let local = encodeURIComponent(
			//     location.origin + this.urlH + "pages/account/rechargeDetails"
			//   );
			//   console.log("local: ", local);

			//   //h5_url为拉起微信支付收银台的中间页面
			//   window.location.href =
			//     "https://wx.tenpay.com/cgi-bin/mmpayweb-bin/checkmweb?" +
			//     prepay_id +
			//     "&redirect_uri=" +
			//     local +
			//     "&package=" +
			//     packages;
			// },

			//微信支付预处理
			StartWeiXinPay(pay_params) {
				if (typeof WeixinJSBridge === "undefined") {
					if (document.addEventListener) {
						// alert(1);
						document.addEventListener(
							"WeixinJSBridgeReady",
							this.onBridgeReady(pay_params),
							false
						);
					} else if (document.attachEvent) {
						// alert(2);
						document.attachEvent(
							"WeixinJSBridgeReady",
							this.onBridgeReady(pay_params)
						);
						document.attachEvent(
							"onWeixinJSBridgeReady",
							this.onBridgeReady(pay_params)
						);
					}
				} else {
					this.onBridgeReady(pay_params);
				}
			},
			// 微信支付
			onBridgeReady(pay_params) {
				WeixinJSBridge.invoke(
					"getBrandWCPayRequest", {
						...pay_params,
						// appId: "wx2421b1c4370ec43b", //公众号ID，由商户传入
						// timeStamp: "1395712654", //时间戳，自1970年以来的秒数
						// nonceStr: "e61463f8efa94090b1f366cccfbbb444", //随机串
						// package: "prepay_id=up_wx21201855730335ac86f8c43d1889123400",
						// signType: "RSA", //微信签名方式：
						// paySign:
						//   "oR9d8PuhnIc+YZ8cBHFCwfgpaK9gd7vaRvkYD7rthRAZ/X+QBhcCYL21N7cHCTUxbQ+EAt6Uy+lwSN22f5YZvI45MLko8Pfso0jm46v5hqcVwrk6uddkGuT+Cdvu4WBqDzaDjnNa5UK3GfE1Wfl2gHxIIY5lLdUgWFts17D4WuolLLkiFZV+JSHMvH7eaLdT9N5GBovBwu5yYKUR7skR8Fu+LozcSqQixnlEZUfyE55feLOQTUYzLmR9pNtPbPsu6WVhbNHMS3Ss2+AehHvz+n64GDmXxbX++IOBvm2olHu3PsOUGRwhudhVf7UcGcunXt8cqNjKNqZLhLw4jq/xDg==", //微信签名
					},
					(res) => {
						console.log("res:微信支付=====> ", res);
						if (res.err_msg == "get_brand_wcpay_request:ok") {
							uni.showToast({
								icon: 'none',
								title: "支付成功",
								duration: 2000
							})

							uni.navigateTo({
								url: `/pages/webview/index?path=pages/account/rechargeDetails&title=${i18n.t('rechargeDetails.title')}`,
							})

						} else {
							uni.showToast({
								icon: 'none',
								title: "支付失败",
								duration: 2000
							})
						}
					}
				);
			},
		},
	};
</script>

<style lang="scss" scoped>
	page {
		background-color: #f6f6f6 !important;
	}

	.rechargeBox {
		background-color: #fff;
		padding: 34rpx 32rpx;
		margin-top: 20rpx;
	}

	.rechargeAmount {
		.topTitle {
			display: flex;
			justify-content: space-between;
		}

		.title {
			font-size: 28rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: 500;
			color: #2e2e2e;
			line-height: 40rpx;
			// margin-top: 40rpx;
		}

		.record {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #6a8dff;
			line-height: 40rpx;
		}

		.amountInput {
			border-bottom: 1px solid #ededed !important;
			padding: 30rpx 0rpx 20rpx 4rpx !important;
			font-size: 50rpx;
		}

		.moneyMark {
			font-size: 60rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: bold;
			color: #2e2e2e;
			line-height: 96rpx;
		}

		.allBtn {
			font-size: 32rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #6a8dff;
			line-height: 44rpx;
		}
	}

	.RechargePurpose {
		display: flex;
		background-color: #fff;
		padding: 32rpx;
		margin-top: 20rpx;
		align-items: center;

		.title {
			font-size: 28rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: 500;
			color: #2e2e2e;
			line-height: 40rpx;
			margin-right: 20rpx;
			// margin-top: 40rpx;
		}

		::v-deep {
			.uv-radio-group--column {
				flex-direction: row;
				flex-wrap: wrap;
			}

			.uv-radio {
				// width: 200rpx !important;
				padding: 20rpx 10rpx;
			}
		}
	}

	.rechargeType {
		padding-bottom: 24rpx;

		.title {
			font-size: 28rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 400;
			color: #666666;
			line-height: 40rpx;
			margin-top: 18rpx;
		}

		.typeBox {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			.typeItem {
				min-width: 100rpx;
				height: 68rpx;
				background: #f6f6f6;
				border-radius: 12rpx;
				text-align: center;
				line-height: 68rpx;
				margin-top: 20rpx;
				border: 2rpx solid #f6f6f6;
				padding: 0 30rpx;
			}
		}

		.zyi {
			font-size: 22rpx;
			margin-top: 20rpx;
			margin-left: 30rpx;
			color: #ccc;
		}
	}

	.nearestCenter {
		display: flex;
		// height: 200rpx;
		padding: 50rpx 0;
		justify-content: space-between;

		.trainingSession {
			margin-left: 20rpx;
			width: 70%;
		}
	}

	.withdrawBtn {
		width: 686rpx;
		height: 80rpx;
		background: $theme-color !important;
		border-radius: 12rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin: 40rpx auto;
		font-size: 36rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
	}

	.offlineRecharge {
		clear: both;
		width: 686rpx;
		height: 80rpx;
		border-radius: 12rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin: 40rpx auto;
		font-size: 36rpx;
		font-family: PingFangSC, PingFang SC;
		font-weight: 400;
	}

	.offlineRechargeBox {
		padding: 60rpx 40rpx;
		font-size: 28rpx;
	}

	.remittanceNote {
		padding: 20rpx 40rpx;
		font-size: 25rpx;
		color: #bbb;
		margin-top: -30rpx;
		overflow: hidden;

		.remittanceNoteItem {
			margin-bottom: 20rpx;
		}

		.title {
			color: #666666;
			margin-bottom: 10rpx;
		}
	}

	.copyBtn {
		margin: 20rpx auto;
		color: $theme-color;
		font-size: 28rpx;
	}

	.Active {
		background: rgba(180, 23, 1, 0.5);
		border-radius: 12rpx;
		border: 2rpx solid $theme-color !important;
		color: $theme-color;
	}

	.confirm {
		background: $theme-color;
		color: #fff;
		// margin: 0 20rpx;
		width: 95%;
		// margin-bottom: 50rpx;
		height: 88rpx;
		text-align: center;
		margin: 50rpx auto;
		line-height: 88rpx;
	}

	.popupBox {
		padding: 1rpx;
		box-sizing: border-box;

		.title {
			font-size: 34rpx;
			font-family: PingFangSC, PingFang SC;
			font-weight: 800;
			color: #222222;
			line-height: 44rpx;
			margin: 32rpx auto;
			width: 100%;
			text-align: center;
		}

		.money {
			margin: 32rpx auto;
			width: 100%;
			text-align: center;
			font-size: 76rpx;
			font-family: PingFang-SC, PingFang-SC;
			font-weight: bold;
			color: $theme-color;
			line-height: 106rpx;
		}

		.bankCardList {
			padding: 32rpx;
			margin-bottom: 100rpx;

			.checkboxBox {

				// width: 800rpx;
				.checkboxInfo {
					display: flex;
					align-items: center;
				}

				.radio-img {
					width: 60rpx;
					height: 60rpx;
				}

				.rightBanck {
					margin-left: 30rpx;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					line-height: 60rpx;

					.name {
						font-size: 32rpx;
						font-family: PingFang-SC, PingFang-SC;
						font-weight: bold;
						color: #2e2e2e;
						//   line-height: 44rpx;
					}

					// .subBranch {
					//   font-size: 26rpx;
					//   font-family: PingFangSC, PingFang SC;
					//   font-weight: 400;
					//   color: #2e2e2e;
					//   line-height: 36rpx;
					// }
				}

				::v-deep {
					.u-checkbox-label--right {
						padding: 20rpx 0;
					}

					.uv-radio-label--right {
						padding: 20rpx 0;
						border-bottom: 2rpx solid #ededed !important;
					}
				}
			}
		}

		.bankCard {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 2rpx solid #ededed;
			padding-bottom: 34rpx;
			margin-left: 10rpx;

			.bankCardName {
				flex: 1;
				margin-left: 50rpx;
			}
		}

		::v-deep {
			.uicon-close {
				font-size: 36rpx !important;
			}
		}
	}

	.modalInfo {
		font-size: 24rpx;
		color: #ccc;
		padding: 20rpx;
	}

	::v-deep {
		.uv-modal__content {
			padding: 0rpx 0 70rpx 0 !important;
		}

		.uv-radio__icon-wrap {
			width: 34rpx !important;
			height: 34rpx !important;
			// background: $theme-color !important;
		}

		.uv-radio__text {
			font-size: 24rpx !important;
			font-family: MicrosoftYaHei;
			color: #686868;
			line-height: 32rpx !important;
		}

		.uicon-checkbox-mark {
			font-size: 24rpx !important;
		}

		.u-fade-enter-active {
			// top: 0 !important;
			z-index: 887 !important;
		}

		.uv-picker__view {
			height: 400rpx !important;
		}

		.uni-picker-view-indicator {
			height: 80rpx !important;
		}

		.uv-picker__view__column__item {
			height: 80rpx !important;
			line-height: 80rpx !important;
		}

		.u-input--square {
			background-color: #fff !important;
		}
	}
</style>