<template>
  <div :style="this.$store.state.theme.presentTheme">
	<commonTop :isBack='true' :show='true'>{{ $t('myEarnings.title') }}</commonTop>
    <view class="information"> </view>
    <view class="walletBox">
      <view class="myWallet">
        <view class="title"> 我的钱包 </view>
        <view class="moneyAmount">
          <text class="moneyMark">{{ $store.getters.moneyMark }}</text>
          <text class="money">{{ myWalletData.totalAmount }}</text>
        </view>
        <u-icon
          class="iconRight"
          size="50"
          color="#fff"
          name="arrow-right"
        ></u-icon>
        <view class="unlockBonus">
          <view class="brand">
            <text>{{ myWalletData.historyFreezeAmount }}</text>
            <text class="brandName">{{ "历史待解锁奖励（元）" }}</text>
          </view>
          <view class="brand">
            <text>{{ myWalletData.currentFreezeAmount }}</text>
            <text class="brandName">{{ "本年待解锁奖励（元）" }}</text>
          </view>
        </view>
      </view>
      <view class="withdraw">
        <view class="withdrawItem">
          <view class="balance">
            <text>{{ myWalletData.historyAmount }}</text>
            <text class="brandName">{{ "历史奖励余额（元）" }}</text>
          </view>
          <view
            class="btn"
            @click="goTo('/pagesA/account/earningsManage/withdraw?type=1')"
          >
            转货款
          </view>
        </view>
        <view class="withdrawItem">
          <view class="balance">
            <text>{{ myWalletData.currentAmount }}</text>
            <text class="brandName">{{ "本年奖励余额（元）" }}</text>
          </view>
          <view
            class="btn"
            @click="goTo('/pagesA/account/earningsManage/withdraw')"
          >
            提现
          </view>
        </view>
      </view>
    </view>
    <!-- <view class="swiperBox">
      <u-swiper
        :list="bannerList"
        @click="bannerClick"
        indicator
        height="248rpx"
        radius="10"
      ></u-swiper>
    </view> -->
    <view class="rowList">
      <!-- <view class="rowItem" @click="goTo('/pages/account/amountTransferred')">
        <text>{{ "保证金转货款" }}</text>
        <u-icon name="arrow-right"></u-icon>
      </view> -->
      <view
        class="rowItem"
        @click="goTo('/pagesA/account/earningsManage/withdrawalRecords')"
      >
        <text>{{ "提现记录" }}</text>
        <u-icon name="arrow-right"></u-icon>
      </view>
      <!-- <view class="rowItem" @click="goTo('/pages/address/address')">
        <text>{{ "换绑银行卡" }}</text>
        <u-icon name="arrow-right"></u-icon>
      </view> -->
    </view>
  </div>
</template>
<script>
import { incomeAmount } from "@/config/vmeitime-http/account.js";
import commonTop from "@/components/CommonTop";
	
export default {
	components: {
		commonTop
	},
  data() {
    return {
      bannerList: [
        "https://cdn.uviewui.com/uview/swiper/swiper1.png",
        "https://cdn.uviewui.com/uview/swiper/swiper2.png",
        "https://cdn.uviewui.com/uview/swiper/swiper3.png",
      ],
      myWalletData: {
        totalAmount: 0,
        historyWithdrawType: 0,
        historyAmount: 0,
        historyFreezeAmount: 0,
        currentWithdrawType: 0,
        currentAmount: 0,
        currentFreezeAmount: 0,
      },
    };
  },
  onShow() {
    this.incomeAmountFn();
  },
  methods: {
    //获取收益总览
    incomeAmountFn() {
      incomeAmount().then((res) => {
        if (res.code == 200) {
          this.myWalletData = res.data;
        }
      });
    },
    // banner点击事件
    bannerClick(data) {},
    //路由跳转
    goTo(data) {
		console.log(data)
      uni.navigateTo({ url: data });
    },
  },
};
</script>
<style lang="scss" scoped>
page {
  background: #f6f6f6;
}
.information {
  height: 314rpx;
  background: url(/static/images/index/informationBg.png) no-repeat center/100%
    100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
.walletBox {
  z-index: 1;
  margin: 24rpx;
  position: relative;
  .myWallet {
    padding: 46rpx 36rpx 10rpx 40rpx;
    background: #ebd9bd;
    border-radius: 20rpx;
    color: #fff;
    z-index: 2;
    position: relative;
    .title {
      font-weight: bold;
      font-size: 32rpx;
    }
    .moneyAmount {
      margin-top: 12rpx;
      .moneyMark {
        font-weight: bold;
        font-size: 44rpx;
        color: #ffffff;
        line-height: 60rpx;
      }
      .money {
        font-weight: bold;
        font-size: 64rpx;
        color: #ffffff;
        line-height: 90rpx;
      }
    }
    .iconRight {
      position: absolute;
      right: 40rpx;
      top: 100rpx;
    }
    .unlockBonus {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 116rpx;
      background-color: rgba(255, 255, 255, 0.16);
      border-radius: 20rpx;
      margin-top: 24rpx;
      .brand {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 32rpx;
        font-family: PingFangSC-Bold, PingFang SC;
        font-weight: bold;
        color: #604004;
        flex: 1;
        .brandName {
          font-size: 24rpx;
          font-weight: 400;
        }
      }
      .brand:not(:last-child) {
        border-right: 2rpx solid #b79f71;
      }
    }
  }
  .withdraw {
    background-color: #fff;
    border-radius: 26rpx;
    padding-top: 100rpx;
    margin-top: -80rpx;
    .withdrawItem {
      font-weight: bold;
      font-size: 32rpx;
      color: #604004;
      line-height: 44rpx;
      display: flex;
      margin: 20rpx 24rpx 0 48rpx;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20rpx;
      .balance {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10rpx;
      }
      .brandName {
        font-weight: 400;
        font-size: 24rpx;
        line-height: 34rpx;
      }
      .btn {
        background: #faf1f0;
        border-radius: 30rpx;
        border: 2rpx solid #b41701;
        padding: 12rpx 50rpx;
        font-size: 26rpx;
        color: #b41701;
        width: 80rpx;
        text-align: center;
      }
    }
    .withdrawItem:not(:last-child) {
      border-bottom: 2rpx solid #f3f4f6;
    }
  }
}
.swiperBox {
  margin: 20rpx 24rpx;
}
.rowList {
  margin: 0rpx 24rpx;
  padding-bottom: 100rpx;
  .rowItem {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44rpx 36rpx;
    font-size: 28rpx;
    font-family: PingFang-SC-Regular, PingFang-SC;
    font-weight: 400;
    color: #2e2e2e;
    position: relative;
    .phone {
      position: absolute;
      right: 70rpx;
    }
  }

  .rowItem:not(:last-child) {
    border-bottom: 2rpx solid #f2f3f5;
  }
}
</style>