<template>
  <div :style="this.$store.state.theme.presentTheme">
	<commonTop :isBack='true' :show='true'>{{ $t('提现详情') }}</commonTop>
    <div class="box" v-if="wirhdrawDetailsData && wirhdrawDetailsData.state">
      <u--image
        width="160rpx"
        height="160rpx"
        :src="titleArr[wirhdrawDetailsData.state - 1].img"
        class="img"
      ></u--image>
      <p class="t">
        {{ titleArr[wirhdrawDetailsData.state - 1].t }}
      </p>
      <p class="b">
        {{
          wirhdrawDetailsData.state == 4
            ? "拒绝原因：" + ""
            : titleArr[wirhdrawDetailsData.state - 1].tx
        }}
      </p>
      <p
        v-if="wirhdrawDetailsData.state == 4"
        class="again"
        @click="goTo('/pages/account/earningsManage/myWallet')"
      >
        再次提现
      </p>
      <div class="seizeASeat"></div>
      <div class="b_card">
        <p class="title">提现到账金额</p>
        <p class="num">
          {{ $store.getters.moneyMark }}{{ wirhdrawDetailsData.rewardAmount }}
        </p>
        <ul>
          <template v-for="(item, index) in list">
            <li :key="index" v-if="wirhdrawDetailsData[item.v] && item.show">
              <view>{{ item.t }}</view>
              <view class="v">
                <span v-if="item.v == 'billType'">
                  {{
                    wirhdrawDetailsData[item.v] == "WITHDRAW_APPLY"
                      ? "提现到银行卡"
                      : wirhdrawDetailsData[item.v] == "COVERT_TO_GOODS"
                      ? "奖励转连连货款"
                      : "奖励转历史货款"
                  }}
                </span>
                <view
                  class="withdrawalDetails"
                  v-else-if="item.v == 'id'&&incomeDetailList.length"
                  @click="spreadStatus = !spreadStatus"
                >
                  {{ spreadStatus ? "收起" : "展开" }}
                </view>
                <span v-else>
                  <span
                    v-if="item.v == 'feeAmount' || item.v == 'totalAmount'"
                    >{{ $store.getters.moneyMark }}</span
                  >

                  <span> {{ wirhdrawDetailsData[item.v] }}</span>
                  <span
                    v-if="item.v == 'cashNo'"
                    class="copy"
                    @click="copyBtn(wirhdrawDetailsData[item.v])"
                    >复制</span
                  >
                </span>
              </view>
            </li>
          </template>
          <view
            class="withdrawalDetailsList"
            v-if="incomeDetailList.length && spreadStatus"
          >
            <view
              class="item"
              v-for="(itemx, indexx) in incomeDetailList"
              :key="indexx"
            >
              {{
                `${itemx.rewardYear}年${itemx.rewardMonth}月${itemx.detailName}`
              }}
            </view>
          </view>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { withdrawInfot, getIncomeDetailList } from "@/config/vmeitime-http/account.js";
import storage from "@/utils/storage.js";
import uniCopy from "@/utils/uni-copy.js";
import commonTop from '@/components/CommonTop'

export default {
	components: {
		commonTop
	},
  data() {
    return {
      userInfo: storage.get("loginInfo"),
      withdrawalType: 1, //提现类型 1--银行卡 2--转货款
      list: [],

      titleArr: [],
      wirhdrawDetailsData: null,
      period: null,
      spreadStatus: true,
      id: null,
      incomeDetailList: [],
    };
  },
  onLoad(options) {
    if (options.data) {
      this.id = JSON.parse(options.data);
      this.withdrawInfotFn();
    }
  },
  mounted() {
    this.list = [
      {
        t: "提现单号",
        v: "cashNo",
        show: true,
      },
      {
        t: "提现金额",
        v: "totalAmount",
        show: true,
      },
      {
        t: "手续费",
        v: "feeAmount",
        show: this.withdrawalType == 1 ? true : false,
      },
      {
        t: "会员名",
        v: "customerName",
        show: true,
      },
      {
        t: "提现方式",
        v: "billType",
        show: true,
      },
      // {
      //   t: "提现账户",
      //   v: "billType",
      //   show: true,
      // },
      {
        t: "操作人",
        v: "operator",
        show: true,
      },
      {
        t: "操作时间",
        v: "operateTime",
        show: true,
      },
      {
        t: "提现明细",
        v: "id",
        show: true,
      },
    ];
    this.titleArr = [
      {
        t: "审核中",
        tx: "提现申请审核中，请你耐心等待",
        img: "./static/images/account/handle@2x.png",
      },
      {
        t: "处理中",
        tx: "提现申请处理中，请你耐心等待",
        img: "./static/images/account/handle@2x.png",
      },

      {
        t: "已打款",
        tx:
          this.withdrawalType == 1
            ? "已提现到您的账户，请注意查收"
            : "已将您的奖励转到货款余额，请注意查收",
        img: "./static/images/account/pic_tick@2x.png",
      },

      {
        t: "审核拒绝",
        // tx: "拒绝原因：回显后台填写的拒绝原因",
        img: "./static/images/account/refuse@2x.png",
      },

      {
        t: "提现已取消",
        // tx: "拒绝原因：回显后台填写的拒绝原因",
        img: "./static/images/account/refuse@2x.png",
      },
    ];
  },
  methods: {
    //提现详情
    withdrawInfotFn() {
      let param = {
        // customerCode: this.userInfo.authorizationCode,
        id: this.id, // dayjs().subtract(1, 'month').format('YYYYMM'),
      };
      withdrawInfot(param).then((res) => {
        if (res.code == 200) {
          if (res?.data) {
            this.wirhdrawDetailsData = res.data;
            this.withdrawalType =
              this.wirhdrawDetailsData.billType == "WITHDRAW_APPLY" ? 1 : 2;
            this.getIncomeDetailListFn();
          }
        } else {
          this.$u.toast(res.msg);
        }
      });
    },
    //提现明细
    getIncomeDetailListFn() {
      let param = {
        id: this.id,
      };
      getIncomeDetailList(param).then((res) => {
        if (res.code == 200) {
          this.incomeDetailList = res.data;
        }
      });
    },
    //跳转
    goTo(url) {
      uni.navigateTo({ url: url });
    },
    // 复制
    copyBtn(data) {
      console.log("data: ", data);
      uniCopy({
        content: data,
        success: (res) => {
          uni.showToast({
            title: this.$t("main.copySucc"),
            icon: "none",
          });
        },
        error: (e) => {
          uni.showToast({
            title: this.$t("main.copyFail"),
            icon: "none",
            duration: 3000,
          });
        },
      });
    },
  },
};
</script>
<style lang="scss" scoped>
page {
  background-color: #f6f6f6;
}

.box {
  background: #fff;
  min-height: 96vh;
  text-align: center;
  overflow: hidden;
  color: #000;

  .seizeASeat {
    width: 750rpx;
    height: 20rpx;
    background: #f6f6f6;
    margin-top: 40rpx;
  }

  .b_card {
    padding: 24rpx;
    box-sizing: border-box;

    .title {
      font-size: 28rpx;
      margin-top: 18rpx;
      margin-bottom: 20rpx;
    }

    .num {
      color: #2e2e2e;
      font-weight: bold;
      color: #2e2e2e;
      padding-bottom: 22px;
      text-align: center;
      font-size: 68rpx;
      border-bottom: 1px solid #f6f6f6;
    }

    ul {
      padding: 18rpx 0;
      width: 100%;
      color: #585858;
      font-size: 24rpx;

      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        line-height: 34rpx;
        margin-top: 24rpx;
        .v {
          color: #000;
        }
      }
    }
  }

  .img {
    display: flex;
    margin: 84rpx 296rpx 40rpx;
    justify-content: center;
  }

  .t {
    font-size: 40rpx;
    font-weight: bold;
  }

  .b {
    font-size: 26rpx;
    margin-top: 20rpx;
    color: #999999;
  }
  .again {
    color: $theme-color !important;
    text-decoration: underline;
    margin-top: 40rpx;
    mask-size: 26rpx;
  }
  .copy {
    background: #f6f6f6;
    border-radius: 12rpx;
    display: inline-block;
    padding: 2rpx 14rpx;
    font-size: 20rpx;
    margin-left: 20rpx;
  }
  .withdrawalDetails {
    color: $theme-color;
    text-decoration: underline;
  }
  .withdrawalDetailsList {
    margin-top: 20rpx;
    text-align: right;
    color: #bbb;
  }
}
</style>