<template>
  <div :style="this.$store.state.theme.presentTheme">
	<commonTop :isBack='true' :show='true'>{{ $t('withdrawalRecords.title') }}</commonTop>
    <div class="box" v-if="rewardOperationLogList.length">
      <!-- <div class="date" @click="show = true">
        {{ newDate.split("/")[0] }}年{{ newDate.split("/")[1] }}月
        <u--image
          width="30rpx"
          class="image"
          height="28rpx"
          src="./static/images/account/below@2x.png"
          alt=""
        />
      </div> -->
      <ul class="list">
        <li
          class="item"
          v-for="(item, index) in rewardOperationLogList"
          :key="index"
          @click="goTo(item)"
        >
          <div class="left">
            <p class="t">
              <span class="t1"
                >{{
                  item.billType == "WITHDRAW_APPLY"
                    ? "提现到银行卡"
                    : item.billType == "COVERT_TO_GOODS"
                    ? "奖励转连连货款"
                    : "奖励转历史货款"
                }}
                -{{ $store.getters.moneyMark }}{{ item.totalAmount }}</span
              >
              <!-- <span class="t2">线上充值</span> -->
            </p>
            <p class="b">{{ item.createdDateStr }}</p>
          </div>
          <div class="center">
            <!-- <p>+97.02</p> -->
            <p
              class="text"
              :class="
                item.state == 1 ? 'text1' : item.state == 2 ? 'text2' : 'text3'
              "
            >
              {{ item.stateDesc }}
            </p>
          </div>
          <div class="right">
            <u-icon color="#ccc" name="arrow-right"></u-icon>
          </div>
        </li>
        <template v-if="false">
          <li class="item">
            <div class="left">
              <p class="t">
                <span class="t1">货款</span>
                <!-- <span class="t2 t3">线下充值</span> -->
              </p>
              <p class="b">2023-10-17 16:06:32</p>
            </div>
            <div class="center">
              <!-- <p>+97.02</p> -->
              <p class="text text2">充值成功</p>
            </div>
            <div class="right">
              <u-icon color="#ccc" name="arrow-right"></u-icon>
            </div>
          </li>
          <li class="item">
            <div class="left">
              <p class="t">
                <span class="t1">保证金-美人计</span>
                <!-- <span class="t2 t3">线下充值</span> -->
              </p>
              <p class="b">2023-10-17 16:06:32</p>
            </div>
            <div class="center">
              <!-- <p>+97.02</p> -->
              <p class="text text3">充值失败</p>
            </div>
            <div class="right">
              <u-icon color="#ccc" name="arrow-right"></u-icon>
            </div>
          </li>
        </template>
      </ul>
    </div>
    <div class="zeroBox" v-else>
      <div class="imgBox">
        <u--image
          width="212rpx"
          class="zeroImage"
          height="224rpx"
          src="./static/images/account/zero@2x.png"
          alt=""
        />
      </div>
      <p class="text">暂无数据</p>
    </div>
    <u-datetime-picker
      :show="show"
      v-model="value"
      mode="year-month"
      @cancel="show = false"
      @confirm="(e) => confirm(e)"
    ></u-datetime-picker>
  </div>
</template>
<script>
import * as dayjs from "dayjs";
import { rewardOperationLog } from "@/config/vmeitime-http/account.js";
import storage from "@/utils/storage.js";
import commonTop from "@/components/CommonTop";

export default {
	components: {
		commonTop
	},
  data() {
    return {
      show: false,
      showZero: false,
      value: dayjs(new Date()).format("YYYY/MM"),
      newDate: dayjs(new Date()).format("YYYY/MM"),
      userInfo: storage.get("loginInfo"),

      rewardOperationLogList: [],
    };
  },
  onLoad(options) {
    this.rewardOperationLogFn();
  },
  methods: {
    //获取提现记录
    rewardOperationLogFn() {
      let param = {
        customerCode: this.userInfo.authorizationCode,
      };
      rewardOperationLog(param).then((res) => {
        if (res.code == 200) {
          this.rewardOperationLogList = res.data;
        }
      });
    },
    goTo(data) {
      uni.navigateTo({
        url: "/pagesA/account/earningsManage/wirhdrawDetails?data=" + data.id,
      });
    },
    confirm(e) {
      let newDate = dayjs(e.value).format("YYYY/MM");
      this.newDate = newDate;
      this.show = false;
    },
  },
};
</script>
<style lang="scss" scoped>
page {
  background-color: #f6f6f6;
}

.date {
  width: 217rpx;
  height: 60rpx;
  background: #ffffff;
  border-radius: 4rpx;
  font-size: 24rpx;
  color: #222;
  display: flex;
  justify-content: center;
  padding-top: 12rpx;
  overflow: hidden;
  box-sizing: border-box;
  margin: 24rpx 32rpx;

  .image {
    margin-left: 12rpx !important;
  }
}

.list {
  margin: 0;
  background: #fff;
  padding: 0;

  .item {
    padding: 36rpx 32rpx;
    // height: 164rpx;
    box-sizing: border-box;
    display: flex;
    list-style: none;
    border-bottom: 1px solid #f6f6f6;
    align-items: center;
    .left {
      width: 490rpx;

      .t {
        display: flex;
        // margin-top: 36rpx;

        .t1 {
          color: #2e2e2e;
          font-size: 34rpx;
          font-weight: 400;
        }

        .t2 {
          width: 120rpx;
          height: 40rpx;
          font-size: 24rpx;
          color: #ff8000;
          line-height: 40rpx;
          text-align: center;
          background: #fff5eb;
          margin-left: 12rpx;
          margin-top: 4rpx;
        }
        .t3 {
          color: #b41701;
          background: #ffebeb;
        }
      }

      .b {
        color: #999999;
        font-size: 24rpx;
        margin-top: 10rpx;
      }
    }

    .center {
      text-align: right;
      width: 160rpx;
      font-size: 36rpx;
      color: #222222;
      // margin-top: 36rpx;
      .text {
        margin-top: 6rpx;
        font-size: 24rpx;
      }
      .text1 {
        color: #6a8dff;
      }
      .text2 {
        color: #009e09;
      }
      .text3 {
        color: #ff1f00;
      }
    }

    .right {
      width: 50rpx;
      // padding-top: 68rpx;
      display: flex;
      justify-content: right;
    }
  }
}
.zeroBox {
  .imgBox {
    display: flex;
    justify-content: center;
    padding-top: 298rpx;
    margin-bottom: 56rpx;
  }
  .text {
    color: #2e2e2e;
    font-size: 26rpx;
    text-align: center;
  }
}
</style>