<template>
  <div :style="this.$store.state.theme.presentTheme">
	<commonTop :isBack='true' :show='true'>{{ title }}</commonTop>
    <div class="mode" @click="type == 1 ? '' : ($refs.modeShow.open())">
      <view class="title"> 提现方式 </view>
      <view class="name">
        {{ modeSelect.name }}<uv-icon name="arrow-right" color="#ccc"></uv-icon>
      </view>
    </div>
    <view class="withdrawBox">
      <view class="bankCard" @click="modeSelect.type == 2 ? ($refs.show.open()) : ''">
        <u--image
          width="88rpx"
          height="88rpx"
          :src="
            modeSelect.type == 2
              ? './static/images/account/bankCard.png'
              : './static/images/index/creditsExchange.png'
          "
          class="bankCardImg"
          shape="circle"
        ></u--image>
        <view class="bankCardName" v-if="modeSelect.type == 2">
          <template v-if="selectedBankCard.bankNo">
            <view
              >{{ selectedBankCard.bankName }}({{
                selectedBankCard.bankNo.slice(-4)
              }})</view
            >
            <view style="font-weight: 400; font-size: 26rpx; color: #2e2e2e"
              >预计1天内到账</view
            >
          </template>
          <template v-else>
            <text>选择提现银行卡</text>
          </template>
        </view>
        <view class="bankCardName" v-if="modeSelect.type == 1">
          <view>收款账号 {{ userInfo.phone }}</view>
          <view style="font-weight: 400; font-size: 26rpx; color: #2e2e2e"
            >预计 1-3 个小时内到账</view
          >
        </view>
        <uv-icon
          v-if="modeSelect.type == 2"
          size="20"
          color="#ccc"
          name="arrow-right"
        ></uv-icon>
      </view>
    </view>
    <template v-if="type !== 1">
      <view class="rewardTitle">可提现奖励明细</view>
      <view class="RewardDetail">
        <uv-checkbox-group
          v-model="rewardValue"
          placement="column"
          @change="rewardCheckboxChange"
          size="34"
          iconPlacement="left"
        >
          <uv-checkbox
            :customStyle="{ marginBottom: '8px' }"
            v-for="(item, index) in rewardList"
            :key="index"
            :label="`${item.rewardYear}年${item.rewardMonth}月${item.detailName}`"
            :name="item.id"
            activeColor="#B41701"
            iconSize="30"
            labelSize="28"
            labelColor="#2E2E2E"
          >
          </uv-checkbox>
        </uv-checkbox-group>
        <view class="rewardNum">
          <view
            class="rewardNum-item"
            v-for="(items, indexs) in rewardList"
            :key="indexs"
          >
            {{ $store.getters.moneyMark + items.jiesuoMoney }}
          </view>
        </view>
      </view>
    </template>
    <view class="withdrawMoney">
      <view class="withdrawalAmount">
        <view class="title">{{ title }}金额(元)</view>
        <uv-input
          class="amountInput"
          :placeholder="`请选择要${title}的奖励`"
          border="none"
          clearable
          v-model="totalAmount"
          disabled
          type="number"
          fontSize="50rpx"
        >
          <template slot="prefix">
            <view class="moneyMark">{{ $store.getters.moneyMark }}</view>
          </template>
          <template slot="suffix">
            <!-- <view class="allBtn">全部</view> -->
          </template>
        </uv-input>
      </view>
      <template v-if="modeSelect.type == 2">
        <view class="rowBox" v-if="amountData && amountData.rewardAmount">
          <text>实际到账</text>
          <view class="themeColor"
            >{{ $store.getters.moneyMark }} {{ amountData.rewardAmount }}</view
          >
        </view>
        <view class="rowBox" v-if="amountData && amountData.feeAmount">
          <text>手续费</text>
          <view
            >{{ $store.getters.moneyMark }}
            {{ amountData.feeAmount || 0 }}</view
          >
        </view>
      </template>
    </view>


    <view @click="withdrawalBtn" class="withdrawBtn"
      >{{ modeSelect.type == 2 ? "确认提现" : "确认转货款" }}
    </view>

    <!-- 提现须知 -->
    <view class="infoBox">
      提现须知
      <template v-if="modeSelect.type == 1">
        <p>1、提现到货款余额后，可通过货款余额购买商品</p>
        <p>2、提现余额为可提取最大额，不允许修改</p>
        <p>3、提现后，奖金将在 1-3 个小时内充值到货款余额</p>
        <p>4、如有疑问，请联系客服进行咨询和处理</p>
      </template>
      <template v-else>
        <p>1、提现以页面展示为准，费用由提现者承担</p>
        <p>2、提现金额为已勾选奖励的可提取最大额，不允许修改</p>
        <p>3、提现后，奖金将在3个工作日内到账，节假日顺延。</p>
        <p>4、如有疑问，请联系客服进行咨询和处理</p>
      </template>
    </view>
    <!-- 提现方式弹窗 -->
    <uv-picker
      ref="modeShow"
      :columns="mode"
      keyName="name"
      @confirm="modeConfirm"
      @cancel="$refs.modeShow.close()"
    ></uv-picker>

    <!-- 银行卡列表弹窗 -->
    <uv-popup
	  ref='show'
      @close="$refs.show.close()"
      @open="$refs.show.open()"
      :round="10"
      closeable
      mode="bottom"
      class="popupBox"
    >
      <p class="title">选择提现银行卡</p>
      <view class="bankInfoList">
        <view class="checkboxBox">
          <uv-radio-group
            iconPlacement="right"
            placement="column"
            size="20px"
            iconSize="18px"
            v-model="selectedBankCard.bankNo"
          >
            <uv-radio
              v-for="(item, index) in bankInfoList"
              :key="index"
              labelSize="28"
              :activeColor="$store.state.theme.presentTheme['--theme-color']"
              :label="item.bankName"
              :name="item.bankNo"
              @change="(e) => checkboxChange(e, item)"
            >
              <view class="checkboxInfo">
                <u--image
                  width="96rpx"
                  height="96rpx"
                  src="./static/images/account/ruleIcon.png"
                  class="img"
                ></u--image>
                <view class="rightBanck">
                  <p class="name">{{ item.bankName }}</p>
                  <p class="subBranch">{{ item.bankNo }}</p>
                </view>
              </view>
            </uv-radio>
          </uv-radio-group>
        </view>
        <view
          class="bankCard"
          style="border: none; margin-top: 30rpx"
          v-if="false"
        >
          <u--image
            width="88rpx"
            height="88rpx"
            src="./static/images/account/bankCard.png"
            class="bankCardImg"
            shape="circle"
          ></u--image>
          <view class="bankCardName">
            <text>添加提现银行卡</text>
          </view>
          <uv-icon size="20" color="#ccc" name="arrow-right"></uv-icon>
        </view>
      </view>
    </uv-popup>
    <!-- 验证码输入 -->
    <uv-modal
      ref="modalShow"
      :title="$t('order.Please verification code')"
      :confirmColor="$store.state.theme.presentTheme['--theme-color']"
      :showCancelButton="true"
      :confirmText="$t('register.Confirm')"
      :cancelText="$t('register.Cancel')"
      @cancel="$refs.modalShow.close()"
      @confirm="verifyCodeConfirm"
    >
      <view class="slot-content">
        <view class="modalInfo">{{
          $t("order.Transaction application info")
        }}</view>
        <uv-code-input
          v-model="verifyCode"
          :maxlength="6"
          size="80rpx"
          fontSize="60rpx"
        ></uv-code-input> </view
    ></uv-modal>
  </div>
</template>
<script>
import storage from "@/utils/storage.js";
const lianlianpay = require("@/utils/lianlianpay");
import { customerInfo, passwordControl } from "@/config/vmeitime-http/index.js";
import { validatePay } from "@/config/vmeitime-http/order.js";
import commonTop from "@/components/CommonTop";
import {
  cargeCalculator,
  cashapplyV2,
  rewardToGoodsV2,
  rewardOperationLog,
  incomeAmount,
} from "@/config/vmeitime-http/account.js";
export default {
	components: {
		commonTop
	},
  data() {
    return {
      title: "提现",
      userInfo: storage.get("loginInfo"),
      selectedBankCard: {
        bankName: "",
        bankCode: "",
        bankNo: "",
      },
      totalAmount: null,
      amountData: null,
      bankInfoList: [],
      show: false,
      mode: [
        [
          {
            type: 1,
            name: "货款余额",
          },
          {
            type: 2,
            name: "银行卡",
          },
        ],
      ],
      modeSelect: {
        type: 1,
        name: "货款余额",
      },
      rewardList: [],
      rewardValue: null,
      rewardBatchIds: [],
      verifyCode: "",
      verifyData: null,

      type: null,
    };
  },
  onLoad(options) {
    if (options.type == 1) {
      this.type = 1;
      this.modeSelect = {
        type: 1,
        name: "货款余额",
      };
      this.title = "转货款";
    }
    this.incomeAmountFn();
  },
  onShow() {
    this.customerInfoFn();
  },
  methods: {
    // 确认提现按钮
    withdrawalBtn() {
      let that = this;
      if (this.modeSelect.type == 1) {
        this.TransferLoan();
      } else {
        if (!this.selectedBankCard.bankNo) {
          uni.$u.toast("请选择提现银行卡");
          return;
        }
        if (!this.rewardBatchIds.length) {
          uni.$u.toast("请选择需要提现的奖励明细");
          return;
        }
        if (this.userType == "ORG") {
          //企业账号提现
          this.passwordControlFn();
        } else {
          //个人提现
          // this.passwordControlFn();
          // return
          uni.showModal({
            title: "提示",
            content: "是否确认提现？",
            confirmColor: that.$store.state.theme.presentTheme["--theme-color"],
            success: function (res) {
              if (res.confirm) {
                console.log("用户点击确定");
                that.cashapplyFn();
              } else if (res.cancel) {
                console.log("用户点击取消");
              }
            },
          });
        }
      }
    },
    //选择回调
    checkboxChange(e, item) {
      console.log("e, item: ", e, item);
      this.selectedBankCard = item;
	  this.$refs.show.close()
    },
    //提现方式选择回调
    modeConfirm(data) {
      console.log("data: ", data);
      this.modeSelect = data.value[0];
	  this.$refs.modeShow.close()
      // this.rewardBatchIds = [];
      // this.amountData = null;
      // this.totalAmount = null;
      if (this.modeSelect.type == 2) {
        this.title = "提现";
      } else {
        this.title = "转货款";
      }
    },
    // 可提现明细选中处理
    rewardCheckboxChange(n) {
      console.log("change", n);
      this.rewardBatchIds = n;
      this.cargeCalculatorFn();
    },
    //提现手续费计算
    cargeCalculatorFn() {
      let param = {
        customerCode: this.userInfo.authorizationCode,
        rewardBatchIds: this.rewardBatchIds,
      };
      cargeCalculator(param).then((res) => {
        if (res.code == 200) {
          this.amountData = res.data;
          this.totalAmount = res.data.totalAmount;
        } else {
          this.amountData = null;
          this.totalAmount = null;
        }
      });
    },
    //申请提现
    cashapplyFn(data) {
      let param = {
        customerCode: this.userInfo.authorizationCode,
        linkedAcctno: this.selectedBankCard.bankNo,
        rewardBatchIds: this.rewardBatchIds,
      };
      if (this.userType == "ORG") {
        //企业
        param.password = data.password;
        param.randomKey = data.randomKey;
        param.mockStr = 3;
      } else {
        param.mockStr = 1;
      }
      cashapplyV2(param).then((res) => {
        if (res?.code == 200) {
          if (this.userType == "ORG") {
            //企业
            this.verifyData = res.data;
			this.$refs.modeShow.open()
          } else {
            uni.$u.toast("提现申请成功");
            setTimeout(() => {
              uni.redirectTo({
                url: "/pagesA/account/earningsManage/withdrawalRecords",
              });
            }, 1000);
          }
        } else {
          uni.$u.toast(res?.msg || "提现申请异常，请稍后再试");
        }
      });
    },
    //验证码确认提现
    verifyCodeConfirm() {
      if (!this.verifyCode || this.verifyCode.length !== 6) {
        uni.$u.toast("请输入完整验证码");
        return;
      }
      this.payValidateFn();
    },
    // 验证码确认
    payValidateFn() {
      let param = {
        type: "withdraw",
        verifyCode: this.verifyCode,
        orderSn: this.verifyData.outOrderNo,
        customNo: this.verifyData.customerCode,
        outTradeNo: this.verifyData.cashNo,
        token: this.verifyData.token,
      };
      uni.showLoading({ mask: true });
      validatePay(param).then((res) => {
        if (res?.code == 200) {
          uni.$u.toast("提现申请成功");
          setTimeout(() => {
            uni.redirectTo({
              url: "/pages/account/earningsManage/withdrawalRecords",
            });
          }, 1000);
		  this.$refs.modalShow.close()
        } else if (res?.code == 1017) {
          uni.$u.toast(res.msg);
        } else {
           this.$refs.modalShow.close()
          this.verifyCode = "";
          uni.$u.toast(res.msg);
        }
        uni.hideLoading();
      });
    },
    // 转为货款
    TransferLoan() {
      let that = this;
      if (that.totalAmount <= 0) {
        uni.$u.toast("当前没有可划转的金额");
        return;
      }
      uni.showModal({
        title: "提示",
        content: "奖励将直接转到您的货款余额中？",
        confirmColor: that.$store.state.theme.presentTheme["--theme-color"],
        success: function (res) {
          if (res.confirm) {
            console.log("用户点击确定");
            that.transferPaymentFn();
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });
    },
    transferPaymentFn() {
      uni.showLoading({ mask: true });
      let param = {
        customerCode: this.userInfo.authorizationCode,
        rewardBatchIds: this.rewardBatchIds,
      };
      if (this.type == 1) {
        param.coverType = "COVERT_TO_GOODS_OLD";
      } else {
        param.coverType = "COVERT_TO_GOODS";
      }
      console.log("转到货款param: ", param);
      rewardToGoodsV2(param).then((res) => {
        if (res?.code == 200) {
          uni.$u.toast("转为货款申请成功");
          setTimeout(() => {
            uni.redirectTo({
              url:
                "/pages/account/earningsManage/wirhdrawDetails?period=" +
                JSON.stringify(this.period),
            });
          }, 1000);
        } else {
          uni.$u.toast(res?.msg || "转为货款申请异常，请稍后再试");
        }
        uni.hideLoading();
      });
    },
    // 经销商信息数据
    customerInfoFn() {
      customerInfo().then((res) => {
        if (res.code == 200) {
          // this.customerInfoData = res.data;
          this.userType = res.data.type;
        }
      });
    },
    //获取收益总览
    incomeAmountFn() {
      incomeAmount().then((res) => {
        if (res.code == 200) {
          if (this.type == 1) {
            this.rewardList = res.data.historyIncomeList;
            this.totalAmount = res.data.historyAmount;
            if (res.data.historyIncomeList.length) {
              this.rewardBatchIds = res.data.historyIncomeList.map((x) => x.id);
            }
            console.log("this.rewardBatchIds: ", this.rewardBatchIds);
          } else {
            this.rewardList = res.data.currentIncomeList;
            this.bankInfoList = res.data.bankInfoList;
            this.selectedBankCard = res.data.bankInfoList[0];
          }
        }
      });
    },
    // =======================连连支付========================
    // 获取唤起密码控件token
    passwordControlFn() {
      let params = {
        passwordUseType: 4,
        channelNo: 1,
        customNo: this.userInfo.authorizationCode,
        amount: this.totalAmount,
        userType: this.userType == "PSN" ? 1 : 2,
      };
      passwordControl(params).then((res) => {
        if (res?.code == 200 && res?.data) {
          this.lianlianpayPasswordFn(res.data);
        } else {
          uni.$u.toast(res.msg || "网络繁忙，请稍后重试");
          uni.hideLoading();
        }
      });
    },
    //唤起连连支付密码控件
    lianlianpayPasswordFn(data) {
      lianlianpay.invokePasswordControl(
        {
          passwordScene: "cashout_password",
          oidPartner: data.oidPartner, // 商户号
          userId: data.payUserId, // 用户号
          passwordElementToken: data.passwordElementToken, // 向服务端请求生成的 token
          env: "production", // 默认 production-生产
          styles: {
            // 样式集合
            themeColor: "rgba(180, 23, 1, 1)", // 主题颜色（按钮等）
          },
        },
        (res) => {
          console.log("连连支付密码控件", res);
          if (res?.data) {
            // this.model.password = res.data.password;
            // this.model.randomKey = res.data.randomKey;
            this.cashapplyFn(res.data);
          } else {
            uni.$u.toast("提现失败，请稍后重试");
          }
        }
      );
    },
  },
};
</script>
<style lang="scss" scoped>
page {
  background-color: #f6f6f6;
}
.mode {
  margin-top: 20rpx;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34rpx 24rpx;
  .title {
    font-weight: 400;
    font-size: 28rpx;
    color: #9b9b9b;
  }
  .name {
    display: flex;
    font-weight: 400;
    font-size: 28rpx;
    color: #000000;
  }
}
.bankCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2rpx solid #ededed;
  padding-bottom: 34rpx;
  .bankCardName {
    flex: 1;
    margin-left: 22rpx;
    font-weight: bold;
    font-size: 32rpx;
    color: #2e2e2e;
  }
}
.withdrawBox {
  background-color: #fff;
  padding: 34rpx 32rpx;
  margin-top: 20rpx;
}
.withdrawMoney {
  background-color: #fff;
  padding: 20rpx 32rpx;
  margin-top: 20rpx;
  .withdrawalAmount {
    .title {
      font-size: 28rpx;
      font-family: PingFang-SC, PingFang-SC;
      font-weight: 500;
      color: #2e2e2e;
      line-height: 40rpx;
      // margin-top: 40rpx;
    }
    .amountInput {
      border-bottom: 1px solid #ededed !important;
      padding: 30rpx 0rpx 20rpx 4rpx !important;
      margin-top: 10rpx;
    }
    .moneyMark {
      font-size: 68rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: bold;
      color: #2e2e2e;
      line-height: 96rpx;
    }
    .allBtn {
      font-size: 32rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      color: #6a8dff;
      line-height: 44rpx;
    }
  }
  .rowBox {
    margin-top: 20rpx;
    display: flex;
    justify-content: space-between;
    font-size: 28rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 40rpx;
    .themeColor {
      color: $theme-color;
    }
  }
}
.infoBox {
  padding: 34rpx 32rpx;
  font-weight: 400;
  font-size: 24rpx;
  color: #666666;
  line-height: 34rpx;
}
.popupBox {
  .title {
    font-size: 32rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    color: #222222;
    line-height: 44rpx;
    margin: 32rpx auto;
    width: 100%;
    text-align: center;
  }
  .bankInfoList {
    padding: 32rpx;
    margin-bottom: 100rpx;
    .checkboxBox {
      // width: 800rpx;
      .checkboxInfo {
        display: flex;
      }
      .rightBanck {
        margin-left: 30rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
          font-size: 32rpx;
          font-family: PingFang-SC, PingFang-SC;
          font-weight: bold;
          color: #2e2e2e;
          line-height: 44rpx;
        }
        .subBranch {
          font-size: 26rpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          color: #2e2e2e;
          line-height: 36rpx;
        }
      }
      ::v-deep {
        .uv-checkbox-label--right {
          padding: 20rpx 0;
        }
        .uv-radio-label--right {
          padding: 20rpx 0;
          border-bottom: 2rpx solid #ededed !important;
        }
      }
    }
  }
}
.rewardTitle {
  font-size: 24rpx;
  color: #222222;
  border-bottom: 4rpx solid #f6f6f6;
  margin-top: 20rpx;
  background-color: #fff;
  padding: 24rpx;
}
.RewardDetail {
  background-color: #fff;
  //   margin-top: 20rpx;
  padding: 24rpx 24rpx 0;
  // margin-bottom: 100rpx;
  display: flex;
  justify-content: space-between;
}
.rewardNum {
  .rewardNum-item {
    margin-bottom: 44rpx !important;
    font-weight: 400;
    font-size: 28rpx;
    color: #666666;
    display: flex;
    justify-content: flex-end;
  }
}
.withdrawBtn {
  width: 686rpx;
  height: 100rpx;
  background: $theme-color !important;
  border-radius: 12rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 40rpx auto;
  font-size: 36rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
}
.modalInfo {
  font-size: 24rpx;
  color: #ccc;
  padding: 20rpx;
}
::v-deep {
  .uv-picker__view {
    height: 400rpx !important;
  }

  .uni-picker-view-indicator {
    height: 80rpx !important;
  }

  .uv-picker__view__column__item {
    height: 80rpx !important;
    line-height: 80rpx !important;
  }
  .uv-checkbox {
    margin-bottom: 48rpx !important;
    font-weight: 400 !important;
    font-size: 28rpx !important;
    color: #2e2e2e !important;
  }
  .uv-checkbox__icon-wrap {
    border-radius: 20rpx !important;
  }
}
</style>