<template>
    <span class="LangSwitchBox" :class="titleNot?'TitleNot':''" @click="switchLanguage">{{
      langItem&&langItem.switchText? langItem.switchText:''
    }}</span>
</template>

<script>
export default {
  data() {
    return {
      locales: [
        {
          text: "中文",
          code: "zh-Hans",
          switchText: "En",
          switchCode: "en",
        },
        {
          text: "En",
          code: "en",
          switchText: "中文",
          switchCode: "zh-Hans",
        },
      ],
      langItem: null,
    };
  },
  props: {
    titleNot: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    // console.log("语言1", uni.getLocale());
    this.preinstall();
  },
  methods: {
    preinstall() {
      this.langItem = this.locales.find((item) => item.code == uni.getLocale());
     console.log(" this.langItem: ", this.langItem);
    },
    switchLanguage() {
    //   console.log("点击");
      uni.setLocale(this.langItem.switchCode);
      this.$i18n.locale = this.langItem.switchCode;
      this.preinstall();
      this.$emit("switchLanguageChange")
    },
  },
};
</script>
<style scoped>
.LangSwitchBox {
  position: absolute;
  top: calc(var(--status-bar-height) + 140rpx);
  right: 24rpx;
  padding: 4rpx 6rpx;
  border: 1px solid #ccc;
  border-radius: 15rpx;
  font-size: 13px;
}
/* .TitleNot{
  top: calc(var(--status-bar-height) + 105)+ 'rpx' !important;
} */
</style>